[2021-03-08 09:55] amihaiemil commented on #1014
@zoeself add

[2021-03-08 09:56] amihaiemil commented on #1015
@fellahi-ali see if you can just sketch the BitbucketIssues. Worst case scenarios, just add the class with all methods unsupported :D

[2021-03-08 09:57] amihaiemil commented on #984
@fellahi-ali Same here, just a sketch is fine and a todo to continue.

[2021-03-08 09:57] zoeself commented on #1014
@nmonokov this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-18T09:57:17.953940``.

Estimation here is ``180 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fut

[2021-03-08 09:57] amihaiemil commented on #1014
@zoeself remove

[2021-03-08 09:57] amihaiemil commented on #1014
@zoeself add

[2021-03-08 09:59] zoeself commented on #1014
@amihaiemil this issue is already registered as a task.

[2021-03-08 10:02] fellahi-ali commented on #1015
@amihaiemil you mean BitbucketRepo::webhooks() I guess?

[2021-03-08 10:07] zoeself commented on #1014
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-18T10:07:17.772428``.

Estimation here is ``180 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become

[2021-03-08 10:08] #1014 closed

[2021-03-08 10:10] fellahi-ali commented on #1014
@amihaiemil I have already started the impl of BitbucketRepo::collaborators() and scaffold for BitbucketCollaborators class with appropriate todos, will send a PR soon.

[2021-03-08 10:14] amihaiemil commented on #1014
@fellahi-ali great, thanks :)

[2021-03-08 10:19] amihaiemil commented on #1014
@fellahi-ali @criske worst case scenario, if we cannot invite members automatically: we will just have class BitBucketCollaborators which doesn't do anything. And we will display a message on Self Web asking the PO to manually invite the PM.

Similarly to how GitlabInvitations.accept(...) is implemented to be empty - because in GitLab we don't need to accept invitations, the user is automatically

[2021-03-08 10:36] criske commented on #1014
@fellahi-ali Unfortunately there is no personal access token. You have to create an "app password" (is in "Personal Settings" of your account).
When calling the enpoint from browser, fill the login form with your username and that password.
If you want use curl or Postman though, use  `Authorization:  Basic  base64(username:app-password)` header.

@amihaiemil Yeah, in the end, that will be the onl

[2021-03-08 10:47] fellahi-ali commented on #1014
Oh many thanks @criske, this is very helpful :)

[2021-03-08 10:54] criske commented on #1014
@fellahi-ali no problem :D

[2021-03-08 11:47] fellahi-ali commented on #984
@amihaiemil you know, I didn't see this task until now :( and its not listed in my contributor tab

[2021-03-08 11:52] amihaiemil commented on #984
@fellahi-ali i forgot to ask Zoe to put it into scope, sorry :D

This task has been opened by charlesmike from Test, but now we use Self XDSD prod.

[2021-03-08 11:52] amihaiemil commented on #984
@zoeself add

[2021-03-08 11:52] zoeself commented on #984
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-03-08 11:57] zoeself commented on #984
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-18T11:57:17.739598``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-03-08 12:00] fellahi-ali commented on #984
@amihaiemil I think it's fair to set the estimate for this task 30min as it will not need actual implementation.

[2021-03-08 13:27] zoeself commented on #1014
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-08 14:35] amihaiemil commented on #1015
@fellahi-ali yes, yes, I meant webooks, sorry :D

[2021-03-08 14:35] amihaiemil commented on #984
@zoeself remove

[2021-03-08 14:35] zoeself commented on #984
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-03-08 14:36] amihaiemil commented on #984
@zoeself add

[2021-03-08 14:37] zoeself commented on #984
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-18T14:37:17.726102``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-03-08 15:28] fellahi-ali commented on #1014
@criske I'm still can't authenticate, I don't know what I'm doing wrong?
![postman-basic-auth](https://user-images.githubusercontent.com/25110612/110341933-2b19eb00-802b-11eb-87f3-cca8f262b40b.png)

[2021-03-08 15:38] zoeself opened #1047 "BitbucketCollaborators.java: Finish the implementation & t..."
The puzzle ``-1330242924`` originating from #1014 has to be resolved:

https://github.com/self-xdsd/self-core/blob/4ff853c95efabc4db8e9e4e20d968de79a11f918/self-core-impl/src/main/java/com/selfxdsd/core/BitbucketCollaborators.java#L40-L43

"Finish the implementation & tests of this class when Bitbucket provides a way to manipulate collaborators through its API. Check the doc here: https://develope

[2021-03-08 15:38] amihaiemil commented on #1047
@zoeself remove

[2021-03-08 15:38] zoeself commented on #1047
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-03-08 15:47] criske commented on #1014
@fellahi-ali remove `!` from  `../!api/..`.
I think the convention is when `!` is present, those endpoints can be accesed without auth.
So, the safest way is to have `https://bitbucket.org/api/2.0`  as your base url. This works for all endpoints.

[2021-03-08 16:09] fellahi-ali commented on #1014
@criske finally it worked, it got me crazy :D
many thanks again 🥇

[2021-03-09 09:27] amihaiemil opened #1049 "Review how WalletPaymentException Is Thrown"
This exception is caught and a failed Payment is register with its message. Let's review a bit how this exception is thrown and maybe update the messages to be more appropriate.

[2021-03-09 09:27] zoeself commented on #1049
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-19T09:27:42.221081``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-09 09:27] zoeself commented on #1049
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-09 09:31] #1045 closed

[2021-03-09 13:27] zoeself commented on #1045
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-09 18:23] fellahi-ali commented on #1015
Hey @criske
I'm working on this task, and I'm confused on how to authenticate the POST request to create a webhook from the java code,
the example [here in the doc](https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Bworkspace%7D/%7Brepo_slug%7D/hooks#post) shows how to use curl, and I successfully used POSTMAN using basic auth, but I don't know how to use the `proje

[2021-03-09 18:56] criske commented on #1015
@fellahi-ali You could temporary modify Bitbucket  [AccessToken](https://github.com/self-xdsd/self-core/blob/036b347bb6a06a011acf1ec0706c174cf1b06e03/self-core-impl/src/main/java/com/selfxdsd/core/AccessToken.java#L114)  to use `Basic base64(username:password)`.

Don't forget to revert it back before pushing the PR :D

[2021-03-09 19:12] fellahi-ali commented on #1015
@criske I think I didn't explain my question well :(
I meant how to use the `project.webhookToken()` in the POST request as done in `GithubWebhooks.add(proj)` and `GitlabWebhooks.add(proj)` as I can't find and related info in the bitbucket REST api doc linked above?

[2021-03-09 19:32] criske commented on #1015
@fellahi-ali Sorry, now I get it. Bitbucket doesn't have webhook token secret.

https://jira.atlassian.com/browse/BCLOUD-14683?error=login_required&error_description=Login+required&state=91d96380-256f-4699-830f-eb6d345e5b2f

Use an empty string maybe or throw unsupported op exception. @amihaiemil any thoughts on how should we handle this?

[2021-03-09 21:16] criske commented on #1015
Ok, can confirm that is no way to set token when creating the webhook manually on bitbucket.org.
Also tested an event with pipedream.net and there is no token/hash in the request header.

[2021-03-10 06:29] amihaiemil commented on #1015
@criske @fellahi-ali yes, if BitBucket does not accept this parameter, then just ignore it :D

@fellahi-ali This would have been a good candidate for a TODO. Next time you have a confusion like this, write a todo :D Even if your method remains half implemented, it doesn't matter. It will be completed in the next ticket.

[2021-03-10 10:39] #1049 closed

[2021-03-10 11:05] zoeself opened #1052 "BitbucketWebhooks.java: Continue writing tests for Bi..."
The puzzle ``1594906508`` originating from #1015 has to be resolved:

https://github.com/self-xdsd/self-core/blob/36dbcb49c816783d5c692f5ef004812a70240ccf/self-core-impl/src/main/java/com/selfxdsd/core/BitbucketWebhooks.java#L50-L50

"Continue writing tests for BitbucketWebhooks class.".

The puzzle was created by @fellahi-ali at ``2021-03-10 10:36:02 +0100``.
Estimation is ``60 minutes``.
If you

[2021-03-10 11:05] #1015 closed

[2021-03-10 11:05] zoeself commented on #1015
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-10 11:07] zoeself commented on #1052
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-20T11:07:17.731533``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-10 11:11] amihaiemil commented on #1044
@rultor release it, tag is `0.0.68`

[2021-03-10 11:12] rultor commented on #1044
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24258-795262271)

[2021-03-10 11:15] rultor commented on #1044
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24258-795262271) (spent 3min)

[code]

[2021-03-10 11:22] amihaiemil commented on #1044
@rultor release it, tag is `0.0.68`

[2021-03-10 11:23] rultor commented on #1044
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24258-795274717)

[2021-03-10 11:27] rultor commented on #1044
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24258-795274717) (spent 3min)

[code]

[2021-03-10 11:47] rultor commented on #1044
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24258-795300752)

[2021-03-10 11:51] rultor commented on #1044
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24258-795300752) (spent 3min)

[code]

[2021-03-10 13:27] zoeself commented on #1049
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-10 13:27] zoeself commented on #1013
@andreoss Looks like you've missed the task deadline (2021-03-10T09:57:20). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-03-10 13:27] zoeself commented on #1016
@andreoss Looks like you've missed the task deadline (2021-03-10T09:57:27). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-03-10 13:27] zoeself commented on #1015
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-10 13:27] zoeself commented on #1013
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-20T13:27:31.736931``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-03-10 13:27] zoeself commented on #1016
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-20T13:27:34.413886``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-03-10 17:17] fellahi-ali opened #1054 "BitbucketOrganizations uses a deprecated API endpoint"
@amihaiemil While working on #984 I noticed some issues, I think 🤓
https://github.com/self-xdsd/self-core/blob/36dbcb49c816783d5c692f5ef004812a70240ccf/self-core-impl/src/main/java/com/selfxdsd/core/BitbucketOrganizations.java#L60
First, the endpoint `/teams` is deprecated, which should be replaced by `/workspaces` if it meets our needs, see [doc](https://developer.atlassian.com/bitbucket/api/2/re

[2021-03-10 17:17] zoeself commented on #1054
@fellahi-ali thank you for reporting this. I'll assign someone to take care of it soon.

[2021-03-10 17:17] zoeself commented on #1054
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-03-11 07:14] amihaiemil commented on #1054
@fellahi-ali (cc: @criske) thanks for this ticket. I recently started working with BitBucket for a new client and yes, I also noticed the Bitbucket works with ``workspaces``.

BUT from what I noticed so far (maybe I'm wrong), the ``workspaces`` are NOT the equivalent of Organizations. For instance my BitBucket account now has 2 workspaces: 1 is the personal workspace with my personal repositories

[2021-03-11 07:15] amihaiemil commented on #1054
@zoeself remove

[2021-03-11 07:15] zoeself commented on #1054
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-03-11 07:16] #984 closed

[2021-03-11 07:16] zoeself commented on #984
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-11 07:17] amihaiemil commented on #1044
@rultor release it, tag is `0.0.68`

[2021-03-11 07:19] rultor commented on #1044
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24258-796521119)

[2021-03-11 07:22] rultor commented on #1044
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24258-796521119) (took me 3min)

[2021-03-11 07:23] #1044 closed

[2021-03-11 07:27] zoeself commented on #984
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-11 07:50] criske commented on #1054
@amihaiemil Actually the "real" organization is a much more complex thing, though Bitbucket as product is not integrated yet (hence these major api changes and deprecations)

https://support.atlassian.com/organization-administration/docs/what-is-an-atlassian-organization/
![int](https://confluence.atlassian.com/cloud/files/964957873/1026036936/1/1601921651057/Atlassian_org1.png)

But for the Self

[2021-03-11 15:22] amihaiemil opened #1056 "Replace Invoice with invoiceId In StoredPayment"
Let's replace the Invoice from the ctor with simply the invocoiceId and fetch the Invoice from the storage again, if the user calls StoredPayment.invoice();

[2021-03-11 15:22] zoeself commented on #1056
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-21T15:22:46.226628``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-11 15:22] zoeself commented on #1056
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-11 15:23] amihaiemil opened #1057 "Release 0.0.69"
Changelog:

#1056

+ some BitBucket classes.

[2021-03-13 09:02] zoeself opened #1058 "BitbucketIssue.java: Continue on the impl. & tests..."
The puzzle ``1831398547`` originating from #1013 has to be resolved:

https://github.com/self-xdsd/self-core/blob/7d57a0071013cb367c49a09cb5454b352eb9d4c4/self-core-impl/src/main/java/com/selfxdsd/core/BitbucketIssue.java#L39-L39

"Continue on the impl. & tests for BitbucketIssue class.".

The puzzle was created by @fellahi-ali at ``2021-03-11 11:01:39 +0100``.
Estimation is ``60 minutes``.
If you

[2021-03-13 09:02] zoeself opened #1059 "BitbucketIssues.java: Continue the implementation &..."
The puzzle ``1158713047`` originating from #1013 has to be resolved:

https://github.com/self-xdsd/self-core/blob/7d57a0071013cb367c49a09cb5454b352eb9d4c4/self-core-impl/src/main/java/com/selfxdsd/core/BitbucketIssues.java#L43-L44

"Continue the implementation & tests of open() and search() methods.".

The puzzle was created by @fellahi-ali at ``2021-03-11 11:01:39 +0100``.
Estimation is ``60 minu

[2021-03-13 09:02] amihaiemil commented on #1058
@zoeself remove

[2021-03-13 09:02] zoeself commented on #1058
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-03-13 09:03] amihaiemil commented on #1059
@zoeself remove

[2021-03-13 09:03] zoeself commented on #1059
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-03-13 09:06] #1013 closed

[2021-03-13 09:06] zoeself commented on #1013
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-13 09:32] #1056 closed

[2021-03-13 09:34] amihaiemil commented on #1057
@rultor release it, tag is `0.0.69`

[2021-03-13 09:35] rultor commented on #1057
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24268-798028774)

[2021-03-13 09:38] rultor commented on #1057
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24268-798028774) (spent 3min)

[code]

[2021-03-13 09:39] amihaiemil commented on #1057
@rultor release it, tag is `0.0.69`

[2021-03-13 09:41] rultor commented on #1057
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24268-798035547)

[2021-03-13 09:44] rultor commented on #1057
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24268-798035547) (spent 3min)

[code]

[2021-03-13 09:49] amihaiemil commented on #1057
@rultor release it, tag is `0.0.69`

[2021-03-13 09:51] rultor commented on #1057
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24268-798050741)

[2021-03-13 09:51] rultor commented on #1057
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24268-798050741) (spent 15s)

[code]

[2021-03-13 09:56] amihaiemil commented on #1057
@rultor release it, tag is `0.0.69`

[2021-03-13 09:58] rultor commented on #1057
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24268-798063450)

[2021-03-13 09:58] rultor commented on #1057
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24268-798063450) (spent 15s)

[code]

[2021-03-13 10:01] amihaiemil commented on #1057
@rultor release it, tag is `0.0.69`

[2021-03-13 10:03] rultor commented on #1057
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24268-798070960)

[2021-03-13 10:06] rultor commented on #1057
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24268-798070960) (took me 3min)

[2021-03-13 10:07] #1057 closed

[2021-03-13 13:27] zoeself commented on #1056
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-13 13:27] zoeself commented on #1013
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-15 01:27] zoeself commented on #1052
@amihaiemil Don't forget to close this ticket before the deadline (2021-03-20T11:07:18). You are past the first half of the allowed period.

[2021-03-15 01:27] zoeself commented on #1016
@criske Don't forget to close this ticket before the deadline (2021-03-20T13:27:34). You are past the first half of the allowed period.

[2021-03-17 10:21] criske commented on #1016
@amihaiemil It looks like Bitbucket doesn't have a stars api.

https://developer.atlassian.com/bitbucket/api/2/reference/search?q=stars

I think is safe to remove/postpone this puzzle.

[2021-03-17 13:46] amihaiemil opened #1062 "Release 0.0.70"
hotfix with: https://github.com/self-xdsd/self-core/pull/1061

[2021-03-17 13:46] amihaiemil commented on #1062
@rultor release it, tag is `0.0.70`

[2021-03-17 13:48] rultor commented on #1062
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24290-801093734)

[2021-03-17 13:52] rultor commented on #1062
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24290-801093734) (took me 3min)

[2021-03-17 13:52] amihaiemil commented on #1062
@criske FYI, version 70 with the decorators fix is released :)

[2021-03-17 13:52] #1062 closed

[2021-03-18 17:21] amihaiemil opened #1064 "Release 0.0.71"
Hotfix: #1063

[2021-03-18 17:21] amihaiemil commented on #1064
@rultor release it, tag is `0.0.71`

[2021-03-18 17:21] rultor commented on #1064
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24291-802141242)

[2021-03-18 17:25] rultor commented on #1064
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24291-802141242) (took me 3min)

[2021-03-18 17:30] amihaiemil commented on #1064
@criske FYI :D

[2021-03-18 17:30] #1064 closed

[2021-03-20 13:27] zoeself commented on #1052
@amihaiemil Looks like you've missed the task deadline (2021-03-20T11:07:18). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-03-20 13:27] zoeself commented on #1052
@nmonokov this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-30T13:27:21.653779``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-03-20 14:00] amihaiemil commented on #1052
@zoeself remove

[2021-03-20 14:00] zoeself commented on #1052
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-03-20 14:00] amihaiemil commented on #1052
@zoeself add

[2021-03-20 14:00] zoeself commented on #1052
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-03-20 14:07] zoeself commented on #1052
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-30T14:07:17.694192``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-03-20 19:27] zoeself commented on #1016
@criske Looks like you've missed the task deadline (2021-03-20T13:27:34). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-03-20 19:27] zoeself commented on #1016
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-30T19:27:21.518371``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-03-20 19:35] amihaiemil commented on #1016
@zoeself remove

[2021-03-20 19:35] zoeself commented on #1016
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-03-20 19:36] amihaiemil commented on #1016
@zoeself add

[2021-03-20 19:37] zoeself commented on #1016
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-30T19:37:17.707403``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-03-20 19:42] amihaiemil commented on #1016
@criske we still need an empty implementation which will do nothing, to stay consistent and avoid null. Just specify in the javadoc of the class why the class is doing nothing. :D

[2021-03-25 01:27] zoeself commented on #1016
@criske Don't forget to close this ticket before the deadline (2021-03-30T19:37:18). You are past the first half of the allowed period.

[2021-03-25 01:27] zoeself commented on #1052
@criske Don't forget to close this ticket before the deadline (2021-03-30T14:07:18). You are past the first half of the allowed period.

[2021-03-25 07:57] #1052 closed

[2021-03-25 07:57] zoeself commented on #1052
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-25 08:21] zoeself opened #1067 "BitbucketRepo.java: Start implement and test Bitb..."
The puzzle ``-802988162`` originating from #1016 has to be resolved:

https://github.com/self-xdsd/self-core/blob/a5bdb4714364b2ac17de676a2b0ef6efad3ea551/self-core-impl/src/main/java/com/selfxdsd/core/BitbucketRepo.java#L35-L37

"Start implement and test BitbucketLabels for BitbucketRepo#labels(). Same as for `stars`, since they are not supported, provide a placeholder implementation.".

The puzz

[2021-03-25 08:21] zoeself commented on #1016
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-25 08:21] #1016 closed

[2021-03-25 08:27] zoeself commented on #1067
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-04T08:27:17.684629``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-03-25 13:27] zoeself commented on #1016
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-25 13:27] zoeself commented on #1052
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-28 13:07] amihaiemil opened #1068 "Read Role From Labels"
Similarly to how we read the estimation from the labels, we should also read the role from labels, if it exists.

[2021-03-28 13:07] zoeself commented on #1068
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-07T13:07:48.321317``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-28 13:07] zoeself commented on #1068
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-28 13:08] amihaiemil opened #1069 "Release 0.0.72"
Changelog:

Big change introduced: we now take a commission from the Contributor as well.

#1068
#1071
#1073
#1075
#1076
#1077
#1079
#1083
#1084
#1086

[2021-03-28 13:08] zoeself commented on #1069
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-03-28 13:17] zoeself commented on #1069
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-07T13:17:17.917590``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-30 05:31] zoeself commented on #1067
@criske Don't forget to close this ticket before the deadline (2021-04-04T08:27:18). You are past the first half of the allowed period.

[2021-04-01 09:45] #1067 closed

[2021-04-01 09:45] zoeself commented on #1067
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-04-01 11:31] zoeself commented on #1067
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-01 15:10] amihaiemil opened #1071 "Implement The "commands" Command"
We should implement the ``commands`` command. When the user says ``@zoeself commands``, the PM should reply with the commands which it can support, their keywords and explanation.

[2021-04-01 15:10] zoeself commented on #1071
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-11T15:10:55.613900``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-04-01 15:10] zoeself commented on #1071
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-01 15:11] amihaiemil commented on #1071
@criske do you still remember this area of the code? :D

If yes, please start on it when you have some time. Don't forget about todos, maybe 2h is not enough to implement everything.

[2021-04-01 15:24] criske commented on #1071
@amihaiemil yep, it should be pretty straight forward for the command itself.

[2021-04-02 05:31] zoeself commented on #1068
@amihaiemil Don't forget to close this ticket before the deadline (2021-04-07T13:07:48). You are past the first half of the allowed period.

[2021-04-02 05:31] zoeself commented on #1069
@amihaiemil Don't forget to close this ticket before the deadline (2021-04-07T13:17:18). You are past the first half of the allowed period.

[2021-04-02 06:06] amihaiemil commented on #1069
@zoeself remove

[2021-04-02 06:06] zoeself commented on #1069
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-04-02 16:15] amihaiemil commented on #1068
done

[2021-04-02 16:15] #1068 closed

[2021-04-02 17:31] zoeself commented on #1068
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-04 14:19] #1071 closed

[2021-04-04 17:31] zoeself commented on #1071
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-05 08:23] amihaiemil opened #1073 "Implement Commission From Contributor"
We just found out about some hidden Stripe fees which are forcing us to also charge a commission from the Contributor. Let's implement this similarly to how the Client's Commission is implemented.

[2021-04-05 08:23] zoeself commented on #1073
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-15T08:23:08.100329``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-05 08:23] zoeself commented on #1073
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-05 08:23] amihaiemil commented on #1073
@criske FYI ... :(

[2021-04-06 05:27] amihaiemil commented on #1073
@zoeself status

[2021-04-06 05:27] zoeself commented on #1073
@amihaiemil this ticket is assigned to @amihaiemil since ``2021-04-05T08:23:08`` and it should be closed until ``2021-04-15T08:23:08``. Estimation is ``60`` minutes.

[2021-04-06 12:01] #1073 closed

[2021-04-06 12:01] zoeself opened #1075 "InvoicedTask.java: Add the attribute contributor..."
The puzzle ``1395181817`` originating from #1073 has to be resolved:

https://github.com/self-xdsd/self-core/blob/75739f95f94f6ef57db1d6412b1ce33eb2503c17/self-api/src/main/java/com/selfxdsd/api/InvoicedTask.java#L32-L33

"Add the attribute contributorCommission to the invoiced task and rename the original commission to projectCommission.".

The puzzle was created by amihaiemil at ``2021-04-06 15:

[2021-04-06 12:01] zoeself opened #1076 "ProjectManagers.java: Modify this method to also ac..."
The puzzle ``-211269047`` originating from #1073 has to be resolved:

https://github.com/self-xdsd/self-core/blob/75739f95f94f6ef57db1d6412b1ce33eb2503c17/self-api/src/main/java/com/selfxdsd/api/ProjectManagers.java#L64-L65

"Modify this method to also accept the percentage taken from the Contributor.".

The puzzle was created by amihaiemil at ``2021-04-06 14:59:01 +0300``.
Estimation is ``30 minu

[2021-04-06 12:01] zoeself opened #1077 "Invoice.java: Modify this method to also ac..."
The puzzle ``819658946`` originating from #1073 has to be resolved:

https://github.com/self-xdsd/self-core/blob/75739f95f94f6ef57db1d6412b1ce33eb2503c17/self-api/src/main/java/com/selfxdsd/api/Invoice.java#L30-L31

"Modify this method to also accpet the commission taken from the Contributor.".

The puzzle was created by amihaiemil at ``2021-04-06 14:59:01 +0300``.
Estimation is ``60 minutes``.
If

[2021-04-06 12:11] zoeself commented on #1075
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-16T12:11:06.797554``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-06 12:11] zoeself commented on #1076
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-16T12:11:09.069024``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-06 12:11] zoeself commented on #1077
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-16T12:11:11.354234``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-06 14:47] zoeself opened #1079 "StoredInvoice.java: Implement and test method con..."
The puzzle ``1767672575`` originating from #1075 has to be resolved:

https://github.com/self-xdsd/self-core/blob/d9b555c6b189c228c11d1686367422331c7c3fbe/self-core-impl/src/main/java/com/selfxdsd/core/contracts/invoices/StoredInvoice.java#L32-L34

"Implement and test method contributorCommission() which will return the total commission taken from the Contributor, with this Invoice.".

The puzzle

[2021-04-06 14:47] #1075 closed

[2021-04-06 14:47] zoeself commented on #1075
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-04-06 14:51] zoeself commented on #1079
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-16T14:51:06.797537``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-06 15:30] #1076 closed

[2021-04-06 15:30] zoeself commented on #1076
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-04-06 17:31] zoeself commented on #1073
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-06 17:31] zoeself commented on #1075
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-06 17:31] zoeself commented on #1076
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-07 10:13] #1077 closed

[2021-04-07 10:13] zoeself commented on #1077
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-04-07 11:31] zoeself commented on #1077
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-08 16:59] zoeself opened #1083 "StoredInvoice.java: Let's load the InvoicedTasks ..."
The puzzle ``645616875`` originating from #1079 has to be resolved:

https://github.com/self-xdsd/self-core/blob/84ae5e82793c236c6bfbee1dd8f8406eee495f9a/self-core-impl/src/main/java/com/selfxdsd/core/contracts/invoices/StoredInvoice.java#L32-L34

"Let's load the InvoicedTasks eagerly (now they are always read from the storage when calling this.tasks()). This will mean adding the InvoiceTasks attr

[2021-04-08 16:59] zoeself opened #1084 "StripeWallet.java: Take in consideration the con..."
The puzzle ``68729944`` originating from #1079 has to be resolved:

https://github.com/self-xdsd/self-core/blob/84ae5e82793c236c6bfbee1dd8f8406eee495f9a/self-core-impl/src/main/java/com/selfxdsd/core/projects/StripeWallet.java#L154-L156

"Take in consideration the contributor's commission when calculating the VAT and also deduct this commission from the sum which the contributor will receive, toge

[2021-04-08 16:59] #1079 closed

[2021-04-08 16:59] zoeself commented on #1079
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-04-08 17:01] zoeself commented on #1083
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-18T17:01:06.798997``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-08 17:01] zoeself commented on #1084
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-18T17:01:09.309911``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-08 17:31] zoeself commented on #1079
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-11 06:57] zoeself opened #1086 "StoredPlatformInvoice.java: Modify the pdf of the Platfor..."
The puzzle ``-38870234`` originating from #1084 has to be resolved:

https://github.com/self-xdsd/self-core/blob/b2dba405d95534666c5cf1af02f636049324cbff/self-core-impl/src/main/java/com/selfxdsd/core/StoredPlatformInvoice.java#L46-L47

"Modify the pdf of the PlatformInvoice to print the sentence "VAT reverse charge applies" if the VAT is negative.".

The puzzle was created by amihaiemil at ``2021

[2021-04-11 06:57] #1084 closed

[2021-04-11 06:57] zoeself commented on #1084
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-04-11 07:01] zoeself commented on #1086
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-21T07:01:06.786938``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-11 07:24] #1086 closed

[2021-04-11 07:24] zoeself commented on #1086
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-04-11 09:03] #1083 closed

[2021-04-11 09:03] zoeself commented on #1083
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-04-11 09:08] amihaiemil commented on #1069
@rultor release it, tag is `0.0.72`

[2021-04-11 09:08] rultor commented on #1069
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24352-817274995)

[2021-04-11 09:12] rultor commented on #1069
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24352-817274995) (took me 3min)

[2021-04-11 11:31] zoeself commented on #1083
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-11 11:31] zoeself commented on #1084
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-11 11:31] zoeself commented on #1086
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-14 17:12] #1069 closed

[2021-04-14 17:12] amihaiemil opened #1089 "PlatformInvoice cannot print RO diacritics"
Seems like we get the following exception because of the Romanian diacritica:

[code]

Let's fix it.

[2021-04-14 17:12] zoeself commented on #1089
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-24T17:12:58.797157``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-14 17:13] zoeself commented on #1089
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-14 17:13] amihaiemil opened #1090 "Different Missing Stripe Token Messages"
We need the Stripe API Token in a number of different places and, at the moment, the message of the exception (if it's missing) is identical in all places. Let's differentiate them.

[2021-04-14 17:13] zoeself commented on #1090
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-24T17:13:52.047422``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-14 17:13] zoeself commented on #1090
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-14 17:14] amihaiemil opened #1091 "Release 0.0.73"
Changelog:

#1089
#1090
#1092
#1094
#1097
#1098
#1101

[2021-04-14 17:40] amihaiemil opened #1092 "Cannot Send To US"
Seems like we cannot send cash to the US out of the box:

[code]

[2021-04-14 17:40] zoeself commented on #1092
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-24T17:40:22.131862``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-14 17:40] zoeself commented on #1092
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-15 04:10] #1089 closed

[2021-04-15 04:19] #1090 closed

[2021-04-15 04:20] amihaiemil opened #1094 "Trim Payment Fail Reason"
At the moment we save the whole exception message as failReason, which may be too long for the DB column. Let's trim it if it has more than 500 chars.

[2021-04-15 04:21] zoeself commented on #1094
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-25T04:20:59.195760``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-15 04:21] zoeself commented on #1094
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-15 04:28] #1094 closed

[2021-04-15 05:19] amihaiemil commented on #1092
The fix is most likely to request only the Transfers capability when creating the Connect Account. At the moment Stripe also creates the Card Payments capability, which seems to be the culprit, and we don't even need it.

[2021-04-15 08:46] zoeself commented on #1089
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-15 08:46] zoeself commented on #1090
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-15 08:46] zoeself commented on #1094
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-18 07:18] amihaiemil commented on #1092
com.stripe.exception.InvalidRequestException: Your platform needs approval for accounts to have requested the `transfers` capability without the `card_payments` capability. If you would like to request transfers without card_payments, please contact us via https://support.stripe.com/contact.; request-id: req_AWMZIb8QuRKqKw

[2021-04-18 11:38] amihaiemil commented on #1092
Solution seems to be to just use on_behalf_of.

[2021-04-18 11:51] #1092 closed

[2021-04-18 11:55] amihaiemil opened #1097 "Check Account Capabilities Before Payment"
The Stripe Connect Account should have at least the transfers and the card-payments capabilities active before making a payment.

[2021-04-18 11:55] zoeself commented on #1097
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-28T11:55:12.738714``.

Estimation here is ``90 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-18 11:55] zoeself commented on #1097
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-18 11:59] amihaiemil opened #1098 "Use Supplier to Cache Account of StripePayoutMethod"
We should use a Supplier to cache the Account of StripePayoutMethod (shouldn't read it from the API more than once).

[2021-04-18 11:59] zoeself commented on #1098
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-28T11:59:58.557730``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-18 12:00] zoeself commented on #1098
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-18 14:46] zoeself commented on #1092
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-19 07:57] #1098 closed

[2021-04-19 08:44] #1097 closed

[2021-04-19 08:44] zoeself opened #1101 "StripePayoutMethod.java: Initialize this Supplier in t..."
The puzzle ``1949426352`` originating from #1097 has to be resolved:

https://github.com/self-xdsd/self-core/blob/165805d6732c6bc978fe14fdb4c47d0bc1a151c9/self-core-impl/src/main/java/com/selfxdsd/core/contributors/StripePayoutMethod.java#L67-L68

"Initialize this Supplier in the Constructor, so we can write proper unit tests for the methods which are using it.".

The puzzle was created by amihaie

[2021-04-19 08:46] zoeself commented on #1097
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-19 08:46] zoeself commented on #1098
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-19 08:46] zoeself commented on #1101
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-29T08:46:41.417275``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-22 10:01] #1101 closed

[2021-04-22 10:01] zoeself commented on #1101
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-04-22 10:05] amihaiemil commented on #1091
@rultor release, tag is `0.0.73`

[2021-04-22 10:06] rultor commented on #1091
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24381-824710994)

[2021-04-22 10:10] rultor commented on #1091
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24381-824710994) (took me 3min)

[2021-04-22 12:27] #1091 closed

[2021-04-22 12:58] amihaiemil opened #1103 "Reopened no-task Gets Assigned"
A ticket marked with ``no-task`` is closed and reopened. The PM takes it into scope, although it shouldn't. Let's fix this.

Example: https://github.com/self-xdsd/self-storage/issues/294

[2021-04-22 12:58] zoeself commented on #1103
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-02T12:58:31.778292``.

Estimation here is ``90 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-22 12:58] zoeself commented on #1103
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-22 14:46] zoeself commented on #1101
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-23 11:39] amihaiemil opened #1104 "Treat the UK as non-SEPA"
At the moment we treat UK as a SEPA country and Stripe seems to work fine. However, after a discussion with Stripe Support, we decided it's better to treat is a non-SEPA.

[2021-04-23 11:39] zoeself commented on #1104
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-03T11:39:52.623881``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-23 11:39] zoeself commented on #1104
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-23 11:54] amihaiemil opened #1105 "Release 0.0.74"
Changelog:

#1104

[2021-04-24 13:03] #1104 closed

[2021-04-24 13:13] amihaiemil commented on #1105
@rultor release it, tag is `0.0.74`

[2021-04-24 13:13] amihaiemil opened #1107 "Release 0.0.75"
Changelog:

#1103

[2021-04-24 13:14] rultor commented on #1105
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24389-826091207)

[2021-04-24 13:17] rultor commented on #1105
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24389-826091207) (took me 3min)

[2021-04-24 13:18] #1105 closed

[2021-04-24 14:46] zoeself commented on #1104
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-25 11:27] #1103 closed

[2021-04-25 11:30] amihaiemil commented on #1107
@rultor release it, tag is `0.0.75`

[2021-04-25 11:31] rultor commented on #1107
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24392-826308567)

[2021-04-25 11:34] rultor commented on #1107
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24392-826308567) (took me 3min)

[2021-04-25 11:48] #1107 closed

[2021-04-25 14:46] zoeself commented on #1103
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-26 07:34] amihaiemil opened #1109 "Follow Project Owner After Accepting Invitation"
Let's follow the PO after accepting the repo invitation.

[2021-04-26 07:34] zoeself commented on #1109
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-06T07:34:47.803396``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-26 07:34] zoeself commented on #1109
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-26 07:35] amihaiemil opened #1110 "Open Hello Issue On GitLab"
Also star the repo and follow the PO on gitlab. This will be a bit different from the GitHub flow because in the case of GitLab we don't have to accept any invitation.

[2021-04-26 07:35] zoeself commented on #1110
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-06T07:35:39.749038``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-26 07:35] zoeself commented on #1110
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-26 11:07] amihaiemil opened #1111 "New Issue To Be solved"
Something to do.

[2021-04-26 11:07] zoeself commented on #1111
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-04-26 11:15] zoeself commented on #1111
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-04-26 14:29] #1109 closed

[2021-04-26 14:29] #1111 closed

[2021-04-26 14:29] zoeself opened #1113 "GitlabRepoInvitations.java: Always return a fake invitati..."
The puzzle ``2000263590`` originating from #1109 has to be resolved:

https://github.com/self-xdsd/self-core/blob/670473633333b987a994ee792d14938150da2399/self-core-impl/src/main/java/com/selfxdsd/core/GitlabRepoInvitations.java#L36-L38

"Always return a fake invitation wrapped inside the StarRepo and FollowProjectOwner decorators, so we can star/follow GitLab repos when "accepting" invitations.".

[2021-04-26 14:29] zoeself opened #1114 "Gitlab.java: Implement and test method fol..."
The puzzle ``298994992`` originating from #1109 has to be resolved:

https://github.com/self-xdsd/self-core/blob/670473633333b987a994ee792d14938150da2399/self-core-impl/src/main/java/com/selfxdsd/core/Gitlab.java#L36-L37

"Implement and test method follow(...) which should call GitLab's API and follow the specified user.".

The puzzle was created by amihaiemil at ``2021-04-26 11:24:06 +0300``.
Est

[2021-04-26 14:29] amihaiemil opened #1115 "Release 0.0.76"
Changelog:

#1109
#1113
#1114

[2021-04-26 14:31] amihaiemil commented on #1110
will be done in #1113
We will not open any issue, but just star and follow the repo.

[2021-04-26 14:31] #1110 closed

[2021-04-26 14:35] zoeself commented on #1114
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-06T14:35:32.446766``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-04-26 16:15] zoeself commented on #1109
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-26 16:15] zoeself commented on #1110
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-28 08:07] #1113 closed

[2021-04-28 08:07] zoeself commented on #1113
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-04-28 10:15] zoeself commented on #1113
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-28 10:23] #1114 closed

[2021-04-28 10:23] zoeself commented on #1114
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-04-28 11:35] rultor commented on #1115
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24403-828381612)

[2021-04-28 11:39] rultor commented on #1115
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24403-828381612) (took me 3min)

[2021-04-28 12:18] #1115 closed

[2021-04-28 13:03] amihaiemil opened #1118 "Release 0.0.77"
quick hotfix: 5f3f4fa5e073c5a3ebc861764c9f358339195035

[2021-04-28 13:03] amihaiemil commented on #1118
@rultor release it, tag is `0.0.77`

[2021-04-28 13:04] rultor commented on #1118
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24404-828437679)

[2021-04-28 13:07] rultor commented on #1118
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24404-828437679) (took me 3min)

[2021-04-28 13:08] #1118 closed

[2021-04-28 13:17] amihaiemil opened #1119 "Gitlab.follow() throws Json Exception"
Seems like Gitlab.follow(...) throws an exception:

[code]

[2021-04-28 13:17] zoeself commented on #1119
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-08T13:17:30.586515``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-04-28 13:17] zoeself commented on #1119
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-28 13:17] amihaiemil commented on #1119
@criske can you have a look when you have some time pls? :D

[2021-04-28 13:18] amihaiemil opened #1120 "Release 0.0.78"
Changelog:

#1119

[2021-04-28 13:41] #1119 closed

[2021-04-28 13:41] amihaiemil commented on #1120
@rultor release it, tag is `0.0.78`

[2021-04-28 13:43] rultor commented on #1120
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24405-828465528)

[2021-04-28 13:47] rultor commented on #1120
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24405-828465528) (took me 3min)

[2021-04-28 13:47] #1120 closed

[2021-04-28 16:15] zoeself commented on #1114
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-28 16:15] zoeself commented on #1119
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-02 11:29] #938 closed

[2021-05-02 11:30] zoeself opened #1123 "GithubIssues.java: Fetch the JSON Issue only whe..."
The puzzle ``-1072508911`` originating from #938 has to be resolved:

https://github.com/self-xdsd/self-core/blob/83f672bcd8287c5da95d437ef89bd6bc57b88e91/self-core-impl/src/main/java/com/selfxdsd/core/GithubIssues.java#L47-L49

"Fetch the JSON Issue only when Issue.json() is called (use a caching Supplier inside GithubIssue to make sure the JSON is fetched only once).".

The puzzle was created by

[2021-05-02 11:30] zoeself opened #1124 "Issue.java: Add method etag() which will ..."
The puzzle ``-1101112995`` originating from #938 has to be resolved:

https://github.com/self-xdsd/self-core/blob/83f672bcd8287c5da95d437ef89bd6bc57b88e91/self-api/src/main/java/com/selfxdsd/api/Issue.java#L32-L33

"Add method etag() which will return the Issue's etag as it comes from the Provider's API.".

The puzzle was created by amihaiemil at ``2021-05-02 11:09:11 +0300``.
Estimation is ``60 m

[2021-05-02 11:30] amihaiemil opened #1125 "Release 0.0.79"
Changelog:

#938
#1123
#1124 -- changes in self-storage: add the Task.etag DB column.
#1127
#1128
#1131
#1132
#1135 -- general caching at JsonResources level.
#1137
#1138
#1139 -- revert Issue.etag() and Task.etag()

[2021-05-02 11:32] zoeself commented on #1123
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-12T11:32:25.803997``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-02 11:32] zoeself commented on #1124
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-12T11:32:28.010194``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-02 12:05] #1123 closed

[2021-05-02 12:05] zoeself commented on #1123
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-05-02 12:06] amihaiemil opened #1127 "Add method Issue :: Issues.corresponding(Task)"
Let's add this method. Compared to Issues.getById(...), this method should use the Task's ETag when fetching the Issue from the API.

If the response is NOT MODIFIED, it should return the TaskIssue. If the response is OK, it should return the actual fetched Issue.

This mechanism will help us avoid reaching the maximum API Rate Limit (when using ETags, if the response is NOT MODIFIED, the call doe

[2021-05-02 12:06] zoeself commented on #1127
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-12T12:06:46.542263``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-02 12:06] zoeself commented on #1127
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-02 13:20] amihaiemil opened #1128 "JsonResources: Allow Specification of Headers"
We should be able to specify HTTP Headers when making a request.

[2021-05-02 13:20] zoeself commented on #1128
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-12T13:20:22.100485``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-02 13:20] zoeself commented on #1128
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-02 13:52] zoeself opened #1130 "GitlabIssue.java: Start implementing the etag m..."
The puzzle ``138211583`` originating from #1124 has to be resolved:

https://github.com/self-xdsd/self-core/blob/8cb7ae77ec2b14cac6418446196be3a949b2e1cb/self-core-impl/src/main/java/com/selfxdsd/core/GitlabIssue.java#L48-L49

"Start implementing the etag mechanism for Gitlab issues. See how it's implemented for GithubIssues.".

The puzzle was created by amihaiemil at ``2021-05-02 16:33:48 +0300``

[2021-05-02 13:52] zoeself opened #1131 "GithubIssue.java: When fetching the Issue JSON,..."
The puzzle ``-908291407`` originating from #1124 has to be resolved:

https://github.com/self-xdsd/self-core/blob/8cb7ae77ec2b14cac6418446196be3a949b2e1cb/self-core-impl/src/main/java/com/selfxdsd/core/GithubIssue.java#L42-L43

"When fetching the Issue JSON, read the ETAG from the response http header and add it to the JSON as a string attribute.".

The puzzle was created by amihaiemil at ``2021-0

[2021-05-02 13:52] zoeself opened #1132 "Tasks.java: Add a method to allow updatin..."
The puzzle ``1710995146`` originating from #1124 has to be resolved:

https://github.com/self-xdsd/self-core/blob/8cb7ae77ec2b14cac6418446196be3a949b2e1cb/self-api/src/main/java/com/selfxdsd/api/Tasks.java#L30-L30

"Add a method to allow updating of a Task's etag.".

The puzzle was created by amihaiemil at ``2021-05-02 16:50:17 +0300``.
Estimation is ``60 minutes``.
If you have any technical quest

[2021-05-02 13:52] zoeself commented on #1124
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-05-02 13:52] #1124 closed

[2021-05-02 13:52] amihaiemil commented on #1130
@zoeself remove

[2021-05-02 13:52] zoeself commented on #1130
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-05-02 13:53] amihaiemil commented on #1131
https://docs.github.com/en/rest/overview/resources-in-the-rest-api#conditional-requests

[2021-05-02 14:02] zoeself commented on #1131
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-12T14:02:25.446781``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-02 14:02] zoeself commented on #1132
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-12T14:02:27.743868``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-02 14:06] amihaiemil commented on #1130
@zoeself status

[2021-05-02 14:06] zoeself commented on #1130
@amihaiemil this ticket is not registered as a task, therefore I'm not working on it at the moment.

If you want me to take care of it, assign it to me or say "register".

[2021-05-02 14:07] amihaiemil commented on #1130
@zoeself commands

[2021-05-02 14:07] zoeself commented on #1130
Hi @amihaiemil! Here are the commands which I understand:

* ``Hello`` -- any comment addressed to the PM containing the word **"hello"**.

  Equivalent command: ``Hi``
* ``Status`` -- any comment addressed to the PM, containing the word **"status"**. The PM will respond with the Task's status, assignee, deadline etc.
* ``Resign`` -- a task's assignee can always resign from the task, if they canno

[2021-05-02 15:12] zoeself commented on #1123
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-02 15:12] zoeself commented on #1124
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-03 12:22] #1128 closed

[2021-05-03 12:22] zoeself opened #1134 "JsonResources.java: Continue adding overloaded me..."
The puzzle ``845854666`` originating from #1128 has to be resolved:

https://github.com/self-xdsd/self-core/blob/4bacd2a4e8e2ec23735f239cf539ccf7f344878f/self-core-impl/src/main/java/com/selfxdsd/core/JsonResources.java#L45-L46

"Continue adding overloaded methods to also accept headers for PATCH, PUT and DELETE (see how GET and POST are overloaded).".

The puzzle was created by amihaiemil at ``20

[2021-05-03 12:22] #872 closed

[2021-05-03 12:22] zoeself commented on #872
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-05-03 12:32] zoeself commented on #1134
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-13T12:32:26.000229``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-05-03 13:18] criske commented on #1132
@amihaiemil One question here. Shouldn't be JsonResources responsibility to handle  "etag" based caching requests? Core objects shouldn't care about caching when iteracting with JsonResoures imo.

A pseudo for a GET might look like this in JsonResoures (either in current impl or maybe in a decorator):
[code]
As for cache implementation could be an interface for a local cache like [Ehcache](https:/

[2021-05-03 13:29] amihaiemil commented on #1132
@criske I was just following the architecture. The Task is our representation of an Issue, so it makes sense to store the etag on it, where else?

I also want to keep this logic in the core. Externalizing it to self-web or self-pm seems a bit ugly.

Maybe it will be clearer after it's finished :D

[2021-05-03 13:39] amihaiemil commented on #1132
@criske I think you're suggesting a more general caching mechanism at the level of JsonResources, to work with any endpoint/resource.

It's not a bad idea, but it's a lot more than we need at the moment. I'll think about it :D

[2021-05-03 14:01] criske commented on #1132
As is said, cache client injected into JsonResources impl is just an interface.
Could be an in-memory implementation inside core, or could be the storage db, doesn't matter :D

Exactly. Plus we have other get endpoints. and any save towards rate-limit counts.

[2021-05-03 14:10] amihaiemil commented on #1132
@criske I'll think about it a bit later. Now I want to see this done for issues. The GET /issue is our biggest problem, actually. This is the endpoint we call every 10 minutes constantly.

Other GET endpoints are not so urgent because they do not happen very often :D

For this general caching mechanism we would need to design some sort of JsonStorage... quite some work, but doable :D

[2021-05-03 14:24] criske commented on #1132
@amihaiemil I could create a PR if you want, outside the bounty stuff as a proof of concept :D ... I've some code that's doing exactly this and shouldn't be hard to retrofit.

[2021-05-03 14:36] amihaiemil opened #1135 "JsonResources General Caching PoC"
Proof of concept for general caching of json resources. Let's do it with clean Java SE, no dependencies (maybe define a JsonStorage which will save the JSONs in the DB)

@criske make a PoC PR and we will integrate it later if we need this caching in more places :D

[2021-05-03 14:36] zoeself commented on #1135
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-13T14:36:07.688620``.

Estimation here is ``90 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-05-03 15:12] zoeself commented on #1128
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-04 09:05] amihaiemil commented on #1135
@zoeself remove

[2021-05-04 09:05] zoeself commented on #1135
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-05-04 09:05] amihaiemil commented on #1135
@zoeself add

[2021-05-04 09:05] zoeself commented on #1135
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-05-04 09:12] zoeself commented on #1135
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-14T09:12:26.946269``.

Estimation here is ``180 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futur

[2021-05-04 11:17] #1135 closed

[2021-05-04 11:18] zoeself opened #1137 "Storage.java: Add a method called `jsonStor..."
The puzzle ``-1940363229`` originating from #1135 has to be resolved:

https://github.com/self-xdsd/self-core/blob/3e26b7dbe0ec1d7227ca2298e2dc3f8486097b8d/self-api/src/main/java/com/selfxdsd/api/storage/Storage.java#L32-L34

"Add a method called `jsonStorage` that will return JsonStorage interface. JsonStorage needs to be moved from `self-core-impl` to `self-api` module.".

The puzzle was created

[2021-05-04 11:19] amihaiemil opened #1138 "Use The Newly Added ConditionalJsonResources"
I don't think this class is used (e.g. wired when instantiating Github and GitLab). Let's use it.

[2021-05-04 11:19] zoeself commented on #1138
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-14T11:19:19.732954``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-05-04 11:19] zoeself commented on #1138
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-04 11:20] amihaiemil opened #1139 "Revert Issue.etag() and Task.etag()"
We don't need this anymore as the etag caching mechanism as been moved at JsonResource level. Obsolete tickets also include:

#1127
#1130
#1131
#1132

We should also remove class TaskIssue, it's not needed anymore.

[2021-05-04 11:20] zoeself commented on #1139
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-14T11:20:35.720648``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-04 11:20] zoeself commented on #1139
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-04 11:22] zoeself commented on #1137
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-14T11:22:25.661153``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-05-04 15:12] zoeself commented on #1135
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-05 09:47] #1137 closed

[2021-05-05 09:47] zoeself commented on #1137
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-05-05 15:12] zoeself commented on #1137
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-06 07:38] #1138 closed

[2021-05-06 09:12] zoeself commented on #1138
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-06 10:53] #1127 closed

[2021-05-06 10:59] #1139 closed

[2021-05-06 10:59] #1132 closed

[2021-05-06 10:59] #1131 closed

[2021-05-06 10:59] zoeself commented on #1132
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-05-06 10:59] zoeself commented on #1131
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-05-06 10:59] #1130 closed

[2021-05-06 10:59] zoeself commented on #1130
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-05-06 11:19] amihaiemil commented on #1125
@rultor release it, tag is `0.0.79`

[2021-05-06 11:20] rultor commented on #1125
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24437-833444386)

[2021-05-06 11:24] rultor commented on #1125
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24437-833444386) (took me 3min)

[2021-05-06 11:32] #1125 closed

[2021-05-06 11:41] amihaiemil opened #1144 "JsonException EOF in Builder If Resource body is """
If the resource body is empty string, a JsonException is thrown. Let's fix it.

[2021-05-06 11:41] zoeself commented on #1144
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-16T11:41:03.805665``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-06 11:41] zoeself commented on #1144
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-06 11:41] amihaiemil opened #1145 "Release 0.0.80"
Changelog:

#1144

[2021-05-06 11:51] #1144 closed

[2021-05-06 11:51] amihaiemil commented on #1145
@rultor release it, tag is `0.0.80`

[2021-05-06 11:52] rultor commented on #1145
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24438-833461608)

[2021-05-06 11:56] rultor commented on #1145
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24438-833461608) (took me 3min)

[2021-05-06 11:56] #1145 closed

[2021-05-06 15:12] zoeself commented on #1127
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-06 15:12] zoeself commented on #1131
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-06 15:12] zoeself commented on #1132
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-06 15:12] zoeself commented on #1139
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-06 15:12] zoeself commented on #1144
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-07 08:01] #1134 closed

[2021-05-07 08:01] zoeself commented on #1134
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-05-07 08:03] amihaiemil opened #1149 "Release 0.0.81"
Changelog:

#1134
#1148

[2021-05-07 08:30] amihaiemil commented on #1149
@rultor release it, tag is `0.0.81`

[2021-05-07 08:32] rultor commented on #1149
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24441-834171291)

[2021-05-07 08:35] rultor commented on #1149
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24441-834171291) (took me 3min)

[2021-05-07 08:42] #1149 closed

[2021-05-07 09:12] zoeself commented on #1134
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-11 08:06] amihaiemil opened #1150 "Create Labels On Accept Invite"
When accepting an Invitation, the PM should create our labels in the repository: labels for estimation and labels for roles.

[2021-05-11 08:06] zoeself commented on #1150
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-21T08:06:50.804246``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-12 14:31] amihaiemil opened #1151 "Release 0.0.84"
Changelog:

#1150

[2021-05-12 14:32] #1150 closed

[2021-05-12 14:35] amihaiemil commented on #1151
@rultor release it, tag is `0.0.82`

[2021-05-12 14:36] rultor commented on #1151
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24460-839824395)

[2021-05-12 14:39] rultor commented on #1151
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24460-839824395) (spent 3min)

[code]

[2021-05-12 14:41] amihaiemil commented on #1151
@rultor release it, tag is `0.0.83`

[2021-05-12 14:42] rultor commented on #1151
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24460-839828439)

[2021-05-12 14:45] rultor commented on #1151
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24460-839828439) (spent 3min)

[code]

[2021-05-12 15:12] zoeself commented on #1150
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-12 16:54] amihaiemil commented on #1151
@rultor release it, tag is `0.0.84`

[2021-05-12 16:55] rultor commented on #1151
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24460-839938537)

[2021-05-12 16:58] rultor commented on #1151
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24460-839938537) (took me 3min)

[2021-05-12 17:04] amihaiemil opened #1153 "Add method Repo.isStarred()"
This method should return true of the authenticated user starred the repo, false otherwise.

[2021-05-12 17:04] zoeself commented on #1153
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-22T17:04:20.698498``.

Estimation here is ``120 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futur

[2021-05-12 17:04] zoeself commented on #1153
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-13 14:19] #1151 closed

[2021-05-15 08:57] zoeself opened #1155 "GitlabStars.java: Provide an implementation for..."
The puzzle ``1627255873`` originating from #1153 has to be resolved:

https://github.com/self-xdsd/self-core/blob/d81811c8f26965597ea70759771ec47e6cf39fa7/self-core-impl/src/main/java/com/selfxdsd/core/GitlabStars.java#L39-L39

"Provide an implementation for GitlabStars#isStarred().".

The puzzle was created by cristianpela at ``2021-05-14 12:02:54 +0300``.
Estimation is ``60 minutes``.
If you hav

[2021-05-15 09:02] zoeself commented on #1155
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-05-15 09:02] #1153 closed

[2021-05-15 09:12] zoeself commented on #1153
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-15 09:12] zoeself commented on #1155
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-25T09:12:27.683745``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-05-15 12:43] amihaiemil commented on #1155
@zoeself remove

[2021-05-15 12:43] zoeself commented on #1155
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-05-15 12:44] amihaiemil commented on #1155
@zoeself add

[2021-05-15 12:44] zoeself commented on #1155
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-05-15 12:52] zoeself commented on #1155
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-25T12:52:25.262418``.

Estimation here is ``180 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futur

[2021-05-15 13:11] zoeself opened #1157 "GitlabStars.java: Since there is no endpoint to..."
The puzzle ``1523938709`` originating from #1155 has to be resolved:

https://github.com/self-xdsd/self-core/blob/aebacc4c7eb4400cd0a5fcfa009c0c271ce064b0/self-core-impl/src/main/java/com/selfxdsd/core/GitlabStars.java#L39-L44

"Since there is no endpoint to check if current user has starred "this" repo, another API endpoint must be used. `GET /users/:user_id/starred_projects?starred=true&per_page

[2021-05-15 13:11] #1155 closed

[2021-05-15 13:11] zoeself commented on #1155
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-05-15 13:12] zoeself commented on #1157
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-25T13:12:25.619747``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-05-15 15:12] zoeself commented on #1155
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-17 08:48] amihaiemil opened #1158 "Release 0.0.85"
Changelog:

#1153
#1155
#1157
#1159

[2021-05-17 08:49] amihaiemil opened #1159 "GitlabRepoInvitations: Check if Repo is Starred First"
GitlabRepoInvitations should return empty iterable if the repo is starred.

[2021-05-17 08:49] zoeself commented on #1159
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-27T08:49:02.717025``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-17 08:49] zoeself commented on #1159
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-17 09:20] #1159 closed

[2021-05-17 15:12] zoeself commented on #1159
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-18 12:35] #1157 closed

[2021-05-18 12:35] zoeself commented on #1157
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-05-18 12:48] amihaiemil commented on #1158
@rultor release it, tag is `0.0.85`

[2021-05-18 12:50] rultor commented on #1158
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24499-843141899)

[2021-05-18 12:53] rultor commented on #1158
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24499-843141899) (took me 3min)

[2021-05-18 13:11] #1158 closed

[2021-05-18 13:36] zoeself commented on #1157
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-24 16:39] amihaiemil opened #1162 "j"

[2021-05-24 16:39] zoeself commented on #1162
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-05-24 16:40] #1162 closed

[2021-05-26 08:47] amihaiemil opened #1163 "GET Personal Repos ServerSide"
At the moment the personal repos are fetched client side, which has a low api rate linit (about 60 calls) and it only returns the public repos.

[2021-05-26 08:47] zoeself commented on #1163
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-26 08:48] amihaiemil opened #1164 "Release 0.0.86"
Changelog:

#1163
#1166
#1169
#1171
#1174
#1177

[2021-05-26 09:37] #1163 closed

[2021-05-26 09:37] zoeself opened #1166 "GithubPersonalRepos.java: Continue implementing this cl..."
The puzzle ``393922938`` originating from #1163 has to be resolved:

https://github.com/self-xdsd/self-core/blob/775773646fe465e1fa7293684f77715189e435b9/self-core-impl/src/main/java/com/selfxdsd/core/GithubPersonalRepos.java#L38-L40

"Continue implementing this class. The iterator should iterate over all the personal repos (public and private) of the user, using ResourcePaging.".

The puzzle was

[2021-05-26 09:37] zoeself opened #1167 "BaseRepo.java: Sometimes we receive the Repo..."
The puzzle ``-1168314013`` originating from #1163 has to be resolved:

https://github.com/self-xdsd/self-core/blob/775773646fe465e1fa7293684f77715189e435b9/self-core-impl/src/main/java/com/selfxdsd/core/BaseRepo.java#L41-L43

"Sometimes we receive the Repo JSON before we instantiate this objects. As such, we should be able to initialize it through the constructor to save an API call.".

The puzzle

[2021-05-26 09:46] zoeself commented on #1163
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-26 09:46] zoeself commented on #1166
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-05T09:46:34.455067``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-26 09:46] zoeself commented on #1167
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-05T09:46:37.391048``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-28 08:05] #1167 closed

[2021-05-28 08:05] zoeself commented on #1167
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-05-28 08:16] zoeself commented on #1167
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-31 00:16] zoeself commented on #1166
@amihaiemil Don't forget to close this ticket before the deadline (2021-06-05T09:46:34). You are past the first half of the allowed period.

[2021-05-31 10:09] amihaiemil opened #1169 "Introduce JsonResources.getWithoutCaching(...)"
This method will always do a GET: in ConditionalJsonResources it will simply delegate, without the ETag caching.

Reason: in the case of Github Pagination, the ETag call to ``...?page=2`` will NOT return the ``Link`` header, so using the ResourcePaging will not work with ETag. This can actually be a problem on Github's side (the Link header should always be returned, even in 304 NOT MODIFIED cases

[2021-05-31 10:09] zoeself commented on #1169
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-10T10:09:56.319807``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-05-31 10:09] zoeself commented on #1169
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-31 11:26] zoeself opened #1171 "GithubPersonalRepos.java: Possible bug in class FromHea..."
The puzzle ``1086990812`` originating from #1166 has to be resolved:

https://github.com/self-xdsd/self-core/blob/9973ddf3a3136ccae01ea60f46bdf0adf8f48765/self-core-impl/src/main/java/com/selfxdsd/core/GithubPersonalRepos.java#L86-L90

"Possible bug in class FromHeaders. The bellow method works fine if we specify per_page=100. However, if we do not specify per_page, the default value is 30 and Fro

[2021-05-31 11:26] #1166 closed

[2021-05-31 11:26] zoeself commented on #1166
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-05-31 11:27] amihaiemil commented on #1171
Problem seems to come from the JDK. HttpHeaders.map() does not split the header's value by comma.

[2021-05-31 11:36] zoeself commented on #1171
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-10T11:36:30.724139``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-31 11:46] zoeself commented on #1166
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-31 11:55] amihaiemil commented on #1171
https://docs.oracle.com/en/java/javase/11/docs/api/java.net.http/java/net/http/HttpHeaders.html

[2021-05-31 14:04] criske commented on #1169
@amihaiemil I dunno, I'd rather store the resource headers into JsonStorage.
Caching is just a contract between ConditionalJsonResources in JsonStorage. Other JsonResources implementations or components that interact with them should know nothing about caching.
The implementation should be straightforward. We only need to refetch on 306 to get the headers and then store'em along with etag and body

[2021-05-31 14:10] amihaiemil commented on #1169
@criske I think using ``Cache-Control: no-cache`` is the simplest way actually :D

I think storing headers into JSON storage is a bit complicated. Storing is fine, but then parsing them back into the object will be quite hard... unless we make another DB table to store them in a structured way... which seems overkill

Plus, this fetching the Repo's is a scenario where we don't really need caching

[2021-05-31 14:17] criske commented on #1169
Is just a map of list o strings, shouldn't be a problem to deserialize back to map. Am I missing something  :D ?
[code]

[2021-05-31 14:22] amihaiemil commented on #1169
@criske I prefer no cache also because I dont wajt to cache repo iteration - huge jsons which will occupy space for nothing :D

[2021-05-31 14:23] amihaiemil commented on #1169
@criske also in the case of repo iteration, caching means more db roundtrips and the user will wait more for the page to load

[2021-05-31 14:34] criske commented on #1169
If that's the case we might need in the future a scheduler to clear old entries, most likely will pile up regardless.

[2021-06-01 07:24] #1169 closed

[2021-06-01 07:46] zoeself commented on #1169
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-02 10:13] zoeself opened #1174 "Repos.java: Implement and test GitlabPers..."
The puzzle ``1056268916`` originating from #1171 has to be resolved:

https://github.com/self-xdsd/self-core/blob/57692b3f073e9e25f8a645686844bd4a001600bd/self-api/src/main/java/com/selfxdsd/api/Repos.java#L30-L31

"Implement and test GitlabPersonalRepos, which should represent the user's public and private personal repositories.".

The puzzle was created by amihaiemil at ``2021-06-02 13:11:22 +03

[2021-06-02 10:13] #1171 closed

[2021-06-02 10:13] zoeself commented on #1171
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-06-02 10:16] zoeself commented on #1171
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-02 10:16] zoeself commented on #1174
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-12T10:16:33.380511``.

Estimation here is ``120 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futur

[2021-06-06 10:27] criske opened #1177 "ConditionalResource for JsonStorage."
The current problem with JsonStorage implementation is that is using a db to cache resources and thus making it unefficient.
because ConditionalJsonResources is doing extra trips to storage, one for etag check and one for body check.

This will be fixed, if JsonStorage can store the Resource instead.
But Resource API, as it is, is not enough to be queried from db as conditional.
It needs an URI (a

[2021-06-06 10:27] zoeself commented on #1177
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2021-06-06 10:36] zoeself commented on #1177
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-06-07 00:16] zoeself commented on #1174
@criske Don't forget to close this ticket before the deadline (2021-06-12T10:16:33). You are past the first half of the allowed period.

[2021-06-08 06:58] amihaiemil commented on #1174
@zoeself remove

[2021-06-08 06:58] zoeself commented on #1174
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-06-08 06:58] amihaiemil commented on #1174
@zoeself add

[2021-06-08 06:58] zoeself commented on #1174
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-06-08 07:06] zoeself commented on #1174
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-18T07:06:30.406346``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-06-08 07:07] zoeself commented on #1174
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-06-08 07:07] #1174 closed

[2021-06-08 07:14] amihaiemil commented on #1177
@zoeself add

[2021-06-08 07:14] amihaiemil commented on #1177
@zoeself remove

[2021-06-08 07:14] zoeself commented on #1177
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-06-08 07:14] amihaiemil commented on #1177
@zoeself add

[2021-06-08 07:14] zoeself commented on #1177
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-06-08 07:16] zoeself commented on #1174
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-08 07:16] zoeself commented on #1177
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-18T07:16:32.274064``.

Estimation here is ``90 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-06-10 16:16] amihaiemil commented on #1177
@criske thanks for fixing!

[2021-06-10 16:16] #1177 closed

[2021-06-10 16:16] zoeself commented on #1177
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-10 16:52] amihaiemil opened #1178 "Compilation Failure in GitlabPersonalRepos"
Seems like the CI is failing with compilation error in GitlabPersonalRepos. Probably because the GitlabPersonalRepos PR was merged before the CachedResource PR.

[2021-06-10 16:52] zoeself commented on #1178
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-20T16:52:27.791093``.

Estimation here is ``15 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-06-10 16:52] zoeself commented on #1178
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-06-10 17:27] #1178 closed

[2021-06-10 17:46] zoeself commented on #1178
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-10 17:46] criske opened #1180 "CachedResource: Uniform URI keys."
Having two URI's

`/foo/bar?a=100&b=true`
and
`/foo/bar?b=true&a=100`

Eventhough these URIs have query parameters in different order, they are pointing to the same `Resource`.
And this will lead to duplicate entries in `JsonStorage` - will be treated as different primary key.

Proposal: order URI query parameters by 'name' in alphabetical oder before storing `CachedResource` into `JsonStorage`.

[2021-06-10 17:46] zoeself commented on #1180
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2021-06-10 17:55] criske commented on #1180
@amihaiemil now that I think about it, I think this should be done by JsonStorage implementation - both before storing and getting:

For example if we query for `Json#getResource(/foo/bar?b=true&a=100)`, it should order internally and then query for resource..

[2021-06-10 17:56] zoeself commented on #1180
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-06-15 13:34] amihaiemil commented on #1180
@criske It's a valid issue, but as you said in Prod we will never face it. Github and GitLab URIs do not use query parameters at all (maybe just per_page). So I think it's virtually a useless fix: more complicated code for nothing : D

[2021-06-15 13:35] amihaiemil commented on #1164
@rultor release it, tag is `0.0.86`

[2021-06-15 13:36] rultor commented on #1164
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24629-861503393)

[2021-06-15 13:41] rultor commented on #1164
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24629-861503393) (took me 4min)

[2021-06-15 14:21] #1164 closed

[2021-06-21 08:24] amihaiemil opened #1182 "JsonStorage Should Store Resource, Not ConditionalResource"
At the moment JsonStorage stores ConditionalResource. It should store Resource instead.

[2021-06-21 08:25] zoeself commented on #1182
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-07-01T08:25:00.110365``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-06-21 08:25] zoeself commented on #1182
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-06-21 17:22] #1182 closed

[2021-06-21 17:22] amihaiemil opened #1184 "Release 0.0.87"
Changelog:

#1181
#1182
#1185

[2021-06-21 17:22] zoeself commented on #1184
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-06-21 17:22] amihaiemil commented on #1184
@zoeself remove

[2021-06-21 17:23] zoeself commented on #1184
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-06-21 17:46] zoeself commented on #1182
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-21 18:04] amihaiemil opened #1185 "Add Method JsonStorage.updateResource"
This should be used to update a cached resource

[2021-06-21 18:04] zoeself commented on #1185
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-07-01T18:04:03.164630``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-06-21 18:04] zoeself commented on #1185
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-06-22 08:52] #1185 closed

[2021-06-22 08:58] amihaiemil commented on #1184
@rultor release it, tag is `0.0.87`

[2021-06-22 08:59] rultor commented on #1184
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24648-865769177)

[2021-06-22 09:04] rultor commented on #1184
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24648-865769177) (took me 4min)

[2021-06-22 09:10] #1184 closed

[2021-06-22 09:16] zoeself commented on #1185
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-24 09:38] amihaiemil opened #1187 "Add Method String :: Resource.body();"
We need access to the resource's String body in order to implement the new JsonStorage interface.

[2021-06-24 09:38] zoeself commented on #1187
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-07-04T09:38:29.563688``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-06-24 09:38] zoeself commented on #1187
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-06-24 09:38] amihaiemil opened #1188 "Release 0.0.88"
Changelog:

#1187
#1190

[2021-06-24 09:47] #1187 closed

[2021-06-24 09:48] amihaiemil opened #1190 "Remove Resource.newBuilder()"
It's not needed anymore.

[2021-06-24 09:48] zoeself commented on #1190
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-07-04T09:48:17.634149``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-06-24 09:48] zoeself commented on #1190
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-06-24 09:53] #1190 closed

[2021-06-24 09:58] amihaiemil commented on #1188
@rultor release it, tag is `0.0.88`

[2021-06-24 09:59] rultor commented on #1188
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24655-867506252)

[2021-06-24 10:04] rultor commented on #1188
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24655-867506252) (took me 4min)

[2021-06-24 10:08] #1188 closed

[2021-06-24 10:16] zoeself commented on #1187
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-24 10:16] zoeself commented on #1190
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-07-19 08:15] amihaiemil opened #1192 "Handle Stripe Validation Errors"
When a Wallet or PayoutMethod is created, we should have a better handling of Stripe validation errors. For example validation error of the zipcode.

[2021-07-19 08:15] zoeself commented on #1192
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-07-29T08:15:26.766116``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-07-19 08:15] zoeself commented on #1192
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-07-24 00:19] zoeself commented on #1192
@amihaiemil Don't forget to close this ticket before the deadline (2021-07-29T08:15:27). You are past the first half of the allowed period.

[2021-07-29 08:19] zoeself commented on #1192
@amihaiemil Looks like you've missed the task deadline (2021-07-29T08:15:27). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-07-29 08:19] zoeself commented on #1192
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-08-03 05:41] amihaiemil opened #1193 "Follow HTTP Redirects"
Seems like JsonResources isn't following the Github redirects (e.g. after repo name change). Let's fix it.

[2021-08-03 05:41] zoeself commented on #1193
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-13T05:41:19.695727``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-03 05:41] zoeself commented on #1193
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-08-03 07:36] #1193 closed

[2021-08-03 07:36] amihaiemil opened #1195 "Release 0.0.89"
Important fix: #1193

[2021-08-03 07:39] amihaiemil commented on #1195
@rultor release it, tag is 0.0.89

[2021-08-03 07:40] rultor commented on #1195
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24870-891613007)

[2021-08-03 07:40] rultor commented on #1195
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24870-891613007) (spent 24s)

[code]

[2021-08-03 07:41] amihaiemil commented on #1195
@rultor release it, tag is `0.0.89`

[2021-08-03 07:43] rultor commented on #1195
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24870-891614390)

[2021-08-03 07:47] rultor commented on #1195
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24870-891614390) (took me 4min)

[2021-08-03 07:52] #1195 closed

[2021-08-03 08:04] zoeself commented on #1193
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-03 08:42] #875 closed

[2021-08-03 08:42] zoeself commented on #875
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-08-03 09:09] amihaiemil opened #1196 "Start implementing Project Renaming"
Users may rename their Github (maybe also GitLab) repos, so we must catch this webhook event and also rename the Project on our side.

[2021-08-03 09:09] zoeself commented on #1196
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-13T09:09:24.008646``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-03 09:09] zoeself commented on #1196
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-08-04 12:58] #1196 closed

[2021-08-04 12:58] zoeself opened #1198 "GithubWebhooks.java: When registering the Project ..."
The puzzle ``-1099350486`` originating from #1196 has to be resolved:

https://github.com/self-xdsd/self-core/blob/432c8f02c13fff8cfc2d3b179dabe7dd651db9f1/self-core-impl/src/main/java/com/selfxdsd/core/GithubWebhooks.java#L47-L49

"When registering the Project webhook, make sure to also add the Repo Rename event to it. After that we might have to do it for Gitlab as well.".

The puzzle was create

[2021-08-04 12:59] zoeself opened #1199 "StoredProject.java: Add the Project_Renamed case ..."
The puzzle ``283302860`` originating from #1996 has to be resolved:

https://github.com/self-xdsd/self-core/blob/432c8f02c13fff8cfc2d3b179dabe7dd651db9f1/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredProject.java#L52-L53

"Add the Project_Renamed case to the resolve(...) method and forward the call to the ProjectManager to take care of it.".

The puzzle was created by amihaiemil at

[2021-08-04 12:59] zoeself opened #1200 "StoredProject.java: Add unit tests for method ren..."
The puzzle ``1033098242`` originating from #1196 has to be resolved:

https://github.com/self-xdsd/self-core/blob/432c8f02c13fff8cfc2d3b179dabe7dd651db9f1/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredProject.java#L54-L54

"Add unit tests for method rename(...) in this class.".

The puzzle was created by amihaiemil at ``2021-08-04 15:57:22 +0300``.
Estimation is ``30 minutes``.
If

[2021-08-04 13:07] amihaiemil opened #1201 "Release 0.0.90"
#1196
#1198
#1199
#1200
#1204
#1207
#1208
#1210
#1212

[2021-08-04 13:08] zoeself commented on #1196
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-04 13:08] zoeself commented on #1198
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-14T13:08:40.494958``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-04 13:08] zoeself commented on #1199
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-14T13:08:42.804101``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-04 13:08] zoeself commented on #1200
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-14T13:08:45.229309``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-06 12:40] #1200 closed

[2021-08-06 12:40] zoeself commented on #1200
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-08-06 13:08] zoeself commented on #1200
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-09 00:08] zoeself commented on #1198
@amihaiemil Don't forget to close this ticket before the deadline (2021-08-14T13:08:40). You are past the first half of the allowed period.

[2021-08-09 00:08] zoeself commented on #1199
@amihaiemil Don't forget to close this ticket before the deadline (2021-08-14T13:08:43). You are past the first half of the allowed period.

[2021-08-09 07:02] zoeself opened #1204 "StoredProject.java: Add the REPO_RENAMED case to ..."
The puzzle ``1295769498`` originating from #1199 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ba9e091345b355531ca77351c939a2c8830ffd44/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredProject.java#L52-L53

"Add the REPO_RENAMED case to the resolve(...) method and forward the call to the ProjectManager to take care of it.".

The puzzle was created by amihaiemil at `

[2021-08-09 07:02] #1199 closed

[2021-08-09 07:02] zoeself commented on #1199
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-08-09 07:08] zoeself commented on #1199
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-09 07:08] zoeself commented on #1204
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-19T07:08:41.158024``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-10 08:51] zoeself commented on #1204
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-08-10 08:51] #1204 closed

[2021-08-10 09:08] zoeself commented on #1204
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-10 10:08] zoeself opened #1207 "Collaborators.java: Elevate the PMs repo permissi..."
The puzzle ``287580377`` originating from #1198 has to be resolved:

https://github.com/self-xdsd/self-core/blob/86a0f26745bb3ff52cbadbd41294b4836bf64734/self-api/src/main/java/com/selfxdsd/api/Collaborators.java#L30-L32

"Elevate the PMs repo permissions when sending the invitation. At the moment the PM has Write permissions which seems to not be enough in order to add/remove Webhooks.".

The puz

[2021-08-10 10:08] #1198 closed

[2021-08-10 10:08] zoeself commented on #1198
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-08-10 10:18] zoeself commented on #1207
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-20T10:18:36.608449``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-10 10:38] zoeself commented on #1198
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-10 10:45] amihaiemil opened #1208 "Don't Change Webhooks On REPO_RENAME"
Apparently changing the webhook on REPO_RENAME is not an option because this will only work for Organization Repos. For Personal Repos, the PM [cannot have](https://docs.github.com/en/github/setting-up-and-managing-your-github-user-account/managing-user-account-settings/permission-levels-for-a-user-account-repository) the required permissions.

Let's leave the Webhook as it is change the logic in

[2021-08-10 10:45] zoeself commented on #1208
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-20T10:45:46.157613``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-10 10:45] zoeself commented on #1208
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-08-10 11:40] #1208 closed

[2021-08-10 11:40] #1207 closed

[2021-08-10 11:40] zoeself commented on #1207
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-08-10 11:43] amihaiemil opened #1210 "Add Method Projects.getByWebhookToken()"
Let's add this method to fetch a Project by its Webhook Token.

[2021-08-10 11:43] zoeself commented on #1210
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-20T11:43:11.081289``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-10 11:43] zoeself commented on #1210
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-08-10 12:08] zoeself commented on #1207
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-10 12:08] zoeself commented on #1208
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-10 12:47] #1210 closed

[2021-08-10 12:48] zoeself opened #1212 "PmProjects.java: Continue with the unit tests ..."
The puzzle ``1450085609`` originating from #1210 has to be resolved:

https://github.com/self-xdsd/self-core/blob/a3d932a047cc392abae12c38286668093b09c9b7/self-core-impl/src/main/java/com/selfxdsd/core/projects/PmProjects.java#L42-L43

"Continue with the unit tests for method getByWebHookToken from this class.".

The puzzle was created by amihaiemil at ``2021-08-10 15:47:12 +0300``.
Estimation is

[2021-08-10 12:48] zoeself commented on #1212
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-20T12:48:37.000843``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-10 13:08] zoeself commented on #1210
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-10 16:50] #1212 closed

[2021-08-10 16:50] zoeself commented on #1212
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-08-10 17:08] zoeself commented on #1212
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-12 12:40] amihaiemil commented on #1201
@rultor release it, tag is `0.0.90`

[2021-08-12 12:40] rultor commented on #1201
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24908-897605903)

[2021-08-12 12:44] rultor commented on #1201
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24908-897605903) (took me 3min)

[2021-08-13 05:42] #1201 closed

[2021-08-16 12:43] fedorpashin opened #1214 "The PM doesn't react when the issue is closed"
The documentation says:

But when I closed [this](https://github.com/fedorpashin/statistical-modeling/issues/4) issue nothing happened. Even after I linked the issue in a PR and close it while merging, the PM stubbornly doesn't react to this)

[2021-08-16 12:43] zoeself commented on #1214
@fedorpashin thank you for reporting this. I'll assign someone to take care of it soon.

[2021-08-16 12:48] zoeself commented on #1214
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-08-16 13:13] amihaiemil commented on #1214
@fedorpashin The PM checks the closed Issues every 30 minutes. It doesn't react automatically when an Issue is closed because many people usually close issues by mistake (they click "Close with comment").

So, it should reply within 30 minutes (maximum) after an Issue is closed.

[2021-08-16 13:17] amihaiemil commented on #1214
@fedorpashin I looked in the logs and there is indeed a problem with ``fedorpashin/statistical-modeling``: Github returns status 410 GONE, for one of the Issues. Strange. Let me check further.

[2021-08-16 13:18] amihaiemil commented on #1214
@fedorpashin I think the problem should be fixed now :D

[2021-08-16 13:18] #1214 closed

[2021-08-16 13:20] amihaiemil opened #1215 "Handle Deleted Issues From Github"
Apparently Github users can delete issues. Let's handle this case.

[2021-08-16 13:20] zoeself commented on #1215
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-26T13:20:56.980567``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-16 13:20] zoeself commented on #1215
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-08-16 13:21] amihaiemil commented on #1214
@fedorpashin problem was that Issue number 2 from that Repo has been deleted from Github (didn't even know that was possible, sorry :D ) and Self doesn't handle that case. I'll open [an Issue](https://github.com/self-xdsd/self-core/issues/1215) for it.

[2021-08-16 14:51] fedorpashin commented on #1214
I reverted the PR, because I thought that was the problem 😄

BTW, it would be convenient, I think, if the PM somehow understood what are the related issues and linked them automatically. For example, if comment contains "PR for #...".

[2021-08-16 14:52] fedorpashin commented on #1214
Wow, okay)

[2021-08-16 14:58] amihaiemil commented on #1214
@fedorpashin

Maybe, but the moment I see no usecase for this :D
Each Issue or PR is treated as a separate task (Issue is for DEV role, PR is for REV role, that's it).

[2021-08-21 00:08] zoeself commented on #1215
@amihaiemil Don't forget to close this ticket before the deadline (2021-08-26T13:20:57). You are past the first half of the allowed period.

[2021-08-23 13:06] #1215 closed

[2021-08-23 13:07] zoeself opened #1217 "Project.java: Catch the webhook event for d..."
The puzzle ``1969681464`` originating from #1215 has to be resolved:

https://github.com/self-xdsd/self-core/blob/5ac847a40ad2ae7dde6d8e98209f8ea3cd442cdd/self-api/src/main/java/com/selfxdsd/api/Project.java#L37-L38

"Catch the webhook event for deleting/transferring Github Issues and handle them.".

The puzzle was created by amihaiemil at ``2021-08-23 16:03:57 +0300``.
Estimation is ``60 minutes`

[2021-08-23 13:07] amihaiemil opened #1218 "Release 0.0.91"
Catch any RuntimeException while reviewing tasks of Projects (assigned and unassigned).

[2021-08-23 13:07] amihaiemil commented on #1218
@rultor release it, tag is `0.0.91`

[2021-08-23 13:08] rultor commented on #1218
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24946-903750012)

[2021-08-23 13:08] zoeself commented on #1215
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-23 13:08] zoeself commented on #1217
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-08-23 13:13] rultor commented on #1218
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24946-903750012) (took me 4min)

[2021-08-23 13:35] #1218 closed

[2021-08-27 14:07] amihaiemil opened #1219 "Validate EU VAT IDs on VIES Web"
Documentation of the webservice: https://ec.europa.eu/taxation_customs/vies/faq.html#item_18

[2021-08-28 06:51] amihaiemil opened #1220 "Remove Projects.getByWebHookToken()"
Turns out we do not need this method.

[2021-08-28 06:51] zoeself commented on #1220
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-09-07T06:51:33.362986``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-28 06:51] zoeself commented on #1220
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-08-28 06:51] amihaiemil opened #1221 "Release 0.0.92"
#1220

[2021-08-28 06:56] #1220 closed

[2021-08-28 06:56] amihaiemil commented on #1221
@rultor release it, tag is `0.0.92`

[2021-08-28 06:57] rultor commented on #1221
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24982-907583714)

[2021-08-28 07:01] rultor commented on #1221
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24982-907583714) (took me 3min)

[2021-08-28 07:02] #1221 closed

[2021-08-28 07:08] zoeself commented on #1220
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-09-01 00:08] zoeself commented on #1219
@amihaiemil Don't forget to close this ticket before the deadline (2021-09-06T14:07:08). You are past the first half of the allowed period.

[2021-09-01 11:37] amihaiemil opened #1223 "Adjust EurToRon Default Rate"
Default rate now is 487, let's adjust it to 4.92

[2021-09-01 11:37] zoeself commented on #1223
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-09-11T11:37:45.316282``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-09-01 11:37] zoeself commented on #1223
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-09-01 11:47] #1223 closed

[2021-09-01 11:47] amihaiemil opened #1225 "Release 0.0.93"
#1223

[2021-09-01 11:48] amihaiemil commented on #1225
@rultor release it, tag is `0.0.93`

[2021-09-01 11:49] rultor commented on #1225
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24994-910207188)

[2021-09-01 11:53] rultor commented on #1225
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24994-910207188) (took me 4min)

[2021-09-01 12:05] #1225 closed

[2021-09-01 12:08] zoeself commented on #1223
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-09-06 07:57] #288 closed

[2021-09-06 14:30] zoeself commented on #1219
@amihaiemil Looks like you've missed the task deadline (2021-09-06T14:07:08). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-09-06 14:30] zoeself commented on #1219
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-09-19 09:04] fedorpashin opened #1226 "Problems with logging"
I can't log in, get this error:

The PM also doesn't work.

[2021-09-19 10:41] amihaiemil commented on #1226
@fedorpashin thanks for reporting, we'll have a look asap. The GitLab login works fine, so this must be a problem with Github.

[2021-09-19 10:47] amihaiemil commented on #1226
@zoeself add

[2021-09-19 10:47] zoeself commented on #1226
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-09-19 10:47] amihaiemil commented on #1226
@fedorpashin after an app restart, it works fine now. We'll keep investigating. Seems like it was a network connection issue.

[2021-09-19 10:55] zoeself commented on #1226
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-09-29T10:55:09.864920``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-09-19 11:32] amihaiemil commented on #1226
@zoeself status

[2021-09-19 11:32] zoeself commented on #1226
@amihaiemil this ticket is assigned to @amihaiemil since ``2021-09-19T10:55:10`` and it should be closed until ``2021-09-29T10:55:10``. Estimation is ``60`` minutes.

[2021-09-24 00:14] zoeself commented on #1226
@amihaiemil Don't forget to close this ticket before the deadline (2021-09-29T10:55:10). You are past the first half of the allowed period.

[2021-09-26 14:05] fedorpashin opened #1227 "Sometimes estimation labels don't work"
I've just created an [issue](https://github.com/fedorpashin/physics/issues/21) with the label `30 min`, but the PM estimated it by default time. In other [issue](https://github.com/fedorpashin/physics/issues/11) with custom estimation everything worked well.

[2021-09-26 14:05] zoeself commented on #1227
@fedorpashin thank you for reporting this. I'll assign someone to take care of it soon.

[2021-09-26 14:15] zoeself commented on #1227
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-09-26 14:42] amihaiemil commented on #1227
@fedorpashin when a new Issue is opened, Github will send us a JSON representing the Issue, also containing the Labels.

Now, I noticed Github uses event-sourcing: sometimes certain events like labeling, assigning etc are happening in different orders. Quite rarely, but I've noticed this happens.

In this particular case, I see nothing in the logs, so I think Github sent us the New Issue event bef

[2021-09-26 14:55] zoeself commented on #1227
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-10-06T14:55:08.156451``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-09-26 15:05] fedorpashin commented on #1227
@amihaiemil yes, it happened one more time (the [issue](https://github.com/fedorpashin/physics/issues/6) is deleted now). Maybe I click "Submit new issue" too quickly in these cases and that's why the order is broken. I think it would be great if the PM checks labels at the moment of assigning, because sometimes I reconsider something immediately after issue creating and want to change the estimat

[2021-09-26 15:09] amihaiemil commented on #1227
@fedorpashin yep, the event disorder also happens to me sometimes when I click submit too quickly. But still, rarely.

I'll consider your advice and try to implement it. I think most likely the PM will listen to issue labeling (so as you said, you will be able to change estimation after issue is refistered).

In the meantime let's leave this issue opened for future reference.

[2021-09-29 09:48] amihaiemil opened #1228 "Change Estimation On Label Add/Remove"
At the moment it is only possible to specify the label estimation right when the Issue is created.

We should catch the Labels Webhook event and modify the Task's estimation if an estimation label is added or removed.
If more estimation labels are found, the biggest one should be taken into account.

[2021-09-29 09:49] amihaiemil commented on #1228
@zoeself status

[2021-09-29 09:49] zoeself commented on #1228
@amihaiemil this ticket is not registered as a task, therefore I'm not working on it at the moment.

If you want me to take care of it, assign it to me or say "register".

[2021-09-29 09:50] amihaiemil commented on #1228
@zoeself add

[2021-09-29 09:58] amihaiemil opened #1229 "BindException when making HTTP Calls"
Sometimes the app fails to make HTTP Requests, due to:

[code]

Most likely, the HTTP client is not closed properly under certain conditions.

[2021-09-29 09:58] zoeself commented on #1229
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-10-09T09:58:32.085474``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-09-29 09:58] zoeself commented on #1229
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-09-29 09:58] amihaiemil commented on #1226
Closing and moving on to #1229

[2021-09-29 09:58] #1226 closed

[2021-09-29 09:59] zoeself commented on #1228
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-10-09T09:59:48.558862``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-09-29 10:00] amihaiemil commented on #1228
@criske want to start on this one when you have some time? : D

If yes, remember to leave puzzles, don't solve everything here  :D

[2021-09-29 10:19] zoeself commented on #1226
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-09-29 16:54] #1229 closed

[2021-09-29 16:54] amihaiemil opened #1231 "Release 0.0.94"
#1229

[2021-09-29 17:14] amihaiemil commented on #1231
@rultor release it, tag is `0.0.94`

[2021-09-29 17:15] rultor commented on #1231
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25113-930372485)

[2021-09-29 17:20] rultor commented on #1231
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/25113-930372485) (took me 4min)

[2021-09-30 07:36] #1231 closed

[2021-10-03 13:06] zoeself commented on #1227
@amihaiemil Don't forget to close this ticket before the deadline (2021-10-06T14:55:08). You are past the first half of the allowed period.

[2021-10-03 13:06] zoeself commented on #1229
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-10-04 00:06] zoeself commented on #1228
@criske Don't forget to close this ticket before the deadline (2021-10-09T09:59:49). You are past the first half of the allowed period.

[2021-10-04 07:41] zoeself opened #1233 "StoredProjectManager.java: Update Task/Tasks api to supp..."
The puzzle ``1171577641`` originating from #1228 has to be resolved:

https://github.com/self-xdsd/self-core/blob/a4bb14fa3e2bb891169547ebd3ccd6fc82365ba3/self-core-impl/src/main/java/com/selfxdsd/core/managers/StoredProjectManager.java#L52-L53

"Update Task/Tasks api to support updating task estimation.".

The puzzle was created by cristianpela at ``2021-10-03 10:30:41 +0300``.
Estimation is ``60

[2021-10-04 07:41] zoeself opened #1234 "StoredProjectManager.java: Handle updating task estimati..."
The puzzle ``-1121155606`` originating from #1228 has to be resolved:

https://github.com/self-xdsd/self-core/blob/a4bb14fa3e2bb891169547ebd3ccd6fc82365ba3/self-core-impl/src/main/java/com/selfxdsd/core/managers/StoredProjectManager.java#L54-L59

"Handle updating task estimation by resolving Event.Type.TASK_ESTIMATION event when an estimation label is added or removed. If more estimation labels ar

[2021-10-04 07:42] amihaiemil opened #1235 "Release 0.0.95"
Changelog:

#1228

[2021-10-04 07:43] #1228 closed

[2021-10-04 07:46] zoeself commented on #1233
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-10-14T07:46:44.803523``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-10-04 07:46] zoeself commented on #1234
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-10-14T07:46:47.170843``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-10-04 08:06] zoeself commented on #1228
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-10-06 15:06] zoeself commented on #1227
@amihaiemil Looks like you've missed the task deadline (2021-10-06T14:55:08). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-10-08 09:05] zoeself opened #1237 "Tasks.java: Implement {@link Tasks#update..."
The puzzle ``-1257137381`` originating from #1233 has to be resolved:

https://github.com/self-xdsd/self-core/blob/9edf5cbcd81d25d04498af7042305f458b4dde1d/self-api/src/main/java/com/selfxdsd/api/Tasks.java#L30-L31

"Implement {@link Tasks#updateEstimation(Task, int)} for ContractTasks, ContributorTasks, and ProjectTasks.".

The puzzle was created by cristianpela at ``2021-10-06 10:58:05 +0300``.

[2021-10-09 00:06] zoeself commented on #1234
@criske Don't forget to close this ticket before the deadline (2021-10-14T07:46:47). You are past the first half of the allowed period.

[2021-10-11 10:02] zoeself opened #1239 "LabelsEstimation.java: Modify the implementation of ..."
The puzzle ``-1736134151`` originating from #1234 has to be resolved:

https://github.com/self-xdsd/self-core/blob/f1c25de4bd84724505e8f8e7aa880980d1c5e415/self-core-impl/src/main/java/com/selfxdsd/core/LabelsEstimation.java#L43-L44

"Modify the implementation of this class to get the biggest estimation if more than one estimation label is found.".

The puzzle was created by Mihai at ``2021-10-11

[2021-10-11 13:29] amihaiemil opened #1240 "Fix Occasional BindException"
We have an occasional problem as explained [here](https://stackoverflow.com/questions/69526152/jdk-11-httpclient-bindexception-cannot-assign-requested-address).

Let's try to set the HttpClient to null and hint the gc() as explained [here](https://stackoverflow.com/questions/53919721/close-java-http-client/62735142#62735142).

If this won't work, try to use a global HttpClient for all requests.

[2021-10-11 13:29] zoeself commented on #1240
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-10-21T13:29:36.533737``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-10-11 13:29] zoeself commented on #1240
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-10-12 08:58] zoeself commented on #1239
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-10-12 08:59] #1239 closed

[2021-10-12 08:59] zoeself commented on #1239
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-10-12 09:07] #1237 closed, assigned to nobody

[2021-10-12 09:09] zoeself opened #1243 "ContractTasksTestCase.java: Write remaining testcases for..."
The puzzle ``-214259988`` originating from #1237 has to be resolved:

https://github.com/self-xdsd/self-core/blob/1dfaa9818cb7c3fa15b7c5bc80500abe2effaccc/self-core-impl/src/test/java/com/selfxdsd/core/tasks/ContractTasksTestCase.java#L19-L20

"Write remaining testcases for updating estimation in {@link ContributorTasks} and {@link ProjectTasks}.".

The puzzle was created by Mihai at ``2021-10-12

[2021-10-12 11:34] amihaiemil opened #1244 "test labeles"

[2021-10-12 11:38] amihaiemil opened #1245 "StoredProjectManater.issueLabelsChanged(...) Check If Task Exists"
We should check whether the tasks exists (!= null) [here](https://github.com/self-xdsd/self-core/blob/master/self-core-impl/src/main/java/com/selfxdsd/core/managers/StoredProjectManager.java#L656).

When opening a new Issue which has a label, Github might sent us the ``labeled`` event webhook **before** the ``opened`` event (and in this case, the Task doesn't exist on our side, yet).

[2021-10-12 11:38] zoeself commented on #1245
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-10-22T11:38:37.907216``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-10-12 11:38] zoeself commented on #1245
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-10-12 11:44] #1244 closed, assigned to nobody

[2021-10-12 12:09] amihaiemil opened #1246 "Enable Issues On Fork Repo Activation"
Fork repos may not have the Issues enable. We should enable them when activating a new Repo which is a fork, if they are not already active.

[2021-10-12 12:09] zoeself commented on #1246
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-10-22T12:09:56.133575``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-10-12 12:09] zoeself commented on #1246
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-10-14 17:54] #1240 closed, assigned to nobody

[2021-10-14 18:27] amihaiemil opened #1248 "Handle "labeled" and "unlabeled" action in GithubWebhookEvent"
This is not yet handled, let's fix it.

[2021-10-14 18:28] zoeself commented on #1248
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-10-24T18:28:01.400792``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-10-14 18:28] zoeself commented on #1248
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-10-14 19:01] zoeself commented on #1248
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-10-16 08:51] #1245 closed, assigned to nobody

[2021-10-16 09:01] zoeself commented on #1245
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-10-16 09:21] zoeself opened #1252 "GithubRepo.java: Write some integration tests ..."
The puzzle ``505680596`` originating from #1248 has to be resolved:

https://github.com/self-xdsd/self-core/blob/c596aaa85a4113c0eb5bf67fecb68d0f7bce86c2/self-core-impl/src/main/java/com/selfxdsd/core/GithubRepo.java#L39-L40

"Write some integration tests using MkGrizzly server for method enableIssues().".

The puzzle was created by amihaiemil at ``2021-10-16 12:18:09 +0300``.
Estimation is ``60 m

[2021-10-16 09:21] zoeself opened #1253 "InvitePm.java: Implement an Intermediary Ste..."
The puzzle ``-517366917`` originating from #1246 has to be resolved:

https://github.com/self-xdsd/self-core/blob/c596aaa85a4113c0eb5bf67fecb68d0f7bce86c2/self-core-impl/src/main/java/com/selfxdsd/core/managers/InvitePm.java#L36-L37

"Implement an Intermediary Step used to enable Issues for a Repo, when it is being activated.".

The puzzle was created by amihaiemil at ``2021-10-16 12:18:09 +0300``

[2021-10-16 09:21] zoeself opened #1254 "GitlabRepo.java: Implement enabling of Issues ..."
The puzzle ``-1841500560`` originating from #1246 has to be resolved:

https://github.com/self-xdsd/self-core/blob/c596aaa85a4113c0eb5bf67fecb68d0f7bce86c2/self-core-impl/src/main/java/com/selfxdsd/core/GitlabRepo.java#L37-L39

"Implement enabling of Issues for a GitLab repository. If GitLab doesn't support this functionality, the method should not do anything.".

The puzzle was created by amihaie

[2021-10-16 09:21] zoeself opened #1255 "BitbucketRepo.java: Implement enabling of Issues ..."
The puzzle ``-1994516236`` originating from #1246 has to be resolved:

https://github.com/self-xdsd/self-core/blob/c596aaa85a4113c0eb5bf67fecb68d0f7bce86c2/self-core-impl/src/main/java/com/selfxdsd/core/BitbucketRepo.java#L36-L38

"Implement enabling of Issues for a BitBucket repository. If BitBucket doesn't support this functionality, the method should not do anything.".

The puzzle was created b

[2021-10-16 09:22] amihaiemil commented on #1255
@zoeself remove

[2021-10-16 09:22] zoeself commented on #1255
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-10-16 09:23] amihaiemil commented on #1254
@criske want to take care of this? I'm not sure if GitLab supports enabling/disabling of Issues (maybe GitLab repos always have Issues). In this case, just return ``new GitlabIssues(...)``. :  D

[2021-10-16 09:31] zoeself commented on #1252
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-10-26T09:31:39.639906``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-10-16 09:31] zoeself commented on #1253
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-10-26T09:31:41.906946``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-10-16 09:50] zoeself commented on #1253
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-10-16 09:50] #1253 closed, assigned to nobody

[2021-10-16 10:01] zoeself commented on #1253
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-10-16 12:44] #1252 closed

[2021-10-16 12:44] zoeself commented on #1252
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-10-16 12:55] amihaiemil opened #1258 "Set User-Agent Header"
As per Github API documentation, we should set a descriptive User-Agent http header on any request.

[2021-10-16 12:55] zoeself commented on #1258
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-10-26T12:55:38.822221``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-10-16 13:02] #1258 closed, assigned to nobody

[2021-10-16 13:31] zoeself commented on #1258
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-10-17 00:01] zoeself commented on #1243
@criske Don't forget to close this ticket before the deadline (2021-10-22T09:11:37). You are past the first half of the allowed period.

[2021-10-20 12:42] #1243 closed

[2021-10-26 07:23] amihaiemil opened #1262 "Github Comments: Only Handle "Created""
The bot reacts also to deleted or updated. Let's fix it and only react to "created"

[2021-10-30 05:46] amihaiemil opened #1263 "Release 0.0.96"
#1262
#1265
#1267
#1270

[2021-10-30 06:18] #1262 closed

[2021-10-30 06:19] zoeself commented on #1262
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-10-30 06:30] amihaiemil opened #1265 "Handle New Label Event In Steps"
Let's refactor and use Steps

[2021-10-30 06:30] zoeself commented on #1265
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-11-09T06:30:49.336717``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-10-30 06:30] zoeself commented on #1265
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-10-30 07:36] #1265 closed

[2021-10-30 07:36] zoeself opened #1267 "IssueEstimationChanged.java: Write some unit tests for thi..."
The puzzle ``-976295348`` originating from #1265 has to be resolved:

https://github.com/self-xdsd/self-core/blob/3edc2727a3286993bd2eb67186f8ad62ae55a894/self-core-impl/src/main/java/com/selfxdsd/core/managers/IssueEstimationChanged.java#L17-L17

"Write some unit tests for this class.".

The puzzle was created by amihaiemil at ``2021-10-30 10:34:14 +0300``.
Estimation is ``30 minutes``.
If you ha

[2021-10-30 07:36] zoeself opened #1268 "StoredProjectManager.java: In method issueLabelsChanged,..."
The puzzle ``1306422189`` originating from #1265 has to be resolved:

https://github.com/self-xdsd/self-core/blob/3edc2727a3286993bd2eb67186f8ad62ae55a894/self-core-impl/src/main/java/com/selfxdsd/core/managers/StoredProjectManager.java#L52-L54

"In method issueLabelsChanged, use the step IssueIsClosed before doing anything else. We shouldn't act on labeled/unlabeled if the Issue is closed.".

The

[2021-10-30 07:36] zoeself opened #1269 "StoredProjectManager.java: Send a comment after updating..."
The puzzle ``707400492`` originating from #1265 has to be resolved:

https://github.com/self-xdsd/self-core/blob/3edc2727a3286993bd2eb67186f8ad62ae55a894/self-core-impl/src/main/java/com/selfxdsd/core/managers/StoredProjectManager.java#L55-L56

"Send a comment after updating a task's estimation inside issueLabelsChanged.".

The puzzle was created by amihaiemil at ``2021-10-30 10:34:14 +0300``.
Est

[2021-10-30 07:36] zoeself opened #1270 "UpdateTaskEstimation.java: Implement and test the method..."
The puzzle ``2136221581`` originating from #1265 has to be resolved:

https://github.com/self-xdsd/self-core/blob/3edc2727a3286993bd2eb67186f8ad62ae55a894/self-core-impl/src/main/java/com/selfxdsd/core/managers/UpdateTaskEstimation.java#L36-L37

"Implement and test the method perform from this class. It should simply update a task's estimation and forward to the next step.".

The puzzle was create

[2021-10-30 07:36] zoeself opened #1271 "StoredProjectManagerTestCase.java: Unignore/update this test onc..."
The puzzle ``904709704`` originating from #1265 has to be resolved:

https://github.com/self-xdsd/self-core/blob/3edc2727a3286993bd2eb67186f8ad62ae55a894/self-core-impl/src/test/java/com/selfxdsd/core/managers/StoredProjectManagerTestCase.java#L1832-L1833

"Unignore/update this test once the whole functionality is refactored to use Steps.".

The puzzle was created by amihaiemil at ``2021-10-30 10:

[2021-10-30 07:40] zoeself commented on #1267
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-11-09T07:39:59.167152``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-10-30 07:40] zoeself commented on #1268
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-11-09T07:40:02.362991``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-10-30 07:40] zoeself commented on #1269
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-11-09T07:40:05.497638``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-10-30 07:40] zoeself commented on #1270
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-11-09T07:40:08.602691``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-10-30 07:40] zoeself commented on #1271
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-11-09T07:40:12.077754``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-10-30 07:49] zoeself commented on #1265
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-10-31 07:05] zoeself opened #1273 "InMemoryWallets.java: As soon as we have the Stripe..."
The puzzle ``500349511`` originating from #499 has to be resolved:

https://github.com/self-xdsd/self-core/blob/463720b89b643c46b86a2ad4ab562e127b52b6c0/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryWallets.java#L41-L43

"As soon as we have the Stripe wallet implemented, modify the register(...) method here to take it into account, according to the given type (at the moment, it alway

[2021-10-31 07:05] zoeself opened #1274 "Paged.java: Provide paging implementation..."
The puzzle ``125101892`` originating from #462 has to be resolved:

https://github.com/self-xdsd/self-core/blob/463720b89b643c46b86a2ad4ab562e127b52b6c0/self-api/src/main/java/com/selfxdsd/api/storage/Paged.java#L9-L11

"Provide paging implementation for other Self entities: Contracts, Invoices, InvoicedTasks, Tasks. As guidance use implementation for Projects: Pm/User/InMemoryProjects.".

The puz

[2021-10-31 07:05] zoeself opened #1275 "Invoices.java: . Finish writing custom Self ..."
The puzzle ``1025420096`` originating from #552 has to be resolved:

https://github.com/self-xdsd/self-core/blob/463720b89b643c46b86a2ad4ab562e127b52b6c0/self-api/src/main/java/com/selfxdsd/api/Invoices.java#L10-L12

". Finish writing custom Self Exception for Invoices (InvoicesException). Also include the already written InvoiceException into InvoicesExceptions as InvoicesException.Single.".

The

[2021-10-31 07:05] #1270 closed

[2021-10-31 07:05] zoeself commented on #1270
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-10-31 07:06] amihaiemil commented on #1275
@zoeself remove

[2021-10-31 07:06] zoeself commented on #1275
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-10-31 07:06] amihaiemil commented on #1274
@zoeself remove

[2021-10-31 07:06] zoeself commented on #1274
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-10-31 07:06] amihaiemil commented on #1273
@zoeself remove

[2021-10-31 07:06] zoeself commented on #1273
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-10-31 07:09] #1273 closed

[2021-10-31 07:09] #1274 closed

[2021-10-31 07:09] #1275 closed

[2021-10-31 07:19] zoeself opened #1277 "InMemoryTasksTestCase.java: Finish 'getTasksOfContributor..."
The puzzle ``-1554067189`` originating from #135 has to be resolved:

https://github.com/self-xdsd/self-core/blob/192f92a7ae5778818ad212fc071713c5294d50c1/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryTasksTestCase.java#L39-L41

"Finish 'getTasksOfContributor()' test case when API permits that; as in when a Task can be assigned to a Contributor.".

The puzzle was created by cristianp

[2021-10-31 07:19] #1267 closed

[2021-10-31 07:19] zoeself commented on #1267
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-10-31 07:19] zoeself commented on #1267
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-10-31 07:19] amihaiemil commented on #1277
@zoeself remove

[2021-10-31 07:19] zoeself commented on #1270
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-10-31 07:19] zoeself commented on #1277
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-10-31 07:27] #1277 closed

[2021-10-31 07:59] #881 closed

[2021-10-31 07:59] zoeself commented on #881
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-10-31 07:59] #868 closed

[2021-10-31 08:00] #871 closed

[2021-11-01 07:20] amihaiemil opened #1278 "Use Global HttpClient"
To avoid occasional BindException as explained [here](https://stackoverflow.com/questions/69526152/jdk-11-httpclient-bindexception-cannot-assign-requested-address/69526574#69526574).

[2021-11-01 07:20] zoeself commented on #1278
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-11-11T07:20:18.649178``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-11-01 07:20] zoeself commented on #1278
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-11-03 09:27] amihaiemil commented on #1268
@zoeself resign

[2021-11-03 09:27] zoeself commented on #1268
@amihaiemil ok, I'll find someone else to take care of it.

[2021-11-03 09:27] amihaiemil commented on #1269
@zoeself resign

[2021-11-03 09:27] zoeself commented on #1269
@amihaiemil ok, I'll find someone else to take care of it.

[2021-11-03 09:27] amihaiemil commented on #1271
@zoeself resign

[2021-11-03 09:27] zoeself commented on #1271
@amihaiemil ok, I'll find someone else to take care of it.

[2021-11-03 09:31] zoeself commented on #1268
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-11-13T09:31:38.919834``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-11-03 09:31] zoeself commented on #1269
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-11-13T09:31:41.852543``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-11-03 09:31] zoeself commented on #1271
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-11-13T09:31:44.931423``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-11-06 00:11] zoeself commented on #1278
@amihaiemil Don't forget to close this ticket before the deadline (2021-11-11T07:20:19). You are past the first half of the allowed period.

[2021-11-06 08:45] #1278 closed

[2021-11-06 09:11] zoeself commented on #1278
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-11-07 09:20] amihaiemil commented on #1263
@rultor release it, tag is `0.0.96`

[2021-11-07 09:21] amihaiemil commented on #1263
@zoeself status

[2021-11-07 09:21] zoeself commented on #1263
@amihaiemil this ticket is not registered as a task, therefore I'm not working on it at the moment.

If you want me to take care of it, assign it to me or say "register".

[2021-11-07 09:21] rultor commented on #1263
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25247-962577194)

[2021-11-07 09:25] rultor commented on #1263
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/25247-962577194) (took me 3min)

[2021-11-07 09:54] #1263 closed

[2021-11-07 09:55] amihaiemil opened #1280 "Release 0.0.97"
#1268
#1269
#1271
#1281

[2021-11-07 10:03] amihaiemil opened #1281 "Revise PM messages"
Let's update the messages to reflect the latest functionalities where necessary.

[2021-11-07 10:03] zoeself commented on #1281
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-11-17T10:03:48.463950``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-11-07 10:03] zoeself commented on #1281
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-11-08 00:00] zoeself commented on #1268
@criske Don't forget to close this ticket before the deadline (2021-11-13T09:31:39). You are past the first half of the allowed period.

[2021-11-08 00:00] zoeself commented on #1269
@criske Don't forget to close this ticket before the deadline (2021-11-13T09:31:42). You are past the first half of the allowed period.

[2021-11-08 00:00] zoeself commented on #1271
@criske Don't forget to close this ticket before the deadline (2021-11-13T09:31:45). You are past the first half of the allowed period.

[2021-11-09 06:32] criske commented on #1269
@zoeself waiting for #1268

[2021-11-09 06:32] zoeself commented on #1269
@criske didn't understand that, sorry.

[2021-11-10 11:02] #1268 closed

[2021-11-10 11:02] zoeself commented on #1268
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-11-10 11:30] zoeself commented on #1268
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-11-12 00:00] zoeself commented on #1281
@amihaiemil Don't forget to close this ticket before the deadline (2021-11-17T10:03:48). You are past the first half of the allowed period.

[2021-11-12 15:22] #1269 closed

[2021-11-12 15:22] zoeself commented on #1269
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-11-12 15:30] zoeself commented on #1269
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-11-12 15:41] amihaiemil commented on #1271
@zoeself remove

[2021-11-12 15:41] zoeself commented on #1271
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-11-12 15:41] amihaiemil commented on #1271
@zoeself add

[2021-11-12 15:42] zoeself commented on #1271
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-11-12 15:43] amihaiemil commented on #1271
@criske when sending the 'Estimation updated' comment, can we make it more detailed please? :D

Something like: "Estimation was changed from x min to y min at <<timestamp>>".

Timestamp is needed because the bot will not post the same comment twice, normally, but in this case we want to allow duplicated comments in case the user changes his mind and goes back to the previous estimation or whatever

[2021-11-12 15:51] zoeself commented on #1271
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-11-22T15:51:11.797474``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-11-14 05:47] #1271 closed

[2021-11-14 05:47] zoeself commented on #1271
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-11-14 06:00] zoeself commented on #1271
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-11-14 06:35] #1281 closed

[2021-11-14 06:36] zoeself opened #1286 "StoredContributor.java: At the moment, method billing..."
The puzzle ``1542307520`` originating from #985 has to be resolved:

https://github.com/self-xdsd/self-core/blob/012d1ec3ae740d51938f7ed2b22d3167458da32c/self-core-impl/src/main/java/com/selfxdsd/core/contributors/StoredContributor.java#L48-L52

"At the moment, method billingInfo() here always reads the BillingInfo from the Stripe PayoutMethod if it exists. When we will have more types of PayoutMe

[2021-11-14 06:40] amihaiemil commented on #1286
@zoeself remove

[2021-11-14 06:40] zoeself commented on #1286
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-11-14 06:40] #1286 closed

[2021-11-14 06:58] amihaiemil opened #1287 "Ignore Comment If Type Is Bot"
Github and GitLab give us this information, let's use it and ignore any comment coming from a user with type bot.

[2021-11-14 06:58] zoeself commented on #1287
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-11-24T06:58:12.303626``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-11-14 06:58] zoeself commented on #1287
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-11-14 06:58] amihaiemil commented on #1280
@rultor release it, tag is `0.0.97`

[2021-11-14 06:59] amihaiemil opened #1288 "Release 0.0.98"
#1291 - new company address after 15 August 2022
#1294 - new BNR fallback rate

[2021-11-14 07:00] rultor commented on #1280
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25253-968218517)

[2021-11-14 07:01] zoeself commented on #1281
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-11-14 07:05] rultor commented on #1280
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/25253-968218517) (took me 4min)

[2021-11-19 00:00] zoeself commented on #1287
@amihaiemil Don't forget to close this ticket before the deadline (2021-11-24T06:58:12). You are past the first half of the allowed period.

[2021-11-24 07:00] zoeself commented on #1287
@amihaiemil Looks like you've missed the task deadline (2021-11-24T06:58:12). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-11-24 07:01] zoeself commented on #1287
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-11-27 21:53] zoeself commented on #1287
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-11-27 22:23] zoeself commented on #1219
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-11-27 22:23] zoeself commented on #1287
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-11-27 22:31] zoeself commented on #1217
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-04-03 15:32] amihaiemil opened #1289 "Descripe Architecture"
Let's write a short ``architecture.md`` file describing the object model and architecture of the core.

[2022-04-03 15:32] zoeself commented on #1289
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-04-13T15:32:17.693618``.

Estimation here is ``90 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2022-04-03 15:32] zoeself commented on #1289
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2022-04-03 15:32] amihaiemil commented on #1289
@criske wanna do it when you have some time? I'm curious how someone else besides me understands this architecture :D

[2022-04-08 00:00] zoeself commented on #1289
@criske Don't forget to close this ticket before the deadline (2022-04-13T15:32:18). You are past the first half of the allowed period.

[2022-04-13 16:00] zoeself commented on #1289
@criske Looks like you've missed the task deadline (2022-04-13T15:32:18). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2022-06-01 15:49] amihaiemil commented on #1289
@zoeself status

[2022-06-02 15:01] amihaiemil commented on #1289
@zoeself status

[2022-06-02 15:01] zoeself commented on #1289
@amihaiemil this ticket is registered as a task, I will assign it to someone soon.Needed role here is ``DEV`` and estimation is ``90`` minutes.

[2022-08-06 12:18] amihaiemil commented on #1288
@zoeself status

[2022-08-06 12:18] zoeself commented on #1288
@amihaiemil this ticket is not registered as a task, therefore I'm not working on it at the moment.

If you want me to take care of it, assign it to me or say "register".

[2022-08-22 14:23] amihaiemil commented on #1289
@zoeself status

[2022-08-23 16:53] amihaiemil opened #1291 "Update Company Address"
Let's update it

[2022-08-23 16:53] zoeself commented on #1291
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-09-02T16:53:24.372171``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2022-08-23 16:53] zoeself commented on #1291
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2022-08-27 06:51] zoeself commented on #1180
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-08-28 00:00] zoeself commented on #1291
@amihaiemil Don't forget to close this ticket before the deadline (2022-09-02T16:53:24). You are past the first half of the allowed period.

[2022-08-29 15:47] #1291 closed

[2022-08-29 15:56] #1280 closed

[2022-08-29 15:56] amihaiemil opened #1293 "Release 0.0.99"
#1287

[2022-08-29 16:00] zoeself commented on #1291
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2022-08-29 16:04] amihaiemil opened #1294 "BNR Fallback To 485"
Let's adjust the fallback rate to reflect reality better.

[2022-08-29 16:04] zoeself commented on #1294
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-09-08T16:04:28.011376``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2022-08-29 16:14] #1294 closed

[2022-08-29 16:18] amihaiemil commented on #1288
@rultor release it, tag is `0.0.98`

[2022-08-29 16:22] rultor commented on #1288
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/26627-1230536876) (took me 3min)

[2022-08-29 16:25] #1288 closed

[2022-08-29 16:30] zoeself commented on #1294
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2022-09-07 13:00] amihaiemil commented on #1293
@zoeself status

[2022-09-07 13:00] zoeself commented on #1293
@amihaiemil this ticket is not registered as a task, therefore I'm not working on it at the moment.

If you want me to take care of it, assign it to me or say "register".

[2022-10-29 23:13] amihaiemil opened #1296 "Let's implement Email Notifications"
We'll start with a notification for the admin, for each new PlatformInvoice. Let's use MailJet.

[2022-10-29 23:13] zoeself commented on #1296
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-11-08T23:13:27.567103``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2022-10-29 23:13] zoeself commented on #1296
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2022-10-29 23:23] #1296 closed

[2022-10-29 23:23] zoeself opened #1298 "MailjetEmailNotifications.java: Write unit tests for this cla..."
The puzzle ``139229806`` originating from #1296 has to be resolved:

https://github.com/self-xdsd/self-core/blob/0b7ba136070d96c725646b9626dbd67ec1f8ea47/self-core-impl/src/main/java/com/selfxdsd/core/MailjetEmailNotifications.java#L44-L45

"Write unit tests for this class, as well as for class PlatformInvoiceEmailnotification.".

The puzzle was created by amihaiemil at ``2022-10-30 02:17:44 +0300

[2022-10-29 23:23] zoeself opened #1299 "MailjetEmailNotifications.java: Use this class to send e-mail..."
The puzzle ``-323164990`` originating from #1296 has to be resolved:

https://github.com/self-xdsd/self-core/blob/0b7ba136070d96c725646b9626dbd67ec1f8ea47/self-core-impl/src/main/java/com/selfxdsd/core/MailjetEmailNotifications.java#L46-L47

"Use this class to send e-mails as soon as a real payment is successful. We should do it in a Wallet decorator.".

The puzzle was created by amihaiemil at ``2

[2022-10-29 23:30] zoeself commented on #1298
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-10-29 23:30] zoeself commented on #1299
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-10-29 23:49] zoeself commented on #1296
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2022-10-31 18:15] zoeself opened #1301 "StoredInvoice.java: Modify the PDF template and t..."
The puzzle ``-44920864`` originating from #826 has to be resolved:

https://github.com/self-xdsd/self-core/blob/8969d46abdeaf4ea50c0c805ae0822ccccd9a219/self-core-impl/src/main/java/com/selfxdsd/core/contracts/invoices/StoredInvoice.java#L30-L32

"Modify the PDF template and the code in toPdf() such that more tasks are written on more pages. At the moment only 40 tasks are written to the 1-page PD

[2022-10-31 18:15] zoeself opened #1302 "MailjetEmailNotifications.java: Write unit tests for this cla..."
The puzzle ``-1538671622`` originating from #1298 has to be resolved:

https://github.com/self-xdsd/self-core/blob/8969d46abdeaf4ea50c0c805ae0822ccccd9a219/self-core-impl/src/main/java/com/selfxdsd/core/MailjetEmailNotifications.java#L44-L44

"Write unit tests for this class, using Grizzly mock server.".

The puzzle was created by amihaiemil at ``2022-10-31 20:11:21 +0200``.
Estimation is ``60 min

[2022-10-31 18:15] #1298 closed

[2022-10-31 18:15] zoeself commented on #1298
Puzzle disappeared from the code, that's why I closed this ticket.

[2022-10-31 18:20] zoeself commented on #1301
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-10-31 18:20] zoeself commented on #1302
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-10-31 18:35] #874 closed