[2020-05-16 08:30] amihaiemil opened #1 "Project Skeleton"
It should be a Maven project with 2 modules: the API module containing all the interfaces, and a second module containing the core implementation.

[2020-05-16 08:44] #1 closed

[2020-05-16 08:45] amihaiemil opened #3 "API Skeleton"
The Java Interfaces skeleton should be implemented

[2020-05-16 09:12] amihaiemil opened #5 "Setup Checkstyle"
For static code analysis.

[2020-05-16 09:41] #5 closed

[2020-05-16 09:42] amihaiemil opened #7 "Setup Travis, Rultor and 0pdd"
Let's set them up.

[2020-05-16 10:05] amihaiemil commented on #7
done

[2020-05-16 10:05] #7 closed

[2020-05-16 10:06] amihaiemil opened #8 "Setup Jacoco/Coveralls Coverage"
Once we have some code, setup Jacacoco for code coverate calcualtion and send the report to coveralls.io to display in the README badge.

[2020-05-16 10:22] #3 closed

[2020-05-16 10:28] 0pdd opened #10 "Project.java:12-14: Continue implementing Self's API..."
The puzzle `3-66625a17` from #3 has to be resolved:

https://github.com/self-xdsd/self-core/blob/8ad0a0c0c3b6a637cd420371257dd68d11dbdb50/self-api/src/main/java/com/selfxdsd/api/Project.java#L12-L14

The puzzle was created by @amihaiemil on 16-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-05-16 10:28] 0pdd commented on #10
@amihaiemil please pay attention to this new issue.

[2020-05-16 11:37] #10 closed

[2020-05-16 11:37] 0pdd opened #12 "Project.java:34-36: Continue implementing Self's API..."
The puzzle `10-7b5d7cf5` from #10 has to be resolved:

https://github.com/self-xdsd/self-core/blob/604f80abddd4d74ff9e17a573974dc774013372b/self-api/src/main/java/com/selfxdsd/api/Project.java#L34-L36

The puzzle was created by @amihaiemil on 16-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-05-16 11:37] 0pdd commented on #12
@amihaiemil please pay attention to this new issue.

[2020-05-16 11:37] 0pdd opened #13 "Self.java:29-31: Start implementing these interfaces. We..."
The puzzle `10-6d2570b5` from #10 has to be resolved:

https://github.com/self-xdsd/self-core/blob/604f80abddd4d74ff9e17a573974dc774013372b/self-api/src/main/java/com/selfxdsd/api/Self.java#L29-L31

The puzzle was created by @amihaiemil on 16-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-05-16 11:38] 0pdd commented on #13
@amihaiemil please pay attention to this new issue.

[2020-05-16 13:17] #13 closed

[2020-05-16 13:17] 0pdd opened #15 "GithubSelf.java:38-40: Implement User.repos(). It should..."
The puzzle `13-b311c7f8` from #13 has to be resolved:

https://github.com/self-xdsd/self-core/blob/e8313b595e44eb3d86868787cc87a41613adf5a3/self-core-impl/src/main/java/com/selfxdsd/core/GithubSelf.java#L38-L40

The puzzle was created by @amihaiemil on 16-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2020-05-16 13:17] 0pdd commented on #15
@amihaiemil please pay attention to this new issue.

[2020-05-16 13:17] 0pdd opened #16 "InMemory.java:33-36: Write unit tests for all the..."
The puzzle `13-32838750` from #13 has to be resolved:

https://github.com/self-xdsd/self-core/blob/e8313b595e44eb3d86868787cc87a41613adf5a3/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemory.java#L33-L36

The puzzle was created by @amihaiemil on 16-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2020-05-16 13:17] 0pdd commented on #16
@amihaiemil please pay attention to this new issue.

[2020-05-16 13:23] amihaiemil commented on #15
typo in the puzzle: Repos should represent the user's repositor**ies**

[2020-05-16 13:54] amihaiemil commented on #8
done

[2020-05-16 13:54] #8 closed

[2020-05-16 15:51] amihaiemil opened #19 "Use Java 11"
Let's use Java 11, we'll use the HTTP Client it introduces: https://openjdk.java.net/groups/net/httpclient/intro.html

[2020-05-16 15:55] #15 closed

[2020-05-16 15:55] 0pdd opened #20 "GithubSelf.java:37-40: Implement User.repos(). It should..."
The puzzle `15-5c5b51d8` from #15 has to be resolved:

https://github.com/self-xdsd/self-core/blob/62a0f94ea7fe212f4f331a49fe49760a7d32038f/self-core-impl/src/main/java/com/selfxdsd/core/GithubSelf.java#L37-L40

The puzzle was created by @amihaiemil on 16-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2020-05-16 15:55] 0pdd commented on #20
@amihaiemil please pay attention to this new issue.

[2020-05-16 15:55] 0pdd opened #21 "GithubRepo.java:36-38: Implement and test activation of..."
The puzzle `15-b8fdffc7` from #15 has to be resolved:

https://github.com/self-xdsd/self-core/blob/62a0f94ea7fe212f4f331a49fe49760a7d32038f/self-core-impl/src/main/java/com/selfxdsd/core/GithubRepo.java#L36-L38

The puzzle was created by @amihaiemil on 16-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2020-05-16 15:55] 0pdd commented on #21
@amihaiemil please pay attention to this new issue.

[2020-05-16 16:10] #19 closed

[2020-05-17 07:45] amihaiemil opened #24 "Configure Rultor Release and Deployment"
We should release it to Github Packages

[2020-05-17 18:45] #20 closed

[2020-05-17 18:45] 0pdd commented on #20
The puzzle `15-5c5b51d8` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-17 18:45] 0pdd opened #26 "Github.java:35-37: Implemented method repo(). Write unit..."
The puzzle `20-8927304b` from #20 has to be resolved:

https://github.com/self-xdsd/self-core/blob/5454f522d5a6a0aabfdb873d14e49e9e5789d2ba/self-core-impl/src/main/java/com/selfxdsd/core/Github.java#L35-L37

The puzzle was created by @amihaiemil on 17-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-05-17 18:45] 0pdd commented on #26
@amihaiemil please pay attention to this new issue.

[2020-05-17 20:00] #26 closed

[2020-05-17 20:00] 0pdd commented on #26
The puzzle `20-8927304b` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-17 20:00] 0pdd opened #28 "Github.java:36-38: Bring in Gizzly mock HTTP Server (see..."
The puzzle `26-e68b9b1a` from #26 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ee0a7aba03ef762e0938da8d0cfba610886fcf3c/self-core-impl/src/main/java/com/selfxdsd/core/Github.java#L36-L38

The puzzle was created by @amihaiemil on 17-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-05-17 20:00] 0pdd commented on #28
@amihaiemil please pay attention to this new issue.

[2020-05-17 20:20] amihaiemil opened #29 "Implement ProjectManager"
Let's start with a PM by having a Github Access Token and some Projects assigned to it.

[2020-05-18 15:49] 0pdd opened #31 "StoredProjectManager.java:34-36: Implement the..."
The puzzle `29-494905a9` from #29 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ef44858c55ac86905ea0da7cafa1c1a4737cdc11/self-api/src/main/java/com/selfxdsd/api/StoredProjectManager.java#L34-L36

The puzzle was created by @amihaiemil on 18-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2020-05-18 15:49] 0pdd commented on #31
@amihaiemil please pay attention to this new issue.

[2020-05-18 15:49] 0pdd opened #32 "InMemory.java:36-38: Implement the projects() storage. A..."
The puzzle `29-ee978689` from #29 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ef44858c55ac86905ea0da7cafa1c1a4737cdc11/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemory.java#L36-L38

The puzzle was created by @amihaiemil on 18-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2020-05-18 15:49] 0pdd commented on #32
@amihaiemil please pay attention to this new issue.

[2020-05-18 15:51] #29 closed

[2020-05-18 16:01] amihaiemil opened #33 "Fetch the json on Repo Creation"
At the moment the json is fetched when calling ``Repo.json()``. It's better if we fetch it on creation, because the ``json()`` method might be called multiple times.

[2020-05-18 16:21] #33 closed

[2020-05-18 17:12] #21 closed

[2020-05-18 17:13] 0pdd commented on #21
The puzzle `15-b8fdffc7` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-18 20:26] amihaiemil opened #36 "Start implementing GitLab Provider."
Following the pattern of the Github Provider, we should implement one for GitLab as well. First, we should check the API of GitLab and see how we can fetch a Repo, assign Issues etc.

[2020-05-18 21:41] #32 closed

[2020-05-18 21:42] 0pdd commented on #32
The puzzle `29-ee978689` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-19 10:27] criske commented on #16
I'll give a try

[2020-05-19 10:45] amihaiemil commented on #16
@criske remember, you don't have to solve the task completely. Start with a few tests and leave a todo in the code, which will become the next task.

[2020-05-19 12:58] #16 closed

[2020-05-19 12:58] 0pdd commented on #16
The puzzle `13-32838750` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-19 12:58] 0pdd opened #39 "InMemoryTestCase.java:18-20: Continue writing unit tests..."
The puzzle `16-dcb763b9` from #16 has to be resolved:

https://github.com/self-xdsd/self-core/blob/63a4615b45f656e8d02ecdfdf0adc78eabe75b55/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryTestCase.java#L18-L20

The puzzle was created by @amihaiemil on 19-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task w

[2020-05-19 12:58] 0pdd commented on #39
@amihaiemil please pay attention to this new issue.

[2020-05-19 13:03] amihaiemil commented on #32
@criske Thanks for solving this. Send me your PayPal e-mail address, please :)

[2020-05-19 13:04] amihaiemil commented on #16
@criske Thanks for solving this. Send me your PayPal e-mail address, please :)

[2020-05-19 17:48] amihaiemil opened #41 "Create package storage in slef-api"
Since the Storage is quite a separate concern and it also has a few concrete classes, it should be in its own package: ``com.selfxdsd.api.storage``

[2020-05-19 17:49] #31 closed

[2020-05-19 17:49] 0pdd commented on #31
The puzzle `29-494905a9` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-19 17:49] 0pdd opened #42 "StoredProject.java:33-35: Implement the deactivate method..."
The puzzle `31-902d1319` from #31 has to be resolved:

https://github.com/self-xdsd/self-core/blob/57732c637f0b9f8983317232da525f1ff7c716d9/self-api/src/main/java/com/selfxdsd/api/StoredProject.java#L33-L35

The puzzle was created by @amihaiemil on 19-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-05-19 17:49] 0pdd commented on #42
@amihaiemil please pay attention to this new issue.

[2020-05-19 18:00] #41 closed

[2020-05-19 19:12] #12 closed

[2020-05-19 19:12] 0pdd commented on #12
The puzzle `10-7b5d7cf5` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-19 19:12] 0pdd opened #45 "StoredProject.java:41-43: Method contracts(). Continue..."
The puzzle `12-9eb2412e` from #12 has to be resolved:

https://github.com/self-xdsd/self-core/blob/29ea51e8acc63624074eb32637044c027022dd78/self-api/src/main/java/com/selfxdsd/api/storage/StoredProject.java#L41-L43

The puzzle was created by @amihaiemil on 19-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-05-19 19:12] 0pdd commented on #45
@amihaiemil please pay attention to this new issue.

[2020-05-20 08:15] criske commented on #36
I'll take it

[2020-05-20 08:26] amihaiemil commented on #36
@criske I suggest to start with very little code. First, check GitLab's RESTful API and see how we can fetch a Repo, its Issues etc.

Document what you find here, in this ticket, please :)

[2020-05-20 08:54] criske commented on #36
To get all repos owned by an autheticated user:  https://gitlab.com/api/v4/projects/?owned=1
To get one repo:   https://gitlab.com/api/v4/projects/:repoId

**Very important**: all these calls must have in their header either a private-token or a oauth access- token. I've tested with private-token
https://docs.gitlab.com/ee/api/#personalproject-access-tokens

[2020-05-20 08:57] amihaiemil commented on #36
@criske and is there a way to get the **public** repos, or one public repo of a User without authentication? GitHub allows us to do that, I think GitLab should allow it as well :D

[2020-05-20 09:05] criske commented on #36
Is possible, but in that case I think we'll have to use the gitlab domain associated to that user (like: gitlab.example.com), and that will brake the User API.
I will dig more, I'm new to Gitlab.

[2020-05-20 09:08] amihaiemil commented on #36
@criske

No, I don't think so. We'll work only with the public GitLab, at GitLab.com.

[2020-05-20 09:12] amihaiemil commented on #36
@criske As far as I can see, we can read the public Repos with by accessing https://gitlab.com/api/v4/projects/

So surely, there must be a way to get the public repos of a user, too.

It's enough info for now, thanks! I'll send you the bounty for doing this documentation work and then we can start with the code.

[2020-05-20 09:13] criske commented on #36
Without auth, only public repos:  https://gitlab.com/api/v4/users/:userName/projects/

[2020-05-20 09:13] amihaiemil commented on #36
@criske perfect, thanks

[2020-05-20 09:16] criske commented on #36
One more thing, just checked: if we attach the access token to that endpoint, it will list the private repos too.

[2020-05-20 15:15] 0pdd opened #47 "Gitlab.java:37: Continue adding integration tests for..."
The puzzle `27-ef64e245` from #27 has to be resolved:

https://github.com/self-xdsd/self-core/blob/bf48b434e2fd44a2a2aacafe7315959d97b83b31/self-core-impl/src/main/java/com/selfxdsd/core/Gitlab.java#L37-L37

The puzzle was created by cristianpela on 20-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2020-05-20 15:15] 0pdd commented on #47
@amihaiemil please pay attention to this new issue.

[2020-05-20 15:21] amihaiemil commented on #36
@criske Thank you for solving this!

[2020-05-20 15:21] #36 closed

[2020-05-20 16:36] amihaiemil opened #48 "Move self-api to its own repository"
It's quite clear that more modules will depend on ``self-api`` (for instance, the Storage module).

Let's move it to its own repository once we have a first stable version.

[2020-05-20 17:56] 0pdd opened #50 "StoredProject.java:44-47: Implement method..."
The puzzle `45-26649917` from #45 has to be resolved:

https://github.com/self-xdsd/self-core/blob/86bf41fc4cd02264c000305d3d8cc1dc79c6734d/self-api/src/main/java/com/selfxdsd/api/storage/StoredProject.java#L44-L47

The puzzle was created by @amihaiemil on 20-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-05-20 17:56] 0pdd commented on #50
@amihaiemil please pay attention to this new issue.

[2020-05-20 19:39] #50 closed

[2020-05-20 19:39] 0pdd commented on #50
The puzzle `45-26649917` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-20 20:23] #45 closed

[2020-05-20 20:23] 0pdd commented on #45
The puzzle `12-9eb2412e` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-20 20:23] 0pdd opened #53 "InMemoryContracts.java:36-38: Implement this class and..."
The puzzle `42-89e036d3` from #45 has to be resolved:

https://github.com/self-xdsd/self-core/blob/f206cd3aa5d7f66961e062d0dd8d41fb9dd8c6e7/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryContracts.java#L36-L38

The puzzle was created by @amihaiemil on 20-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-05-20 20:23] 0pdd commented on #53
@amihaiemil please pay attention to this new issue.

[2020-05-21 05:58] amihaiemil commented on #53
@criske Do you want to solve this? It shouldn't be hard to implement. A Contract is basically the association (many-to-many) between a Project and a Contributor. It's primary key should be the project id and the contributor id.

[2020-05-21 06:10] amihaiemil opened #54 "Rename GithubSelf to SelfCore"
There should be only 1 Self implementation, the core one, offering authentication methods for all providers.

[2020-05-21 06:41] criske commented on #53
Sure, I'll take it

[2020-05-21 07:54] #54 closed

[2020-05-21 08:23] amihaiemil commented on #48
Actually, we probably should not do this because the storage module will also need classes such as GithubRepo and others, to deliver all the objects. We'll see.

[2020-05-21 09:00] amihaiemil commented on #24
@rultor deploy it

[2020-05-21 09:02] rultor commented on #24
@amihaiemil OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22131-631972437)

[2020-05-21 09:03] rultor commented on #24
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22131-631972437) (spent 2min)

[code]

[2020-05-21 09:05] amihaiemil commented on #24
@rultor deploy it

[2020-05-21 09:06] rultor commented on #24
@amihaiemil OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22131-631974625)

[2020-05-21 09:08] rultor commented on #24
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22131-631974625) (spent 2min)

[code]

[2020-05-21 13:04] amihaiemil opened #59 "Implement Projects::User.projects()"
Let's implement it.

[2020-05-21 13:31] amihaiemil opened #60 "Implement PmProjects"
PmProjects will implement Projects and will represent the projects assigned to a certain ProjectManager.

[2020-05-21 16:48] #53 closed

[2020-05-21 16:48] 0pdd commented on #53
The puzzle `42-89e036d3` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-21 17:34] amihaiemil commented on #60
@criske Ce incerc sa fac e sa nu "sparg" interfetele. De exemplu exista, ``Projects.assignedTo(projectManagerId)`` care intuitiv ar returna o Lista de Project. Dar nu vreau sa fac asta, vreau sa returnez tot o instanta de ``Projects`` care sa reprezinte proiectele PM-ului.

Dar imi dau seama acum ca nu e deloc usor, intervin inclusiv probleme de paginare...

Nici nu vreau sa returnez o simpla List

[2020-05-21 18:16] criske commented on #60
Nu imi este clar un lucru: ce o sa returneze
 `projects.assignedTo(projectManagerId).ofUser(user).assignedTo(otherProjectManagerId).`  Va lua in considerare si `user` cand va efetua query-ul?
Interesant articolul, btw :)

[2020-05-21 19:02] amihaiemil commented on #60
@criske da, ideea ar fi ca daca se chain-uiesc mai multe call-uri se ia in considerare tot contextul:

``projects.assignedTo(projectManagerId).ofUser(user).assignedTo(otherProjectManagerId)`` -- asta intotdeauna ar returna ``Projects.Empty``, deoarece avem o data proiectele manage-uite de primul, dintre care le luam pe cele ale unui anumit user (dar, din nou, ele sunt manage-uite de primul), asa c

[2020-05-21 19:21] criske commented on #60
Mersi de explicatie, maine cred ca o sa deschid un issue sa rescriu InMemoryContracts.

[2020-05-21 19:22] amihaiemil commented on #60
@criske o sa continui cu ce avem, chiar daca m-am lovit acum de niste probleme, sa nu stau blocat. Dar numai ca idee, daca chiar nu iese, vor fi niste schimbari maricele, haha

[2020-05-22 10:49] #60 closed

[2020-05-22 12:35] criske opened #63 "Make Self.java unaware of different platform logins."
Instead of having a `githubLogin(...)` `gitlabLogin(...)` , we could have a single method like `login(Login)`
where implementations of Login will take care of that logic (`GithubLogin`, `GitlabLogin` etc).
`Login` interface would have single a method `signUp(Storage)`.
Also the `signUp` helper method from SelfCore could be moved to an abstract BaseLogin class.

This way the Self API will not chang

[2020-05-22 13:12] amihaiemil commented on #63
@criske it might be a good idea. Let's mark it as an enhancement, but postpone it for now. I want to focus on getting a first complete version of the core, first.

[2020-05-22 13:53] 0pdd opened #65 "UserProjects.java:39-42: Implement and test method..."
The puzzle `59-f2a3b904` from #59 has to be resolved:

https://github.com/self-xdsd/self-core/blob/357d69f409abca15a1b466279b878cd6b08fcbbc/self-core-impl/src/main/java/com/selfxdsd/core/projects/UserProjects.java#L39-L42

The puzzle was created by @amihaiemil on 22-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task w

[2020-05-22 13:53] 0pdd commented on #65
@amihaiemil please pay attention to this new issue.

[2020-05-22 13:57] amihaiemil opened #66 "Implement ProjectManager.provider"
One ProjectManager works on only 1 platform (github, gitlab etc)

[2020-05-22 16:17] amihaiemil opened #68 "Take provider into account when picking a PM"
We should take the provider into account when choosing a PM for a Repo - e.g. if it's a Github Repo, then only PMs working at Github should be considered.

[2020-05-22 16:24] #66 closed

[2020-05-22 16:25] amihaiemil commented on #59
this is done

[2020-05-22 16:25] #59 closed

[2020-05-22 16:49] amihaiemil opened #69 "Move StoredProject and StoredProjectManager to Core"
self-api should hold only interfaces

[2020-05-22 19:44] #69 closed

[2020-05-23 06:54] amihaiemil opened #71 "Refactor InMemoryContracts"
Let's simplify it and add todos for what is missing.

[2020-05-23 07:07] #71 closed

[2020-05-23 07:07] 0pdd opened #73 "InMemoryContracts.java:37-40: Implement method..."
The puzzle `71-377a5e3f` from #71 has to be resolved:

https://github.com/self-xdsd/self-core/blob/a933d6f5fc179c94112956381d2189b4f9c07dd7/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryContracts.java#L37-L40

The puzzle was created by @amihaiemil on 23-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-05-23 07:07] 0pdd commented on #73
@amihaiemil please pay attention to this new issue.

[2020-05-23 07:27] amihaiemil opened #74 "Implement Contracts.ofContributor"
Let's implement it

[2020-05-23 07:45] #74 closed

[2020-05-23 08:34] criske commented on #73
sign me up

[2020-05-23 08:52] amihaiemil commented on #73
@criske I've already fixed this with PR #76. I'll give you the next one :D

[2020-05-23 08:57] #73 closed

[2020-05-23 08:57] 0pdd commented on #73
The puzzle `71-377a5e3f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-23 08:57] 0pdd opened #77 "InMemoryContracts.java:39-40: Implement method..."
The puzzle `73-94622f1f` from #73 has to be resolved:

https://github.com/self-xdsd/self-core/blob/0bfe7df343e13cbceb4d7887b1e7cdb5b5e6aef7/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryContracts.java#L39-L40

The puzzle was created by @amihaiemil on 23-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-05-23 08:57] 0pdd commented on #77
@amihaiemil please pay attention to this new issue.

[2020-05-23 09:00] criske commented on #77
sign me up :D

[2020-05-23 09:00] amihaiemil commented on #77
@criske Remember, you don't have to implement all the dependencies. Just implementing this method insinde ``InMemoryContracts`` is enough. It should first check if the Project and the Contributor exist in the Storage. If they do not exist, throw an exception. If they do, save the Contract and that's it.

[2020-05-23 09:07] criske commented on #77
Right now we can't get the Contributor from storage. Can I use a placeholder with TODO in InMemoryContracts to always return a contributor, until `storage.contributors` is added to API?

[2020-05-23 09:09] amihaiemil commented on #77
@criske When it comes to dependencies, there are 2 ways you can do it:

1. Use mocks/placeholders and TODOs (your suggestion)
2. Start with the dependencies instead. So even if the task says "implement method addContract", you can start implementing the Contributors Storage and leave a TODO to continue the initial task.

However you wish : D

[2020-05-23 14:32] #77 closed

[2020-05-23 14:33] 0pdd commented on #77
The puzzle `73-94622f1f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-23 14:33] 0pdd opened #79 "InMemoryContracts.java:40-42: When Storage API has..."
The puzzle `74-6fc04657` from #74 has to be resolved:

https://github.com/self-xdsd/self-core/blob/5f34b2bfe05f1f432571cfe39ff514a7555dc552/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryContracts.java#L40-L42

The puzzle was created by cristianpela on 23-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-05-23 14:33] 0pdd commented on #79
@amihaiemil please pay attention to this new issue.

[2020-05-23 17:10] HoreaPetrila commented on #39
I can take this one.

[2020-05-23 18:10] BogdanAdrian11 commented on #68
I'll take this.

[2020-05-24 06:02] #39 closed

[2020-05-24 06:02] 0pdd commented on #39
The puzzle `16-dcb763b9` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-24 06:02] 0pdd opened #82 "InMemoryProjectsTestCase.java:23-25: Continue writing..."
The puzzle `39-dcb763b9` from #39 has to be resolved:

https://github.com/self-xdsd/self-core/blob/dcf245af1c4e1f526fe84c9064b0cba9d6cbfd0b/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryProjectsTestCase.java#L23-L25

The puzzle was created by HoreaPetrila on 23-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. T

[2020-05-24 06:02] 0pdd commented on #82
@amihaiemil please pay attention to this new issue.

[2020-05-24 06:04] amihaiemil commented on #39
@HoreaPetrila please, send me your PayPal e-mail address :)

[2020-05-24 07:09] amihaiemil commented on #68
@BogdanAdrian11 send me your PayPal e-mail address, please

[2020-05-24 07:11] 0pdd opened #83 "InMemoryProjectManagers.java:38-39: Add ProjectManager..."
The puzzle `68-34d53a58` from #68 has to be resolved:

https://github.com/self-xdsd/self-core/blob/9bd0ea7b1986a12e0e8ef4cc5037829cf26d819b/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryProjectManagers.java#L38-L39

The puzzle was created by Bogdan Adrian on 24-May-20.

Estimate: 20 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. T

[2020-05-24 07:11] 0pdd commented on #83
@amihaiemil please pay attention to this new issue.

[2020-05-24 07:27] amihaiemil commented on #39
paid with transaction ID: 2NC782506L140584T

[2020-05-24 07:32] criske commented on #83
i'll take it

[2020-05-24 07:53] HoreaPetrila commented on #82
Can work on the remaining tests in InMemoryProjectManagers

[2020-05-24 08:06] amihaiemil opened #84 "Contributor's ID should be username + provider"
Same as a User, a Contributor should be identified with a compound PK formed by username + provider.

[2020-05-24 08:07] amihaiemil commented on #79
waiting for #84

[2020-05-24 08:19] amihaiemil commented on #68
paid with transaction ID: 9D8623163J2317806

[2020-05-24 08:19] #68 closed

[2020-05-24 08:41] #83 closed

[2020-05-24 08:41] 0pdd commented on #83
The puzzle `68-34d53a58` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-24 08:41] 0pdd opened #86 "InMemoryProjectManagers.java:38-41: Add to the ability..."
The puzzle `69-62299523` from #69 has to be resolved:

https://github.com/self-xdsd/self-core/blob/08078cf10d7cf9ac216065f1ecc2bb8dbfeb579b/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryProjectManagers.java#L38-L41

The puzzle was created by cristianpela on 24-May-20.

Estimate: 20 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. Th

[2020-05-24 08:41] 0pdd commented on #86
@amihaiemil please pay attention to this new issue.

[2020-05-24 08:51] amihaiemil commented on #83
paid with transaction id: 19J074570N612361L

[2020-05-24 08:51] criske commented on #86
I'll continue to implement this

[2020-05-24 10:11] #84 closed

[2020-05-24 10:30] amihaiemil commented on #63
@criske can you take care of this? I started implementing the web module and it turns out, it would be really useful.

[2020-05-24 10:33] criske commented on #63
Yup

On Sun, May 24, 2020 at 1:30 PM Mihai <notifications@github.com> wrote:

[2020-05-24 11:15] amihaiemil commented on #48
We decided not to separate them since the api and the core will often need to be changed/updated together.

However, they are 2 separate jars which should both be required by the integrated -- we changed the scope of ``self-api`` inside ``self-core-impl`` to ``provided``.

[2020-05-24 11:18] #48 closed

[2020-05-24 11:47] 0pdd commented on #82
The puzzle `39-dcb763b9` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-24 11:47] #82 closed

[2020-05-24 11:48] amihaiemil commented on #82
paid with transaction id 14T67214XV3416901

[2020-05-24 15:03] amihaiemil commented on #63
paid with transaction id: 1B097818PG677570F

thanks!

[2020-05-24 15:03] #63 closed

[2020-05-24 15:04] amihaiemil commented on #86
paid with transaction id 7UP051724B735853W

[2020-05-24 15:05] #86 closed

[2020-05-24 15:05] 0pdd commented on #86
The puzzle `69-62299523` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-24 17:26] 0pdd commented on #79
The puzzle `74-6fc04657` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-24 17:26] #79 closed

[2020-05-24 17:26] 0pdd opened #94 "Contract.java:32-34: Implement and test StoredContract,..."
The puzzle `79-580e807d` from #79 has to be resolved:

https://github.com/self-xdsd/self-core/blob/7380b67b3c6869df69708cd5b38d83a860575992/self-api/src/main/java/com/selfxdsd/api/Contract.java#L32-L34

The puzzle was created by @amihaiemil on 24-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-05-24 17:26] 0pdd commented on #94
@amihaiemil please pay attention to this new issue.

[2020-05-24 17:26] 0pdd opened #95 "InMemoryContributors.java:40-42: Write some unit tests..."
The puzzle `79-282aa471` from #79 has to be resolved:

https://github.com/self-xdsd/self-core/blob/7380b67b3c6869df69708cd5b38d83a860575992/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryContributors.java#L40-L42

The puzzle was created by @amihaiemil on 24-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The ta

[2020-05-24 17:26] 0pdd commented on #95
@amihaiemil please pay attention to this new issue.

[2020-05-24 17:26] 0pdd opened #96 "InMemoryContracts.java:41-43: Implement and test Project..."
The puzzle `79-2e30e1fe` from #79 has to be resolved:

https://github.com/self-xdsd/self-core/blob/7380b67b3c6869df69708cd5b38d83a860575992/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryContracts.java#L41-L43

The puzzle was created by @amihaiemil on 24-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-05-24 17:26] 0pdd commented on #96
@amihaiemil please pay attention to this new issue.

[2020-05-24 17:32] amihaiemil opened #97 "Implement interface Issues"
Issues belong to a Repo. Let's start with ``Issues.getById``.

[2020-05-24 18:33] HoreaPetrila commented on #94
I'm giving it a try

[2020-05-24 19:11] BogdanAdrian11 commented on #96
I'll take this.

[2020-05-24 19:38] #97 closed

[2020-05-24 19:38] 0pdd opened #100 "Issue.java:32-34: Implement Comments::Issue.comments()...."
The puzzle `97-bcc117e9` from #97 has to be resolved:

https://github.com/self-xdsd/self-core/blob/fdbd1d044d9248d08980205b75dd71cc9e86f974/self-api/src/main/java/com/selfxdsd/api/Issue.java#L32-L34

The puzzle was created by @amihaiemil on 24-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-05-24 19:38] 0pdd commented on #100
@amihaiemil please pay attention to this new issue.

[2020-05-24 19:38] 0pdd opened #101 "GithubIssues.java:37-40: Implement and unit test method..."
The puzzle `97-8b9168b0` from #97 has to be resolved:

https://github.com/self-xdsd/self-core/blob/fdbd1d044d9248d08980205b75dd71cc9e86f974/self-core-impl/src/main/java/com/selfxdsd/core/issues/GithubIssues.java#L37-L40

The puzzle was created by @amihaiemil on 24-May-20.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-05-24 19:38] 0pdd commented on #101
@amihaiemil please pay attention to this new issue.

[2020-05-24 19:38] 0pdd opened #102 "GithubIssue.java:36-37: Write unit tests for this class..."
The puzzle `97-617dbb3c` from #97 has to be resolved:

https://github.com/self-xdsd/self-core/blob/fdbd1d044d9248d08980205b75dd71cc9e86f974/self-core-impl/src/main/java/com/selfxdsd/core/issues/GithubIssue.java#L36-L37

The puzzle was created by @amihaiemil on 24-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-05-24 19:38] 0pdd commented on #102
@amihaiemil please pay attention to this new issue.

[2020-05-24 20:23] HoreaPetrila commented on #95
I'll do it

[2020-05-25 06:38] criske commented on #101
Sign me up

[2020-05-25 07:44] #94 closed

[2020-05-25 07:44] 0pdd commented on #94
The puzzle `79-580e807d` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-25 07:50] amihaiemil commented on #94
@HoreaPetrila paid with transaction id 9CT71976J8643291S

[2020-05-25 10:03] #95 closed

[2020-05-25 10:03] 0pdd commented on #95
The puzzle `79-282aa471` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-25 10:08] amihaiemil commented on #95
@HoreaPetrila paid with transaction id 6RP99907P46129158

[2020-05-25 14:10] amihaiemil commented on #101
paid with transaction id: 6EV87513ED468354G

[2020-05-25 14:10] #101 closed

[2020-05-25 14:10] 0pdd commented on #101
The puzzle `97-8b9168b0` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-25 15:39] amihaiemil opened #107 "InMemoryContracts: the role should be part of the key"
A Contributor can have multiple contracts with the same Project: 1 contract for DEV work, 1 for ARCH work etc.

This means, the role from a Contract should be part of the composite primary key, together with the projectId and the contributorId (username + provider).

[2020-05-25 16:30] amihaiemil commented on #96
@BogdanAdrian11 paid with transaction id 8527787064150430H

[2020-05-25 16:32] 0pdd opened #108 "InMemoryProjectsTestCase.java:23-25: Provide..."
The puzzle `96-dea5d869` from #96 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6ad0a45c0a5ca2c11d24ef72e7c75f9aa80ae7f8/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryProjectsTestCase.java#L23-L25

The puzzle was created by Bogdan Adrian on 25-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead.

[2020-05-25 16:32] 0pdd commented on #108
@amihaiemil please pay attention to this new issue.

[2020-05-25 16:33] amihaiemil commented on #108
This puzzle is explained [here](https://github.com/self-xdsd/self-core/pull/103#discussion_r429781986).

[2020-05-25 17:03] #96 closed

[2020-05-25 17:03] 0pdd commented on #96
The puzzle `79-2e30e1fe` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-25 17:42] #107 closed

[2020-05-25 17:56] amihaiemil opened #110 "Implement ProjectContracts.addContract"
As well as ContributorContracts.addContract

[2020-05-25 19:27] #110 closed

[2020-05-25 19:27] 0pdd opened #112 "ContributorContracts.java:44-47: Implement and unit..."
The puzzle `110-e3027d6c` from #110 has to be resolved:

https://github.com/self-xdsd/self-core/blob/01513ca704a49872ae1399eeb6e1d8412d9f235a/self-core-impl/src/main/java/com/selfxdsd/core/contracts/ContributorContracts.java#L44-L47

The puzzle was created by @amihaiemil on 25-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead.

[2020-05-25 19:27] 0pdd commented on #112
@amihaiemil please pay attention to this new issue.

[2020-05-26 05:22] criske commented on #47
I'll take it

[2020-05-26 05:23] criske commented on #108
I'll take it

[2020-05-26 08:29] amihaiemil commented on #108
paid with transaction id 9XN710630H938452V

[2020-05-26 08:30] #108 closed

[2020-05-26 08:30] 0pdd commented on #108
The puzzle `96-dea5d869` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-26 09:52] 0pdd commented on #112
The puzzle `110-e3027d6c` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-26 09:52] #112 closed

[2020-05-26 11:29] criske opened #115 "Basic network abstraction implementation..."
Here is a basic abstraction of a http client, that could be used in the future:
https://gist.github.com/criske/bb02e7f2fc5f862dae0f30396b6fc9dd
And here is the implementation at work. GithubIssues fully unit tested:
https://gist.github.com/criske/79fa44cc2379da1e47153c1293a92a2e

Edit: here is GithubIssues injected with http client interface:
https://gist.github.com/criske/67657937f324a987646ac7a4

[2020-05-26 12:04] amihaiemil commented on #115
@criske As far as I can see, this abstraction only helps us to write unit tests for the Github API calls.

But we can already write those tests by mocking an HTTP Server, starting it on a random port and instantiating Github with the URI ``http://localhost:{mockServerPort}/...``.

We can do that quite elegantly, I've already done it in a few other projects and it's certainly less code than mocking

[2020-05-26 12:05] amihaiemil commented on #115
@criske Here is an exanple with a Grizzly mock server: https://github.com/jcabi/jcabi-github/blob/89ad215653c76796a955734d05a4632f7794c82a/src/test/java/com/jcabi/github/RtGistTest.java#L70

[2020-05-26 12:07] amihaiemil commented on #115
@criske But at the moment, unit tests for the network api calls are not urgent, we already have integration tests which are enough for now. I'd rather focus on getting the first version up and running.

[2020-05-26 12:55] criske commented on #115
@amihaiemil Doesn't matter, can handle any calls...

At my last workplace we're heavly relying on https://github.com/square/okhttp/tree/master/mockwebserver to mock a server.
Anyway, in the mobile world for example, writting native network code in the domain layer of a project based on clean-like architecture is a big no-no. We're always asked to hide that code behind an interface because:
-if tha

[2020-05-26 15:35] amihaiemil commented on #115
@criske

I know it can handle any calls, but it provides very little added value as opposed to what we have now. That abstraction is basically just a layer on top of JDK11's HttpClient.

If you want to make some abstractions, they should be made so that objects Github and Gitlab see absolutely nothing about any HTTP call being made -- but again, we don't need that now.

[2020-05-26 15:36] amihaiemil commented on #115
@criske

About okhttp and other HttpClient libs: the main reason we're using Java 11 is that it has a built-in HttpClient in the JDK, so we don't need 3rd party libraries for that :)

[2020-05-26 15:37] amihaiemil opened #116 "Implement Tasks"
A Task belongs to a Project and is a ticket from Github/Gitlab/Bitbucket etc which has been taken into scope by the PM and should be assigned to a Contributor's Contract based on the role.

[2020-05-26 18:18] amihaiemil opened #117 "Implement Contributors::project.contributors()"
Project should have the method ``Contributors :: contributors()``

[2020-05-26 18:26] criske commented on #115
Exactly, using a gateway interface or a repository (actually Storage is following this pattern, if I'm correct).

[2020-05-26 18:29] amihaiemil commented on #115
Yes, Storage is designed to be the highest abstraction when it comes to storing our objects. self-core doesn't care whether it's in-memory, sql, no-sql, whatever :D

[2020-05-26 18:50] criske commented on #117
Sign me up

[2020-05-27 07:37] amihaiemil opened #120 "Start writing integration tests for SelfCore"
So far we mostly have unit tests covering all the different objects. However, we also need "full-flow" tests, starting from instantiating the ``SelfCore`` with the ``InMemory`` Storage and following all sorts of test cases.

This is necessary because that's the way integrators of ``self-core`` will use it. ``SelfCore`` is basically the only class that should be used, the entry-point for everything

[2020-05-27 08:17] amihaiemil commented on #117
paid with transaction id: 3D525382GL006560F

[2020-05-27 08:17] 0pdd opened #121 "Project.java:34-36: In the "contributors" package of..."
The puzzle `97-08232f72` from #97 has to be resolved:

https://github.com/self-xdsd/self-core/blob/7f572524b47000576dcdc2f3fa135f325c7597c6/self-api/src/main/java/com/selfxdsd/api/Project.java#L34-L36

The puzzle was created by cristianpela on 26-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-05-27 08:17] 0pdd commented on #121
@amihaiemil please pay attention to this new issue.

[2020-05-27 08:20] amihaiemil commented on #117
@criske thanks!

[2020-05-27 08:20] #117 closed

[2020-05-27 09:15] amihaiemil opened #122 "Get user Org Repos"
We should get the Org repos of the authenticated User, to which the User has Admin permissions.

Get Orgs: https://developer.github.com/v3/orgs/#list-your-organizations
Check Repo permissions: https://developer.github.com/v3/repos/collaborators/#review-a-users-permission-level

[2020-05-27 12:48] 0pdd opened #123 "Tasks.java:30-31: Start implementing Tasks.getById and..."
The puzzle `116-8dc0f12b` from #116 has to be resolved:

https://github.com/self-xdsd/self-core/blob/35f11bc99e605af08f0daa6d93e5dd17ea950b2b/self-api/src/main/java/com/selfxdsd/api/Tasks.java#L30-L31

The puzzle was created by @amihaiemil on 27-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-05-27 12:48] 0pdd commented on #123
@amihaiemil please pay attention to this new issue.

[2020-05-27 13:08] #116 closed

[2020-05-27 18:44] 0pdd commented on #123
The puzzle `116-8dc0f12b` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-27 18:44] #123 closed

[2020-05-27 18:44] 0pdd opened #125 "Tasks.java:30-32: Add method register(projectId, Issue),..."
The puzzle `123-f40507f6` from #123 has to be resolved:

https://github.com/self-xdsd/self-core/blob/5a5c04f6109d53e65cde6b28e60986cd7000dd52/self-api/src/main/java/com/selfxdsd/api/Tasks.java#L30-L32

The puzzle was created by @amihaiemil on 27-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-05-27 18:44] 0pdd commented on #125
@amihaiemil please pay attention to this new issue.

[2020-05-27 19:55] amihaiemil opened #126 "Implement Issue.id() and Issue.role()"
Let's do it.

[2020-05-27 20:28] #126 closed

[2020-05-27 20:28] #102 closed

[2020-05-27 20:28] 0pdd commented on #102
The puzzle `97-617dbb3c` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-27 20:28] 0pdd opened #128 "GithubIssue.java:37-39: Initially, all the Issues will..."
The puzzle `128-bc49fe1d` from #128 has to be resolved:

https://github.com/self-xdsd/self-core/blob/d3d93faebc7251e50dc60780ad8e6d0e3f9612e7/self-core-impl/src/main/java/com/selfxdsd/core/issues/GithubIssue.java#L37-L39

The puzzle was created by @amihaiemil on 27-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wi

[2020-05-27 20:28] 0pdd commented on #128
@amihaiemil please pay attention to this new issue.

[2020-05-28 09:51] amihaiemil opened #129 "Project ID has to be Repo Full_Name + Provider"
Since a Project is represented by a Repo, it means its ID is actually the Repo's full name (e.g. ``amihaiemil/docker-java-api``) and its provider (``github``, ``gitlab`` etc).

[2020-05-28 14:21] #129 closed

[2020-05-28 16:20] amihaiemil opened #131 "Add Custom Runtime Exceptions"
We should add and use custom runtime exception for cases such as RepoNotFound, ProjectNotFound etc. At the moment, IllegalArgumentException and IllegalStateException are being used which are too generic.

[2020-05-28 18:08] #125 closed

[2020-05-28 18:08] 0pdd opened #133 "Tasks.java:30-32: Implement and unit test Project.tasks()..."
The puzzle `125-c81f1ae0` from #125 has to be resolved:

https://github.com/self-xdsd/self-core/blob/4aab46bbe1e604f1d79ca82ee0660896bcebae46/self-api/src/main/java/com/selfxdsd/api/Tasks.java#L30-L32

The puzzle was created by @amihaiemil on 28-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-05-28 18:08] 0pdd commented on #133
@amihaiemil please pay attention to this new issue.

[2020-05-29 14:54] amihaiemil opened #134 "repo_fullname should be part of the Task PK"
The Task's PK should be formed of issueId + repo_fullname + provider (at the moment the repo_fullname) is missing.

[2020-05-29 15:01] #133 closed

[2020-05-29 15:01] 0pdd commented on #133
The puzzle `125-c81f1ae0` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-29 15:01] 0pdd opened #136 "Tasks.java:30-31: Implement and unit test..."
The puzzle `133-7376f99a` from #133 has to be resolved:

https://github.com/self-xdsd/self-core/blob/d8f98bcb2e001d80c36155956d22cd836c246efc/self-api/src/main/java/com/selfxdsd/api/Tasks.java#L30-L31

The puzzle was created by @amihaiemil on 29-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-05-29 15:01] 0pdd commented on #136
@amihaiemil please pay attention to this new issue.

[2020-05-29 15:01] 0pdd opened #137 "InMemoryTasks.java:42-44: Implement and unit test method..."
The puzzle `133-30481f08` from #133 has to be resolved:

https://github.com/self-xdsd/self-core/blob/d8f98bcb2e001d80c36155956d22cd836c246efc/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryTasks.java#L42-L44

The puzzle was created by @amihaiemil on 29-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wi

[2020-05-29 15:01] 0pdd commented on #137
@amihaiemil please pay attention to this new issue.

[2020-05-29 15:02] amihaiemil commented on #136
waiting for #134

[2020-05-29 15:02] amihaiemil commented on #137
waiting for #134

[2020-05-29 16:30] #134 closed

[2020-05-29 16:42] criske commented on #136
No worries about the bounty :D. I was about to take one of the issues
tomorrow morning. But sure assign me, I'll take care of it this evening, if
not, tomorrow morning for sure.

On Fri, 29 May 2020, 19:26 Mihai, <notifications@github.com> wrote:

[2020-05-29 16:42] amihaiemil commented on #136
@criske whenever you want/have time, it's not urgent.

[2020-05-29 16:44] criske commented on #137
I'll take this one too

[2020-05-30 05:50] #137 closed

[2020-05-30 05:50] 0pdd commented on #137
The puzzle `133-30481f08` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-30 07:34] #136 closed

[2020-05-30 07:34] 0pdd commented on #136
The puzzle `133-7376f99a` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-30 07:34] 0pdd opened #141 "ContributorTasks.java:21-24: In `InMemoryTasks.java`..."
The puzzle `134-f73a4154` from #134 has to be resolved:

https://github.com/self-xdsd/self-core/blob/b423ede7651e1e797eec92eb6094b5006f55d452/self-core-impl/src/main/java/com/selfxdsd/core/tasks/ContributorTasks.java#L21-L24

The puzzle was created by cristianpela on 30-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The ta

[2020-05-30 07:34] 0pdd commented on #141
@amihaiemil please pay attention to this new issue.

[2020-05-30 13:28] criske commented on #141
@amihaiemil sign me up

[2020-05-30 14:13] amihaiemil opened #142 "Implement StoredUser"
Right now we only have User as anonymous classes. Let's implement StoredUser.

[2020-05-30 15:08] 0pdd commented on #141
The puzzle `134-f73a4154` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-30 15:08] #141 closed

[2020-05-30 15:08] 0pdd opened #144 "InMemoryTasksTestCase.java:37-39: Finish..."
The puzzle `135-200b416a` from #135 has to be resolved:

https://github.com/self-xdsd/self-core/blob/81e661824e09d7a043aec1c0bd12dd99c7714d0a/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryTasksTestCase.java#L37-L39

The puzzle was created by cristianpela on 30-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. Th

[2020-05-30 15:08] 0pdd commented on #144
@amihaiemil please pay attention to this new issue.

[2020-05-30 19:48] #142 closed

[2020-05-30 19:48] 0pdd opened #146 "StoredUser.java:35-38: At the moment the User's..."
The puzzle `142-5967597e` from #142 has to be resolved:

https://github.com/self-xdsd/self-core/blob/3dbc4da6d0e648fae8fd20591ea9ed2cc2f9b0e7/self-core-impl/src/main/java/com/selfxdsd/core/StoredUser.java#L35-L38

The puzzle was created by @amihaiemil on 30-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"

[2020-05-30 19:48] 0pdd commented on #146
@amihaiemil please pay attention to this new issue.

[2020-05-31 07:22] criske commented on #146
I'll work on this

[2020-05-31 08:27] amihaiemil opened #147 "Release 0.0.1"
Let's release version 0.0.1. We have enough stuff to start working on the storage module.
First, setup rultor release script.

The artifacts will be deployed on Github Packages.

[2020-05-31 11:17] #146 closed

[2020-05-31 11:17] 0pdd commented on #146
The puzzle `142-5967597e` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-31 12:22] amihaiemil commented on #147
@rultor release it, tag is `0.0.1`

[2020-05-31 12:23] rultor commented on #147
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22239-636463978)

[2020-05-31 12:26] rultor commented on #147
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22239-636463978) (took me 3min)

[2020-05-31 13:41] #147 closed

[2020-05-31 14:42] amihaiemil opened #150 "Deploy sources and javadocs as well"
We should have a maven profile that generates sources and javadocs and deploy them to Github Packages as well.

[2020-05-31 14:53] #150 closed

[2020-05-31 16:27] amihaiemil opened #152 "StoredProject should take the User and String repoFullName"
At the moment, when building a StoredProject, you have to have the ``Repo``. However, it would be more efficient to pass the User ``owner`` and the ``repoFullName`` instead, and call Github's API on demand only if ``project.repo()`` is called.

[2020-05-31 17:19] criske opened #153 "Make `accessToken` available to User API"
Right now `accessToken` is used internally by StoredUser, but `self-storage` needs the token during
Users#signUp(User) (to insert/update into db).

[2020-05-31 17:22] amihaiemil commented on #153
@criske you're right. I'll fix it tomorrow together with another ticket and deploy version ``0.0.2-SNAPSHOT`` -- from this version on we're also deploying javadocs and sources so development of the storage becomes easier (your IDE will display proper parameter names)

[2020-05-31 18:05] criske opened #154 "Might use enums instead of constants (Provider.Names, Contracts.Role)."
Provider.Names could be an enum.
Same for Contracts.Role.

I've spent about 10 minutes, to figure out why SelfUser#signUp test in `self-storage` was failling, just to realize that I've used a bogus 'provider' lol.
(StoredUser was replacing any other provider outside github with gitlab).

[2020-05-31 18:28] amihaiemil commented on #154
@criske Nah, sorry. I hate Enums from the bottom of my heart. Every time I look at an Enum I can never tell which is the value, which is the key, what will toString() etc.

So, we stick with Strings. My guess is that, even if they were Enums, you would have the same problem if you specified ``Provider.Names.GITHUB`` instead of ``*.*.GITLAB``.

[2020-05-31 18:28] #154 closed

[2020-05-31 18:42] criske commented on #154
I'm the other way, I really don't like constants, especially when I'm writing apis. :D.
But anyway we might need to throw an exception in StoredUser#provider if the provider is different than github or gitlab. Seems odd to return a Gitlab for some random provider name, even for an empty string.

[2020-05-31 18:47] amihaiemil commented on #154
@criske

Well, I was actually thinking to change the signature of ``signUp`` to accept the User's parameters as input variables, instead of a ``User``.

Looking at it now, it doesn't really make sense to expect a ``User`` which is actually not signed up yet.

But I'll look over this tomorrow.

[2020-05-31 19:20] criske commented on #154
The problem with constants is that you don't have input control out of the box.
Android has a cool way to achieve that with constants by using annotations.
https://developer.android.com/reference/androidx/annotation/StringDef

[2020-06-01 06:42] amihaiemil commented on #153
@criske On second thought, I don't think we should save this token in the DB.

Because not everyone who gets hold of a User should have access to their Github protected resources (for instance, a PM will haal ve access to a Project's owner which is a User, but they should not be able to use the Github provider on behalf of the User).

The solution should be a decorator over ``User``, called ``Auth

[2020-06-01 18:11] amihaiemil opened #155 "Users.singUp(...) should take params instead of User"
It doesn't make sense to expect the User as input to the method ``signUp``. Instead, this method should expect the parameters from which it makes up a User and returns it.

[2020-06-01 19:19] #155 closed

[2020-06-02 08:59] #152 closed

[2020-06-02 13:11] amihaiemil commented on #153
@criske see PR #158: the user's token is not saved in the DB and it is also not exposed to anyone.
Only the ``SelfCore.login`` method will provide an Authenticated user if the token is present, which in turn will pass the token to the Provider.

This mechanism makes sure that nobody else from the system has access to a User's protected resources.

[2020-06-02 13:11] #153 closed

[2020-06-02 13:28] amihaiemil opened #159 "Release 0.0.2"
Let's deploy it, it contains a few fixes

[2020-06-02 13:28] amihaiemil commented on #159
@rultor deploy it please

[2020-06-02 13:29] rultor commented on #159
@amihaiemil OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22257-637542714)

[2020-06-02 13:31] rultor commented on #159
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22257-637542714) (spent 2min)

[code]

[2020-06-02 13:45] amihaiemil commented on #159
@rultor deploy

[2020-06-02 13:46] rultor commented on #159
@amihaiemil OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22257-637553774)

[2020-06-02 13:49] rultor commented on #159
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22257-637553774) (spent 3min)

[code]

[2020-06-02 13:51] amihaiemil commented on #159
Rultor complains with: ``Unable to find javadoc command: The javadoc executable '${JAVA_HOME}/bin/javadoc'``. Let's try to fix it...

[2020-06-02 14:57] amihaiemil commented on #159
@rultor deploy

[2020-06-02 14:58] rultor commented on #159
@amihaiemil OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22257-637597615)

[2020-06-02 15:00] rultor commented on #159
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22257-637597615) (took me 2min)

[2020-06-02 15:25] amihaiemil opened #160 "Increment minor version when deploying"
When deploying we should use the SNAPSHOT version in pom.xml, then increment it to the next snapshot version. When deploying, we are effectively jumping a release version.

[2020-06-02 18:51] #160 closed

[2020-06-02 18:51] amihaiemil commented on #160
not possible

[2020-06-02 18:53] amihaiemil commented on #159
Turns out, we cannot deploy SNAPSHOT versions because ``mvn deploy`` will place a timestamp in the artifacts' names and GIthub Packages is not smart enough to search for the artifact with the latest timestamp when a SNAPSHOT version is specified.

As such, we will have to make a release every time we want to deploy something.

[2020-06-02 18:55] amihaiemil commented on #159
@rultor release it, tag is `0.0.2`

[2020-06-02 18:56] rultor commented on #159
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22257-637742744)

[2020-06-02 18:59] rultor commented on #159
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22257-637742744) (took me 3min)

[2020-06-02 18:59] #159 closed

[2020-06-04 19:08] amihaiemil opened #161 "Implement the Invoice"
A Contract should have a corresponding Invoice containing all the tasks that have been finished by the Contributor.

[2020-06-04 19:11] amihaiemil opened #162 "A Project should have a Webhook token"
When we activate a Repo/register a Project, we should create and attach an UUID which will be the Webhook Security Token specified in Github/Gitlab etc

This way, we'll secure the later webhook endpoint.

[2020-06-05 18:07] criske commented on #161
Sign me up

[2020-06-06 06:31] amihaiemil commented on #161
@criske Actually, it's a 1-to-many relationship. A Contract has more Invoices, but only one of them is "active" (not yet paid) -- we will always add a finished task to the active Invoice, the one that is not yet paid.

If all the invoices are paid, we create a new one.

[2020-06-06 14:27] 0pdd opened #164 "Invoices.java:11-12: Implement and test InMemoryInvoices...."
The puzzle `163-912d9b79` from #163 has to be resolved:

https://github.com/self-xdsd/self-core/blob/27bc74cf7e8c6ecdda356183621da6f6a9845ddf/self-api/src/main/java/com/selfxdsd/api/Invoices.java#L11-L12

The puzzle was created by cristianpela on 06-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-06-06 14:27] 0pdd commented on #164
@amihaiemil please pay attention to this new issue.

[2020-06-06 14:28] amihaiemil commented on #161
payment done with transaction id: 46151150Y9859444R

[2020-06-06 14:28] #161 closed

[2020-06-06 14:29] amihaiemil opened #165 "StoredTask: lazy-load the Issue"
StoredTask should only take the issueId in the ctor and read it from the provider only when the ``issue()`` method is called.

[2020-06-06 14:54] #165 closed

[2020-06-06 14:54] 0pdd opened #167 "StoredTask.java:35-37: Implement method issue(). It..."
The puzzle `165-5a08baef` from #165 has to be resolved:

https://github.com/self-xdsd/self-core/blob/26781a733d8d2da914f8d8b0c6cd73f80ef227e0/self-core-impl/src/main/java/com/selfxdsd/core/tasks/StoredTask.java#L35-L37

The puzzle was created by @amihaiemil on 06-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-06-06 14:54] 0pdd commented on #167
@amihaiemil please pay attention to this new issue.

[2020-06-06 15:13] 0pdd commented on #167
The puzzle `165-5a08baef` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-06-06 15:13] #167 closed

[2020-06-06 15:19] amihaiemil opened #169 "Release 0.0.3"
Let's release 0.0.3

It contains improvements to ``StoredTask`` (#165 & #167) and a first sketch of ``Invoices``

[2020-06-06 15:19] amihaiemil commented on #169
@rultor release it, tag is `0.0.3`

[2020-06-06 15:20] rultor commented on #169
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22294-640076824)

[2020-06-06 15:23] rultor commented on #169
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22294-640076824) (took me 3min)

[2020-06-06 15:23] #169 closed

[2020-06-07 06:16] criske commented on #164
I'll work on this

[2020-06-07 08:55] amihaiemil opened #171 "Release 0.0.4"
Changelog:

* #121
* #162
* #172
* #176
* #178

[2020-06-07 09:55] amihaiemil opened #172 "StoredTask Contract Constructor"
StoredTask should be constructed from:

a) the Project, if it is not assigned to anyone yet.
b) the Contract (which also holds the Project), if it is assigned.

[2020-06-07 09:55] #121 closed

[2020-06-07 09:55] 0pdd commented on #121
The puzzle `97-08232f72` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-06-07 11:02] #172 closed

[2020-06-07 19:03] amihaiemil commented on #164
paid with transaction ID 9RV72720Y86457822

[2020-06-07 19:03] #164 closed

[2020-06-07 19:03] 0pdd commented on #164
The puzzle `163-912d9b79` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-06-07 19:04] 0pdd opened #175 "InMemoryInvoices.java:19-23: Refactor and test..."
The puzzle `165-63222a61` from #165 has to be resolved:

https://github.com/self-xdsd/self-core/blob/101eccca529220e334e10b7bae5db6e8c070d447/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryInvoices.java#L19-L23

The puzzle was created by cristianpela on 07-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2020-06-07 19:04] 0pdd commented on #175
@amihaiemil please pay attention to this new issue.

[2020-06-08 06:06] amihaiemil opened #176 "Add PM Username"
We should also save the PMs username in the DB.

[2020-06-08 06:27] criske commented on #175
I'll work on this.
I'll focus on testing and leave refactoring part for another puzzle, if that's ok.

[2020-06-08 06:50] #176 closed

[2020-06-08 06:51] amihaiemil opened #178 "Provider :: ProjectManager.provider()"
Method ``provider()`` should return the ``Provider``.

[2020-06-08 07:36] #178 closed

[2020-06-08 08:24] amihaiemil opened #180 "Add Self.projectManagers()"
Let's add this method and test it.

[2020-06-08 09:37] #180 closed

[2020-06-08 13:42] 0pdd commented on #175
The puzzle `165-63222a61` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-06-08 13:42] #175 closed

[2020-06-08 13:42] 0pdd opened #184 "InMemoryInvoices.java:19-20: Refactor and test..."
The puzzle `181-f7ddabbd` from #181 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6ce9f3d77fd6010a31b43817bcd9292006d3ea0e/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryInvoices.java#L19-L20

The puzzle was created by cristianpela on 08-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2020-06-08 13:42] 0pdd commented on #184
@amihaiemil please pay attention to this new issue.

[2020-06-08 13:43] amihaiemil commented on #175
paid with transaction id 1BD17495F00273448

[2020-06-08 14:35] #162 closed

[2020-06-08 14:44] amihaiemil commented on #171
@rultor release it, tag is `0.0.4`

[2020-06-08 14:45] rultor commented on #171
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22316-640674638)

[2020-06-08 14:48] rultor commented on #171
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22316-640674638) (took me 3min)

[2020-06-08 14:50] #171 closed

[2020-06-09 06:57] amihaiemil opened #186 "ProjectTasks.ofContributor should return tasks from the project only"
At the moment this method returns all the tasks of the given contributor, yet it should return only the tasks from the Project represented by ``ProjectTasks``.

Basically, we just need to filter the encapsulated ``List<Task>``.

[2020-06-09 07:02] amihaiemil commented on #186
@criske Can you please fix this when you have the time? :D
It's a simple change inside ``ofContributor`` method: instead of calling the storage and getting all the tasks of the contributor, we just have to filter the List we have inside ProjecTasks.

[2020-06-09 07:05] amihaiemil opened #187 "Implement Tasks.unassigned"
We need a method to get the unassigned Tasks.

[2020-06-09 07:10] criske commented on #186
Sure, I think the same bug is in the ContributorTasks#ofProject too. Should I fix there too?

[2020-06-09 07:11] amihaiemil commented on #186
If you can do it fast and in $5, yes. If not, open another issue :D

[2020-06-09 08:45] amihaiemil commented on #186
paid with transaction id 7FJ66972SC5278153

[2020-06-09 08:45] #186 closed

[2020-06-09 08:48] amihaiemil opened #189 "Release 0.0.5"
Changelog:

* #186

[2020-06-09 08:58] amihaiemil commented on #187
@criske wanna take it?

[2020-06-09 09:26] criske commented on #187
@amihaiemil Sure

[2020-06-09 10:25] amihaiemil opened #190 "Invitations :: Provider.invitations"
The PMs will be invited as contributors to project Repos, so they need a way to visualize and accept them.

Let's just implement ``Invitations.acceptAll()`` for now -- the PMs will accept any invitations they receive to any repo.

[2020-06-09 10:32] amihaiemil opened #192 "Implement Contributors.elect(Task)"
Method ``Contributor :: Contributors.elect(Task task)`` will elect a Contributor to whom a Task can be assigned.

If the task is assigned, the assignee cannot be elected.
Out of the eligible contributors, one will be elected randomly.

[2020-06-09 13:05] 0pdd opened #193 "UnassignedTasks.java:20-21: Implement and test..."
The puzzle `190-567012ff` from #190 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ccd52adfb538fdb333b1043a386c1e2e24feb655/self-core-impl/src/main/java/com/selfxdsd/core/tasks/UnassignedTasks.java#L20-L21

The puzzle was created by cristianpela on 09-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2020-06-09 13:05] 0pdd commented on #193
@amihaiemil please pay attention to this new issue.

[2020-06-09 13:07] amihaiemil commented on #187
paid with transaction id 8T549946NJ128033R

[2020-06-09 13:07] #187 closed

[2020-06-09 17:16] amihaiemil opened #194 "Storage should be Autocloseable"
At the end of the request or session, the Storage should be "closed" in order for the underlying DB Connection to be closed.

[2020-06-10 09:40] criske commented on #193
I'll finish this

[2020-06-10 09:55] amihaiemil commented on #193
@criske sure, go ahead

[2020-06-10 10:11] #194 closed

[2020-06-10 14:12] amihaiemil opened #197 "Lazy/Eager Dependencies"
We should revise how our ``Stored*`` objects are designed. There are occasions when we need them to lazy-load their dependencies (call ``this.storage.*``) and there are occasion when they need to eager-load them (take them as construtor parameters).

For instance, the ``Contributor``: when fetching the Contributor as part of a Contract, lazy-loading is ok (the Contributor does not need to load its

[2020-06-11 05:42] 0pdd opened #199 "StoredContributor.java:35-39: Method tasks() here should..."
The puzzle `192-5ba266e8` from #192 has to be resolved:

https://github.com/self-xdsd/self-core/blob/2d0384b9a6c5af3a602accb8ce748353ce9d72e2/self-core-impl/src/main/java/com/selfxdsd/core/contributors/StoredContributor.java#L35-L39

The puzzle was created by @amihaiemil on 11-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead.

[2020-06-11 05:42] 0pdd commented on #199
@amihaiemil please pay attention to this new issue.

[2020-06-11 05:44] amihaiemil opened #200 "Release 0.0.6"
Changelog:

* #192 (only scaffolding)
* #197 (StoredContributor with eager Contracts).
* #197 (StoredContract with lazy constructor -> #205 ).
* #203

[2020-06-11 08:47] amihaiemil opened #201 "Implement Tasks :: Contract.tasks()"
It should return the Tasks assigned to the Contract.

[2020-06-11 11:35] criske commented on #201
I'll work on this.

[2020-06-11 13:04] amihaiemil commented on #201
@criske sure, go ahead

[2020-06-11 14:58] amihaiemil commented on #201
paid with transaction id: 5C873822XL412951G

[2020-06-11 14:58] #201 closed

[2020-06-11 14:59] 0pdd opened #203 "Contract.java:33-35: Finish implementing and testing..."
The puzzle `204-4a2ef409` from #204 has to be resolved:

https://github.com/self-xdsd/self-core/blob/a9a1a6c2d13883f574b10fd1656ef0eb33e3fda5/self-api/src/main/java/com/selfxdsd/api/Contract.java#L33-L35

The puzzle was created by cristianpela on 11-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-06-11 14:59] 0pdd commented on #203
@amihaiemil please pay attention to this new issue.

[2020-06-12 06:51] criske commented on #197
@amihaiemil Just a thought, wouldn't be better if this is implemented in self-storage? This way core will not be affected plus is more scalable, at one point the project might use a dedicated caching service like redis for example.

[2020-06-12 06:51] criske commented on #203
I'll work on this

[2020-06-12 07:39] amihaiemil commented on #197
@criske Yes, it's a good question.
But classes such as StoredContributor, StoredTask etc, as inside the core -- all of them, together with ContributorTasks and everything else are the components which make up the businesslogic... the core, right?

Those classes should not even be public, but they need to be public so the Storage can see them and inject data into them.

In order to fix all these, w

[2020-06-12 07:40] amihaiemil commented on #203
@criske sure, go ahead

[2020-06-12 09:26] criske commented on #197
@amihaiemil I'm thinking having simple interface injected into each `Self*` storage representation that might need caching, similary how `Database` is injected.
This cache might have map like methods `put(String, String)` `get(String)` and should know nothing about Stored* business objects.

Let's say we want to cache contracts of contributor:

- First pass will be the db call. Now we're doing the

[2020-06-13 08:56] amihaiemil commented on #203
paid with transaction id: 2UG77083V2195670R

[2020-06-13 13:57] amihaiemil opened #205 "StoredContract lazy ctor"
We have a constructor which expects the Project and Contributor (eager loading).
We should also have a ctor which doesn't expect these dependencies.

[2020-06-13 15:21] #205 closed

[2020-06-13 15:27] #203 closed

[2020-06-13 15:27] 0pdd commented on #203
The puzzle `204-4a2ef409` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-06-13 15:27] 0pdd opened #207 "ContractTasks.java:19-21: Implement and test ofContract()..."
The puzzle `203-be4943c6` from #203 has to be resolved:

https://github.com/self-xdsd/self-core/blob/a375bb9a6d1ee5ee8d5b6bb0b9b27e40794e21c4/self-core-impl/src/main/java/com/selfxdsd/core/tasks/ContractTasks.java#L19-L21

The puzzle was created by @amihaiemil on 13-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task w

[2020-06-13 15:27] 0pdd commented on #207
@amihaiemil please pay attention to this new issue.

[2020-06-13 15:27] amihaiemil commented on #200
@rultor release it, tag is `0.0.6`

[2020-06-13 15:28] rultor commented on #200
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22352-643638448)

[2020-06-13 15:31] rultor commented on #200
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22352-643638448) (took me 3min)

[2020-06-13 15:49] #200 closed

[2020-06-14 13:07] amihaiemil opened #208 "Implement equals/hashCode for StoredContributor and others"
StoredContributor, StoredContract, StoredProject etc should implement equals and hashcode based on their IDs.

[2020-06-15 12:13] amihaiemil opened #209 "Remove Invoices.isPaid"
Instead, we should have ``Invoice :: Invoices.getById(...)``. Method ``isPaid`` is on the ``Invoice`` interface.

[2020-06-16 06:34] criske commented on #208
I'll work on this

[2020-06-16 07:00] amihaiemil commented on #208
sure, go ahead

[2020-06-16 07:01] amihaiemil commented on #208
@criske One thing: in equals, when you check for the object's type with ``instanceof``, use the Interface, not the Class.

This is a mistake I find in most equals functions: they ask the objects to be of the same class instead of the same interface.

[2020-06-16 07:20] criske commented on #208
yep, that's what I did

[2020-06-16 08:34] amihaiemil commented on #208
paid with transaction id 7JC54856LK201074A

[2020-06-16 08:48] 0pdd opened #212 "StoredProjectManager.java:39-40: Test equals and hashcode..."
The puzzle `212-4e897150` from #212 has to be resolved:

https://github.com/self-xdsd/self-core/blob/dcce7935bae7f0c70a326e00e7ca7765c40db779/self-core-impl/src/main/java/com/selfxdsd/core/managers/StoredProjectManager.java#L39-L40

The puzzle was created by cristianpela on 16-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead.

[2020-06-16 08:48] 0pdd commented on #212
@amihaiemil please pay attention to this new issue.

[2020-06-16 08:48] #208 closed

[2020-06-18 19:50] #209 closed

[2020-06-19 08:13] amihaiemil opened #213 "Remove Invoices.add(Task,...)"
Adding a Task to an Invoice should only be accessible through the ``Invoice`` interface.

[2020-06-19 09:12] amihaiemil commented on #213
not valid

[2020-06-19 09:12] #213 closed

[2020-06-19 10:00] amihaiemil opened #214 "Fix Invoices Architecture"
Right now the Invoices part does not respect the overall architecture (mainly because it works with a ``List<InvoiceTask>`` instead of the plural ``InvoicedTasks``).

This causes the code to be much more complicated than it should be. Let's refactor it and make it respect the established architecture.

[2020-06-21 10:23] #214 closed

[2020-06-21 10:23] 0pdd opened #216 "InMemoryInvoices.java:19-22: Implement and write tests..."
The puzzle `214-78b57c14` from #214 has to be resolved:

https://github.com/self-xdsd/self-core/blob/850ee307ce44bdc9df7d93d048af041a48946b8c/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryInvoices.java#L19-L22

The puzzle was created by amihaiemil on 21-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-06-21 10:23] 0pdd commented on #216
@amihaiemil please pay attention to this new issue.

[2020-06-21 12:34] amihaiemil opened #217 "Release 0.0.7"
Release containing mostly redesign and finishing implementation of the Invoices.

* #214
* #184
* #216
* #220
* #207
* #190
* #225

[2020-06-21 16:39] #184 closed

[2020-06-21 16:39] 0pdd commented on #184
The puzzle `181-f7ddabbd` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-06-22 09:27] #216 closed

[2020-06-22 09:27] 0pdd commented on #216
The puzzle `214-78b57c14` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-06-22 09:27] 0pdd opened #220 "Task.java:32-34: Implement and write unit tests for..."
The puzzle `216-e1db1cae` from #216 has to be resolved:

https://github.com/self-xdsd/self-core/blob/922cc789b80e9af2d5ad3d36b6a156b7434386d9/self-api/src/main/java/com/selfxdsd/api/Task.java#L32-L34

The puzzle was created by @amihaiemil on 22-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-06-22 09:27] 0pdd commented on #220
@amihaiemil please pay attention to this new issue.

[2020-06-22 14:31] 0pdd commented on #220
The puzzle `216-e1db1cae` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-06-22 14:31] #220 closed

[2020-06-22 15:07] #207 closed

[2020-06-22 15:07] 0pdd commented on #207
The puzzle `203-be4943c6` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-06-22 15:07] 0pdd opened #223 "ContractTasks.java:19-21: Method Tasks.ofContract() has..."
The puzzle `207-01b671c5` from #207 has to be resolved:

https://github.com/self-xdsd/self-core/blob/70f4cab97afddac5d059742746b1db38c41b4fbc/self-core-impl/src/main/java/com/selfxdsd/core/tasks/ContractTasks.java#L19-L21

The puzzle was created by @amihaiemil on 22-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task w

[2020-06-22 15:08] 0pdd commented on #223
@amihaiemil please pay attention to this new issue.

[2020-06-22 16:53] #190 closed

[2020-06-22 16:53] 0pdd opened #225 "GithubRepoInvitations.java:44-46: Add an implementation..."
The puzzle `190-3d425bb7` from #190 has to be resolved:

https://github.com/self-xdsd/self-core/blob/084dd0f1809ac20f1e052c64b61086bbb475f70a/self-core-impl/src/main/java/com/selfxdsd/core/GithubRepoInvitations.java#L44-L46

The puzzle was created by @amihaiemil on 22-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-06-22 16:53] 0pdd commented on #225
@amihaiemil please pay attention to this new issue.

[2020-06-22 16:53] 0pdd opened #226 "Github.java:40-43: Abstract all the HTTP calls behind an..."
The puzzle `190-ecea2376` from #190 has to be resolved:

https://github.com/self-xdsd/self-core/blob/084dd0f1809ac20f1e052c64b61086bbb475f70a/self-core-impl/src/main/java/com/selfxdsd/core/Github.java#L40-L43

The puzzle was created by amihaiemil on 22-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2020-06-22 16:53] 0pdd commented on #226
@amihaiemil please pay attention to this new issue.

[2020-06-22 17:09] amihaiemil commented on #226
@criske we actually come back to your idea of abstracting the HTTP calls. But with some different naming :D

[2020-06-22 20:20] #225 closed

[2020-06-22 20:20] 0pdd commented on #225
The puzzle `190-3d425bb7` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-06-22 20:21] 0pdd opened #228 "GithubInvitation.java:39-40: When accepting an..."
The puzzle `225-a1140b0d` from #225 has to be resolved:

https://github.com/self-xdsd/self-core/blob/0ae1e8010b5fa6374e66a1ee1674541c5675e942/self-core-impl/src/main/java/com/selfxdsd/core/GithubInvitation.java#L39-L40

The puzzle was created by @amihaiemil on 22-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-06-22 20:21] 0pdd commented on #228
@amihaiemil please pay attention to this new issue.

[2020-06-22 20:27] amihaiemil commented on #217
@rultor release it, tag is `0.0.7`

[2020-06-22 20:27] rultor commented on #217
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22416-647752184)

[2020-06-22 20:31] rultor commented on #217
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22416-647752184) (took me 3min)

[2020-06-22 20:59] #217 closed

[2020-06-23 07:11] criske commented on #226
@amihaiemil nice :D, much easier for testing now.

[2020-06-23 07:12] criske commented on #223
I'll work on this

[2020-06-23 07:17] amihaiemil commented on #223
@criske I think it's better to leave this task for someone else. It's a good start for a beginner, as they will see how these objects are constructed and used.

[2020-06-23 07:21] criske commented on #223
sure

[2020-06-23 13:51] amihaiemil opened #229 "Make Self Autocloseable"
Since ``Self`` is the highest abstraction it should also be ``Autocloseable`` and close any resources it holds.

For instance, it holds a reference to the ``Storage`` which is itself ``Autocloseable`` and should be closed when ``Self.close()`` is called.

[2020-06-27 13:29] amihaiemil opened #230 "Release 0.0.8"
Changelog:

#192 finished
#229
#226
#100
#256
#122
#265
#268
#270

[2020-06-27 13:37] #229 closed

[2020-06-27 14:44] #192 closed

[2020-06-28 00:11] ANadrowski commented on #223
Hello @amihaiemil

To be honest, the hardest part for a beginner here is understand how to run the projects together when it is needed (self-web, self-storage, self-core and self-pm). I mean.. for example: when you are implementing some new feature in "self-core", how do you run it? what are the steps? I know that it is a dumb question, but the answer is not so obvious to beginners..

[2020-06-28 09:26] amihaiemil commented on #223
@ANadrowski

Well, "features" in self-core are actually new classes and methods. You cannot run self-core on its own because it's just a component. You write unit tests in order to verify that the class or method you implemented is correct.

Same for self-storage: it's just a component which you "run" by writing tests. self-storage has more sophisticated tests which run against a real database - t

[2020-06-28 12:04] #226 closed

[2020-06-28 12:04] #28 closed

[2020-06-28 12:04] 0pdd commented on #28
The puzzle `26-e68b9b1a` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-06-28 12:04] 0pdd opened #234 "JsonResources.java:40-44: Add other methods such as post,..."
The puzzle `226-70fb6f35` from #226 has to be resolved:

https://github.com/self-xdsd/self-core/blob/2da61aea0a25e59ef6ec3761a46a247160ddee85/self-core-impl/src/main/java/com/selfxdsd/core/JsonResources.java#L40-L44

The puzzle was created by amihaiemil on 28-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-06-28 12:04] 0pdd commented on #234
@amihaiemil please pay attention to this new issue.

[2020-06-28 12:04] 0pdd opened #235 "JsonResources.java:45-46: Bring in Grizzly in-memory HTTP..."
The puzzle `226-b27bdc42` from #226 has to be resolved:

https://github.com/self-xdsd/self-core/blob/2da61aea0a25e59ef6ec3761a46a247160ddee85/self-core-impl/src/main/java/com/selfxdsd/core/JsonResources.java#L45-L46

The puzzle was created by amihaiemil on 28-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-06-28 12:04] 0pdd commented on #235
@amihaiemil please pay attention to this new issue.

[2020-06-28 13:13] #234 closed

[2020-06-28 13:13] 0pdd commented on #234
The puzzle `226-70fb6f35` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-06-28 13:13] 0pdd opened #237 "JsonResources.java:40-45: Add other methods such as post,..."
The puzzle `234-54720845` from #234 has to be resolved:

https://github.com/self-xdsd/self-core/blob/a5a3db15f49f1fee5d3e7adf31d62068ae58c1f8/self-core-impl/src/main/java/com/selfxdsd/core/JsonResources.java#L40-L45

The puzzle was created by amihaiemil on 28-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-06-28 13:13] 0pdd commented on #237
@amihaiemil please pay attention to this new issue.

[2020-06-28 13:48] #235 closed

[2020-06-28 13:48] 0pdd commented on #235
The puzzle `226-b27bdc42` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-06-28 23:41] ANadrowski commented on #223
Hi @amihaiemil, thanks for the explanation! :)

[2020-06-29 08:26] amihaiemil commented on #115
fixed in #226

[2020-06-29 08:26] #115 closed

[2020-06-29 12:39] amihaiemil opened #239 "Use JsonResources (JdkHttp) in GithubIssues"
We should use JsonResources in GithubIssues as well.

[2020-06-29 13:01] #239 closed

[2020-06-30 00:43] ANadrowski commented on #223
It looks like that to solve this issue is needed to implement the tests for Task.ofContract() of the classes _ContributorTasks.java_,
_ProjectTasks.java_ and _UnassignedTasks.java_. If possible, can you assign it to me? then I will try to solve it in the next few days.

[2020-06-30 05:13] criske opened #241 "Resource needs access to http response headers"
We will need this mainly for pagination (#100)
https://developer.github.com/v3/guides/traversing-with-pagination/

[2020-06-30 05:30] criske opened #242 "JsonResources, accessToken: passing an interface instead of string."
Providers might use different headers for authenticated requests.
Right know JdkHttp is using github's auth header _Authentication_, but Gitlab, as far as I know, is using a different header: _Private-Token_.
So the interface AccessToken might have to methods to implement:
- header : the header name (Authentication, Private-Token)
- value: the token

For example a GithubAccessToken would look like

[2020-06-30 08:37] amihaiemil commented on #223
@ANadrowski Sure, but start with just one of them, you don't have to do them all in this task :)

[2020-06-30 08:40] amihaiemil commented on #241
@criske it's a good idea, but we will not need pagination at the moment. We are interested in fetching one Repo, one Issue and posting comments, mostly. Let's leave this issue open and postpone it for now.

[2020-06-30 08:42] amihaiemil commented on #242
@criske It's a good idea, thanks :)

[2020-06-30 09:21] criske commented on #100
I'll work on this

[2020-06-30 11:30] amihaiemil commented on #100
@criske sure, go ahead (listing comments should happen via the iterator() method; i.e. interface Comments extends Iterable<Comment>)

[2020-06-30 14:43] amihaiemil commented on #100
paid with transaction id 57492179F0155882Y

[2020-06-30 16:24] 0pdd opened #244 "GithubIssueComments.java:14-15: Implement and test the..."
The puzzle `100-a80e16f6` from #100 has to be resolved:

https://github.com/self-xdsd/self-core/blob/0468b4566626fc97f7663b30f844e53dfce59b7e/self-core-impl/src/main/java/com/selfxdsd/core/GithubIssueComments.java#L14-L15

The puzzle was created by cristianpela on 30-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-06-30 16:24] 0pdd commented on #244
@amihaiemil please pay attention to this new issue.

[2020-06-30 16:33] #100 closed

[2020-07-01 10:47] criske commented on #244
I'll work on this.

waiting for #237

[2020-07-01 10:59] amihaiemil commented on #244
@criske sure, I'll take care of that asap

[2020-07-01 14:25] #237 closed

[2020-07-01 14:25] 0pdd commented on #237
The puzzle `234-54720845` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-01 14:25] 0pdd opened #246 "JsonResources.java:40-45: Add other methods such as..."
The puzzle `237-bafb0c68` from #237 has to be resolved:

https://github.com/self-xdsd/self-core/blob/93f53747c1c3c42bcfe6f7a2058be6e883fbd926/self-core-impl/src/main/java/com/selfxdsd/core/JsonResources.java#L40-L45

The puzzle was created by amihaiemil on 01-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-07-01 14:25] 0pdd commented on #246
@amihaiemil please pay attention to this new issue.

[2020-07-01 14:26] amihaiemil commented on #244
@criske I've implemented the POST method in #245 :)

[2020-07-01 14:33] criske commented on #244
@amihaiemil Nice, just one question: should I test using Grizzly, or just unit test it with mocks?

[2020-07-01 14:44] amihaiemil commented on #244
@criske You can write a todo for the unit tests. We'll write unit tests with a mock version of JsonResources. I'll implement that a bit later in #246.

It doesn't really make sense to Grizzly tests, since the only valuable assertion would be URI -- JdkHttp post already has integration tests using Grizzly.

[2020-07-01 19:08] amihaiemil opened #248 "Implement JsonResources.withToken(...)"
This method should give us an instance of JsonResources which has an API access token for authenticating the requests.

[2020-07-02 06:43] amihaiemil commented on #244
paid with transaction id: 0ER62346G31483402

[2020-07-02 06:43] 0pdd commented on #244
The puzzle `100-a80e16f6` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-02 06:43] #244 closed

[2020-07-02 06:44] 0pdd opened #249 "GithubIssueComments.java:20-22: Provide a pagination..."
The puzzle `100-24fff222` from #100 has to be resolved:

https://github.com/self-xdsd/self-core/blob/12ac72c655ed805e22d86d33ba9bbb6f04d8f917/self-core-impl/src/main/java/com/selfxdsd/core/GithubIssueComments.java#L20-L22

The puzzle was created by cristianpela on 01-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-07-02 06:44] 0pdd commented on #249
@amihaiemil please pay attention to this new issue.

[2020-07-02 07:15] #246 closed

[2020-07-02 07:15] 0pdd commented on #246
The puzzle `237-bafb0c68` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-02 07:15] 0pdd opened #251 "GithubRepoInvitations.java:41-43: Pass the JsonResources..."
The puzzle `248-4312ce52` from #248 has to be resolved:

https://github.com/self-xdsd/self-core/blob/904aafcf1f7ed3f0acd86d7af0cab27147b0c1f7/self-core-impl/src/main/java/com/selfxdsd/core/GithubRepoInvitations.java#L41-L43

The puzzle was created by @amihaiemil on 02-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-07-02 07:15] 0pdd commented on #251
@amihaiemil please pay attention to this new issue.

[2020-07-02 07:15] 0pdd opened #252 "JsonResources.java:40-44: Add other methods such as..."
The puzzle `248-f065cfa2` from #248 has to be resolved:

https://github.com/self-xdsd/self-core/blob/904aafcf1f7ed3f0acd86d7af0cab27147b0c1f7/self-core-impl/src/main/java/com/selfxdsd/core/JsonResources.java#L40-L44

The puzzle was created by amihaiemil on 02-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-07-02 07:15] 0pdd commented on #252
@amihaiemil please pay attention to this new issue.

[2020-07-02 07:16] #248 closed

[2020-07-02 07:37] #252 closed

[2020-07-02 07:37] 0pdd commented on #252
The puzzle `248-f065cfa2` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-02 07:37] 0pdd opened #254 "JsonResources.java:40-44: Add other methods such as..."
The puzzle `252-820887a6` from #252 has to be resolved:

https://github.com/self-xdsd/self-core/blob/909001591f009487f18d5618e18ab2cda56f4cbe/self-core-impl/src/main/java/com/selfxdsd/core/JsonResources.java#L40-L44

The puzzle was created by amihaiemil on 02-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-07-02 07:37] 0pdd commented on #254
@amihaiemil please pay attention to this new issue.

[2020-07-02 08:41] criske commented on #122
@amihaiemil I'll work on this

[2020-07-02 08:43] amihaiemil opened #256 "Implement Language :: Project.language()"
A project will have a spoken language (english, german etc) -- the user will be able to set it up in self-web and that's the language that the PM will speak. Initially, we will have only English.

Technically, the Language implementation will be responsible for loading and reading the properties files containing the PM's possible comments.

[2020-07-02 08:45] amihaiemil commented on #122
@criske This will be quite a lot of work. Start small, with ``Organizations :: provider.organizations()``. Organizations will be an Iterable of Organization and will represent all the orgs to which the User has admin rights.

[2020-07-02 09:22] #251 closed

[2020-07-02 09:22] 0pdd commented on #251
The puzzle `248-4312ce52` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-02 19:37] #256 closed

[2020-07-03 08:43] 0pdd opened #259 "Organizations.java:8-9: Start implementing Github..."
The puzzle `122-8525164d` from #122 has to be resolved:

https://github.com/self-xdsd/self-core/blob/4c219b0434b6a8b5b679f2180083f1d6bdd515df/self-api/src/main/java/com/selfxdsd/api/Organizations.java#L8-L9

The puzzle was created by cristianpela on 02-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2020-07-03 08:43] 0pdd commented on #259
@amihaiemil please pay attention to this new issue.

[2020-07-03 08:43] amihaiemil commented on #122
paid with transaction id 62H57924UM3490632

[2020-07-03 08:43] #122 closed

[2020-07-04 01:38] ANadrowski commented on #223
Hi guys,

I am trying to implement a test in the class `ProjectTasksTestCase` but I am getting a `NullPointerException` in the statement `MatcherAssert.assertThat(tasks.ofContract(contractId)`. Do you have any idea why is it happening? Is there something wrong with the mock of `task`?

[code]

Thanks in advance.

[2020-07-04 04:55] criske commented on #223
@ANadrowski It looks like Task doesn't have its Project mocked.

[2020-07-04 04:56] criske commented on #254
I'll work on this

[2020-07-04 07:45] amihaiemil commented on #254
@criske if you want to start with the mock version, I think you should start with the get method.

It will encapsulate a ``Map<URI, JsonValue>`` which we will initialize in the constructor.

[2020-07-04 08:04] amihaiemil commented on #223
@ANadrowski I can't look now, I don't have my laptop. But as @criske said, NPE is most likely because of an unfinished mock.

Try debugging :)

[2020-07-04 11:33] ANadrowski commented on #223
@criske @amihaiemil thank you. I will take a look asap :)

[2020-07-06 01:28] ANadrowski commented on #223
@amihaiemil I just sent the PR #261. Please take a look when possible. Thanks.

[2020-07-06 07:42] 0pdd commented on #223
The puzzle `207-01b671c5` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-06 07:42] #223 closed

[2020-07-06 07:42] 0pdd opened #262 "ProjectTasks.java:43-44: It needs to implement the unit..."
The puzzle `223-49114d3d` from #223 has to be resolved:

https://github.com/self-xdsd/self-core/blob/2617be14026749cece9979c1db7da101d8421661/self-core-impl/src/main/java/com/selfxdsd/core/tasks/ProjectTasks.java#L43-L44

The puzzle was created by @ANadrowski on 06-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wi

[2020-07-06 07:42] 0pdd commented on #262
@amihaiemil please pay attention to this new issue.

[2020-07-06 09:40] #254 closed

[2020-07-06 09:40] 0pdd commented on #254
The puzzle `252-820887a6` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-06 09:40] 0pdd opened #263 "JsonResources.java:40-42: Add other methods such as..."
The puzzle `252-9dba75c4` from #252 has to be resolved:

https://github.com/self-xdsd/self-core/blob/2a1035d48fa606bb3b5f8a4fc07f5292e26a9d0c/self-core-impl/src/main/java/com/selfxdsd/core/JsonResources.java#L40-L42

The puzzle was created by amihaiemil on 02-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-07-06 09:40] 0pdd commented on #263
@amihaiemil please pay attention to this new issue.

[2020-07-06 14:12] ANadrowski commented on #262
Hi @amihaiemil, could I work on this?

[2020-07-06 14:35] amihaiemil commented on #262
@ANadrowski Sure, but only if you want to. This month I have no budget for bounties, so I can't send you any cash.
The budget for bounties will come back in August :)

[2020-07-06 14:39] ANadrowski commented on #262
@amihaiemil This is not a problem, assign it to me please :)

[2020-07-06 15:48] criske commented on #241
Just a starting idea that might be used in upcoming prs: https://gist.github.com/criske/939ffc0cef87d74421595404ebe58772

 Example of headers created for JdkHttp Resource:
`HttpHeaders httpHeaders = httpResponse.headers()`
`ResourceHeaders resHeaders = new ResourceHeaders.MultiMap(httpHeaders.map())`

Example of MockResource with empty headers:
`Resource resource = new MockResource(200, JsonValue.

[2020-07-06 16:33] ANadrowski commented on #262
@amihaiemil just sent the PR #264 :)

[2020-07-06 21:09] #262 closed

[2020-07-06 21:09] 0pdd commented on #262
The puzzle `223-49114d3d` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-07 06:14] criske commented on #242
I'll work on this

[2020-07-07 19:57] amihaiemil opened #265 "DoNotRepeat implements Comments"
DoNotRepeat will be a decorator over ``Comments`` and it will make sure no comment is posted twice. We need this in order to prevent the PMs from spamming Issues with repetitive comments.

[2020-07-07 20:34] #265 closed

[2020-07-08 14:48] amihaiemil opened #268 "Allow unauthenticated access to Projects"
We should have the method ``Projects :: Self.projects()`` to allow unauthenticated access to a Project.

Later, we should decorate Projects and Project respectively in such a way that, for instance, write operations are note permitted.

[2020-07-08 18:08] #268 closed

[2020-07-08 19:11] amihaiemil opened #270 "Project.resolve(json event, String token)"
We should implement this method which will take the JSON payload received via provider webhooks, check if the secret token matchets and delegate the work further to the PM.

[2020-07-08 19:32] #270 closed

[2020-07-08 19:33] 0pdd opened #272 "StoredProject.java:39-41: Continue implementation of the..."
The puzzle `270-83d7f545` from #270 has to be resolved:

https://github.com/self-xdsd/self-core/blob/3f81a7c9fb7c77668a61a137fd84e2a6af87e5ef/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredProject.java#L39-L41

The puzzle was created by @amihaiemil on 08-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2020-07-08 19:33] 0pdd commented on #272
@amihaiemil please pay attention to this new issue.

[2020-07-08 19:34] amihaiemil commented on #230
@rultor release it, tag is `0.0.8`

[2020-07-08 19:36] rultor commented on #230
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22539-655713545)

[2020-07-08 19:39] rultor commented on #230
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22539-655713545) (took me 3min)

[2020-07-08 19:40] #230 closed

[2020-07-08 19:40] amihaiemil opened #273 "Release 0.0.9"
Changelog:

#272
#259
#278
#288
#294
#285
#300
#301
#306

[2020-07-09 07:11] criske commented on #259
@amihaiemil Can I work on this?

[2020-07-09 08:10] amihaiemil commented on #259
@criske Yes, but don't write a lot of code, please. Start small, with listing the Organizations :D

[2020-07-09 10:53] 0pdd commented on #259
The puzzle `122-8525164d` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-09 10:53] #259 closed

[2020-07-09 10:53] 0pdd opened #275 "GithubOrganization.java:14-15: Continue to implement and..."
The puzzle `122-8be42be5` from #122 has to be resolved:

https://github.com/self-xdsd/self-core/blob/da7cd6e5975c7e6947df2cd4d9a4984a1eee470d/self-core-impl/src/main/java/com/selfxdsd/core/GithubOrganization.java#L14-L15

The puzzle was created by cristianpela on 09-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task w

[2020-07-09 10:53] 0pdd commented on #275
@amihaiemil please pay attention to this new issue.

[2020-07-09 11:09] criske commented on #275
I'll continue to work on this.

[2020-07-09 14:28] #275 closed

[2020-07-09 14:28] 0pdd commented on #275
The puzzle `122-8be42be5` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-09 14:28] 0pdd opened #277 "User.java:30-31: Allow {@link User} interface to have..."
The puzzle `277-e4f1192a` from #277 has to be resolved:

https://github.com/self-xdsd/self-core/blob/e7388d374744703552f38187140311f9e3b17777/self-api/src/main/java/com/selfxdsd/api/User.java#L30-L31

The puzzle was created by cristianpela on 09-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-07-09 14:28] 0pdd commented on #277
@amihaiemil please pay attention to this new issue.

[2020-07-09 14:32] amihaiemil opened #278 "Introduce Event (type, Issue, Comment)"
This interface will represent an Event received by Self, which is sent by the Provider.

We should also have the possibility of creating an Issue and a Comment from an existing JSON (in case we receive it in the Event).

[2020-07-09 15:36] #278 closed

[2020-07-09 21:17] amihaiemil opened #280 "Move Provider.repo(name) to Repos interface"
Also, the entry point should be Provider.repos().

[2020-07-10 07:23] criske commented on #277
@amihaiemil I'll work on this

[2020-07-10 07:57] amihaiemil commented on #277
@criske sure, go ahead :)

[2020-07-10 08:29] amihaiemil opened #281 "Add Repo :: Provider.received(JsonObject)"
We will also be receiving the Repo in JSON format as part of any Event sent by a Provider via a webhook.

[2020-07-10 08:36] amihaiemil commented on #281
not applicable anymore

[2020-07-10 08:36] #281 closed

[2020-07-10 08:37] amihaiemil commented on #280
not applicable anymore

[2020-07-10 08:37] #280 closed

[2020-07-10 15:36] #272 closed

[2020-07-10 15:36] 0pdd commented on #272
The puzzle `270-83d7f545` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-10 15:37] 0pdd opened #284 "StoredProject.java:38-41: Continue implementation of the..."
The puzzle `272-7c5879a1` from #272 has to be resolved:

https://github.com/self-xdsd/self-core/blob/608d709c320c23a399046372da426a7341eb1171/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredProject.java#L38-L41

The puzzle was created by @amihaiemil on 10-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2020-07-10 15:37] 0pdd commented on #284
@amihaiemil please pay attention to this new issue.

[2020-07-11 07:26] 0pdd opened #285 "User.java:30-31: Implement and test Organizations for..."
The puzzle `278-d86e619b` from #278 has to be resolved:

https://github.com/self-xdsd/self-core/blob/9f26118eeffed11be9c8da66dfb3fba71332ce0b/self-api/src/main/java/com/selfxdsd/api/User.java#L30-L31

The puzzle was created by cristianpela on 10-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-07-11 07:26] 0pdd commented on #285
@amihaiemil please pay attention to this new issue.

[2020-07-11 07:30] amihaiemil opened #286 "ProjectTasks should work with a Stream<Task>"
In order to not load all the Tasks right when we call ``project.tasks()``.

[2020-07-11 07:31] amihaiemil commented on #286
@criske you implemented this mechanism in other classes or ``Contracts``, I think. Wanna do it here too? :D

[2020-07-11 08:46] amihaiemil opened #288 "Register project webhook with the provider"
When a Repo is activated, we need to set up the webhook with the provider.

[2020-07-11 08:47] amihaiemil commented on #273
#288

[2020-07-11 08:49] 0pdd commented on #284
The puzzle `272-7c5879a1` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-11 08:49] #284 closed

[2020-07-11 08:50] 0pdd opened #289 "StoredProject.java:38-41: Continue implementation of the..."
The puzzle `278-0caa54b3` from #278 has to be resolved:

https://github.com/self-xdsd/self-core/blob/beaaef4a66a02aaf5b1c980c7cfe97747034f5f6/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredProject.java#L38-L41

The puzzle was created by @amihaiemil on 11-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2020-07-11 08:50] 0pdd commented on #289
@amihaiemil please pay attention to this new issue.

[2020-07-11 08:50] criske commented on #286
@amihaiemil sure, sign me up

[2020-07-11 08:55] criske opened #290 "Write unit tests for other User implementations."
Write tests for `BaseSelf.Authenticated` and `PmUser` in order to increase test coverage.

[2020-07-11 10:10] #286 closed

[2020-07-12 07:33] criske opened #293 "Webhook Event resolve could be done by ProjectManager instead."
From an "use-case" point of view, I think this is ProjectManager's responsability.
An event processing flow would look like:
`Event e = buildEventFromPayload(json, provider, secret, storage)`
and then:
`storage.projects().findProjectById(e.repoFullName(), e.provider()).projectManager().resolve(event)`

But there is a problem with this aproach. PM doesn't know on which project to work. Having `Proj

[2020-07-12 08:36] amihaiemil commented on #293
@criske I'm actually no satisfied with either solutions. I don't really like how it looks so far and I definitely don't like private helper methods. I will think of a more elegant design...

[2020-07-12 09:00] amihaiemil commented on #293
@criske I think I'll do it similarly to how I built another chatbot, a few years ago: the PM will have a set of composed capabilities, which will resolve to some Steps that he will execute: https://github.com/opencharles/charles-rest/blob/master/src/main/java/com/amihaiemil/charles/github/Action.java#L87

[2020-07-12 10:50] amihaiemil opened #294 "Implement BigDecimal :: Contract.value()"
This method will return a Contract's current value, which consists is the following sum:

sum(activeTasks.value + activeInvoice.value).

[2020-07-12 12:03] criske commented on #293
@amihaiemil Even with that solution,  I think PM still needs a reference to its project.

 How about we inject the project with its webhook secret when we call `projectManager()` in `StoredProject`?
`public ProjectManager projectManager() {`
 `return new StoredProjectManager(this.projectManager.id(),this.projectManager.username(), this.provider(),null, this.storage, this, this.webHookToken);`
 `}`

[2020-07-12 15:04] amihaiemil commented on #293
@criske The PM will have access to the Project via the Event. The PM can also check if the Event belongs to him by doing:

``assert this.username.equals(event.project().projectManager().username()``.  :D

[2020-07-12 15:07] #294 closed

[2020-07-12 17:43] ANadrowski commented on #290
@amihaiemil I'd like to work on this. Could you assign it to me?

[2020-07-12 20:39] amihaiemil commented on #290
@ANadrowski sure, go ahead :D

[2020-07-17 15:03] criske commented on #285
@amihaiemil I'll work on this. I'll start with GitlabOrganizations.

[2020-07-17 15:19] amihaiemil commented on #285
@criske sure, go ahead :D

[2020-07-18 07:42] criske commented on #285
@amihaiemil Since this issue has bounty, I'll countinue with Gitlab Org Repos within the same bounty. Current PR #297 was pretty much a bunch of copy/paste from Github Orgs. :D

[2020-07-18 12:51] #285 closed

[2020-07-18 12:51] 0pdd commented on #285
The puzzle `278-d86e619b` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-18 12:51] 0pdd opened #298 "User.java:30-31: Continue with GitlabOrganizations by..."
The puzzle `298-42a404da` from #298 has to be resolved:

https://github.com/self-xdsd/self-core/blob/dd2648290b4baad63189299c60deb8f2e33daac2/self-api/src/main/java/com/selfxdsd/api/User.java#L30-L31

The puzzle was created by cristianpela on 18-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-07-18 12:51] 0pdd commented on #298
@amihaiemil please pay attention to this new issue.

[2020-07-18 12:55] amihaiemil commented on #285
paid with transaction id: 5397001380987720Y

[2020-07-18 14:31] amihaiemil opened #300 "Implement int :: Issue.estimation()"
This method should return the estimation for a given issue. At the moment, we will hardcode ``60 minutes`` but, in the future, this estimation will be read from labels or comments.

[2020-07-18 15:04] amihaiemil opened #301 "Implement Contract :: Invoice.contract()"
An Invoice should be able to return the Contract it belongs to.

[2020-07-18 16:39] amihaiemil commented on #298
paid with transaction id 7WV57429PP6023543

[2020-07-18 16:42] 0pdd opened #303 "Gitlab.java:36-37: Gitlab Invitations: implement and test..."
The puzzle `300-8b838371` from #300 has to be resolved:

https://github.com/self-xdsd/self-core/blob/69a45e5dafea387c476f8c9faed412aac342a736/self-core-impl/src/main/java/com/selfxdsd/core/Gitlab.java#L36-L37

The puzzle was created by cristianpela on 18-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"don

[2020-07-18 16:42] 0pdd commented on #303
@amihaiemil please pay attention to this new issue.

[2020-07-18 16:44] amihaiemil commented on #298
@criske why is still still open, didn't you remove the puzzle from the code? :D

[2020-07-18 16:45] amihaiemil commented on #298
@criske yes, I saw you removed it... strange.

[2020-07-18 16:45] #298 closed

[2020-07-18 16:50] #301 closed

[2020-07-18 20:05] amihaiemil commented on #290
@ANadrowski FYI, I put a bounty on this ticket : D

[2020-07-18 20:05] #277 closed

[2020-07-18 20:05] #242 closed

[2020-07-18 23:46] ANadrowski commented on #290
@amihaiemil It was a busy week here, but I will take a look asap :D

[2020-07-19 08:28] amihaiemil commented on #290
@ANadrowski no worries, whenever you have time :D

[2020-07-22 10:59] criske commented on #300
I'll work on this

[2020-07-22 11:02] criske commented on #303
Just took a look over the api, and I don't think there is a way to list and accept invitations. You can accept only via email,

[2020-07-22 14:33] amihaiemil commented on #300
paid with transaction id 1A186456R2054471W

[2020-07-22 14:35] 0pdd opened #305 "GithubIssue.java:41-43: Labels API: should be able to..."
The puzzle `305-e93af154` from #305 has to be resolved:

https://github.com/self-xdsd/self-core/blob/8ecba30a49d70488656786ca5dfb862ca79eb43c/self-core-impl/src/main/java/com/selfxdsd/core/GithubIssue.java#L41-L43

The puzzle was created by cristianpela on 22-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-07-22 14:35] 0pdd commented on #305
@amihaiemil please pay attention to this new issue.

[2020-07-22 14:36] #300 closed

[2020-07-23 10:33] amihaiemil commented on #273
@rultor release it, tag is `0.0.9`

[2020-07-23 10:33] rultor commented on #273
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22703-662934051)

[2020-07-23 10:35] rultor commented on #273
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22703-662934051) (spent 2min)

[code]

[2020-07-23 11:59] amihaiemil opened #306 "StoredTask ctor with estimation"
At the moment only 1 constructor takes the estimation as parameter. Both of them should do it.

[2020-07-23 12:48] #306 closed

[2020-07-23 12:49] amihaiemil commented on #273
@rultor release it, tag is `0.0.9`

[2020-07-23 12:50] rultor commented on #273
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22703-662987230)

[2020-07-23 12:53] rultor commented on #273
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22703-662987230) (took me 3min)

[2020-07-23 12:54] #273 closed

[2020-07-23 12:54] amihaiemil opened #308 "Release 0.0.10"
Changelog:

#309

[2020-07-25 12:01] amihaiemil opened #309 "Remove User.organizations()"
Turns out this is an architectural bug. Orgs should be fetched via ``Provider``: ``user.provider().organizations``.

[2020-07-25 12:42] #309 closed

[2020-07-25 12:56] amihaiemil commented on #308
@rultor release it, tag is `0.0.10`

[2020-07-25 12:57] rultor commented on #308
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22728-663852653)

[2020-07-25 13:00] rultor commented on #308
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22728-663852653) (took me 3min)

[2020-07-25 13:01] #308 closed

[2020-07-25 13:16] amihaiemil opened #311 "SelfUsers.signUp wrong order of params"
It is ``username, email, provider``, but it should be ``username, provider, email``

[2020-07-25 13:16] amihaiemil opened #312 "Release 0.0.11"
Changelog:

#313
#315
#317

[2020-07-25 13:18] amihaiemil commented on #311
n/a, this is in storage

[2020-07-25 13:18] #311 closed

[2020-07-25 17:13] amihaiemil opened #313 "InvoicedTasks.ofInvoice(...) should take the Invoice"
At the moment, it only accepts the Invoice id. It should take the whole Invoice.

[2020-07-25 17:43] #313 closed

[2020-07-26 08:16] amihaiemil opened #315 "InvoicedTasks.register(Invoice, Task)"
It should expect the Invoice and the Task (at the moment it expects the invoiceId and the Task)

[2020-07-26 08:55] #315 closed

[2020-07-26 08:56] 0pdd opened #317 "Invoice.java:13-15: An Invoice should have the method..."
The puzzle `315-3e2d84bd` from #315 has to be resolved:

https://github.com/self-xdsd/self-core/blob/b46c3bff05a7aaee8d51691f4250856dbf8e3721/self-api/src/main/java/com/selfxdsd/api/Invoice.java#L13-L15

The puzzle was created by @amihaiemil on 26-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-07-26 08:56] 0pdd commented on #317
@amihaiemil please pay attention to this new issue.

[2020-07-26 10:15] 0pdd commented on #317
The puzzle `315-3e2d84bd` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-26 10:15] #317 closed

[2020-07-26 10:48] amihaiemil commented on #312
@rultor release it, tag is `0.0.11`

[2020-07-26 10:48] rultor commented on #312
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22736-663972415)

[2020-07-26 10:51] rultor commented on #312
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22736-663972415) (took me 3min)

[2020-07-26 10:53] #312 closed

[2020-07-28 18:39] ANadrowski commented on #290
Hi @amihaiemil
I'm sorry for the delay here.
Feel free to remove the bounty but if possible let it still assigned to me and I will try to solve it in the next days (probably next weekend)... thanks.

[2020-07-28 18:47] amihaiemil commented on #290
@ANadrowski no problem, whenever you have time 👍

[2020-07-28 19:03] ANadrowski commented on #290
@amihaiemil thanks :)

[2020-07-29 11:21] amihaiemil opened #319 "Expose Project.webHookToken()"
We should have an accessor method for the project's webhook token.

[2020-07-29 11:21] amihaiemil opened #320 "Remove secret param from Project.resolve"
It's not needed, the secret signature is validated beforehand.

[2020-07-29 11:22] amihaiemil opened #321 "Release 0.0.12"
Changelog:

#319
#320

[2020-07-29 12:17] #319 closed

[2020-07-29 12:20] #320 closed

[2020-07-29 12:22] amihaiemil commented on #321
@rultor release it, tag is `0.0.12`

[2020-07-29 12:22] rultor commented on #321
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22763-665631681)

[2020-07-29 12:26] rultor commented on #321
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22763-665631681) (took me 3min)

[2020-07-29 12:27] #321 closed

[2020-07-30 10:11] amihaiemil opened #324 "Solve Events in Steps"
Let's make a step-based architecture in order for the PM to solve the incomming project events.

[2020-07-30 10:31] amihaiemil opened #326 "Release 0.0.14"
Changelog:

#324
#328
#330
#331
#334
#333
#355
#361
#366

[2020-07-30 10:41] #324 closed

[2020-07-30 10:42] 0pdd opened #327 "Step.java:33-35: Implement a Step which invites the PM to..."
The puzzle `324-de3d5d88` from #324 has to be resolved:

https://github.com/self-xdsd/self-core/blob/030cdae0525df159b9d9c16494fcd290bd7280ba/self-api/src/main/java/com/selfxdsd/api/pm/Step.java#L33-L35

The puzzle was created by @amihaiemil on 30-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-07-30 10:42] 0pdd commented on #327
@amihaiemil please pay attention to this new issue.

[2020-07-30 11:44] amihaiemil opened #328 "Implement provider Collaborators"
For starters this will have the ``invite(...)`` method so we can invite a user to a Repo.
https://developer.github.com/v3/repos/collaborators/#add-a-repository-collaborator

[2020-07-30 11:55] ANadrowski commented on #290
Hi @amihaiemil @criske could you give me a tip here?

A good test for _BaseSelf.Authenticated_ should be to create an instance of it, passing the values in the constructor (User and token) and test its methods (_username()_, _email()_, _provider()_ and _projects()_)?

... and the same for _PmUser_?

I observed that the _BaseSelf.Authenticated_ is used in the test _platformLoginWorks()_, but there

[2020-07-30 12:01] amihaiemil commented on #290
@ANadrowski Yes, a good unit test usually means you instantiate the object and then make assertions on the methods.

But the key is to mock the dependencies. For instance, you want to see that ``Authenticated.username()`` returns the username but you are not interested in the ``username()`` method from the ``User``. So you mock the User.

Here is an example:

[code]

[2020-07-30 12:18] ANadrowski commented on #290
@amihaiemil that is awesome, thanks! :D

[2020-07-31 10:59] #328 closed

[2020-07-31 11:00] 0pdd opened #330 "GitlabRepo.java:38-39: Implement the GitLab..."
The puzzle `328-f56725d1` from #328 has to be resolved:

https://github.com/self-xdsd/self-core/blob/cb5176d9bad035b2480dce0ed5ffac741432a161/self-core-impl/src/main/java/com/selfxdsd/core/GitlabRepo.java#L38-L39

The puzzle was created by @amihaiemil on 30-Jul-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"

[2020-07-31 11:00] 0pdd commented on #330
@amihaiemil please pay attention to this new issue.

[2020-07-31 11:00] 0pdd opened #331 "GithubCollaborators.java:35-36: Implement the invite..."
The puzzle `328-bf9f2d94` from #328 has to be resolved:

https://github.com/self-xdsd/self-core/blob/cb5176d9bad035b2480dce0ed5ffac741432a161/self-core-impl/src/main/java/com/selfxdsd/core/GithubCollaborators.java#L35-L36

The puzzle was created by amihaiemil on 31-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wi

[2020-07-31 11:00] 0pdd commented on #331
@amihaiemil please pay attention to this new issue.

[2020-07-31 11:00] amihaiemil commented on #330
@criske Wanna take this one? :D

[2020-07-31 11:53] criske commented on #330
@amihaiemil sure

[2020-07-31 12:24] #331 closed

[2020-07-31 12:24] 0pdd commented on #331
The puzzle `328-bf9f2d94` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-31 12:30] amihaiemil opened #333 "Implement Provider.repo(owner, name)"
At the moment we only have ``Provider.repo(name)`` which takes the repo's name and appends it to the username of the authenticated user.

We also need a method to dictate the user (especially in the case of org repos, where the "owner" is the Organization).

Read [this](https://github.com/self-xdsd/self-core#cash-bounties) for details about the bounty.

[2020-07-31 12:39] criske opened #334 "JsonResources post/patch/put methods should pass a JsonValue for body."
Sometimes we want to pass a plain string value spoofed as a JsonValue. For example adding a collaborator to a Gitlab project
require a plain string in the request body. [doc link](https://docs.gitlab.com/ee/api/members.html#add-a-member-to-a-group-or-project)

[2020-07-31 12:39] criske commented on #330
waiting for #334

[2020-07-31 12:47] amihaiemil commented on #334
@criske sure, go ahead :D

[2020-07-31 13:01] amihaiemil commented on #334
paid with transaction id 6JY97201U85955444

[2020-07-31 13:15] #334 closed

[2020-07-31 14:33] criske commented on #330
https://github.com/self-xdsd/self-core/blob/a2e0cedf38cd7ca2f8f83a85cd16a00b1dfeb0d4/self-core-impl/src/main/java/com/selfxdsd/core/GitlabRepo.java#L73
`URI.create("https://gitlab.com/api/v4/projects/"+ repoName)`
@amihaiemil There is a small bug here, in fact 2 bugs:
- ?owned=true must be added or else will list random public repos besides the ones owned by user
- repoName must be composed with o

[2020-07-31 15:57] amihaiemil commented on #330
@criske It's better if you open 2 Issues, one for each bug, with a detailed description :D
Then, this Issue will wait until those 2 are fixed. I think it's cleaner this way.

[2020-07-31 17:08] criske opened #336 "GitlabRepo.java:73: Uri should have the "owned" query parameter attached."
https://github.com/self-xdsd/self-core/blob/a2e0cedf38cd7ca2f8f83a85cd16a00b1dfeb0d4/self-core-impl/src/main/java/com/selfxdsd/core/GitlabRepo.java#L73

_?owned=true_ must be added or else will list random public repos besides the ones owned by current user.

Example: `https://gitlab.com/api/v4/projects/my_repo?owned=true`

[2020-07-31 17:16] criske opened #337 "GitlabRepo.java:73: `repoName` in Uri must be composed with owner's username."
https://github.com/self-xdsd/self-core/blob/a2e0cedf38cd7ca2f8f83a85cd16a00b1dfeb0d4/self-core-impl/src/main/java/com/selfxdsd/core/GitlabRepo.java#L73

repoName must be composed with owner user name and then encoded.
See [Namespaced path encoding](https://docs.gitlab.com/ee/api/README.html#namespaced-path-encoding)
For example if repo name is _my_repo_ and owner username is _mihai_ then repo uri

[2020-07-31 17:17] criske commented on #337
waiting for #336

[2020-07-31 20:04] criske commented on #336
Actually this is wrong, that rule applies for listing current user repos(projects).
This can be safely close. :)

[2020-07-31 20:04] #336 closed

[2020-08-01 11:06] amihaiemil commented on #337
paid with transaction id 89J27219H5980601U

[2020-08-01 11:10] #337 closed

[2020-08-01 15:52] amihaiemil commented on #330
paid with transaction id 7RL00662N0186031R

[2020-08-01 18:09] criske commented on #330
@amihaiemil I forgot the remove the puzzle, sorry. Can I make a quick pr and remove it?

[2020-08-01 18:13] amihaiemil commented on #330
@criske yes, sure

[2020-08-01 18:24] #330 closed

[2020-08-01 18:24] 0pdd commented on #330
The puzzle `328-f56725d1` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-02 00:37] ANadrowski commented on #290
@amihaiemil
The Authenticated unit test is almost ready, it needs just to test provider() yet -> https://github.com/ANadrowski/self-core/blob/c10e6f5e5a792f350084d07cb1f05d0970393580/self-core-impl/src/test/java/com/selfxdsd/core/SelfCoreTestCase.java#L138
I am going to try to do it soon.

But I am having a problem with the PmUser class because it is an inner class and it is private, then I cannot

[2020-08-02 08:42] amihaiemil commented on #290
@ANadrowski yes, it is private, that's why you can't use it. But don't worry about PmUser right now.

Don't forget, you don't have to solve the whole task. Unit tests for Authenticated are enough, just leave a todo for the rest, which will become a new task.

[2020-08-02 09:52] criske commented on #290
@ANadrowski The`PmUser` could be tested indirectly by calling:
`User user = new StoredProjectManager(....).provider().repo("some-repo").owner()` :)

[2020-08-04 08:25] criske opened #341 "Exposing paging to storage api."
Though there is some paging done internally in `self-storage`, any listing request from `self-web` will load all the results in memory regardless. I think we should be able to select pages through `self-storage` something like `xxxPaged = storage.xxx().page(page)`. Adapting paging is straightforward, as long as we're using streams instead of passing lists or iterables for different `self-core` sto

[2020-08-04 12:42] ANadrowski commented on #290
@amihaiemil @criske
To test the method bellow (of the class `BaseSelf. Authenticated`) the right approach should be to verify if `.provider()` returns a provider with the same token that I used when I created an Authenticated instance? (i.e. `new Authenticated(user, "tok3n")`)

[code]
Thanks

[2020-08-04 13:15] criske commented on #290
@ANadrowski
I think verifying that provider `withToken` is called is enough.
`when(user.provider()).thenReturn(mockedProvider)`
then
`verify(mockedProvider).withToken(anyString())`
If you really want to check if correct token is passed you could use an [ArgumentCaptor](https://www.javadoc.io/doc/org.mockito/mockito-core/2.6.9/org/mockito/ArgumentCaptor.html) instead of `anyString()`

[2020-08-04 13:18] ANadrowski commented on #290
@criske thank you!

[2020-08-05 14:54] #333 closed

[2020-08-05 14:54] 0pdd opened #343 "GitlabOrganizationRepos.java:85-91: The method..."
The puzzle `333-0a2c981a` from #333 has to be resolved:

https://github.com/self-xdsd/self-core/blob/06892dc4f6e9605255204dded3d6fe5d209e5c31/self-core-impl/src/main/java/com/selfxdsd/core/GitlabOrganizationRepos.java#L85-L91

The puzzle was created by @amihaiemil on 05-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The ta

[2020-08-05 14:54] 0pdd commented on #343
@amihaiemil please pay attention to this new issue.

[2020-08-05 14:56] amihaiemil commented on #343
@criske Poti sa te uiti peste asta daca ai timp, te rog? Nu mi-am dat seama ce valoare trebuie sa ii dau la ``Gitlab.createFromName(...)`` si am pus empty-string:

https://github.com/self-xdsd/self-core/blob/master/self-core-impl/src/main/java/com/selfxdsd/core/GitlabOrganizationRepos.java#L97

[2020-08-05 15:01] amihaiemil commented on #341
@criske Sounds good, can you start with a proof of concept? :D

[2020-08-05 15:54] criske commented on #343
@amihaiemil E simplu, problema e in documentatia astora de la Gitlab :D. A trebuit sa-mi fac propriul org cu proiecte ca sa
imi dau seama ca repo uri se poate extrage direct din json. E acolo un camp nedocumentat `_links` care-l contine printre altele.
Imediat fac un pr.

[2020-08-05 15:57] criske commented on #341
@amihaiemil sure, I'll do one for `Projects`.

[2020-08-05 23:42] ANadrowski commented on #290
@criske if I got it well, the `verify(mockedProvider).withToken(anyString())` tests if the method  `.provider() `was called at least once inside the test, right? Even if I am not using the new instance `provider1` created here: `final Provider provider1 = new Authenticated(user, "tok3n").provider(); `right?

Right now the test is ok, what do you think about it? please see it if possible:

https://

[2020-08-06 07:32] amihaiemil commented on #343
paid with transaction id 6J217317GG981440G

[2020-08-06 07:35] amihaiemil commented on #290
@ANadrowski Please make a Pull Request and we will discuss there. The test doesn't look bad, but I have a few comments :)

[2020-08-06 07:37] #343 closed

[2020-08-06 07:37] 0pdd commented on #343
The puzzle `333-0a2c981a` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-06 09:31] ANadrowski commented on #290
@amihaiemil It is ok, I will try to do it tonight :)

[2020-08-06 13:36] ANadrowski commented on #290
@amihaiemil last question here: Is it ok to put 2 @ todo inside the same class? The class  `StoredProjectManager` already has a @ todo. But I’d like to add a @todo to create a unit test for PmUser. Or should I update the @todo that already exists there?

[2020-08-06 13:43] amihaiemil commented on #290
@ANadrowski yes, it's ok to add another todo. Never edit existing todos since they already have a corresponding Issue :)

[2020-08-06 13:44] ANadrowski commented on #290
@amihaiemil thank you :+1:

[2020-08-06 22:46] ANadrowski commented on #290
@amihaiemil  Just sent the PR, please take a look when possible #346 :)

[2020-08-07 10:03] #327 closed

[2020-08-07 10:03] 0pdd commented on #327
The puzzle `324-de3d5d88` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-07 10:03] 0pdd opened #348 "Step.java:33-34: Implement a Step which sets up the..."
The puzzle `327-e59edc6b` from #327 has to be resolved:

https://github.com/self-xdsd/self-core/blob/5c6c2983649fe1f5ed2370554b0e526e03324e4f/self-api/src/main/java/com/selfxdsd/api/pm/Step.java#L33-L34

The puzzle was created by @amihaiemil on 07-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-08-07 10:03] 0pdd commented on #348
@amihaiemil please pay attention to this new issue.

[2020-08-07 10:03] 0pdd opened #349 "InvitePm.java:38-39: Create classes for permissions..."
The puzzle `327-196b193e` from #327 has to be resolved:

https://github.com/self-xdsd/self-core/blob/5c6c2983649fe1f5ed2370554b0e526e03324e4f/self-core-impl/src/main/java/com/selfxdsd/core/managers/InvitePm.java#L38-L39

The puzzle was created by amihaiemil on 07-Aug-20.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-08-07 10:03] 0pdd commented on #349
@amihaiemil please pay attention to this new issue.

[2020-08-07 10:03] 0pdd opened #350 "InvitePm.java:40-43: Add method ProjectManager.userId()..."
The puzzle `327-e55cf50f` from #327 has to be resolved:

https://github.com/self-xdsd/self-core/blob/5c6c2983649fe1f5ed2370554b0e526e03324e4f/self-core-impl/src/main/java/com/selfxdsd/core/managers/InvitePm.java#L40-L43

The puzzle was created by amihaiemil on 07-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-08-07 10:03] 0pdd commented on #350
@amihaiemil please pay attention to this new issue.

[2020-08-07 10:46] #349 closed

[2020-08-07 10:46] 0pdd commented on #349
The puzzle `327-196b193e` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-07 11:35] amihaiemil commented on #341
paid with transaction id 1D4908014F2773708

[2020-08-07 11:40] 0pdd opened #353 "InMemoryProjects.java:45-46: Write unit tests for paging..."
The puzzle `346-3112900e` from #346 has to be resolved:

https://github.com/self-xdsd/self-core/blob/c570220d2565ab0d3ecd28b30c46c2d78502af27/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryProjects.java#L45-L46

The puzzle was created by cristianpela on 06-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2020-08-07 11:40] 0pdd commented on #353
@amihaiemil please pay attention to this new issue.

[2020-08-07 11:52] criske commented on #353
@amihaiemil I'll finish this, but without a bounty please :D. This is still part of #341 imo.

[2020-08-07 11:56] #350 closed

[2020-08-07 11:56] 0pdd commented on #350
The puzzle `327-e55cf50f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-07 11:59] amihaiemil commented on #353
@criske Please continue and also leave puzzles to continue implementing this mechanism for other entities as well.
Paging is not so urgent at the moment: I would continue with replacing the Lists with Streams accross entities (there are still many that use Lists).

[2020-08-07 11:59] #341 closed

[2020-08-07 12:15] 0pdd opened #355 "SetupWebhook.java:36-38: Implement and test..."
The puzzle `348-1471771f` from #348 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6d9515381545b6a8efc156afb01e1b8ee53737ae/self-core-impl/src/main/java/com/selfxdsd/core/managers/SetupWebhook.java#L36-L38

The puzzle was created by amihaiemil on 07-Aug-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-08-07 12:15] 0pdd commented on #355
@amihaiemil please pay attention to this new issue.

[2020-08-07 13:40] #355 closed

[2020-08-07 13:40] 0pdd commented on #355
The puzzle `348-1471771f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-07 13:40] 0pdd opened #357 "GitlabRepo.java:35-36: Implement and test Webhooks for..."
The puzzle `355-a0b82922` from #355 has to be resolved:

https://github.com/self-xdsd/self-core/blob/4a8043c5fe3a0965e8d8f8d51eaf47842ec645e8/self-core-impl/src/main/java/com/selfxdsd/core/GitlabRepo.java#L35-L36

The puzzle was created by @amihaiemil on 07-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"

[2020-08-07 13:40] 0pdd commented on #357
@amihaiemil please pay attention to this new issue.

[2020-08-07 13:40] 0pdd opened #358 "GithubWebhooks.java:38-40: Implement and write tests for..."
The puzzle `355-e7106a95` from #355 has to be resolved:

https://github.com/self-xdsd/self-core/blob/4a8043c5fe3a0965e8d8f8d51eaf47842ec645e8/self-core-impl/src/main/java/com/selfxdsd/core/GithubWebhooks.java#L38-L40

The puzzle was created by amihaiemil on 07-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-08-07 13:40] 0pdd commented on #358
@amihaiemil please pay attention to this new issue.

[2020-08-07 14:31] #358 closed

[2020-08-07 14:31] 0pdd commented on #358
The puzzle `355-e7106a95` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-07 15:27] amihaiemil opened #361 "Resolve activation Event"
Project should resolve this Event and pass it on to the ProjectManager which should use the provided Steps (InvitePm and SetupWebhook) to finalize the activation process.

[2020-08-08 10:33] criske commented on #357
@amihaiemil I'll work on this.

[2020-08-08 11:37] criske opened #362 "Project should be registered after pm is invited and webhook created."
Right now project is saved first to storage in `Repo#activate`.
But there are some problems with this aproach:
- if one of the steps `PmInvite` or ` WebhookSetup` fail, then the project will be saved in a bad state.
- webhook secret is created internally in `ProjectManager#asign`. But we will need to store hook `id` too besides `secret`, for the time we want to deactivate the project (will also de

[2020-08-08 12:22] criske commented on #362
might be related to #361

[2020-08-09 07:19] amihaiemil commented on #290
paid with transaction id 5DT58440YW416563P

[2020-08-09 07:19] amihaiemil commented on #353
paid with transaction id 1CW69358YB242091F

[2020-08-09 07:22] 0pdd opened #363 "StoredProjectManager.java:42-43: Unit tests have been..."
The puzzle `290-4f83021f` from #290 has to be resolved:

https://github.com/self-xdsd/self-core/blob/f9c60a30c685e1bba74849ebf578eb8a112231e3/self-core-impl/src/main/java/com/selfxdsd/core/managers/StoredProjectManager.java#L42-L43

The puzzle was created by Aislan Nadrowski on 07-Aug-20.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets inst

[2020-08-09 07:22] 0pdd commented on #363
@amihaiemil please pay attention to this new issue.

[2020-08-09 07:23] amihaiemil commented on #362
@criske But I think we can iterate over a Repo's hooks and see their URLs, right? This way, we can deactivate all hooks that have a ``self-xdsd.com`` URL. So we don't need to save any hook ID.

Otherwise, this seems like a good idea, but it doesn't necessarily have to be a transaction. As it is now, we register the Repo and later, if InvitePm or SetupWebhook fails, we can display a warning message

[2020-08-09 07:30] #353 closed

[2020-08-09 07:30] 0pdd commented on #353
The puzzle `346-3112900e` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-09 07:30] 0pdd opened #364 "Paged.java:9-10: Provide paging implementation for other..."
The puzzle `360-6b8f3473` from #360 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ff34ee5568d557e5c7672de96d88c966663236bc/self-api/src/main/java/com/selfxdsd/api/storage/Paged.java#L9-L10

The puzzle was created by cristianpela on 07-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-08-09 07:30] 0pdd commented on #364
@amihaiemil please pay attention to this new issue.

[2020-08-09 07:36] #290 closed

[2020-08-09 07:37] amihaiemil commented on #357
@criske Sure, go ahead :)

[2020-08-09 07:44] 0pdd commented on #348
The puzzle `327-e59edc6b` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-09 07:44] #348 closed

[2020-08-09 09:58] #361 closed

[2020-08-09 09:59] amihaiemil commented on #364
@criske Can you start here by making sure all the filtered classes use Stream instead of List? :D

[2020-08-09 10:33] criske commented on #362
I guess that will work too :)

I for one I wouldn't let the owner to setup the webhook manually, but anyway there are slim chances to fail that step :D.
The problem is going to be InvitePm.
For Gitlab is easy, they don't have an invite system; the pm is added without confirmation. (will receive a notif email that they were assigned and that's it -- though they can reject it from the same mail).
Fo

[2020-08-09 10:36] criske commented on #364
@amihaiemil sure.

[2020-08-09 11:04] criske commented on #364
@amihaiemil Since its logic applies everywhere, shoud I refactor `ProjectsPaged` into a base class, in this PR?
For example `PmProjects` will extend `BasePaged` and implement `Projects` as before.

[2020-08-09 11:13] amihaiemil commented on #364
@criske yes, sure :D

[2020-08-09 11:16] amihaiemil commented on #362
@criske

The invitation has to be accepted by the PM. We have an automatic mechanism for that as well, it's already implemented in self-pm:

https://github.com/self-xdsd/self-pm/blob/551909191d27a7bc159ea360eeda72c286201311/src/main/java/com/selfxdsd/selfpm/AcceptInvitations.java#L71-L91

So every 10min, each PM will check their invitations and accept anything they got. There is no scenario in whi

[2020-08-09 11:28] criske commented on #362
@amihaiemil gotcha :). Should we take then in consideration the corner case when PM decides to leave? I mean nothing could stop them to go to github/gitlab and leave the project.

[2020-08-09 11:29] amihaiemil commented on #362
@criske well, maybe later. They are chatbots, so they'll do exactly what we tell them haha

[2020-08-09 11:37] amihaiemil opened #366 "Add Login.role()"
The users may have different roles in Self (user, admin etc). Let's add this method to the Login interface.

[2020-08-09 11:45] criske commented on #362
@amihaiemil  rofl completly missed out that they are bots.
You could close this issue if you want.

[2020-08-09 11:48] #362 closed

[2020-08-09 12:32] #366 closed

[2020-08-09 12:33] #293 closed

[2020-08-09 13:44] HoreaPetrila commented on #363
I can take this one, sorry for the period of inactivity, I've had my Bachelor Exam

[2020-08-09 14:01] amihaiemil commented on #363
@HoreaPetrila no problem, welcome back!

[2020-08-09 15:03] HoreaPetrila commented on #363
[code]
No access to push anymore, maybe?

[2020-08-09 15:13] amihaiemil commented on #363
@HoreaPetrila nobody has push access on the main repo, you have to fork it and push to your fork, then make a Pull Request

[2020-08-09 18:37] amihaiemil commented on #357
paid with transaction id 3DK54258875549626

[2020-08-09 18:39] amihaiemil commented on #364
paid with transaction id 2VY510585J7310807

[2020-08-09 18:43] 0pdd commented on #364
The puzzle `360-6b8f3473` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-09 18:43] #364 closed

[2020-08-09 18:43] 0pdd opened #371 "Paged.java:9-11: Provide paging implementation for other..."
The puzzle `366-f7a7e029` from #366 has to be resolved:

https://github.com/self-xdsd/self-core/blob/df596f3836b91d44ffc8a5bcde637fa1871eaab9/self-api/src/main/java/com/selfxdsd/api/storage/Paged.java#L9-L11

The puzzle was created by cristianpela on 09-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-08-09 18:43] 0pdd commented on #371
@amihaiemil please pay attention to this new issue.

[2020-08-09 18:52] #357 closed

[2020-08-09 18:52] 0pdd commented on #357
The puzzle `355-a0b82922` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-10 07:46] amihaiemil commented on #363
paid with transaction id 0UA53070TH8285745

[2020-08-10 07:55] #363 closed

[2020-08-10 07:55] 0pdd commented on #363
The puzzle `290-4f83021f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-10 07:56] amihaiemil commented on #326
@rultor release it, tag is `0.0.13`

[2020-08-10 07:56] rultor commented on #326
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22873-671214108)

[2020-08-10 07:59] rultor commented on #326
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22873-671214108) (spent 3min)

[code]

[2020-08-10 08:03] amihaiemil commented on #326
@rultor try to release again, tag is `0.0.13`

[2020-08-10 08:04] rultor commented on #326
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22873-671216923)

[2020-08-10 08:06] rultor commented on #326
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22873-671216923) (spent 2min)

[code]

[2020-08-10 08:15] amihaiemil commented on #326
@rultor try to release again, tag is `0.0.13`

[2020-08-10 08:16] rultor commented on #326
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22873-671221919)

[2020-08-10 08:18] rultor commented on #326
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22873-671221919) (spent 2min)

[code]

[2020-08-10 08:20] amihaiemil commented on #326
@rultor release it, tag is `0.0.14`

[2020-08-10 08:21] rultor commented on #326
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22873-671224042)

[2020-08-10 08:25] rultor commented on #326
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22873-671224042) (took me 3min)

[2020-08-10 08:25] #326 closed

[2020-08-10 08:25] amihaiemil opened #373 "Release 0.0.15"
Changelog:

#212
#374
#376
#380

[2020-08-10 10:53] ANadrowski commented on #212
@amihaiemil I'd like to work on this issue.

[2020-08-10 19:16] criske opened #374 "BasePaged should have `totalRecords` up to date."
After inserting records into storage, `BasePaged#totalRecords` should reflect that when calling `Based#totalPages()`.
Instead of an `int`, passing a `Supplier<Integer>` to BasedPaged constructor should fix that.
The `Supplier`, internally, should query the `table` size.

[2020-08-11 06:06] amihaiemil commented on #374
@criske well, since you opened the Issue, let's fix it :D

[2020-08-11 06:07] amihaiemil opened #376 "Implement project wallet"
A project should have a wallet.

[2020-08-11 07:44] #376 closed

[2020-08-11 07:44] 0pdd opened #378 "StoredProject.java:42-44: At the moment the wallet()..."
The puzzle `376-1e018104` from #376 has to be resolved:

https://github.com/self-xdsd/self-core/blob/355d899cd35a74275e252214f74c26bbe52f065f/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredProject.java#L42-L44

The puzzle was created by @amihaiemil on 11-Aug-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2020-08-11 07:44] 0pdd commented on #378
@amihaiemil please pay attention to this new issue.

[2020-08-11 07:44] 0pdd opened #379 "ProjectContributors.java:45-46: Change this class to..."
The puzzle `376-b4f38c4d` from #376 has to be resolved:

https://github.com/self-xdsd/self-core/blob/355d899cd35a74275e252214f74c26bbe52f065f/self-core-impl/src/main/java/com/selfxdsd/core/contributors/ProjectContributors.java#L45-L46

The puzzle was created by @amihaiemil on 11-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instea

[2020-08-11 07:44] 0pdd commented on #379
@amihaiemil please pay attention to this new issue.

[2020-08-11 07:44] 0pdd opened #380 "ProjectContributors.java:47-50: Once we have the Project..."
The puzzle `376-eb663e41` from #376 has to be resolved:

https://github.com/self-xdsd/self-core/blob/355d899cd35a74275e252214f74c26bbe52f065f/self-core-impl/src/main/java/com/selfxdsd/core/contributors/ProjectContributors.java#L47-L50

The puzzle was created by @amihaiemil on 11-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instea

[2020-08-11 07:44] 0pdd commented on #380
@amihaiemil please pay attention to this new issue.

[2020-08-11 08:15] #379 closed

[2020-08-11 08:15] 0pdd commented on #379
The puzzle `376-b4f38c4d` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-11 08:24] criske commented on #378
@amihaiemil I'll try on this. This is just having a `Wallet::getWalletById(id)` in Projects?

[2020-08-11 08:30] amihaiemil commented on #378
@criske Nope. The StoredProject will encapsulate the walletId (read from the DB). Based on this walletId, we will have a Wallet implementation which will probably talk to a payments microservice.

Let's mark this task as "postponed" for now, as there are many unknowns still.

[2020-08-11 08:42] criske commented on #378
@amihaiemil That's I was my train of thought, I think :D.
Implementation of wallet in StoredProject would simply looked like `this.storage.projctes().getWalletById(this.walletId)` and the return would be a Wallet (currently stubbed) else `Wallet.Missing`. I assumed that the talk with the payment service will be when call `available`.

[2020-08-11 08:49] amihaiemil commented on #378
@criske Yes, the talk will happen in the ``available()`` method, but there will be no ``getWalletById(...)``. Simply:

[code]

So until we have SvcWallet there is not much to do :D

[2020-08-11 09:01] criske commented on #378
@amihaiemil gotcha, so no extra static info about wallet stored in storage apart of `id`.

[2020-08-11 09:43] amihaiemil commented on #374
paid with transaction id 07N0426116971273J

[2020-08-11 09:52] #374 closed

[2020-08-11 13:10] #380 closed

[2020-08-11 13:10] 0pdd commented on #380
The puzzle `376-eb663e41` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-11 13:10] 0pdd opened #384 "Wallet.java:32-34: Implement the Invoice ::..."
The puzzle `380-c7c335ec` from #380 has to be resolved:

https://github.com/self-xdsd/self-core/blob/b9a5c5e37a4b44cc5db008469783e1d7a54c5158/self-api/src/main/java/com/selfxdsd/api/Wallet.java#L32-L34

The puzzle was created by @amihaiemil on 11-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-08-11 13:10] 0pdd commented on #384
@amihaiemil please pay attention to this new issue.

[2020-08-11 16:01] amihaiemil opened #386 "Add method Invoices.registerAsPaid(Invoice)"
We need this method in order to update a paid Invoice's state (register the paymentTime and transactionId).

[2020-08-11 16:14] #384 closed

[2020-08-11 16:14] 0pdd commented on #384
The puzzle `380-c7c335ec` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-11 16:31] amihaiemil commented on #212
paid with transaction id 5YK98516841893910

[2020-08-11 16:56] ANadrowski opened #387 "Move unit tests comparesStoredContributorObjects and verifiesStoredContributorHashcode"
Move the unit tests comparesStoredContributorObjects and verifiesStoredContributorHashcode
from ProjectContributorsTestCase.java to StoredContributorTestCase.java

[2020-08-11 16:58] ANadrowski commented on #387
@amihaiemil Let me do it (without bounty).
Thanks.

[2020-08-11 16:59] amihaiemil commented on #387
@ANadrowski sure, go ahead

[2020-08-12 07:40] #387 closed

[2020-08-12 09:45] criske opened #389 "Better way to test requests with MockJsonResources."
Right now the only way to test requests is in the lambda passed to MockJsonResources' constuctor.
But that sometimes could make tests hard to follow; for example: https://github.com/self-xdsd/self-core/blob/1f16aae71a27c703630f1342c2a4e3cc40bb58a7/self-core-impl/src/test/java/com/selfxdsd/core/GitlabWebhooksTestCase.java#L51

This issue could be fixed if `MockJsonResources` could track all the req

[2020-08-12 11:38] amihaiemil commented on #389
@criske thanks!

[2020-08-12 11:38] #389 closed

[2020-08-12 12:01] #386 closed

[2020-08-12 12:19] amihaiemil commented on #373
@rultor release it, tag is `0.0.15`

[2020-08-12 12:20] rultor commented on #373
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22921-672836894)

[2020-08-12 12:23] rultor commented on #373
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22921-672836894) (took me 3min)

[2020-08-12 12:24] #373 closed

[2020-08-12 12:24] amihaiemil opened #392 "Release 0.0.16"
Changelog:

#393
#396
#395
#398
#400
#403
#404

[2020-08-13 20:00] ANadrowski commented on #212
@amihaiemil I think you can close this issue.

[2020-08-14 10:55] amihaiemil commented on #212
@ANadrowski this is funny, it should have been closed automatically by 0pdd... thanks!

[2020-08-14 10:55] #212 closed

[2020-08-14 11:33] amihaiemil opened #393 "Implement BigDecimal :: ProjectManager.commission()"
This will represent the PM's commission taken for each invoiced task.

[2020-08-14 13:07] #393 closed

[2020-08-14 13:07] 0pdd opened #395 "ProjectManagers.java:30-31: Method register(...): make..."
The puzzle `393-8cb94068` from #393 has to be resolved:

https://github.com/self-xdsd/self-core/blob/f149dfca8fa68e1a329ddd85ac976a2f418980e9/self-api/src/main/java/com/selfxdsd/api/ProjectManagers.java#L30-L31

The puzzle was created by @amihaiemil on 14-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2020-08-14 13:07] 0pdd commented on #395
@amihaiemil please pay attention to this new issue.

[2020-08-14 13:07] 0pdd opened #396 "ProjectContributors.java:43-44: Take the PM's commission..."
The puzzle `393-882ba2c8` from #393 has to be resolved:

https://github.com/self-xdsd/self-core/blob/f149dfca8fa68e1a329ddd85ac976a2f418980e9/self-core-impl/src/main/java/com/selfxdsd/core/contributors/ProjectContributors.java#L43-L44

The puzzle was created by @amihaiemil on 14-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instea

[2020-08-14 13:07] 0pdd commented on #396
@amihaiemil please pay attention to this new issue.

[2020-08-14 13:16] amihaiemil commented on #396
@criske this is a simple one, just so you get to know the election algorithm. Can you take care of it? :D

[2020-08-14 14:00] amihaiemil opened #398 "Addapt SelfContract.value() to add up PM commission for each Task"
For each Task, we should also add the PM's commission.

[2020-08-14 14:05] #395 closed

[2020-08-14 14:05] 0pdd commented on #395
The puzzle `393-8cb94068` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-14 16:27] criske commented on #396
@amihaiemil sure

[2020-08-14 16:40] amihaiemil opened #400 "Save the PM's commission when invoicing a Task"
When registering a new InvoicedTask, we should also save the PM's commission on it.

[2020-08-14 16:46] #398 closed

[2020-08-15 08:46] amihaiemil commented on #396
paid with transaction id 2NP90557BY116574C

[2020-08-15 08:47] #400 closed

[2020-08-15 08:47] 0pdd opened #403 "StoredInvoice.java:14-15: Addapt method register to also..."
The puzzle `400-bb6375ab` from #400 has to be resolved:

https://github.com/self-xdsd/self-core/blob/a4fc78c81619535123409e72eab512d1ef253b08/self-core-impl/src/main/java/com/selfxdsd/core/contracts/invoices/StoredInvoice.java#L14-L15

The puzzle was created by amihaiemil on 15-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead

[2020-08-15 08:47] 0pdd commented on #403
@amihaiemil please pay attention to this new issue.

[2020-08-15 08:56] 0pdd commented on #396
The puzzle `393-882ba2c8` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-15 08:56] #396 closed

[2020-08-15 08:57] 0pdd opened #404 "ProjectContributors.java:43-44: When electing a..."
The puzzle `402-0cf23d35` from #402 has to be resolved:

https://github.com/self-xdsd/self-core/blob/278603527b12bdbfaa7345110a99c3d578e154e1/self-core-impl/src/main/java/com/selfxdsd/core/contributors/ProjectContributors.java#L43-L44

The puzzle was created by cristianpela on 15-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets inste

[2020-08-15 08:57] 0pdd commented on #404
@amihaiemil please pay attention to this new issue.

[2020-08-15 09:03] amihaiemil commented on #404
@criske wanna take care of it? By the way, I think it's easier if you just use the encapsulated Project (no need to read the Project from the contributor's Contract every time).

[2020-08-15 09:04] criske commented on #404
@amihaiemil sure

[2020-08-15 09:28] #403 closed

[2020-08-15 09:28] 0pdd commented on #403
The puzzle `400-bb6375ab` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-15 10:35] amihaiemil commented on #404
paid with transaction id 8VA15175A0094282N

[2020-08-15 10:39] 0pdd commented on #404
The puzzle `402-0cf23d35` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-15 10:39] #404 closed

[2020-08-15 10:41] amihaiemil commented on #392
@rultor release it, tag is `0.0.16`

[2020-08-15 10:42] rultor commented on #392
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22964-674381201)

[2020-08-15 10:45] rultor commented on #392
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22964-674381201) (took me 3min)

[2020-08-15 10:46] #392 closed

[2020-08-15 10:46] amihaiemil opened #407 "Release 0.0.17"
Changelog:

#408
#410
#412

[2020-08-16 09:43] amihaiemil opened #408 "Implement StoredInvoice.totalAmount()"
It's not yet implemented. It should return the invoice's total value (tasks' value + PM commission).

[2020-08-16 11:22] #408 closed

[2020-08-16 11:22] 0pdd opened #410 "StoredInvoice.java:14-15: StoredInvoice should..."
The puzzle `408-cc11e464` from #408 has to be resolved:

https://github.com/self-xdsd/self-core/blob/993582f1461b42b7f94bf0d239dbdce9c5c6063f/self-core-impl/src/main/java/com/selfxdsd/core/contracts/invoices/StoredInvoice.java#L14-L15

The puzzle was created by amihaiemil on 16-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead

[2020-08-16 11:22] 0pdd commented on #410
@amihaiemil please pay attention to this new issue.

[2020-08-16 12:18] 0pdd commented on #410
The puzzle `408-cc11e464` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-16 12:18] #410 closed

[2020-08-16 12:18] 0pdd opened #412 "StoredInvoice.java:13-16: Remove the first constructor,..."
The puzzle `410-bc32691d` from #410 has to be resolved:

https://github.com/self-xdsd/self-core/blob/0728a22645eab5087e58b5a66fb63ef8ed883ba0/self-core-impl/src/main/java/com/selfxdsd/core/contracts/invoices/StoredInvoice.java#L13-L16

The puzzle was created by amihaiemil on 16-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead

[2020-08-16 12:18] 0pdd commented on #412
@amihaiemil please pay attention to this new issue.

[2020-08-16 12:33] #412 closed

[2020-08-16 12:33] 0pdd commented on #412
The puzzle `410-bc32691d` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-16 12:33] amihaiemil commented on #407
@rultor release it, tag is `0.0.17`

[2020-08-16 12:35] rultor commented on #407
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22987-674521119)

[2020-08-16 12:38] rultor commented on #407
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22987-674521119) (took me 3min)

[2020-08-16 12:39] #407 closed

[2020-08-16 12:39] amihaiemil opened #414 "Release 0.0.18"
Changelog:

#415
We also rolled back #410, it's better if an Invoice's tasks are dynamic.

[2020-08-16 15:08] amihaiemil opened #415 "Remove Invoice.value() and Invoice.commission()"
An Invoice's encapsulated tasks can be dynamic, therefore the following could be inconsistent:

[code]
It's better to let the client obtain a static ``Iterator<InvoicedTask>`` and calculate the 2 values themselves.

[2020-08-16 15:23] #415 closed

[2020-08-16 15:24] amihaiemil commented on #414
@rultor release it, tag is `0.0.18`

[2020-08-16 15:25] rultor commented on #414
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22993-674540069)

[2020-08-16 15:28] rultor commented on #414
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22993-674540069) (took me 3min)

[2020-08-16 15:29] #414 closed

[2020-08-16 15:29] amihaiemil opened #417 "Release 0.0.19"
Changelog:

#420
#421
#423
#427
#430
#428
#435

This release contains mostly methods and business logic for assigning new unassigned tasks to contributors.

[2020-08-17 06:59] amihaiemil opened #418 "Handle Unassigned Tasks"
The PM should review the Project's unassigned Tasks, elect a Contributor for each one and assign it to them.

[2020-08-17 07:27] 0pdd opened #420 "StoredTask.java:38-40: Method issue() here should fetch..."
The puzzle `418-e7efccc1` from #418 has to be resolved:

https://github.com/self-xdsd/self-core/blob/f9689a97eb0324d0e76eb33e5cb35de345a2aa4f/self-core-impl/src/main/java/com/selfxdsd/core/tasks/StoredTask.java#L38-L40

The puzzle was created by @amihaiemil on 17-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-08-17 07:27] 0pdd commented on #420
@amihaiemil please pay attention to this new issue.

[2020-08-17 07:28] 0pdd opened #421 "StoredProjectManager.java:43-44: Finish the..."
The puzzle `418-842c5bb8` from #418 has to be resolved:

https://github.com/self-xdsd/self-core/blob/f9689a97eb0324d0e76eb33e5cb35de345a2aa4f/self-core-impl/src/main/java/com/selfxdsd/core/managers/StoredProjectManager.java#L43-L44

The puzzle was created by amihaiemil on 17-Aug-20.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-08-17 07:28] 0pdd commented on #421
@amihaiemil please pay attention to this new issue.

[2020-08-17 07:28] #418 closed

[2020-08-17 08:51] #420 closed

[2020-08-17 08:51] 0pdd opened #423 "StoredProjectManagerTestCase.java:319-320: Rewrite this..."
The puzzle `420-955836a7` from #420 has to be resolved:

https://github.com/self-xdsd/self-core/blob/8294d470d6a0555328b290583c202ded7b0149af/self-core-impl/src/test/java/com/selfxdsd/core/managers/StoredProjectManagerTestCase.java#L319-L320

The puzzle was created by amihaiemil on 17-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets

[2020-08-17 08:51] 0pdd commented on #423
@amihaiemil please pay attention to this new issue.

[2020-08-17 10:43] #423 closed

[2020-08-17 10:43] 0pdd commented on #423
The puzzle `420-955836a7` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-17 14:23] 0pdd opened #427 "Contributor.java:30-31: Implement and test..."
The puzzle `421-1f3ca14f` from #421 has to be resolved:

https://github.com/self-xdsd/self-core/blob/1f2af340f7de4032094509e8d82703ed17fa66cb/self-api/src/main/java/com/selfxdsd/api/Contributor.java#L30-L31

The puzzle was created by @amihaiemil on 17-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-08-17 14:23] 0pdd commented on #427
@amihaiemil please pay attention to this new issue.

[2020-08-17 14:23] 0pdd opened #428 "StoredTask.java:38-39: Continue implementing method..."
The puzzle `421-6e1bdcba` from #421 has to be resolved:

https://github.com/self-xdsd/self-core/blob/1f2af340f7de4032094509e8d82703ed17fa66cb/self-core-impl/src/main/java/com/selfxdsd/core/tasks/StoredTask.java#L38-L39

The puzzle was created by @amihaiemil on 17-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-08-17 14:23] 0pdd commented on #428
@amihaiemil please pay attention to this new issue.

[2020-08-17 14:56] #427 closed

[2020-08-17 14:56] 0pdd commented on #427
The puzzle `421-1f3ca14f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-17 15:12] 0pdd opened #430 "StoredTask.java:40-41: Implement method..."
The puzzle `427-faf325d8` from #427 has to be resolved:

https://github.com/self-xdsd/self-core/blob/c938941bf5779db98cb131d18cc99439bfb42ddb/self-core-impl/src/main/java/com/selfxdsd/core/tasks/StoredTask.java#L40-L41

The puzzle was created by @amihaiemil on 17-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-08-17 15:12] 0pdd commented on #430
@amihaiemil please pay attention to this new issue.

[2020-08-17 15:12] 0pdd opened #431 "StoredTask.java:42-43: Implement and test method..."
The puzzle `427-4eee3dd1` from #427 has to be resolved:

https://github.com/self-xdsd/self-core/blob/c938941bf5779db98cb131d18cc99439bfb42ddb/self-core-impl/src/main/java/com/selfxdsd/core/tasks/StoredTask.java#L42-L43

The puzzle was created by @amihaiemil on 17-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-08-17 16:05] #430 closed

[2020-08-17 16:05] 0pdd commented on #430
The puzzle `427-faf325d8` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-17 16:53] #428 closed

[2020-08-17 16:53] 0pdd commented on #428
The puzzle `421-6e1bdcba` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-18 07:39] criske commented on #431
@amihaiemil I'll work on this

[2020-08-18 07:51] #421 closed

[2020-08-18 07:51] 0pdd commented on #421
The puzzle `418-842c5bb8` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-18 07:53] amihaiemil commented on #431
@criske sure, go ahead

[2020-08-18 07:53] 0pdd opened #435 "StoredProjectManager.java:43-44: When assigning a Task to..."
The puzzle `421-18e2f379` from #421 has to be resolved:

https://github.com/self-xdsd/self-core/blob/461432e6e914b640b67899ff2c9dcfd60138b6b5/self-core-impl/src/main/java/com/selfxdsd/core/managers/StoredProjectManager.java#L43-L44

The puzzle was created by amihaiemil on 18-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. T

[2020-08-18 07:53] 0pdd commented on #435
@amihaiemil please pay attention to this new issue.

[2020-08-18 08:31] #435 closed

[2020-08-18 08:31] 0pdd commented on #435
The puzzle `421-18e2f379` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-18 08:33] amihaiemil commented on #417
@rultor release it, tag is `0.0.19`

[2020-08-18 08:34] rultor commented on #417
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23023-675341389)

[2020-08-18 08:39] rultor commented on #417
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23023-675341389) (took me 4min)

[2020-08-18 08:41] #417 closed

[2020-08-18 09:41] amihaiemil opened #437 "Add method Task.issueId()"
We should have this accessor method, since we have this id in the Database. It makes no sense to call ``task.issue()`` when we only need the issue's ID.

[2020-08-18 09:41] amihaiemil opened #438 "Release 0.0.20"
Changelog:

#431
#438
#441
#442
#446
#449
#450
#454
#459
#464
#477
#479
#480
#489
#491

[2020-08-18 13:05] #437 closed

[2020-08-18 16:56] amihaiemil opened #441 "Implement Conversation"
The PMs should use a composition of Conversation objects to figure out what commands they received via Issue Comments. The Conversation should result in the Steps that should be executed in order to fulfil the command.

[2020-08-18 16:59] amihaiemil opened #442 "Implement Issue :: Comment.issue()"
A Comment should be able to return its parent Issue.

[2020-08-18 17:28] amihaiemil commented on #431
paid with transaction id 3V459057YM807335L

[2020-08-18 17:35] #431 closed

[2020-08-18 17:35] 0pdd commented on #431
The puzzle `427-4eee3dd1` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-18 17:35] 0pdd opened #443 "InMemoryTasksTestCase.java:40-41: Update InMemoryTasks..."
The puzzle `439-396801f4` from #439 has to be resolved:

https://github.com/self-xdsd/self-core/blob/68fe1ab395e4fbd74066d228b666e0637d1ba3c8/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryTasksTestCase.java#L40-L41

The puzzle was created by cristianpela on 18-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. Th

[2020-08-18 17:35] 0pdd commented on #443
@amihaiemil please pay attention to this new issue.

[2020-08-18 17:51] amihaiemil opened #444 "Remove Event.provider()"
This method is not needed, since the provider's name can be retrieved from the encapsulated Project.

[2020-08-18 17:51] amihaiemil commented on #444
@criske can you take care of it when you have some time tomorrow? :D

[2020-08-18 17:52] #441 closed

[2020-08-18 17:52] 0pdd opened #446 "Conversation.java:32-35: Add the first implementation of..."
The puzzle `441-5ef8b246` from #441 has to be resolved:

https://github.com/self-xdsd/self-core/blob/2cb9b3fb8c0a8d1ebae544e0a6b7b7451dc729ef/self-api/src/main/java/com/selfxdsd/api/pm/Conversation.java#L32-L35

The puzzle was created by @amihaiemil on 18-Aug-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2020-08-18 17:52] 0pdd commented on #446
@amihaiemil please pay attention to this new issue.

[2020-08-18 18:00] criske commented on #444
@amihaiemil sure

[2020-08-19 08:46] amihaiemil commented on #444
paid with transaction id 26190830XA820063T

[2020-08-19 09:25] #444 closed

[2020-08-19 11:08] 0pdd commented on #446
The puzzle `441-5ef8b246` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-19 11:08] #446 closed

[2020-08-19 11:08] 0pdd opened #449 "Understand.java:35-36: Add an implementation of Step..."
The puzzle `446-2aa4416d` from #446 has to be resolved:

https://github.com/self-xdsd/self-core/blob/399f64deab4d501e34ed2a9a95a6eb45e022210c/self-core-impl/src/main/java/com/selfxdsd/core/managers/Understand.java#L35-L36

The puzzle was created by amihaiemil on 19-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wi

[2020-08-19 11:08] 0pdd commented on #449
@amihaiemil please pay attention to this new issue.

[2020-08-19 11:08] 0pdd opened #450 "Understand.java:37-38: Add the next implementation of..."
The puzzle `446-d17e5fc9` from #446 has to be resolved:

https://github.com/self-xdsd/self-core/blob/399f64deab4d501e34ed2a9a95a6eb45e022210c/self-core-impl/src/main/java/com/selfxdsd/core/managers/Understand.java#L37-L38

The puzzle was created by amihaiemil on 19-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wi

[2020-08-19 11:08] 0pdd commented on #450
@amihaiemil please pay attention to this new issue.

[2020-08-19 11:08] 0pdd opened #451 "Understand.java:39-41: Add the Confused implementation of..."
The puzzle `446-a770e22e` from #446 has to be resolved:

https://github.com/self-xdsd/self-core/blob/399f64deab4d501e34ed2a9a95a6eb45e022210c/self-core-impl/src/main/java/com/selfxdsd/core/managers/Understand.java#L39-L41

The puzzle was created by amihaiemil on 19-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wi

[2020-08-19 11:08] 0pdd commented on #451
@amihaiemil please pay attention to this new issue.

[2020-08-19 12:15] #449 closed

[2020-08-19 12:15] 0pdd commented on #449
The puzzle `446-2aa4416d` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-19 13:14] amihaiemil commented on #451
@criske Wanna take this one? It's not complicated, just see how the Hello conversation is implemented.
The only difference is, the Confused conversation sill be the last one in the chain, so it won't encapsulate any ``next`` Conversation.

The ``Confused`` conversation should simply build and return a SendReply step, with a reply message saying something like ``"@author Sorry, I did not understand

[2020-08-19 13:21] #450 closed

[2020-08-19 13:21] 0pdd commented on #450
The puzzle `446-d17e5fc9` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-19 14:29] criske commented on #451
@amihaiemil sure

[2020-08-19 15:46] amihaiemil opened #454 "Implement the Resign conversation"
A task's assignee will be able to tell the PM "resign", in order to reject the task.
We must also implement a Step which verifies that the comment's author is indeed the task assignee and not someone else.

[2020-08-19 16:19] #454 closed

[2020-08-19 16:19] 0pdd opened #457 "Resign.java:36-38: We must implement a Step where we..."
The puzzle `454-764e6990` from #454 has to be resolved:

https://github.com/self-xdsd/self-core/blob/49e2b951e7ea65147e106f0ee0dd057aa6d8a603/self-core-impl/src/main/java/com/selfxdsd/core/managers/Resign.java#L36-L38

The puzzle was created by amihaiemil on 19-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2020-08-19 16:19] 0pdd commented on #457
@amihaiemil please pay attention to this new issue.

[2020-08-19 16:34] amihaiemil commented on #451
paid with transaction id 23193855XX8306448

[2020-08-19 16:39] #451 closed

[2020-08-19 16:39] 0pdd commented on #451
The puzzle `446-a770e22e` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-20 07:26] #457 closed

[2020-08-20 07:26] 0pdd commented on #457
The puzzle `454-764e6990` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-20 07:26] 0pdd opened #459 "Resign.java:36-38: Implement and test an Intermediary..."
The puzzle `457-7bc91db1` from #457 has to be resolved:

https://github.com/self-xdsd/self-core/blob/5fb205d032044eabf256f62318244de58a612a3a/self-core-impl/src/main/java/com/selfxdsd/core/managers/Resign.java#L36-L38

The puzzle was created by amihaiemil on 20-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2020-08-20 07:26] 0pdd commented on #459
@amihaiemil please pay attention to this new issue.

[2020-08-20 08:30] #459 closed

[2020-08-20 08:30] 0pdd commented on #459
The puzzle `457-7bc91db1` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-20 09:10] criske commented on #371
@amihaiemil I'll work on Contributors.

[2020-08-20 09:49] amihaiemil commented on #371
@criske sure, go ahead

[2020-08-20 10:29] amihaiemil opened #462 "Implement task Resignations"
A Task should have a list of resignations -- contributors which have been resigned from the task for some reason (they asked for it, or they were resigned due to missed deadline etc).

This is needed in order to not re-assign a Task to a resigned contributor.

[2020-08-20 10:37] criske opened #463 "Prevent "subpaging"?"
Should we allow subpaging like
`storage.projects().page().page()...page()`?
Right now the above logic is equivalent with
[code]
But I don't think is the correct logic. Maybe we should throw ISE when chaining `page()` more than once. (as in `page().page()...`)

[2020-08-20 12:16] amihaiemil commented on #463
@criske I think we should have the ``next()`` (and also ``previous()``) method.

So ``projects.page(1).page(2)`` would return page 2, but the code looks strange. It would make mare sense to have ``projects.page(1).next()`` return page 2, if it exists of course.

What do you think?

[2020-08-20 12:20] amihaiemil commented on #371
paid with transaction id 0B630401YW771371B

[2020-08-20 14:15] amihaiemil opened #464 "Implement Status conversation"
When a contributor says "status" in an Issue, the PM should reply with current info about the Task (assignee, deadline etc).

[2020-08-20 14:18] #371 closed

[2020-08-20 14:18] 0pdd commented on #371
The puzzle `366-f7a7e029` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-20 14:18] 0pdd opened #465 "Paged.java:9-11: Provide paging implementation for other..."
The puzzle `462-31b3b28d` from #462 has to be resolved:

https://github.com/self-xdsd/self-core/blob/01a47e056b67cd8b876e3536c7ff350ed1afdb33/self-api/src/main/java/com/selfxdsd/api/storage/Paged.java#L9-L11

The puzzle was created by cristianpela on 20-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-08-20 14:18] 0pdd commented on #465
@amihaiemil please pay attention to this new issue.

[2020-08-20 14:18] criske commented on #463
@amihaiemil `projects.page(1, 10).page(2, 5)` Here is how I see it:
- from all projects give me page 1 with 10 recs.
- then from that page with 10 recs, give page me 2 with 5 recs. (basically I'm filtering the page again with a (sub)page).
- if one calling page again, then it will apply a filter on those 5 recs of page 2 and so on.

About `next/previous` methods, I think is easier to have them in

[2020-08-20 14:21] amihaiemil commented on #463
@criske I think it's ok, but let's postpone this for now, it's not a priority :D

[2020-08-20 14:22] criske commented on #463
@amihaiemil sure, anyway I doubt that frontend will ever call the api this way :D

[2020-08-20 14:25] criske commented on #465
@amihaiemil I'll continue with Contracts

[2020-08-20 14:26] amihaiemil commented on #465
@criske not yet, please. Because we will release 0.0.20 soon and there will be too many changes to make int he storage module, at once. :D

I think 1 paginated entity per release is enough.

[2020-08-20 14:28] criske commented on #465
@amihaiemil ok :D, anyway I think we have bug in storage with paging, I'll wait for 0.0.20 to open an issue.

[2020-08-20 14:30] amihaiemil opened #466 "Implement Deregister conversation"
In this conversation, if the event type is "deregister",  the PM should unassign the Task and remove it from the DB. This will allow the project to have open Issues which are not tracked by the PM.

Only the PO and ARCH roles should be able to give this command.

[2020-08-20 14:31] criske commented on #465
@amihaiemil solving Gitlab backlog issues is allowed in this release?

[2020-08-20 14:31] amihaiemil commented on #466
@criske Wanna start this one? The first thing we need is a sketch of Deregister and a Step which verifies the role of the author.

See how the Resign conversation and the AuthorIsAssignee check are implemented :D

[2020-08-20 14:32] amihaiemil commented on #465
@criske yes, but GitLab is also not really a priority. I'd like to focus on the conversations and steps for now :D

[2020-08-20 14:33] criske commented on #466
@amihaiemil ok

[2020-08-20 16:30] criske commented on #466
@amihaiemil there is a problem, we don't have a way to remove a task from db.

[2020-08-20 16:37] criske commented on #443
@amihaiemil i'll finish this quick, no bounty needed.
It looks like `InMemory` is very useful to test `steps/conversations`, just using Mockito is getting too hard/verbose there.

[2020-08-21 06:30] #443 closed

[2020-08-21 06:31] 0pdd commented on #443
The puzzle `439-396801f4` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-21 07:10] amihaiemil commented on #466
paid with transaction id 9SM62392XE1717021

[2020-08-21 07:23] amihaiemil opened #470 "Implement the Register conversation"
In this conversation, the user asks the PM to register an Issue as a Task.

New Issues are registered as tasks automatically, but an Issue can be deregistered and then the user might wanna register it again. There is also the case of old Issues (which were opened before the PM joined the Project), which are not being reigistered automatically.

[2020-08-21 07:26] #464 closed

[2020-08-21 07:52] 0pdd opened #471 "Tasks.java:30-31: Implement Task::Tasks#remove(Task)..."
The puzzle `471-41d301f9` from #471 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6e62de8855ac0aabf9a9aca06e73e3589f6f4b6d/self-api/src/main/java/com/selfxdsd/api/Tasks.java#L30-L31

The puzzle was created by cristianpela on 20-Aug-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-08-21 07:52] 0pdd commented on #471
@amihaiemil please pay attention to this new issue.

[2020-08-21 07:52] 0pdd opened #472 "RemoveTask.java:38-39: Finish implementing RemoveTask..."
The puzzle `470-0c95486b` from #470 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6e62de8855ac0aabf9a9aca06e73e3589f6f4b6d/self-core-impl/src/main/java/com/selfxdsd/core/managers/RemoveTask.java#L38-L39

The puzzle was created by cristianpela on 20-Aug-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-08-21 07:52] 0pdd commented on #472
@amihaiemil please pay attention to this new issue.

[2020-08-21 07:54] criske commented on #471
@amihaiemil sign me up

[2020-08-21 08:10] criske opened #473 "Intermediary steps and the "pyramid of doom"."
Having a lot of intermediary steps could lead to this, or at least will make the code somewhat hard to follow.
It's starting to show here already:
https://github.com/self-xdsd/self-core/blob/6e62de8855ac0aabf9a9aca06e73e3589f6f4b6d/self-core-impl/src/main/java/com/selfxdsd/core/managers/Deregister.java#L69
[code]
We could easly flatten this by using a builder/composer:
[code]

I'll do a quick PR t

[2020-08-21 08:36] amihaiemil commented on #473
@criske yes, there can be many steps added. But, on the other hand, this is a case of ``do-and-forget``. We wrote Deregister once and we will probably never touch it again, unless we remove it - it's a core functionality of the PM which will be altered very rarely, I think.

[2020-08-21 08:42] amihaiemil commented on #473
@criske And how do we take care of the PreconditionCheck steps? Those steps need 2 arguments: onTrue and onFalse. How will they look in this composer? :D

[2020-08-21 08:50] criske commented on #473
@amihaiemil well composer is just to chain Intermediary steps, at least for now :).

[2020-08-21 08:51] amihaiemil commented on #473
@criske

Most of the time we will have PreconditionCheck steps at the top of the pyramid, so it's pretty useless at the moment. But the overall idea is ok, let's keep it open and we'll come back to it if we really need to.

[2020-08-21 08:58] criske commented on #473
@amihaiemil but sure could be adapted like:
[code]

[2020-08-23 13:37] amihaiemil opened #477 "Provider.withToken should pass on the Authenticated user"
At the moment this method only sets the token on the resources, but it should also pass on the Authenticated user.

[2020-08-23 13:51] 0pdd opened #478 "Tasks.java:30-32: Update filter implementations of..."
The puzzle `476-448b8be8` from #476 has to be resolved:

https://github.com/self-xdsd/self-core/blob/b6c303ec4cae3a1e2a9b763505e01a157ba6a092/self-api/src/main/java/com/selfxdsd/api/Tasks.java#L30-L32

The puzzle was created by cristianpela on 21-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-08-24 06:32] criske commented on #478
@amihaiemil I'll work on this, no bounty needed

[2020-08-24 06:38] amihaiemil commented on #478
@criske sure, go ahead (at least a little cash is needed :D )

[2020-08-24 07:10] amihaiemil opened #479 "Repo.activate() should check if the repo is already active"
If we already have a Project registered for that Repo, it should throw ``RepoAlreadyActiveException`` (runtime exception).

[2020-08-24 07:11] amihaiemil opened #480 "Throw RepoNotFoundException"
If we receive other status than 200 OK when trying to fetch the repos data, we should throw RepoNotFoundException (runtime exception).

[2020-08-24 07:36] criske opened #482 "Language injection into Conversation."
Right now we don't have a way to inject lang into `Conversation`. (`English` is used by default).
Should be "piggyback" on `Event` to achieve that (`Language::Event#language()`)?

[2020-08-24 07:52] criske commented on #482
nvm we are using event.project() :D

[2020-08-24 07:52] #482 closed

[2020-08-24 10:00] criske commented on #479
@amihaiemil I'll work on this

[2020-08-24 13:17] amihaiemil commented on #478
paid with transaction id 4KG87642R2803252U

[2020-08-24 13:23] 0pdd commented on #478
The puzzle `476-448b8be8` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-24 13:23] #478 closed

[2020-08-24 13:38] amihaiemil commented on #479
paid with transaction id 9PF80659YG762591G

[2020-08-24 14:28] criske commented on #42
@amihaiemil I think  we have all the pieces to implement this.
We'll need these methods most likely:
 - `Tasks#removeAll()`  we need to deregister all project tasks first.
- `Contracts#removeAll()` remove all contracts associated with the project.
- `Projects#deregister(fullName,provider)` - the actual transaction that will remove all project tasks, contract tasks and delete the project from stora

[2020-08-24 15:05] amihaiemil commented on #42
@criske Well, yes, but project deactivation will be a bit more complex. If we have active (unpaid) Invoices and a real Wallet set up, we should not allow project removal until the invoices are paid.

We should also not remove or unassign any ongoing Tasks, I think.

I think we should have a "Pause" button, to stop the PM from registering/assigning any new tasks. Then, the owner will wait until all

[2020-08-24 16:00] criske commented on #42
@amihaiemil Makes sense, thanks :)

[2020-08-24 18:18] #479 closed

[2020-08-24 18:18] #471 closed

[2020-08-24 18:19] #466 closed

[2020-08-25 06:11] #480 closed

[2020-08-25 07:00] #477 closed

[2020-08-25 08:30] #470 closed

[2020-08-25 08:30] 0pdd opened #487 "Register.java:37-39: Implement an intermediary step which..."
The puzzle `470-9318b89e` from #470 has to be resolved:

https://github.com/self-xdsd/self-core/blob/c8b21114a8a269dda68d2ef7a6971c622b6bf566/self-core-impl/src/main/java/com/selfxdsd/core/managers/Register.java#L37-L39

The puzzle was created by amihaiemil on 25-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-08-25 08:30] 0pdd commented on #487
@amihaiemil please pay attention to this new issue.

[2020-08-25 09:49] #487 closed

[2020-08-25 09:49] 0pdd commented on #487
The puzzle `470-9318b89e` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-25 09:49] 0pdd opened #489 "Register.java:39-41: Implement an intermediary step where..."
The puzzle `478-71d5692f` from #478 has to be resolved:

https://github.com/self-xdsd/self-core/blob/7fd0dcd083c04a58c0a23a53b72fc8eeb226fc3a/self-core-impl/src/main/java/com/selfxdsd/core/managers/Register.java#L39-L41

The puzzle was created by amihaiemil on 25-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-08-25 09:49] 0pdd commented on #489
@amihaiemil please pay attention to this new issue.

[2020-08-25 14:16] #489 closed

[2020-08-25 14:16] 0pdd commented on #489
The puzzle `478-71d5692f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-25 14:16] 0pdd opened #491 "SendReply.java:38-42: Add a simple constructor which only..."
The puzzle `489-893054ff` from #489 has to be resolved:

https://github.com/self-xdsd/self-core/blob/78aef3236b2b5689817007a4148699efec974fd5/self-core-impl/src/main/java/com/selfxdsd/core/managers/SendReply.java#L38-L42

The puzzle was created by amihaiemil on 25-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wil

[2020-08-25 14:16] 0pdd commented on #491
@amihaiemil please pay attention to this new issue.

[2020-08-25 14:30] #491 closed

[2020-08-25 14:30] 0pdd commented on #491
The puzzle `489-893054ff` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-25 14:32] amihaiemil commented on #438
@rultor release `0.0.20`

[2020-08-25 14:33] rultor commented on #438
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23121-680062214)

[2020-08-25 14:34] rultor commented on #438
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23121-680062214) (spent 19s)

[code]

[2020-08-25 14:34] amihaiemil commented on #438
@rultor release `0.0.20`

[2020-08-25 14:36] rultor commented on #438
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23121-680063627)

[2020-08-25 14:38] rultor commented on #438
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23121-680063627) (spent 2min)

[code]

[2020-08-25 14:40] amihaiemil commented on #438
@rultor release, tag is `0.0.20`

[2020-08-25 14:42] rultor commented on #438
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23121-680067142)

[2020-08-25 14:45] rultor commented on #438
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23121-680067142) (took me 3min)

[2020-08-25 14:47] #438 closed

[2020-08-26 19:10] criske opened #493 "Storage Paging APIs proposal: Update methods `page(Page)` to `page(int, int)`"
Just for convenience imo.
Writing `projects.page(1, 10)` instead of `projects.page(new Paged.Page(1, 10))`

If approved, I'll work on it, no bounty needed. :D

[2020-08-29 07:37] amihaiemil opened #494 "Release 0.0.21"
Changelog:

#462
#496
#498
#499
#502
#508
#510

[2020-08-29 13:31] #462 closed

[2020-08-29 13:31] 0pdd opened #496 "InMemoryResignations.java:40-42: Implement and write..."
The puzzle `462-18da03fe` from #462 has to be resolved:

https://github.com/self-xdsd/self-core/blob/83f47d0fe0f11d7bd895c841d0895e482067a550/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryResignations.java#L40-L42

The puzzle was created by amihaiemil on 29-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The t

[2020-08-29 13:31] 0pdd commented on #496
@amihaiemil please pay attention to this new issue.

[2020-08-29 14:51] #496 closed

[2020-08-29 14:51] 0pdd commented on #496
The puzzle `462-18da03fe` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-29 15:08] amihaiemil opened #498 "Register a Resignation"
We need a way to register a resignation.

[2020-08-30 05:59] criske commented on #498
@amihaiemil I'll work on this

[2020-08-30 09:16] amihaiemil opened #499 "Implement Wallets"
A Project can have multiple wallets, but only one can be active.

[2020-08-30 11:30] criske opened #500 "ContractInvoices.java:121 - "Cannot create an Invoice outside of a Contract. Call #ofContract(...) first.""
https://github.com/self-xdsd/self-core/blob/44a76f60a459b26eff803b7a6116d7736f283a77/self-core-impl/src/main/java/com/selfxdsd/core/contracts/invoices/ContractInvoices.java#L121

Error was triggered by self-storage `SelfInvoices` and catched by frontend while trying to list project's contracts for https://github.com/self-xdsd/self-web/issues/70

Edit: It happens when calculating contract's value,

[2020-08-30 11:35] criske commented on #500
@amihaiemil I'll fix this.

[2020-08-30 11:50] amihaiemil commented on #500
@criske What's the bug exactly? I don't understand :D

[2020-08-30 11:58] criske commented on #500
@amihaiemil
`StoredContract` when it calculates the value:
https://github.com/self-xdsd/self-core/blob/4686ad83f4c82761ec4b946eca72bb4b89e87c6f/self-core-impl/src/main/java/com/selfxdsd/core/contracts/StoredContract.java#L201

Call directly the storage Invoices#active, but that throws exception:
https://github.com/self-xdsd/self-storage/blob/22800e2fe7b2bf5f5431b78e9b9dbc2c3c75b4a5/src/main/java/c

[2020-08-30 12:02] criske commented on #500
@amihaiemil It might be a self-storage bug cause StoredContracts calls the active, the right way
https://github.com/self-xdsd/self-core/blob/4686ad83f4c82761ec4b946eca72bb4b89e87c6f/self-core-impl/src/main/java/com/selfxdsd/core/contracts/StoredContract.java#L187

[2020-08-30 12:10] criske commented on #500
@amihaiemil Yeah it's a `SelfInvoices` bug. Will throw the exception, regardless if is called from `ContractInvoices` or not.

[2020-08-30 12:18] criske commented on #500
@amihaiemil Might be missing feature afterall. Don't see anywhere in `SelfInvoices`  where an `Invoice` is created.

[2020-08-30 12:22] criske commented on #500
@amihaiemil nvm `self-web` has an outed `self-storage` version.

[2020-08-30 12:29] amihaiemil commented on #500
@criske ok :D

[2020-08-30 12:29] #500 closed

[2020-08-30 12:45] #499 closed

[2020-08-30 12:45] #378 closed

[2020-08-30 12:45] 0pdd commented on #378
The puzzle `376-1e018104` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-30 12:45] 0pdd opened #502 "Wallet.java:36-41: Add methods cash() which should return..."
The puzzle `499-c992814d` from #499 has to be resolved:

https://github.com/self-xdsd/self-core/blob/dd1c7da3149b8a17b48c4b61e0283c4c9488eeeb/self-api/src/main/java/com/selfxdsd/api/Wallet.java#L36-L41

The puzzle was created by @amihaiemil on 30-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-08-30 12:45] 0pdd commented on #502
@amihaiemil please pay attention to this new issue.

[2020-08-30 12:45] 0pdd opened #503 "StoredProject.java:43-45: At the moment the wallet()..."
The puzzle `499-38b411f6` from #499 has to be resolved:

https://github.com/self-xdsd/self-core/blob/dd1c7da3149b8a17b48c4b61e0283c4c9488eeeb/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredProject.java#L43-L45

The puzzle was created by @amihaiemil on 30-Aug-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2020-08-30 12:45] 0pdd commented on #503
@amihaiemil please pay attention to this new issue.

[2020-08-30 12:45] 0pdd opened #504 "InMemoryWallets.java:40-42: As soon as we have the Stripe..."
The puzzle `499-d1da8a5e` from #499 has to be resolved:

https://github.com/self-xdsd/self-core/blob/dd1c7da3149b8a17b48c4b61e0283c4c9488eeeb/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryWallets.java#L40-L42

The puzzle was created by amihaiemil on 30-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task w

[2020-08-30 12:45] 0pdd commented on #504
@amihaiemil please pay attention to this new issue.

[2020-08-30 14:27] 0pdd commented on #502
The puzzle `499-c992814d` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-30 14:27] #502 closed

[2020-08-30 15:21] 0pdd commented on #503
The puzzle `499-38b411f6` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-30 15:21] #503 closed

[2020-08-30 16:35] amihaiemil opened #508 "Wallet activation"
We need a method to activate a wallet. Generally, when a project's wallet is activated, all other wallets of the same project must be deactivated (only one active wallet allowed).

[2020-08-30 16:55] amihaiemil opened #510 "Register and activate Missing wallet on Repo activation"
When a Repo is activated (i.e. becomes a Project), we should assign and activate a Missing wallet with $10M in it.

[2020-08-30 16:58] #508 closed

[2020-08-30 17:08] 0pdd opened #511 "Task.java:33-35: Task api should expose resignations(),..."
The puzzle `498-73b39da9` from #498 has to be resolved:

https://github.com/self-xdsd/self-core/blob/94f90d5cf4bea267f9f83296b879ae8dd68133b2/self-api/src/main/java/com/selfxdsd/api/Task.java#L33-L35

The puzzle was created by cristianpela on 30-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-08-30 17:08] 0pdd commented on #511
@amihaiemil please pay attention to this new issue.

[2020-08-30 17:10] criske commented on #511
@amihaiemil I'll continue on this.

[2020-08-31 08:42] 0pdd commented on #511
The puzzle `498-73b39da9` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-31 08:42] #511 closed

[2020-08-31 08:47] amihaiemil opened #514 "Wallets.register(...) should also accept the ID"
It should also accept a String identifier of the Wallet in question.

[2020-08-31 08:48] #510 closed

[2020-08-31 09:39] #514 closed

[2020-08-31 10:28] #498 closed

[2020-08-31 10:28] amihaiemil commented on #494
@rultor release it, tag is `0.0.21`

[2020-08-31 10:29] rultor commented on #494
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23170-683697569)

[2020-08-31 10:32] rultor commented on #494
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23170-683697569) (took me 3min)

[2020-08-31 10:33] #494 closed

[2020-09-04 08:29] amihaiemil opened #516 "Inviting user to Repo returns 422"
422 UNPROCESSABLE ENTITY -- seems like Github cannot handle our request.

[2020-09-04 17:50] amihaiemil commented on #516
The problem is that the ``permission`` parameter is only acceptable for organization repos. On the other hand, the default permission is ``push``, which is good enough for us. Let's just remove this parameter.

[2020-09-04 17:58] amihaiemil opened #517 "Release 0.0.22"
Changelog:

#516
#519
#522
#525
#527
#530
#531
#535
#538
#540
#541
#544

[2020-09-04 18:16] #516 closed

[2020-09-05 08:54] amihaiemil opened #519 "Add the User.contracts() method"
We should be able to get the authenticated User's Contracts.

[2020-09-05 17:52] #519 closed

[2020-09-06 06:57] criske commented on #131
@amihaiemil I think it's time to proper add this feature. Right now messages mapped by self-web to frontend are too generic ("Something went wrong").
I'm thinking having a base class for all self exceptions (`SelfException`). All extensions of this should not carry any message but some basic info like (keys, ids, provider name ,repo name etc.) or none, and let the `self-web` decide how the message

[2020-09-06 09:12] criske opened #521 "Self API should have access to Contributors."
This will be useful when for example a `Project` owner will add a new `Contract` and the `Contributor` username field has an "autocomplete" feature.