[2020-12-20 13:25] charlesmike opened #813 "StoredContributor.java: Implement method billingInfo(..."
The puzzle ``803-38cec775`` originating from #803 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ed9cab39eb3c2c555720b464ca26f51548ab6cce/self-core-impl/src/main/java/com/selfxdsd/core/contributors/StoredContributor.java#L45-L48

"Implement method billingInfo() here. It should return the data from the Contributor's Stripe Account (payout method). If the contributor hasn't set up

[2020-12-20 13:28] charlesmike commented on #803
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-20 13:28] charlesmike commented on #804
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-20 13:29] charlesmike commented on #811
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-30T15:29:04.200159``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-20 13:29] charlesmike commented on #812
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-30T15:29:08.648749``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-20 13:29] charlesmike commented on #813
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-30T15:29:12.833626``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-20 15:50] #811 closed

[2020-12-20 15:52] charlesmike commented on #811
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-20 17:32] #812 closed

[2020-12-20 17:32] charlesmike commented on #812
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-21 11:22] #813 closed

[2020-12-21 11:22] amihaiemil commented on #808
@rultor release it, tag is `0.0.44`

[2020-12-21 11:23] rultor commented on #808
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23890-748922775)

[2020-12-21 11:26] rultor commented on #808
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23890-748922775) (spent 3min)

[code]

[2020-12-21 11:35] amihaiemil commented on #808
@rultor release it, tag is `0.0.44`

[2020-12-21 11:37] rultor commented on #808
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23890-748928369)

[2020-12-21 11:40] rultor commented on #808
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23890-748928369) (spent 3min)

[code]

[2020-12-21 11:42] amihaiemil commented on #808
@rultor release it, tag is `0.0.44`

[2020-12-21 11:43] rultor commented on #808
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23890-748931099)

[2020-12-21 11:46] rultor commented on #808
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23890-748931099) (spent 3min)

[code]

[2020-12-21 11:51] charlesmike commented on #812
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-21 11:51] charlesmike commented on #813
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-21 11:52] amihaiemil commented on #808
@rultor release it, tag is `0.0.44`

[2020-12-21 11:52] rultor commented on #808
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23890-748934810)

[2020-12-21 11:56] rultor commented on #808
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23890-748934810) (spent 3min)

[code]

[2020-12-21 11:57] amihaiemil commented on #808
@rultor release it, tag is `0.0.44`

[2020-12-21 11:58] rultor commented on #808
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23890-748936993)

[2020-12-21 12:01] charlesmike opened #817 "AccountBillingInfo.java: Implement and test this class..."
The puzzle ``813-462456bf`` originating from #813 has to be resolved:

https://github.com/self-xdsd/self-core/blob/33f4418df5758a51f9123e074523fc54c8ee77a5/self-core-impl/src/main/java/com/selfxdsd/core/projects/AccountBillingInfo.java#L33-L34

"Implement and test this class. We should retrieve the information from the Account, most likely from the Metadata attribute.".

It was created by amihaiem

[2020-12-21 12:01] rultor commented on #808
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23890-748936993) (spent 3min)

[code]

[2020-12-21 12:02] amihaiemil commented on #808
no tag created, but the builds were successfully sent to Github Packages

[2020-12-21 12:02] #808 closed

[2020-12-21 12:03] amihaiemil opened #818 "Release 0.0.45"
Changelog:

#817
#819
#821

[2020-12-21 12:04] charlesmike commented on #817
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-31T14:04:16.862822``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-22 13:27] amihaiemil opened #819 "BillingInfo: add individual/company and taxId"
BillingInfo should hold the full name if it's an individual or the company name if it's a business.
It should also hold the taxId (VAT number identifier) in either case.

[2020-12-22 13:27] charlesmike commented on #819
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-01T15:27:20.560721``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-22 13:27] charlesmike commented on #819
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-22 14:36] #819 closed

[2020-12-22 14:39] charlesmike commented on #819
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-22 14:45] amihaiemil opened #821 "StoredContributor.createStripeAccount take BillingInfo"
The method should accept BillingInfo as input and set this data on the Stripe Account being created.

[2020-12-22 14:46] charlesmike commented on #821
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-01T16:46:02.206219``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-22 14:46] charlesmike commented on #821
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-22 16:31] #821 closed

[2020-12-22 16:35] charlesmike commented on #821
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-23 10:25] charlesmike opened #823 "GitlabIssueCommentsTestCase.java: Add tests for GilabIssueComme..."
The puzzle ``726-7b8291f9`` originating from #726 has to be resolved:

https://github.com/self-xdsd/self-core/blob/70f130c80eeda3d5dd5f82e56565ee8f8c4634b9/self-core-impl/src/test/java/com/selfxdsd/core/GitlabIssueCommentsTestCase.java#L40-L41

"Add tests for GilabIssueComments.post(...) and GitlabIssueComments.received(...).".

It was created by @andreoss on 2020-12-22T23:29:45Z. Estimation is ``

[2020-12-23 10:26] amihaiemil commented on #726
paid with transaction id 2W8504358C819762V

[2020-12-23 10:28] charlesmike commented on #823
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-02T12:28:02.593621``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-23 10:28] #726 closed

[2020-12-23 10:28] charlesmike commented on #726
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-23 10:31] charlesmike commented on #726
@andreoss thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-23 11:09] #817 closed

[2020-12-23 11:09] charlesmike commented on #817
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-23 11:11] charlesmike commented on #817
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-23 17:47] amihaiemil commented on #818
@rultor release it, tag is `0.0.45`

[2020-12-23 17:48] rultor commented on #818
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23900-750406268)

[2020-12-23 17:52] rultor commented on #818
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23900-750406268) (took me 3min)

[2020-12-23 17:52] #818 closed

[2020-12-23 22:03] charlesmike commented on #809
@andreoss Don't forget to close this ticket before the deadline (2020-12-29T19:53:08). You are past the first half of the allowed period.

[2020-12-24 20:01] amihaiemil opened #825 "Release 0.0.46"
Changelog:

#826

[2020-12-24 20:01] amihaiemil opened #826 "Invoice as PDF"
We should have method Invoice.toPdf() to turn it into a PDF File.

[2020-12-24 20:01] charlesmike commented on #826
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T22:01:53.357697``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-24 20:01] charlesmike commented on #826
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-24 20:14] #826 closed

[2020-12-24 20:14] charlesmike opened #828 "StoredInvoice.java: Modify the PDF template and t..."
The puzzle ``826-49ab241e`` originating from #826 has to be resolved:

https://github.com/self-xdsd/self-core/blob/c56256e930fc0294e8611a0f97ed918f68df6210/self-core-impl/src/main/java/com/selfxdsd/core/contracts/invoices/StoredInvoice.java#L25-L27

"Modify the PDF template and the code in toPdf() such that more tasks are written on more pages. At the moment only 40 tasks are written to the 1-page

[2020-12-24 20:15] amihaiemil commented on #828
@charlesmike deregister

[2020-12-24 20:15] charlesmike commented on #828
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-12-24 20:15] charlesmike commented on #826
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-25 09:00] amihaiemil commented on #825
@rultor release it, tag is `0.0.46`

[2020-12-25 09:01] rultor commented on #825
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23904-751213842)

[2020-12-25 09:04] rultor commented on #825
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23904-751213842) (took me 3min)

[2020-12-25 09:21] #825 closed

[2020-12-25 11:33] amihaiemil opened #829 "Release 0.0.47"
quick hotfix: 82ddbd8ca11ed704ca36fdbf182cbd8da917eef5

[2020-12-25 11:33] amihaiemil commented on #829
@rultor release it, tag is `0.0.47`

[2020-12-25 11:33] rultor commented on #829
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23907-751236430)

[2020-12-25 11:37] rultor commented on #829
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23907-751236430) (took me 3min)

[2020-12-25 11:38] #829 closed

[2020-12-25 15:32] amihaiemil opened #830 ""Other" BillingInfo Attribute is optional"
This attribute is optional, therefore we should check for null and replace with empty string.
/
<img width="842" alt="Screenshot 2020-12-25 at 17 30 49" src="https://user-images.githubusercontent.com/6305156/103138045-23f36a00-46d7-11eb-9c7d-a91fd6b5e5fc.png">

(The null firstName and lastName is solved in self-web)

[2020-12-25 15:32] charlesmike commented on #830
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-04T17:32:48.285288``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-25 15:32] charlesmike commented on #830
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-25 15:36] amihaiemil opened #831 "Release 0.0.48"
Quick fix: #830

[2020-12-25 15:39] #830 closed

[2020-12-25 15:39] charlesmike commented on #830
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-25 15:40] amihaiemil commented on #831
@rultor release it, tag is `0.0.48`

[2020-12-25 15:41] rultor commented on #831
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23908-751264513)

[2020-12-25 15:44] rultor commented on #831
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23908-751264513) (spent 3min)

[code]

[2020-12-25 15:49] amihaiemil commented on #831
@rultor release, tag is `0.0.48`

[2020-12-25 15:50] rultor commented on #831
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23908-751265236)

[2020-12-25 15:53] rultor commented on #831
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23908-751265236) (spent 3min)

[code]

[2020-12-25 15:55] amihaiemil commented on #831
@rultor release, tag is `0.0.48`

[2020-12-25 15:56] rultor commented on #831
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23908-751265747)

[2020-12-25 15:59] rultor commented on #831
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23908-751265747) (spent 3min)

[code]

[2020-12-25 16:11] amihaiemil commented on #831
@rultor release, tag is `0.0.48`

[2020-12-25 16:11] rultor commented on #831
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23908-751267366)

[2020-12-25 16:16] rultor commented on #831
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23908-751267366) (took me 4min)

[2020-12-25 16:16] #831 closed

[2020-12-26 10:47] amihaiemil opened #833 "Payment Possible Only Over 108 Euros"
Let's make the payment possible only if the invoice is >= 108 euros.

[2020-12-26 10:47] charlesmike commented on #833
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-05T12:47:20.792986``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-26 10:47] charlesmike commented on #833
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-26 10:52] amihaiemil commented on #823
@charlesmike quit

[2020-12-26 10:52] charlesmike commented on #823
@amihaiemil ok, I'll find someone else to take care of it.

[2020-12-26 10:54] charlesmike commented on #823
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-05T12:54:04.372645``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2020-12-26 22:29] fellahi-ali opened #835 "Missing test for GitlabIssueComments.iterator()"
While working on #823, I noticed that `GitlabIssueComments.iterator()` is not tested for the happy path, or am I missing something?

[2020-12-26 22:29] charlesmike commented on #835
@fellahi-ali thank you for reporting this. I'll assign someone to take care of it soon.

[2020-12-26 22:30] charlesmike commented on #835
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-06T00:30:07.494692``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-27 14:00] criske commented on #835
@fellahi-ali It looks like that test is covered by `receivesCommentFromJson` https://github.com/self-xdsd/self-core/blob/f90cedad107686714e159464bd42c8c0d663b916/self-core-impl/src/test/java/com/selfxdsd/core/GitlabIssueCommentsTestCase.java#L68

[2020-12-27 14:58] #823 closed

[2020-12-27 14:58] charlesmike commented on #823
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-27 14:59] charlesmike commented on #823
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-27 15:00] amihaiemil commented on #823
paid with transaction id 2HP480764L5436119

[2020-12-27 15:01] amihaiemil commented on #835
@fellahi-ali @criske right, that test covers it. I think it's enough :D

[2020-12-27 15:01] #835 closed

[2020-12-27 15:02] amihaiemil commented on #835
paid with transaction id 15B17051UL637764W

[2020-12-27 15:03] charlesmike commented on #835
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-27 15:03] amihaiemil opened #837 "Release 0.0.49"
Changelog:

#809
#823
#833
#838
#839
#844
#846
#848
#850
#852
#853
#855
#858 -- revert changes made in #855

[2020-12-27 15:04] #833 closed

[2020-12-27 15:04] amihaiemil commented on #833
paid with transaction id 95C74577EM724112J

[2020-12-27 15:07] fellahi-ali commented on #835
@amihaiemil @criske sorry, my bad, I haven't noticed nor understood that test :(

[2020-12-27 15:07] charlesmike commented on #833
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-27 15:09] amihaiemil commented on #835
@fellahi-ali no worries :D

[2020-12-29 17:55] charlesmike commented on #809
@andreoss Looks like you've missed the task deadline (2020-12-29T19:53:08). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-29 17:57] charlesmike commented on #809
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-08T19:57:08.622629``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-29 18:17] amihaiemil commented on #809
@charlesmike quit

[2020-12-29 18:17] charlesmike commented on #809
@amihaiemil ok, I'll find someone else to take care of it.

[2020-12-29 18:18] charlesmike commented on #809
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-08T20:18:05.774677``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2020-12-30 10:29] fellahi-ali opened #838 "Can't use GitlabComment to represent a Commit comment because of API inconsistency"
To fix #809 I have to implement `GitlabCommitComments` `post()` and `received()` which should return a `Comment` object but unfortunately the current implementation of  `GitlabComment` can only represent an _issue_ comment but not a _commit_ comment because Gitlab's API represent those comments differently, where the _issue_ comment uses `body` attribute and the _commit_ comment uses `note` attrib

[2020-12-30 10:29] charlesmike commented on #838
@fellahi-ali thank you for reporting this. I'll assign someone to take care of it soon.

[2020-12-30 10:30] charlesmike commented on #838
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-09T12:30:06.514535``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2020-12-30 10:31] amihaiemil commented on #838
@fellahi-ali right, from what I see, the differences are quite big. So let's go with your suggestion.

[2020-12-30 10:45] fellahi-ali opened #839 "GitlabComment.author() should return author.username"
@amihaiemil Shouldn't `author()` return `author.username` instead of `author.name`?

https://github.com/self-xdsd/self-core/blob/17fa56f274d3b676988ac069bf7432e512c2f600/self-core-impl/src/main/java/com/selfxdsd/core/GitlabComment.java#L37-L39

[code]

[2020-12-30 10:45] charlesmike commented on #839
@fellahi-ali thank you for reporting this. I'll assign someone to take care of it soon.

[2020-12-30 10:46] amihaiemil commented on #839
@fellahi-ali I think so, yes :D

[2020-12-30 10:48] charlesmike commented on #839
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-09T12:48:06.572683``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2020-12-30 11:37] amihaiemil commented on #839
15min

[2020-12-30 11:37] #839 closed

[2020-12-30 11:39] charlesmike commented on #839
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-31 10:04] fellahi-ali commented on #838
@amihaiemil I run into another issue while trying to implement `GitlabCommitComment`
Unlike Github's **commit** comments  and the Gitlab's **issue** comments, there is no `id` attribute in the Gitlab **commit** comment JSON response (check the example above or see: https://docs.gitlab.com/ee/api/commits.html#get-the-comments-of-a-commit)
And so I don't know how to implement `commentId()` method?
T

[2020-12-31 10:12] amihaiemil commented on #838
@fellahi-ali strange that Gitlab doesnt provide the ID... you can just make it throw ``UnsupportedOperationException`` -- I don't think we even use this ID anywhere, to be honest.

So just:

[code]

[2020-12-31 10:43] fellahi-ali commented on #838
@amihaiemil I was experimenting with the API and noticed that there is a `/discussions` endpoint which strangely returns the created comments with their `id`s, but unfortunately nested in a `discussion` object and inside `notes` array!!!
The response of `GET https://gitlab.com/api/v4/projects/23395047/repository/commits/231fb9aed0c772abdb8ae44ad1c8a55fcccbedd7/discussions`

The first object is cre

[2020-12-31 10:47] amihaiemil commented on #838
@fellahi-ali We don't need that now.

Actually, when it comes to Commit Comments, we are not so interested in the existing comments, we don't read them (at the moment we implement GitlabCommitComment just to have a consistent architecture).

Fow now we use Commit Comments just to post comments about newly opened Issues and closed Issues (self-todos). So it's ok if you just make that method throw U

[2020-12-31 12:06] #838 closed

[2020-12-31 12:08] amihaiemil commented on #838
paid with transaction id 4NH176398B840772G

[2020-12-31 16:58] charlesmike commented on #838
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-01 10:28] amihaiemil commented on #809
paid with transaction id 8NA2897845818554P

[2021-01-01 10:28] #809 closed

[2021-01-01 10:29] charlesmike commented on #809
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-01 10:37] amihaiemil opened #844 "StripeWallet.pay: Rounding Necessary"
In StripeWallet.pay, when we're calculating the newLimit, we have to round it up, otherwise it might throw an exception:

[code]

[2021-01-01 10:37] charlesmike commented on #844
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-11T12:37:44.483437``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-01 10:37] charlesmike commented on #844
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-01 10:56] #844 closed

[2021-01-01 10:57] amihaiemil opened #846 "StripeWallet.pay(...) check for Invoice.totalAmount"
At the moment the method is checking if Invoice.amount <= 108 before making the payment. This is not correct, it should check the totalAmount (including the commission), not just the amount.

[2021-01-01 10:57] charlesmike commented on #846
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-11T12:57:43.983456``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-01 10:57] charlesmike commented on #846
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-01 10:58] charlesmike commented on #844
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-01 10:59] charlesmike commented on #809
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-01 11:10] #846 closed

[2021-01-01 12:17] amihaiemil opened #848 "Handle StripeException Better"
StripeException can occur for many reasons. Let's handle at least ``not-enough-cash`` and ``authentication-required``.

[2021-01-01 12:17] charlesmike commented on #848
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-11T14:17:42.703371``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-01 12:17] charlesmike commented on #848
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-01 12:49] #848 closed

[2021-01-01 16:14] amihaiemil opened #850 "StoredProjectManager.commission() should return 0 scale and half up"
At the moment the commission of the PM is calculated as BigDecimal with scale 2, yet BigDecimal already represents the cents (this means, at the moment the PM's commission can be even more precise then cents thus causing rounding errors sometimes).

Let's fix it. It should be a precise BigDecimal (scale 0, we don't go lower than cents) with rounding mode Half_up.

[2021-01-01 16:14] charlesmike commented on #850
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-11T18:14:37.934954``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-01 16:14] charlesmike commented on #850
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-01 16:28] #850 closed

[2021-01-01 16:58] charlesmike commented on #846
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-01 16:58] charlesmike commented on #848
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-01 16:59] charlesmike commented on #850
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-03 11:04] amihaiemil opened #852 "Make Collaborators Iterable of Collaborator"
In the case of Gitlab, we need to be able to iterate over the collaborators of a Repo. Let's make the interface Collaborators be an Iterable of Collaborator: https://docs.gitlab.com/ee/api/members.html#list-all-members-of-a-group-or-project

The Collaborator interface needs to have the methods: id(), username(), name() and json().

For class GithubCollaborators, we can make the iterator method thr

[2021-01-03 11:04] charlesmike commented on #852
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-13T13:04:52.926644``.

Estimation here is ``120 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become

[2021-01-03 11:04] charlesmike commented on #852
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-04 15:21] amihaiemil opened #853 "Charge Contributor VAT"
Self XDSD has to pay VAT (19%) for the commission it takes. Since the commission is taken from the Contributor ([docs](https://docs.self-xdsd.com/wallets.html#invoicing)) we also have to charge them the VAT as follows:

If Contributor is from Romania => charge VAT always

If Contributor is from other countries of the EU => charge VAT **unless** the Contributor provides their company details with a

[2021-01-04 15:21] charlesmike commented on #853
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-14T17:21:52.823059``.

Estimation here is ``120 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-01-04 15:21] charlesmike commented on #853
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-05 12:07] #853 closed

[2021-01-05 12:08] charlesmike opened #855 "StripeWallet.java: After payment, when registeri..."
The puzzle ``853-0436a131`` originating from #853 has to be resolved:

https://github.com/self-xdsd/self-core/blob/f526ad01fd5bf12ce9fed6c37bc46d1ebbd6993a/self-core-impl/src/main/java/com/selfxdsd/core/projects/StripeWallet.java#L54-L58

"After payment, when registering the Invoice as paid, we should also send the VAT and save it on the Invoice as payment indicator (together with payment time and

[2021-01-05 12:08] charlesmike commented on #855
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-15T14:08:49.634040``.

Estimation here is ``90 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-05 16:58] charlesmike commented on #853
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-06 08:50] #855 closed

[2021-01-06 08:50] charlesmike commented on #855
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-06 10:58] charlesmike commented on #855
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-06 13:06] amihaiemil opened #858 "VAT Should Not Be Part Of Invoice"
Reversing modifications introduced in PR #857 for Issue #855.
The contributorVat will be sent separately (as a second parameter) to method registerAsPaid(...).

For each invoice registered as paid (with a real wallet), we should create a SelfInvoice (invoice from Self to Contributor) in a new table (1-1 relationship between Invoice and SelfInvoice, starting from SelfInvoice).

[2021-01-06 13:06] charlesmike commented on #858
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-16T15:06:48.491289``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-06 13:06] charlesmike commented on #858
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-06 14:38] amihaiemil commented on #852
paid with transaction id 6L15691413685251M

[2021-01-06 14:38] #852 closed

[2021-01-06 14:38] charlesmike opened #859 "GitlabCollaborators.java: Write unit tests for the iter..."
The puzzle ``852-6bdc03a5`` originating from #852 has to be resolved:

https://github.com/self-xdsd/self-core/blob/54f791fc0c805ff7e0de83fc915c559114a6cb94/self-core-impl/src/main/java/com/selfxdsd/core/GitlabCollaborators.java#L22-L23

"Write unit tests for the iterator() happy and unhappy paths.".

It was created by @fellahi-ali on 2021-01-05T21:55:36Z. Estimation is ``30 minutes``.
If you have

[2021-01-06 14:48] charlesmike commented on #859
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-16T16:48:49.260067``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-01-06 15:01] #858 closed

[2021-01-06 15:02] charlesmike opened #861 "Invoices.java: Modify method registerAsPaid(..."
The puzzle ``858-444b1c41`` originating from #858 has to be resolved:

https://github.com/self-xdsd/self-core/blob/0792879c90f2ed7bb843ca2073787e1161dcee8a/self-api/src/main/java/com/selfxdsd/api/Invoices.java#L11-L12

"Modify method registerAsPaid(Invoice), to also accept the vat as parameter. It will become registerAsPaid(Invoice, BigDecimal).".

It was created by @amihaiemil on 2021-01-06T14:59

[2021-01-06 15:03] amihaiemil commented on #837
@rultor release it, tag is `0.0.49`

[2021-01-06 15:04] rultor commented on #837
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23934-755350613)

[2021-01-06 15:07] rultor commented on #837
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23934-755350613) (took me 3min)

[2021-01-06 15:07] #837 closed

[2021-01-06 15:08] amihaiemil opened #862 "Release 0.0.50"
Breaks compatibility with self-storage. We will have to modify the storage and release 0.0.23.

Changelog:

#859
#867 -- Invoices.registerAsPaid(...) has to be modified in self-storage to accept the contributorVat.
#886 -- We will need to implement the PlatformInvoices DB table and everything in self-storage.

[2021-01-06 15:08] charlesmike commented on #861
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-16T17:08:50.255827``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-06 16:59] charlesmike commented on #852
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-07 12:59] amihaiemil opened #864 "Add Invoice Number"
At the moment we use the incremental DB id for an Invoices ID always. This means Invoice 1 can go to Contributor A, Invoice 2 and 3 to Contributor B and then Invoice 4 to Contributor A. This will create chaos in the Contributor's bookings because the the numbering of their invoices will not have any rules.

As a solution, each Contributor should have their own counter for their Invoices. For that,

[2021-01-07 12:59] charlesmike commented on #864
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-17T14:59:40.264108``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-07 12:59] charlesmike commented on #864
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-07 14:33] amihaiemil commented on #864
turns out there are too many complications for this to be implemented. As such, the Contributor will have to assign their company's numbers/series manually for each Invoice, before putting it into the books.

[2021-01-07 14:33] #864 closed

[2021-01-07 19:29] charlesmike commented on #864
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-08 08:38] amihaiemil commented on #859
paid with transaction id 9D706617GJ118602P

[2021-01-08 08:38] charlesmike opened #865 "Paged.java: Provide paging implementation..."
The puzzle ``125101892`` originating from #462 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-api/src/main/java/com/selfxdsd/api/storage/Paged.java#L9-L11

"Provide paging implementation for other Self entities: Contracts, Invoices, InvoicedTasks, Tasks. As guidance use implementation for Projects: Pm/User/InMemoryProjects.".

Estimat

[2021-01-08 08:38] charlesmike opened #866 "Invoices.java: . Finish writing custom Self ..."
The puzzle ``1025420096`` originating from #552 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-api/src/main/java/com/selfxdsd/api/Invoices.java#L8-L10

". Finish writing custom Self Exception for Invoices (InvoicesException). Also include the already written InvoiceException into InvoicesExceptions as InvoicesException.Single.".

Esti

[2021-01-08 08:38] charlesmike opened #867 "Invoices.java: Modify method registerAsPaid(..."
The puzzle ``-957201859`` originating from #858 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-api/src/main/java/com/selfxdsd/api/Invoices.java#L11-L12

"Modify method registerAsPaid(Invoice), to also accept the vat as parameter. It will become registerAsPaid(Invoice, BigDecimal).".

Estimation is ``30 minutes``.
If you have any techn

[2021-01-08 08:39] charlesmike opened #868 "InMemoryWallets.java: As soon as we have the Stripe..."
The puzzle ``500349511`` originating from #499 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryWallets.java#L41-L43

"As soon as we have the Stripe wallet implemented, modify the register(...) method here to take it into account, according to the given type (at the moment, it alway

[2021-01-08 08:39] charlesmike opened #869 "InMemoryTasksTestCase.java: Finish 'getTasksOfContributor..."
The puzzle ``-1554067189`` originating from #135 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryTasksTestCase.java#L39-L41

"Finish 'getTasksOfContributor()' test case when API permits that; as in when a Task can be assigned to a Contributor.".

Estimation is ``30 minutes``.
If yo

[2021-01-08 08:39] charlesmike opened #870 "JsonResources.java: Add other methods such as del..."
The puzzle ``-1472709267`` originating from #252 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/main/java/com/selfxdsd/core/JsonResources.java#L41-L43

"Add other methods such as delete and continue abstracting the HTTP calls away from the Provider's implementations (Issues, Comments etc).".

Estimation is ``30 minutes``

[2021-01-08 08:39] charlesmike opened #871 "StoredInvoice.java: Modify the PDF template and t..."
The puzzle ``-44920864`` originating from #826 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/main/java/com/selfxdsd/core/contracts/invoices/StoredInvoice.java#L25-L27

"Modify the PDF template and the code in toPdf() such that more tasks are written on more pages. At the moment only 40 tasks are written to the 1-page PD

[2021-01-08 08:39] charlesmike opened #872 "JsonResources.java: Add other methods such as del..."
The puzzle ``-1472709267`` originating from #252 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/main/java/com/selfxdsd/core/JsonResources.java#L41-L43

"Add other methods such as delete and continue abstracting the HTTP calls away from the Provider's implementations (Issues, Comments etc).".

Estimation is ``30 minutes``

[2021-01-08 08:39] charlesmike opened #873 "GitlabCollaborators.java: Write unit tests for the iter..."
The puzzle ``-303497025`` originating from #852 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/main/java/com/selfxdsd/core/GitlabCollaborators.java#L22-L23

"Write unit tests for the iterator() happy and unhappy paths.".

Estimation is ``30 minutes``.
If you have any technical questions, don't ask me, I won't be able to

[2021-01-08 08:39] charlesmike opened #874 "StoredInvoice.java: Modify the PDF template and t..."
The puzzle ``-44920864`` originating from #826 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/main/java/com/selfxdsd/core/contracts/invoices/StoredInvoice.java#L25-L27

"Modify the PDF template and the code in toPdf() such that more tasks are written on more pages. At the moment only 40 tasks are written to the 1-page PD

[2021-01-08 08:39] charlesmike opened #875 "Gitlab.java: Continue adding integration t..."
The puzzle ``586590518`` originating from #27 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/main/java/com/selfxdsd/core/Gitlab.java#L35-L35

"Continue adding integration tests for Gitlab provider.".

Estimation is ``30 minutes``.
If you have any technical questions, don't ask me, I won't be able to help. Open new issues

[2021-01-08 08:39] charlesmike commented on #865
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-18T10:39:15.758610``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-01-08 08:39] charlesmike opened #876 "Gitlab.java: Continue adding integration t..."
The puzzle ``586590518`` originating from #27 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/main/java/com/selfxdsd/core/Gitlab.java#L35-L35

"Continue adding integration tests for Gitlab provider.".

Estimation is ``30 minutes``.
If you have any technical questions, don't ask me, I won't be able to help. Open new issues

[2021-01-08 08:39] charlesmike opened #877 "GithubIssueComments.java: Provide a pagination solution..."
The puzzle ``1442934567`` originating from #100 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/main/java/com/selfxdsd/core/GithubIssueComments.java#L22-L24

"Provide a pagination solution in iterator() using Github response headers, when {@link Resource} API has access to http response headers (issue #241).".

Estimation

[2021-01-08 08:39] charlesmike opened #878 "GithubIssueComments.java: Provide a pagination solution..."
The puzzle ``1442934567`` originating from #100 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/main/java/com/selfxdsd/core/GithubIssueComments.java#L22-L24

"Provide a pagination solution in iterator() using Github response headers, when {@link Resource} API has access to http response headers (issue #241).".

Estimation

[2021-01-08 08:39] charlesmike opened #879 "UserProjects.java: Implement and test method reg..."
The puzzle ``-1371328317`` originating from #59 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/main/java/com/selfxdsd/core/projects/UserProjects.java#L42-L45

"Implement and test method register(...). It should register the repo with respect to the fact that this is a User's Projects, meaning the given Repo has to belong

[2021-01-08 08:39] charlesmike opened #880 "UserProjects.java: Implement and test method reg..."
The puzzle ``-1371328317`` originating from #59 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/main/java/com/selfxdsd/core/projects/UserProjects.java#L42-L45

"Implement and test method register(...). It should register the repo with respect to the fact that this is a User's Projects, meaning the given Repo has to belong

[2021-01-08 08:39] charlesmike commented on #866
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-18T10:39:21.988090``.

Estimation here is ``45 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-08 08:39] charlesmike opened #881 "StoredProject.java: Continue implementation of th..."
The puzzle ``1202376155`` originating from #278 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredProject.java#L48-L51

"Continue implementation of the resolve(...) method. It should decide what kind of event has occurred and delegate it further to the ProjectManager who will deal

[2021-01-08 08:39] charlesmike opened #882 "StoredProject.java: Continue implementation of th..."
The puzzle ``1202376155`` originating from #278 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredProject.java#L48-L51

"Continue implementation of the resolve(...) method. It should decide what kind of event has occurred and delegate it further to the ProjectManager who will deal

[2021-01-08 08:39] charlesmike opened #883 "StoredContributor.java: Method tasks() here should re..."
The puzzle ``1648531851`` originating from #192 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/main/java/com/selfxdsd/core/contributors/StoredContributor.java#L43-L47

"Method tasks() here should return the tasks with respect ot the encapsulated Contracts. If the Contracts exist (!= null), then the method should only ret

[2021-01-08 08:39] charlesmike opened #884 "StoredContributor.java: Method tasks() here should re..."
The puzzle ``1648531851`` originating from #192 has to be resolved:

https://github.com/self-xdsd/self-core/blob/05eba6753dfb6854543ed1809b96647b863399e1/self-core-impl/src/main/java/com/selfxdsd/core/contributors/StoredContributor.java#L43-L47

"Method tasks() here should return the tasks with respect ot the encapsulated Contracts. If the Contracts exist (!= null), then the method should only ret

[2021-01-08 08:39] charlesmike commented on #867
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-18T10:39:27.938038``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-08 08:39] #120 closed

[2021-01-08 08:39] #263 closed

[2021-01-08 08:39] #861 closed

[2021-01-08 08:39] #289 closed

[2021-01-08 08:39] #305 closed

[2021-01-08 08:39] #465 closed

[2021-01-08 08:39] #504 closed

[2021-01-08 08:39] #555 closed

[2021-01-08 08:39] #679 closed

[2021-01-08 08:39] charlesmike commented on #861
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] #680 closed

[2021-01-08 08:39] #682 closed

[2021-01-08 08:39] #859 closed

[2021-01-08 08:39] charlesmike commented on #859
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] #828 closed

[2021-01-08 08:39] charlesmike commented on #859
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] charlesmike commented on #868
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-18T10:39:33.462733``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-08 08:39] charlesmike commented on #828
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] #692 closed

[2021-01-08 08:39] charlesmike commented on #828
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] charlesmike commented on #692
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] #684 closed

[2021-01-08 08:39] charlesmike commented on #692
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] charlesmike commented on #869
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-18T10:39:39.177177``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-08 08:39] charlesmike commented on #684
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] charlesmike commented on #684
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] charlesmike commented on #682
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] charlesmike commented on #682
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] charlesmike commented on #870
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-18T10:39:44.863822``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-08 08:39] charlesmike commented on #680
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] charlesmike commented on #679
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] charlesmike commented on #679
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] charlesmike commented on #555
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] charlesmike commented on #555
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] charlesmike commented on #871
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-18T10:39:50.792369``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-08 08:39] charlesmike commented on #504
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] charlesmike commented on #504
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:39] charlesmike commented on #465
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:40] charlesmike commented on #465
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 08:42] amihaiemil commented on #872
@charlesmike deregister

[2021-01-08 08:42] charlesmike commented on #872
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:42] amihaiemil commented on #874
@charlesmike deregister

[2021-01-08 08:42] charlesmike commented on #874
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:42] amihaiemil commented on #876
@charlesmike deregister

[2021-01-08 08:42] charlesmike commented on #876
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:42] amihaiemil commented on #878
@charlesmike deregister

[2021-01-08 08:42] charlesmike commented on #878
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:42] amihaiemil commented on #880
@charlesmike deregister

[2021-01-08 08:42] charlesmike commented on #880
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:42] amihaiemil commented on #882
@charlesmike deregister

[2021-01-08 08:43] charlesmike commented on #882
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:43] amihaiemil commented on #884
@charlesmike deregister

[2021-01-08 08:43] charlesmike commented on #884
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:44] amihaiemil commented on #865
@charlesmike deregister

[2021-01-08 08:44] charlesmike commented on #865
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:44] amihaiemil commented on #866
@charlesmike deregister

[2021-01-08 08:44] charlesmike commented on #866
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:44] amihaiemil commented on #867
@charlesmike deregister

[2021-01-08 08:44] charlesmike commented on #867
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:44] amihaiemil commented on #868
@charlesmike deregister

[2021-01-08 08:44] charlesmike commented on #868
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:44] amihaiemil commented on #869
@charlesmike deregister

[2021-01-08 08:44] charlesmike commented on #869
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:44] amihaiemil commented on #870
@charlesmike deregister

[2021-01-08 08:44] charlesmike commented on #870
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:44] amihaiemil commented on #871
@charlesmike deregister

[2021-01-08 08:44] charlesmike commented on #871
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:44] amihaiemil commented on #873
@charlesmike deregister

[2021-01-08 08:44] charlesmike commented on #873
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:44] amihaiemil commented on #875
@charlesmike deregister

[2021-01-08 08:44] charlesmike commented on #875
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:44] amihaiemil commented on #877
@charlesmike deregister

[2021-01-08 08:44] charlesmike commented on #877
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:44] amihaiemil commented on #879
@charlesmike deregister

[2021-01-08 08:44] charlesmike commented on #879
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:44] amihaiemil commented on #881
@charlesmike deregister

[2021-01-08 08:44] charlesmike commented on #881
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:44] amihaiemil commented on #883
@charlesmike deregister

[2021-01-08 08:44] charlesmike commented on #883
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-08 08:46] amihaiemil commented on #867
@charlesmike register

[2021-01-08 08:46] charlesmike commented on #867
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-01-08 08:49] charlesmike commented on #867
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-18T10:49:13.089185``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-08 08:51] #878 closed

[2021-01-08 08:51] #880 closed

[2021-01-08 08:51] #882 closed

[2021-01-08 08:51] #884 closed

[2021-01-08 08:51] #876 closed

[2021-01-08 08:52] #870 closed

[2021-01-08 11:34] charlesmike opened #886 "Invoices.java: Implement the PlatformInvoice..."
The puzzle ``1382593047`` originating from #867 has to be resolved:

https://github.com/self-xdsd/self-core/blob/9c0ab39d8ddc71cdb8b5f54d81f2910bc52b12de/self-api/src/main/java/com/selfxdsd/api/Invoices.java#L13-L14

"Implement the PlatformInvoice. This will represent the invoices emitted by Self XDSD to the Contributors.".

Estimation is ``90 minutes``.
If you have any technical questions, don't

[2021-01-08 11:34] #873 closed

[2021-01-08 11:34] charlesmike commented on #873
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 11:34] #867 closed

[2021-01-08 11:34] charlesmike commented on #867
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-08 11:39] charlesmike commented on #886
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-18T13:39:13.533743``.

Estimation here is ``90 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-08 11:40] amihaiemil commented on #886
@criske FYI, we will have a new entity.

Initially, I wanted to generate the platform's invoice from the Invoice, but it's too complicated. Besides, we want to still keep our platform invoices even if the Contributor deletes their Contract (together with the Invoices).

[2021-01-08 12:01] criske commented on #886
@amihaiemil Gotacha. So Contributor will have access only to PlatformInvoices?

[2021-01-08 12:04] amihaiemil commented on #886
@criske No, Contributor will have access both to Invoices  (his invoices to the Project) and to PlatformInvoices (which are the invoices emitted by Self to him).

The Project/PO will never see the PlatformInvoices, because it's not their business.

We will also have to implement a page in self-web where the admins will see the platform invoices (we will need to download them and send then to accou

[2021-01-08 12:20] criske commented on #886
@amihaiemil Makes sense. One question, since Contributor has access to both, the Project Invoice will have 100EUR or 108EUR amount? Cause at the moment, if I'm correct, it includes the Platform commission.

[2021-01-08 12:31] amihaiemil commented on #886
@criske The PolatformInvoice will have 8 EUR on it. Have a look at the invoicing diagram:

The Contributor emits an Invoice to the Project with 108 EUR (his 100 EUR + 8 EUR Self commission). However, he actually receives only 100 EUR.

Therefore, we Self have to give then an invoice (the PlatformInvoice) for the 8 EUR we retained.

The Contributor will add these 2 invoices in their accounting: the

[2021-01-08 13:06] charlesmike commented on #861
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-08 13:06] charlesmike commented on #867
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-08 13:06] charlesmike commented on #859
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-09 12:52] charlesmike opened #888 "PlatformInvoice.java: Provide a PDF template for th..."
The puzzle ``-1951832631`` originating from #886 has to be resolved:

https://github.com/self-xdsd/self-core/blob/b1e17f11f6668f692195f0f17f1453a2c54cd2b2/self-api/src/main/java/com/selfxdsd/api/PlatformInvoice.java#L35-L37

"Provide a PDF template for this invoice and then the method toPdf() which should print out the PDF, similarly to how Invoice.toPdf() works now.".

Estimation is ``90 minutes`

[2021-01-09 12:52] #886 closed

[2021-01-09 12:52] charlesmike commented on #886
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-09 12:54] amihaiemil commented on #862
@rultor release it, tag is `0.0.50`

[2021-01-09 12:54] rultor commented on #862
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23938-757157192)

[2021-01-09 12:56] charlesmike commented on #888
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-19T14:56:06.598416``.

Estimation here is ``90 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-09 12:58] rultor commented on #862
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23938-757157192) (took me 3min)

[2021-01-09 13:01] #862 closed

[2021-01-09 19:06] charlesmike commented on #886
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-10 08:10] amihaiemil opened #889 "Cancel PaymentIntent If Status Not OK"
If status is not ``succeeded`` or ``processing``, cancel the payment intent (we will implement authentication and action_required later).

[2021-01-10 08:10] charlesmike commented on #889
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-20T10:10:17.810608``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-10 08:10] charlesmike commented on #889
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-10 08:10] amihaiemil opened #890 "Release 0.0.51"
Changelog:

#888
#889
#891 -- we will need to update SelfInvoices.registerAsPaid and save the exchange rate in the DB (PlatformInvoices table).
#894
#897

[2021-01-10 08:29] amihaiemil opened #891 "Add EUR -> RON Value To Invoices.registerAsPaid(...)"
This method should take on more BigDecimal parameter representing the EUR to RON conversion.
E.g. 1 EUR == 4.89 RON => this ``BigDecimal.valueOf(489)``;

[2021-01-10 08:29] charlesmike commented on #891
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-20T10:29:05.334278``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-10 08:29] charlesmike commented on #891
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-10 08:47] #889 closed

[2021-01-10 08:58] #891 closed

[2021-01-10 08:58] charlesmike opened #894 "StripeWallet.java: At the moment the registered ..."
The puzzle ``1309983238`` originating from #891 has to be resolved:

https://github.com/self-xdsd/self-core/blob/045204a02fb5d0e379e27fd75273814ff12c0837/self-core-impl/src/main/java/com/selfxdsd/core/projects/StripeWallet.java#L54-L56

"At the moment the registered EUR to RON exchange rate is always 487 (1 EUR = 4,87 RON). Let's read it from somewhere, probably using API of the BNR (Romanian Nati

[2021-01-10 09:06] charlesmike commented on #894
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-20T11:06:09.843837``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-10 10:09] criske opened #895 "Invoice: update toPdf to accept an OutputStream instead of returning File."
https://github.com/self-xdsd/self-core/blob/045204a02fb5d0e379e27fd75273814ff12c0837/self-api/src/main/java/com/selfxdsd/api/Invoice.java#L112
As mentioned [here](https://github.com/self-xdsd/self-web/issues/314), we should update the `Invoice#toPdf` to accept an `OutputStream` as parameter instead of returning `File`. By writting directly into the stream, this will make the whole process more eff

[2021-01-10 10:09] charlesmike commented on #895
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2021-01-10 10:16] charlesmike commented on #895
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-20T12:16:13.088614``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-10 13:06] charlesmike commented on #889
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-10 13:06] charlesmike commented on #891
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-10 13:55] charlesmike opened #897 "StoredPlatformInvoice.java: Add the eurToRon constructor ..."
The puzzle ``-588652879`` originating from #894 has to be resolved:

https://github.com/self-xdsd/self-core/blob/9d4b71f67975d076baf0f128d34cd494fd40c188/self-core-impl/src/main/java/com/selfxdsd/core/StoredPlatformInvoice.java#L45-L46

"Add the eurToRon constructor parameter to this class. This value will be a column in the DB.".

Estimation is ``30 minutes``.
If you have any technical questions,

[2021-01-10 13:55] #888 closed

[2021-01-10 13:55] charlesmike commented on #888
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-10 13:56] charlesmike commented on #897
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-20T15:56:10.455145``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-10 16:10] #894 closed

[2021-01-10 16:10] charlesmike commented on #894
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-10 19:06] charlesmike commented on #888
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-10 19:06] charlesmike commented on #894
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-11 07:29] #897 closed

[2021-01-11 07:29] charlesmike commented on #897
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-11 07:59] amihaiemil commented on #890
@rultor release it, tag is `0.0.51`

[2021-01-11 08:00] rultor commented on #890
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23943-757686334)

[2021-01-11 08:03] rultor commented on #890
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23943-757686334) (took me 3min)

[2021-01-11 08:46] #890 closed

[2021-01-11 10:59] amihaiemil opened #900 "Release 0.0.52"
Hotfix for: 231dd1d01fcf2fc4d0233749378199d5b20c61cd

[2021-01-11 10:59] charlesmike commented on #900
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-01-11 11:00] amihaiemil commented on #900
@charlesmike deregister

[2021-01-11 11:00] charlesmike commented on #900
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-11 11:04] amihaiemil commented on #900
@rultor release it, tag is `0.0.52`

[2021-01-11 11:05] rultor commented on #900
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23946-757878203)

[2021-01-11 11:08] rultor commented on #900
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23946-757878203) (took me 3min)

[2021-01-11 11:09] #900 closed

[2021-01-11 13:06] charlesmike commented on #897
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-11 15:23] andreoss opened #902 "Draft PRs should not be assigned for review"
The bot should assign a reviewer after PR was marked ready for review.

![image](https://user-images.githubusercontent.com/49783909/104200552-cfe6c600-53f6-11eb-8983-85d4f4bc700f.png)

[2021-01-11 15:23] charlesmike commented on #902
@andreoss thank you for reporting this. I'll assign someone to take care of it soon.

[2021-01-11 15:26] charlesmike commented on #902
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-21T17:26:16.364069``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-12 16:54] amihaiemil opened #903 "Add Method Self.platformInvoices()"
We need to access the platform invoices for the admins.

[2021-01-12 16:54] charlesmike commented on #903
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-22T18:54:17.923132``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-12 16:54] charlesmike commented on #903
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-12 16:54] amihaiemil opened #904 "Release 0.0.53"
Changelog:

#895
#903
#906

[2021-01-12 17:07] #903 closed

[2021-01-12 19:06] charlesmike commented on #903
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-13 08:18] amihaiemil commented on #895
paid with transaction id 6KD591077T291343A

[2021-01-13 08:18] #895 closed

[2021-01-13 08:31] amihaiemil commented on #902
@andreoss Good idea. We will do it, but a bit later. Now we are preparing the first Prod release and this change is not so straight-forward.

[2021-01-13 08:31] amihaiemil commented on #902
@charlesmike remove

[2021-01-13 08:31] charlesmike commented on #902
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-13 10:13] amihaiemil opened #906 "PlatformInvoice.toPdf Handle Removed Invoice"
The Invoice (contributor invoice to the project) can be deleted. In PlatformInvoice.toPdf(...), when printing the commission, let's remove the invoice id from the sentence, if the invoiceId is ``-1`` (invoice is missing).

[2021-01-13 10:13] charlesmike commented on #906
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-23T12:13:41.111800``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-13 10:13] charlesmike commented on #906
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-13 13:06] charlesmike commented on #895
@andreoss thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-13 16:55] #906 closed

[2021-01-13 16:57] amihaiemil commented on #904
@rultor release it, tag is `0.0.53`

[2021-01-13 16:58] rultor commented on #904
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23960-759582757)

[2021-01-13 17:01] rultor commented on #904
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23960-759582757) (spent 3min)

[code]

[2021-01-13 17:02] amihaiemil commented on #904
@rultor release it, tag is `0.0.53`

[2021-01-13 17:04] rultor commented on #904
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23960-759586209)

[2021-01-13 17:08] rultor commented on #904
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23960-759586209) (took me 3min)

[2021-01-13 17:29] #904 closed

[2021-01-13 19:06] charlesmike commented on #906
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-14 11:23] criske opened #909 "Implement "GitlabIssue#comments()""
Implement `GitlabIssue#comments()` by following the Github model.
We already have `GitlabIssueComments`. It only needs to be hooked up.

https://github.com/self-xdsd/self-core/blob/b48ba0cf2e568c5295d058a8b2c32627e61fc97a/self-core-impl/src/main/java/com/selfxdsd/core/GitlabIssue.java#L229-L232

[2021-01-14 11:23] charlesmike commented on #909
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2021-01-14 11:26] charlesmike commented on #909
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-24T13:26:15.424481``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-14 11:55] amihaiemil opened #911 "Release 0.0.54"
Changelog:

#908
#909
#912
#914

[2021-01-14 12:51] #909 closed

[2021-01-14 13:06] charlesmike commented on #909
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-17 14:23] amihaiemil opened #912 "[GitLab] Read Committer UserId From Colaborators"
In the case of a GitLabCommit, we should  iterate over the collaborators, match via the username and read the userId from there (the committer's userId is not present in the Commit JSON).

More info here: https://gitlab.com/gitlab-org/gitlab/-/issues/20924

[2021-01-17 14:23] charlesmike commented on #912
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-27T16:23:25.381519``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-17 14:23] charlesmike commented on #912
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-17 16:36] #912 closed

[2021-01-17 16:37] amihaiemil opened #914 "Write Unit Tests for XmlBnr"
This class is missing tests, let's write them.

[2021-01-17 16:37] charlesmike commented on #914
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-27T18:37:16.881475``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-17 16:37] charlesmike commented on #914
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-17 16:55] #914 closed

[2021-01-17 19:06] charlesmike commented on #912
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-17 19:06] charlesmike commented on #914
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-18 10:54] amihaiemil opened #916 "Add Commission Percentage to Invoice PDF"
The table header ``PM Commission`` should also contain the percentage.

[2021-01-18 10:54] charlesmike commented on #916
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-28T12:54:35.943389``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-18 10:54] charlesmike commented on #916
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-19 07:28] amihaiemil commented on #916
@charlesmike remove

[2021-01-19 07:28] charlesmike commented on #916
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-19 07:29] #916 closed

[2021-01-19 07:29] amihaiemil commented on #911
@rultor release it, tag is `0.0.54`

[2021-01-19 07:30] rultor commented on #911
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23997-762656761)

[2021-01-19 07:33] rultor commented on #911
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23997-762656761) (took me 3min)

[2021-01-19 07:34] #911 closed

[2021-01-19 08:30] amihaiemil opened #917 "UserProjects.getProjectById Should Select From Storage"
At the moment this method iterates over the encapsulated Projects Stream (which will select all the user's projects). This is inefficient.

Instead, this method should first check if the queried project belongs to the User and if so, return it directly from the Storage (this will prevent having to iterate over all the user's projects).

[2021-01-19 08:30] charlesmike commented on #917
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-29T10:30:10.101648``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-19 08:30] charlesmike commented on #917
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-19 08:30] amihaiemil opened #918 "Release 0.0.55"
Changelog:

#917 -- UserProjects and PmProjects now encapsulate the Storage. Changes needed in self-storage, then release 0.0.25;

[2021-01-20 08:07] #917 closed

[2021-01-20 08:17] amihaiemil commented on #918
@rultor release it, tag is `0.0.55`

[2021-01-20 08:18] rultor commented on #918
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24000-763422499)

[2021-01-20 08:21] rultor commented on #918
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24000-763422499) (took me 3min)

[2021-01-20 08:55] #918 closed

[2021-01-20 09:34] amihaiemil opened #922 "StoredContributor.contract(...) Should Select From Storage"
At the moment this method iterates over all the Contracts of the Contributor to find the right one. Let's make it search the Contract directly in the Storage, it will be faster.

[2021-01-20 09:34] charlesmike commented on #922
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-30T11:34:42.897378``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-20 09:34] charlesmike commented on #922
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-20 09:35] amihaiemil opened #923 "Release 0.0.56"
Changelog:

#922

[2021-01-20 13:06] charlesmike commented on #917
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-20 13:29] #922 closed

[2021-01-20 19:06] charlesmike commented on #922
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-22 11:08] criske opened #926 "Moving Webhook Event implemetations to core."
I'm testing webhooks for gitlab and noticed that `Github/GithubWebhookEvent` are created in `self-pm` and `self-todos`(well github is created as anon impl and gitlab not yet). Wouldn't be better to have a factory for these and move their implementations here.?
[code]
and on `self-pm/self-todos` we will just call something like `Event event = WebhookEvents.create("github", "push", payload)`?

[2021-01-22 11:08] charlesmike commented on #926
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2021-01-22 11:16] charlesmike commented on #926
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-01T13:16:13.672516``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-22 11:22] amihaiemil commented on #926
@criske we could, but maybe later. Btw, I working on GitlabWevhookEvent at the moment :D

[2021-01-22 11:22] amihaiemil commented on #926
@charlesmike remove

[2021-01-22 11:22] charlesmike commented on #926
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-22 12:00] criske commented on #926
@amihaiemil yep I've noticed :D
Btw, I've discovered a corner case.  Dunno if this applies to github too, but if you push a branch into master and this branch has the same name as a previous merged one that was deleted, "commits" will be empty and thus no latest commit to extract.

[2021-01-25 10:52] amihaiemil opened #927 "Revise Webhook Creation for GitLab"
In the case of a GitLab Webhook, only Push and Issue events are checked. We should also check Merge Request events and Comments events.

[2021-01-25 10:52] charlesmike commented on #927
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-04T12:52:38.077955``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-25 10:52] charlesmike commented on #927
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-25 11:20] #927 closed

[2021-01-25 11:21] amihaiemil commented on #923
@rultor release it, tag is `0.0.56`

[2021-01-25 11:22] rultor commented on #923
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24022-766746677)

[2021-01-25 11:26] rultor commented on #923
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24022-766746677) (took me 3min)

[2021-01-25 16:46] charlesmike commented on #927
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-25 17:16] criske opened #929 "GitlabIssueLabels.java: ClassCastException on iterator()."
Reproduce: this happens when pm tries to register a task, after a "register" command.

https://github.com/self-xdsd/self-core/blob/eeb02883804d4ce6448e7f1d5f140f2c3a671a68/self-core-impl/src/main/java/com/selfxdsd/core/GitlabIssueLabels.java#L153-L161
[code]

[2021-01-25 17:16] charlesmike commented on #929
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2021-01-25 17:26] charlesmike commented on #929
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-04T19:26:38.132736``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-01-25 17:28] criske commented on #929
This is the json issue to test against.

[code]

[2021-01-26 08:49] amihaiemil commented on #929
@fellahi-ali @criske This problem occurs because the ``labels`` array returned with the ``Issue`` (in the case of Fetch Single Issue) contains only the String texts of the labels, and we expect the array to contain JsonObjects (full label objects containing text, color, id etc).

A simple fix for this is:

[code]

[2021-01-26 08:50] amihaiemil opened #930 "Relese 0.0.57"
Changelog:

#929

[2021-01-26 09:01] amihaiemil commented on #929
@fellahi-ali I will fix this quickly now :D

[2021-01-26 09:01] amihaiemil commented on #929
@charlesmike deregister

[2021-01-26 09:01] charlesmike commented on #929
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-26 09:01] amihaiemil commented on #929
@charlesmike add

[2021-01-26 09:01] charlesmike commented on #929
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-01-26 09:05] #929 closed

[2021-01-26 09:09] amihaiemil commented on #930
@rultor release it, tag is `0.0.57`

[2021-01-26 09:10] rultor commented on #930
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24027-767406251)

[2021-01-26 09:15] rultor commented on #930
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24027-767406251) (took me 4min)

[2021-01-26 09:15] #930 closed

[2021-01-26 09:37] fellahi-ali commented on #929
you have already solved it :D

[2021-01-26 09:59] amihaiemil opened #932 "Add method Issues :: Repo.pullRequests()"
In the case of GitLab, we need to differentiate between Issues and Merge Requests (Issues URI is /issues, MR URI is /merge_requests).

Let's start by adding the method ``Issues :: Repo.pullRequests()``.

[2021-01-26 09:59] charlesmike commented on #932
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-05T11:59:26.226730``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-26 09:59] charlesmike commented on #932
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-26 10:01] amihaiemil commented on #932
@criske FYI, we have a problem: Github does not differentiate between Issues and PRs in their API (they have the same URIs and the same incremental ID). On the other hand, GitLab differentiates between them.

The result is: my ``add`` command on MR 1: https://gitlab.com/self-xdsd/self-rest/-/merge_requests/1#note_493975437 resulted in action upon Issue 1: https://gitlab.com/self-xdsd/self-rest/-/i

[2021-01-26 10:04] amihaiemil opened #933 "Save the PR flag on the Task"
When registering a task, we should also save the flag ``isPullRequest`` (true || false). We need this in order to solve #932 completely, and we will also need it when we will want to use the ``E-Tag`` mechanism in order to avoid useless API calls.

[2021-01-26 10:04] charlesmike commented on #933
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-05T12:04:56.685411``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-26 10:04] charlesmike commented on #933
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-26 11:50] amihaiemil opened #934 "Release 0.0.58"
Changelog:

#932
#933 -- changes needed in self-storage to add/read the isPullRequest flag to/from the DB.
#937
#939

[2021-01-26 12:36] #932 closed

[2021-01-26 13:17] criske commented on #932
@amihaiemil This will help fixing the bug  in self-pm, right? Cause right now, looks like  the self-pm `GitlabWebhookEvent` is searching MR as a normal Issue by id instead of finding MR like `https://gitlab.com/owner/name/-/merge_requests/id`.

[2021-01-26 13:21] amihaiemil commented on #932
@criske yes, exactly.

And it will also be used inside Task.issue(), based on the isPullRequest flag.

[2021-01-26 13:30] criske commented on #932
@amihaiemil Yep, now that you mentioned it, I think I've forgot to update the "equals/hashCode" with the pr flag  in my PR https://github.com/self-xdsd/self-core/pull/936

[2021-01-26 13:55] #933 closed

[2021-01-26 13:57] amihaiemil opened #937 "StoredTask.issue() Should DIfferenciate Between Issue and PR"
Based on the isPullRequest flag, we should read the Issue from the issues() api or from the pullRequests() api.

[2021-01-26 13:57] charlesmike commented on #937
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-05T15:57:10.399684``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-26 13:57] charlesmike commented on #937
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-26 14:05] amihaiemil opened #938 "Implement class TaskIssue (implements Issue)"
We need to have an Issue implementation based on Task.

Later, we will use ``E-Tags`` to read Issues from Github/GitLab API and the response will be 304 NOT MODIFIED (if there were no modifications) with an empty body. This will help us because these calls will not cound in the Rate Limit.

For this scenario, we need class TaskIssue, to return the Issue based on the existing Task.

[2021-01-26 14:05] charlesmike commented on #938
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-05T16:05:29.663467``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-26 14:05] charlesmike commented on #938
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-26 15:33] charlesmike commented on #932
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-26 15:33] charlesmike commented on #933
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-27 06:23] amihaiemil commented on #938
@charlesmike remove

[2021-01-27 06:23] charlesmike commented on #938
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-27 06:39] amihaiemil opened #939 "GitlabIssue.findUserId(...) Does Not Work If It's a PR"
If the GitlabIssue represents a pull request (URI path is ``/merge_requests`` instead of ``/issues``), then this method doesn't work because it splits the URI based on the ``/issues`` segment.

Let's try to fix it.

[2021-01-27 06:39] charlesmike commented on #939
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-06T08:39:28.511176``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-27 06:39] charlesmike commented on #939
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-27 06:42] #937 closed

[2021-01-27 09:33] charlesmike commented on #937
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-27 10:48] #939 closed

[2021-01-27 10:48] amihaiemil commented on #934
@rultor release it, tag is `0.0.58`

[2021-01-27 10:50] rultor commented on #934
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24030-768200890)

[2021-01-27 10:53] rultor commented on #934
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24030-768200890) (took me 3min)

[2021-01-27 10:53] #934 closed

[2021-01-27 15:33] charlesmike commented on #939
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-28 08:06] amihaiemil opened #942 "Task.isPullRequest Should Be Part Of The PK"
This flag should be part of the Primary Key because, in the case of GitLab, pull requests have a separate counter from issues. Therefore, we can have tickets ``1, self-xdsd/self-rest, gitlab, issue`` and ``1, self-xdsd/self-rest, gitlab, pull_request``.

In Github we don't have this problem because Issues and PRs share the same counter.

[2021-01-28 08:06] charlesmike commented on #942
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-07T10:06:28.330955``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-28 08:06] charlesmike commented on #942
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-28 08:08] amihaiemil opened #943 "Start Implementing BitBucket"
Let's start implementing the BitBucket Provider.

[2021-01-28 08:08] charlesmike commented on #943
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-07T10:08:42.995318``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-28 08:08] charlesmike commented on #943
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-28 09:19] amihaiemil opened #945 "Release 0.0.59"
Changelog:

#942 -- Task.isPullRequest is part of the Task PK. Needs small changes in self-storage.

[2021-01-28 09:19] amihaiemil commented on #942
@rultor merge it please

[2021-01-28 09:20] rultor commented on #942
@amihaiemil It is an issue, not a pull request

[2021-01-28 09:20] rultor commented on #942
@amihaiemil I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2021-01-28 09:25] #942 closed

[2021-01-28 09:25] amihaiemil commented on #945
@rultor release it, tag is `0.0.59`

[2021-01-28 09:28] rultor commented on #945
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24044-768919886)

[2021-01-28 09:31] rultor commented on #945
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24044-768919886) (spent 3min)

[code]

[2021-01-28 09:32] amihaiemil commented on #945
@rultor release it, tag is `0.0.59`

[2021-01-28 09:33] rultor commented on #945
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24044-768923758)

[2021-01-28 09:33] charlesmike commented on #942
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-28 09:37] rultor commented on #945
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24044-768923758) (took me 3min)

[2021-01-28 09:47] #945 closed

[2021-01-28 12:53] #24 closed

[2021-01-29 09:18] amihaiemil opened #946 "Create the Admin interface"
At the moment the core exposes the ``PlatformInvoices`` (method Self.platformInvoices()).
This means, the PlatformInvoices can be accessed without any actual login.

Let's add interface Admin:

[code]

We also have to add the method ``Admin :: User.asAdmin()``.

Then, remove the method ``Self.platformInvoices()``.

As effect, in order to access the platform invocies, login will be required:

[code

[2021-01-29 09:18] charlesmike commented on #946
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-01-29 09:18] amihaiemil commented on #946
@nmonokov please accept the invitation I sent you, to join the Self XDSD organization. Otherwise, I won't be able to assign tasks to you.

I want to assign this ticket to you :D

[2021-01-29 09:18] amihaiemil commented on #946
@charlesmike remove

[2021-01-29 09:18] charlesmike commented on #946
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-29 19:41] amihaiemil opened #947 "Implement ApiTokens"
A User will have multiple api tokens which they will use to authenticate in Self's Restful API.

We need the method ``ApiTokens :: User.apiTokens()``.

Interface ApiTokens will be an iterable of ApiToken.

An ApiToken has a name, value and expiration date.

Interface ApiTokens will also have the method ``ApiTokens :: ofUser(User)``.

[2021-01-29 19:41] charlesmike commented on #947
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-08T21:41:43.733429``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-29 19:41] charlesmike commented on #947
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-30 14:48] amihaiemil opened #948 "Implement User::Self.authenticate(String token)"
This method will authenticate the User based on their Personal Access Token.

[2021-01-30 14:48] charlesmike commented on #948
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-09T16:48:28.488295``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-30 14:48] charlesmike commented on #948
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-30 14:49] amihaiemil opened #949 "Release 0.0.60"
Changelog:

#948
#952

[2021-01-30 15:07] #948 closed

[2021-01-30 15:07] charlesmike opened #951 "BaseSelf.java: Implement and test the authen..."
The puzzle ``-1875823240`` originating from #948 has to be resolved:

https://github.com/self-xdsd/self-core/blob/a7daa1adabb5353ccbb3831ebcc431393468a1e0/self-core-impl/src/main/java/com/selfxdsd/core/BaseSelf.java#L33-L34

"Implement and test the authenticate(String) method, once we have the ApiTokens implemented for the User.".

Estimation is ``90 minutes``.
If you have any technical questions,

[2021-01-30 15:17] charlesmike commented on #951
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-09T17:17:02.290790``.

Estimation here is ``90 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-30 15:18] amihaiemil opened #952 "GithubCommit.author() author JsonObject can be null"
In the Commit JsonObject, the author attribute can be null. Let's treat this edge case and return an empty author if the object is null.

[2021-01-30 15:18] charlesmike commented on #952
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-09T17:18:27.878883``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-30 15:18] charlesmike commented on #952
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-30 15:25] #952 closed

[2021-01-30 15:25] amihaiemil commented on #949
@rultor release it, tag is `0.0.60`

[2021-01-30 15:26] rultor commented on #949
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24051-770228743)

[2021-01-30 15:29] rultor commented on #949
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24051-770228743) (spent 3min)

[code]

[2021-01-30 15:29] amihaiemil commented on #949
@rultor release it, tag is `0.0.60`

[2021-01-30 15:32] rultor commented on #949
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24051-770229295)

[2021-01-30 15:35] rultor commented on #949
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24051-770229295) (took me 3min)

[2021-01-30 15:39] nmonokov commented on #946
@amihaiemil haven't I done it already? Can you help me understand where can i accept this invite if it's not done yet?

[2021-01-30 15:47] #949 closed

[2021-01-30 15:50] amihaiemil commented on #946
@nmonokov nope, you haven't accepted it. It's an Invitation in Github to join the self-xdsd organization

You should have an e-mail from Github with this invitation, or a Notification in Github UI :D

<img width="1281" alt="Screenshot 2021-01-30 at 17 47 42" src="https://user-images.githubusercontent.com/6305156/106360859-8f0e0d00-6323-11eb-95e3-5efca47b3c30.png">

[2021-01-30 21:06] charlesmike commented on #948
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-30 21:06] charlesmike commented on #952
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-30 23:38] nmonokov commented on #946
@amihaiemil For some reason i don't have any invitations. I was a participant in one organization. I've left it now. No email to join self-xdsd and no notifications. Maybe try send another invitation? Maybe the it happened due to my participation in the previous one and github has some weird limit for that?
![image](https://user-images.githubusercontent.com/10772631/106370633-d53b8e80-636c-11eb-98

[2021-01-31 07:25] nmonokov commented on #946
done it

[2021-01-31 07:52] amihaiemil commented on #946
@charlesmike add

[2021-01-31 07:52] charlesmike commented on #946
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-01-31 07:57] charlesmike commented on #946
@nmonokov this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-10T09:57:50.114349``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-31 08:37] amihaiemil opened #954 "GitlabIssue.isClosed() Check For Merge State"
This method should also check for the merged state.

[2021-01-31 08:37] charlesmike commented on #954
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-10T10:37:31.881940``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-31 08:37] charlesmike commented on #954
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-31 08:37] amihaiemil opened #955 "Release 0.0.61"
Changelog:

#926 - changes in self-pm and self-todos (use ``WebhookEvents.create(...)``).
#946 - small changes in self-web required.
#947
#954
#958
#959
#963
#966
#967
#968 - changes in self-storage; imlement and test storage ApiTokens (+ DB table).

[2021-01-31 09:14] #954 closed

[2021-01-31 09:37] charlesmike commented on #954
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-31 11:50] amihaiemil commented on #946
@nmonokov please send me your PayPal address!

[2021-01-31 11:50] #946 closed

[2021-01-31 11:50] charlesmike opened #958 "User.java: implement asAdmin method in a..."
The puzzle ``-2128149844`` originating from #946 has to be resolved:

https://github.com/self-xdsd/self-core/blob/975458945f8aad50041a2d90ce21329a9c164b2d/self-api/src/main/java/com/selfxdsd/api/User.java#L73-L73

"implement asAdmin method in all successors.".

Estimation is ``30 minutes``.
If you have any technical questions, don't ask me, I won't be able to help. Open new issues instead.

[2021-01-31 11:50] charlesmike opened #959 "Admin.java: Implement and test Admin user..."
The puzzle ``1417992982`` originating from #946 has to be resolved:

https://github.com/self-xdsd/self-core/blob/975458945f8aad50041a2d90ce21329a9c164b2d/self-api/src/main/java/com/selfxdsd/api/Admin.java#L30-L30

"Implement and test Admin user class.".

Estimation is ``60 minutes``.
If you have any technical questions, don't ask me, I won't be able to help. Open new issues instead.

[2021-01-31 11:51] amihaiemil commented on #959
@nmonokov Wanna take this up? It shouldn't be very hard : D

[2021-01-31 11:53] amihaiemil commented on #959
@nmonokov actually, I'm looking over it now. I want to have a look first, it requires quite a few changes.:D

[2021-01-31 11:57] charlesmike commented on #958
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-10T13:57:49.901414``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-31 11:57] charlesmike commented on #959
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-10T13:57:53.691376``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-31 12:42] nmonokov commented on #959
@amihaiemil that was fast :D Any issue available, I'm ready to dig in.

[2021-01-31 12:54] nmonokov commented on #946
@amihaiemil unfortunately in Ukraine we can't receive PayPal payments. But I have a payoneer account. If this works for you :).

[2021-01-31 14:11] amihaiemil commented on #946
@nmonokov I'll have a look into Payoneer :D

[2021-01-31 15:37] charlesmike commented on #946
@nmonokov thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-01 08:51] #959 closed

[2021-02-01 08:51] charlesmike commented on #959
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-01 08:51] #958 closed

[2021-02-01 08:51] charlesmike commented on #958
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-01 09:37] charlesmike commented on #958
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-01 09:37] charlesmike commented on #959
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-01 09:52] amihaiemil opened #961 "Implement ReceivedGitlabIssue"
Unfortunately, we cannot use GitlabIssue inside GitlabIssues.received(...) because the JSON we receive from GitLab in the webhook has too many differences compared to the JSON we receive from GitlabIssues.open(...) or GitlabIssues.getById(...).

It's also not wise to use GitlabIssues.getById(...) in GitlabWebhookEvent.issue() because this will call GitLab's API everytime Event.issue() is called in

[2021-02-01 09:52] charlesmike commented on #961
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-11T11:52:44.632959``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-01 09:52] charlesmike commented on #961
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-01 10:00] amihaiemil commented on #961
Let's leave it for later and just cache the Issue fetched by GitlabWebhookEvent.issue(), for now.

[2021-02-01 10:00] amihaiemil commented on #961
@charlesmike remove

[2021-02-01 10:01] charlesmike commented on #961
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-02-01 10:02] amihaiemil commented on #926
@charlesmike add

[2021-02-01 10:02] charlesmike commented on #926
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-02-01 10:07] charlesmike commented on #926
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-11T12:07:50.860391``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-01 12:09] amihaiemil commented on #946
paid with transaction id 40U698504T452040N

[2021-02-01 14:12] #926 closed

[2021-02-01 14:13] amihaiemil opened #963 "Cache Issue From GitlabWebhookEvent"
At the moment, GitlabWebhookEvent always reads the Issue from GitLab's API (via ``getById(...)``). We should read it only once and cache it.

[2021-02-01 14:13] charlesmike commented on #963
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-11T16:13:35.023196``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-01 15:37] charlesmike commented on #926
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-01 16:15] #963 closed

[2021-02-01 18:05] nmonokov commented on #879
@amihaiemil can you elaborate on conditions needed for the project to be valid. I see
1. Repo has to belong to this User
2. PM has to work for the same provider
what is the etc.?
And another question is: is it ok to Stream.concat(this.projects, newProject) and set to to this.projects variable?

[2021-02-01 19:36] amihaiemil commented on #879
@nmonokov not sure, I will have a look tomorrow. Most likely we will not use this method, but it would be nice to implement it for the sake of completeness.

One of the ideas of this core is to not break encapsulation by filtering (https://amihaiemil.com/2018/11/10/an-extension-to-telldontask.html).

Therefore all these objects form sort of a state machine and depending on which state we are in, d

[2021-02-01 21:37] charlesmike commented on #963
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-02 03:37] charlesmike commented on #943
@amihaiemil Don't forget to close this ticket before the deadline (2021-02-07T10:08:42). You are past the first half of the allowed period.

[2021-02-02 07:16] #879 closed

[2021-02-02 07:16] charlesmike commented on #879
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-02 07:19] amihaiemil commented on #879
@nmonokov I've decided to make the method throw ``UnsupportedOperationException`` (like ``PmProjects.register(...)``);

The complicated part is that more things need to happen when registering a Project: we need to set up a webhook, invite the PM to the Repo and start the new project Event.

All this happens starting with ``Repo.activate()`` and it would not be correct to add this logic to ``Proje

[2021-02-02 07:27] nmonokov commented on #879
@amihaiemil sure, np. I just curious about that stream though. I read all articles references in your blogpost and the core concept is clear more or less. But in situation when we need to add data to the stream, what is correct to do this? Or when you need to add +1 item to a stream that's the signal that you're doing something wrong?

[2021-02-02 07:30] amihaiemil commented on #879
@nmonokov Well, in principle, all objects should be immutable. You could add it to the stream (because that would not change the stream reference, it would still be the same stream) or you could just add it to the DB and the Stream (if it's a Supplier) will reflect that at the next invocation.

See, UserProjects encapsulates:

[code]

That's a Supplier of Stream. And the Stream (if I'm not wrong),

[2021-02-02 07:31] amihaiemil commented on #879
@nmonokov the architecture of Self XDSD is actually an experiment. I wanted to see if all the ideas I've written about can be applied.

So far, I am satisfied with it, I think it turned out quite ok. However, it's not perfect, as this ticket here shows :D

[2021-02-03 00:59] charlesmike commented on #947
@andreoss Don't forget to close this ticket before the deadline (2021-02-08T21:41:43). You are past the first half of the allowed period.

[2021-02-03 08:08] amihaiemil commented on #947
paid with transaction id 3J409383AT4419433

[2021-02-03 08:08] #947 closed

[2021-02-03 08:08] charlesmike opened #966 "ApiTokens.java: Add method ApiTokens#getById(..."
The puzzle ``1265812836`` originating from #947 has to be resolved:

https://github.com/self-xdsd/self-core/blob/0fca80ba64a2d31f3590dcd72132afbb033a63b7/self-api/src/main/java/com/selfxdsd/api/ApiTokens.java#L28-L29

"Add method ApiTokens#getById(String token) which returns ApiToken.".

Estimation is ``30 minutes``.
If you have any technical questions, don't ask me, I won't be able to help. Open

[2021-02-03 08:08] charlesmike opened #967 "ApiToken.java: Add method ApiToken#owner() w..."
The puzzle ``-379336589`` originating from #947 has to be resolved:

https://github.com/self-xdsd/self-core/blob/0fca80ba64a2d31f3590dcd72132afbb033a63b7/self-api/src/main/java/com/selfxdsd/api/ApiToken.java#L30-L30

"Add method ApiToken#owner() which will return User.".

Estimation is ``30 minutes``.
If you have any technical questions, don't ask me, I won't be able to help. Open new issues inste

[2021-02-03 08:08] charlesmike opened #968 "User.java: This method was left unimplem..."
The puzzle ``609747429`` originating from #947 has to be resolved:

https://github.com/self-xdsd/self-core/blob/0fca80ba64a2d31f3590dcd72132afbb033a63b7/self-api/src/main/java/com/selfxdsd/api/User.java#L80-L82

"This method was left unimplemented. Start implementing this methods and add additional implementations of ApiToken/ApiTokens where needed.".

Estimation is ``30 minutes``.
If you have any

[2021-02-03 08:09] charlesmike commented on #966
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-13T10:09:09.471469``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-03 08:09] charlesmike commented on #967
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-13T10:09:13.078071``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-03 08:09] charlesmike commented on #968
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-13T10:09:16.161624``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-03 09:43] #968 closed

[2021-02-03 09:43] charlesmike commented on #968
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-03 09:43] #967 closed

[2021-02-03 09:43] #966 closed

[2021-02-03 09:43] charlesmike commented on #967
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-03 09:43] charlesmike commented on #966
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-03 10:09] amihaiemil commented on #943
@charlesmike resign

[2021-02-03 10:09] charlesmike commented on #943
@amihaiemil ok, I'll find someone else to take care of it.

[2021-02-03 10:10] amihaiemil commented on #943
@criske can you start on this when you have some time? It's not urgent.

In this task, just have a look over BitBucket's API, see if it can offer the stuff we need (starting with personal repo/org repo). Then just introduce the BitBucket interface and leave a bunch of todos :D

[2021-02-03 10:19] charlesmike commented on #943
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-13T12:19:08.864206``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-02-03 10:27] amihaiemil commented on #955
@rultor release it, tag is `0.0.61`

[2021-02-03 10:28] rultor commented on #955
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24065-772402692)

[2021-02-03 10:31] rultor commented on #955
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24065-772402692) (spent 3min)

[code]

[2021-02-03 10:35] amihaiemil commented on #955
@rultor release it, tag is `0.0.61`

[2021-02-03 10:36] rultor commented on #955
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24065-772407535)

[2021-02-03 10:39] rultor commented on #955
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24065-772407535) (spent 3min)

[code]

[2021-02-03 11:27] criske commented on #943
@amihaiemil sure

[2021-02-03 12:58] charlesmike commented on #966
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-03 12:59] charlesmike commented on #967
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-03 12:59] charlesmike commented on #968
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-03 12:59] charlesmike commented on #947
@andreoss thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-03 13:36] amihaiemil commented on #955
@rultor release it, tag is `0.0.61`

[2021-02-03 13:37] rultor commented on #955
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24065-772511356)

[2021-02-03 13:40] rultor commented on #955
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24065-772511356) (spent 3min)

[code]

[2021-02-03 14:07] amihaiemil commented on #955
@rultor release it, tag is `0.0.61`

[2021-02-03 14:08] rultor commented on #955
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24065-772536612)

[2021-02-03 14:12] rultor commented on #955
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24065-772536612) (took me 3min)

[2021-02-03 14:15] #955 closed

[2021-02-04 00:58] charlesmike commented on #951
@amihaiemil Don't forget to close this ticket before the deadline (2021-02-09T17:17:02). You are past the first half of the allowed period.

[2021-02-05 07:34] amihaiemil opened #970 "Release 0.0.62"
Changelog:

#951
#972  --changes in self-storage, adding methods to SelfApiTokens.
#973

[2021-02-05 08:55] charlesmike opened #972 "ApiTokens.java: Implement method ApiTokens.re..."
The puzzle ``-52669715`` originating from #951 has to be resolved:

https://github.com/self-xdsd/self-core/blob/afd7a39ffb19cc3ccc3a3e066c8f1e9a85678e14/self-api/src/main/java/com/selfxdsd/api/ApiTokens.java#L31-L34

"Implement method ApiTokens.register(name, token, expiration,User), which should register a new token. Also implement method User.register(name, token expiration) which should forward

[2021-02-05 08:55] charlesmike opened #973 "ApiTokens.java: Implement and test method Api..."
The puzzle ``-371424315`` originating from #951 has to be resolved:

https://github.com/self-xdsd/self-core/blob/afd7a39ffb19cc3ccc3a3e066c8f1e9a85678e14/self-api/src/main/java/com/selfxdsd/api/ApiTokens.java#L35-L36

"Implement and test method ApiTokens.remove(token) which should remove the token if it exists.".

The puzzle was created by @amihaiemil at ``2021-02-05 10:51:55 +0200``.
Estimation i

[2021-02-05 08:55] #951 closed

[2021-02-05 08:55] charlesmike commented on #951
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-05 08:57] amihaiemil commented on #973
To be more clear: We need method ApiTokens.remove(ApiToken) and method ApiToken.remove(). Inside StoredApiToken, the method remove will look like:

[code]

[2021-02-05 09:03] charlesmike commented on #972
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-15T11:03:03.592052``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-02-05 09:03] charlesmike commented on #973
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-15T11:03:07.752263``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-02-05 13:12] charlesmike commented on #951
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-06 15:07] amihaiemil commented on #943
paid with transaction id 7EM71413AU802691M

[2021-02-06 15:07] #943 closed

[2021-02-06 15:07] charlesmike opened #976 "Bitbucket.java: Start scaffolding BitbucketRe..."
The puzzle ``-1911985531`` originating from #943 has to be resolved:

https://github.com/self-xdsd/self-core/blob/3ed3f652b05ddb000e9e40799480488e306519ff/self-core-impl/src/main/java/com/selfxdsd/core/Bitbucket.java#L35-L38

"Start scaffolding BitbucketRepo using the other providers as model. Documentation reference: https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories"

[2021-02-06 15:07] charlesmike opened #977 "Bitbucket.java: Start scaffolding BitbucketIn..."
The puzzle ``1978337093`` originating from #943 has to be resolved:

https://github.com/self-xdsd/self-core/blob/3ed3f652b05ddb000e9e40799480488e306519ff/self-core-impl/src/main/java/com/selfxdsd/core/Bitbucket.java#L39-L45

"Start scaffolding BitbucketInvitations using the other providers as model. Warning: 2.0 API doesn't support yet invitations.Until then we will use 1.0, so make sure you're us

[2021-02-06 15:07] charlesmike opened #978 "Bitbucket.java: Start scaffolding BitbucketOr..."
The puzzle ``304993195`` originating from #943 has to be resolved:

https://github.com/self-xdsd/self-core/blob/3ed3f652b05ddb000e9e40799480488e306519ff/self-core-impl/src/main/java/com/selfxdsd/core/Bitbucket.java#L46-L49

"Start scaffolding BitbucketOrganizations using the other providers as model. Documentation reference: https://developer.atlassian.com/bitbucket/api/2/reference/resource/teams"

[2021-02-06 15:09] #973 closed

[2021-02-06 15:09] charlesmike commented on #973
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-06 15:13] charlesmike commented on #976
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-16T17:13:02.948107``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-02-06 15:13] charlesmike commented on #977
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-16T17:13:07.657573``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-02-06 15:13] charlesmike commented on #978
@nmonokov this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-16T17:13:12.364535``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-02-06 19:13] charlesmike commented on #943
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-06 19:13] charlesmike commented on #973
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-07 10:55] criske commented on #977
@amihaiemil Invitations endpoints are broken, contrary to what their documentation says.  https://support.atlassian.com/bitbucket-cloud/docs/invitations-resource/
The temporary supported `/1.0/invitations` or `/1.0/users/{accountname}/invitations` are empty eventhough I have pending invites.
You can't send an invitation through api. (and only GET is allowed - which, as I said, returns an empty arr

[2021-02-07 17:30] amihaiemil commented on #977
@criske I see. Well, sounds quite complicated. Your research is enough for now, thanks (paid with transaction id 9EL02816GX013354C)!

Let's remove this from scope and leave it open for later.

[2021-02-07 17:30] amihaiemil commented on #977
@charlesmike remove

[2021-02-07 17:30] charlesmike commented on #977
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-02-09 17:49] amihaiemil opened #979 "Let's Start Implementing Payments"
Payments will be an Iterable of Payment and will belong to an Invoice.

A Stripe payment of an Invoice may fail for some reason and we should register it. An Invoice will have one or more payments and it will be considered paid when the first successful Payment occurs.

A Payment should have a transactionId, timestamp, value, status (FAILED, SUCCESSFUL) and reason ("authentication required", "not

[2021-02-09 17:49] charlesmike commented on #979
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-19T19:49:05.351252``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-09 17:49] charlesmike commented on #979
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-09 17:49] amihaiemil commented on #979
@criske FYI

[2021-02-10 02:53] charlesmike commented on #972
@andreoss Don't forget to close this ticket before the deadline (2021-02-15T11:03:03). You are past the first half of the allowed period.

[2021-02-10 09:37] amihaiemil commented on #972
paid with transaction id 8EE19093LC0792313

[2021-02-10 09:38] #972 closed

[2021-02-10 09:38] charlesmike commented on #972
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-10 09:56] amihaiemil commented on #970
@rultor release it, tag is `0.0.62`

[2021-02-10 09:57] rultor commented on #970
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24109-776590141)

[2021-02-10 10:02] #970 closed

[2021-02-10 11:26] charlesmike commented on #972
@andreoss thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-10 23:26] charlesmike commented on #976
@andreoss Don't forget to close this ticket before the deadline (2021-02-16T17:13:02). You are past the first half of the allowed period.

[2021-02-10 23:26] charlesmike commented on #978
@nmonokov Don't forget to close this ticket before the deadline (2021-02-16T17:13:12). You are past the first half of the allowed period.

[2021-02-11 00:44] nmonokov commented on #978
Sure!

[2021-02-11 17:36] amihaiemil opened #982 "BaseSelf.authenticate(...) Expiration Must Be After Now"
The token's expiration date must be *after* now, not before.

[2021-02-11 17:36] charlesmike commented on #982
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-21T19:36:50.111717``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-11 17:36] charlesmike commented on #982
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-11 17:37] amihaiemil opened #983 "Release 0.0.63"
Changelog:

#982

[2021-02-11 17:56] #982 closed

[2021-02-11 17:56] amihaiemil commented on #983
@rultor release it, tag is `0.0.63`

[2021-02-11 17:58] rultor commented on #983
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24115-777678512)

[2021-02-11 18:01] rultor commented on #983
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24115-777678512) (took me 3min)

[2021-02-11 22:00] charlesmike commented on #982
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-12 09:54] #978 closed

[2021-02-12 09:54] charlesmike commented on #978
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-12 09:54] amihaiemil commented on #978
paid with transaction id 4T509391N90321259

[2021-02-12 10:00] charlesmike commented on #978
@nmonokov thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-12 10:28] charlesmike opened #984 "BitbucketOrganizationRepos.java: Continue implementing this cl..."
The puzzle ``1962974179`` originating from #978 has to be resolved:

https://github.com/self-xdsd/self-core/blob/504a7a5402c38e0c9fd6d1a6d290d93be1c144b2/self-core-impl/src/main/java/com/selfxdsd/core/BitbucketOrganizationRepos.java#L19-L19

"Continue implementing this class and writing tests for it.".

The puzzle was created by @amihaiemil at ``2021-02-12 12:26:26 +0200``.
Estimation is ``60 minu

[2021-02-12 10:30] charlesmike commented on #984
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-22T12:30:24.639826``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-13 22:00] charlesmike commented on #979
@amihaiemil Don't forget to close this ticket before the deadline (2021-02-19T19:49:05). You are past the first half of the allowed period.

[2021-02-14 07:38] #983 closed

[2021-02-14 07:39] amihaiemil opened #985 "Remove PayoutMethod.active Flag"
The Contributor should be able to have more PayoutMethods and all of them are "active". Example: 1 PayoutMethod for Stripe, 1 PayoutMethod for PayPal and we will always pick the one suited for the Wallet used to make the payment.

[2021-02-14 07:39] charlesmike commented on #985
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-24T09:39:25.935370``.

Estimation here is ``120 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-02-14 07:39] charlesmike commented on #985
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-14 07:39] amihaiemil opened #986 "Release 0.0.64"
Changelog:

#985 -- Changes needed in self-storage and the DB table.
#988
#991

[2021-02-14 10:10] #985 closed

[2021-02-14 10:11] charlesmike opened #988 "PayoutMethods.java: Implement and test method rem..."
The puzzle ``711261517`` originating from #985 has to be resolved:

https://github.com/self-xdsd/self-core/blob/68b096b27d74f3519efd94d41ce14f4c4502def8/self-api/src/main/java/com/selfxdsd/api/PayoutMethods.java#L31-L33

"Implement and test method remove(PayoutMethod) which will delete a PayoutMethod. Also implement method PayoutMethod.remove() which will call this.storage.payoutMethods().remove(t

[2021-02-14 10:11] charlesmike opened #989 "StoredContributor.java: At the moment, method billing..."
The puzzle ``1542307520`` originating from #985 has to be resolved:

https://github.com/self-xdsd/self-core/blob/68b096b27d74f3519efd94d41ce14f4c4502def8/self-core-impl/src/main/java/com/selfxdsd/core/contributors/StoredContributor.java#L48-L52

"At the moment, method billingInfo() here always reads the BillingInfo from the Stripe PayoutMethod if it exists. When we will have more types of PayoutMe

[2021-02-14 10:11] amihaiemil commented on #989
@charlesmike remove

[2021-02-14 10:11] charlesmike commented on #989
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-02-14 10:16] charlesmike commented on #988
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-24T12:16:51.824202``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-14 11:01] charlesmike opened #991 "PayoutMethods.java: Implement method PayoutMethod..."
The puzzle ``835988038`` originating from #988 has to be resolved:

https://github.com/self-xdsd/self-core/blob/b66804a3582fa95c221cdfd4952d62aec0ab3cf2/self-api/src/main/java/com/selfxdsd/api/PayoutMethods.java#L31-L33

"Implement method PayoutMethod.remove() which will remove the PayoutMethod from Stripe and call this.storage .payoutMethods().remove(this) to remove it from the storage.".

The pu

[2021-02-14 11:01] #988 closed

[2021-02-14 11:01] charlesmike commented on #988
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-14 11:07] charlesmike commented on #991
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-24T13:06:57.011669``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-14 12:52] #991 closed

[2021-02-14 12:52] charlesmike commented on #991
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-14 13:17] amihaiemil commented on #986
@rultor release it, tag is `0.0.64`

[2021-02-14 13:19] rultor commented on #986
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24129-778776785)

[2021-02-14 13:22] rultor commented on #986
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24129-778776785) (took me 3min)

[2021-02-14 14:16] charlesmike commented on #985
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-14 14:16] charlesmike commented on #988
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-14 14:16] charlesmike commented on #991
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-15 07:52] #986 closed

[2021-02-15 07:52] amihaiemil opened #993 "Implement PaymentMethod.remove()"
This method should remove this PaymentMethod after making sure it's also removed from the payment provider.

[2021-02-15 07:52] charlesmike commented on #993
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-25T09:52:44.716615``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-15 07:52] charlesmike commented on #993
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-15 07:53] amihaiemil opened #994 "Release 0.0.65"
Changelog:

#993 - Changes needed in self-storage.
#995
#998 - Changes needed in self-storage (invoice db columns)
#1000

[2021-02-15 10:42] amihaiemil opened #995 "Specify off_session Explicitly When Creating A Stripe SetupIntent"
In StripeWallet, when creating a SetupIntent, we should specify ``usage: off_session`` explicitly, as documented here: https://stripe.com/docs/payments/setup-intents

[2021-02-15 10:42] charlesmike commented on #995
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-25T12:42:16.824139``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-15 10:42] charlesmike commented on #995
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-15 13:02] #993 closed

[2021-02-15 13:38] #995 closed

[2021-02-15 14:16] charlesmike commented on #993
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-15 14:16] charlesmike commented on #995
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-15 15:36] amihaiemil opened #998 "Add Invoice.billedByCountry, billedToCountry and eurToRon"
If it's an Invoice from a Romanian Contributor to a Romanian Client, we will also need to show the ``EUR-to-RON`` exchange rate on the PDF. Let's save these 3 new attributes in the DB as well, when the Invoice is being paid.

First step is to add them to StoredInvoice.

[2021-02-15 15:36] charlesmike commented on #998
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-25T17:36:41.301596``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-15 15:36] charlesmike commented on #998
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-16 09:23] #998 closed

[2021-02-16 09:39] amihaiemil opened #1000 "Print Eur-to-Ron in PDF if Invoice is from RO to RO"
If the Invoice is from RO to RO, we should also print the EUR-to-RON exchange rate.

[2021-02-16 09:39] charlesmike commented on #1000
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-26T11:39:06.938458``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-16 09:39] charlesmike commented on #1000
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-16 12:32] #1000 closed

[2021-02-16 13:17] amihaiemil commented on #994
@rultor release it, tag is `0.0.65`

[2021-02-16 13:18] rultor commented on #994
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24140-779830225)

[2021-02-16 13:20] rultor commented on #994
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24140-779830225) (spent 2min)

[code]

[2021-02-16 13:21] amihaiemil commented on #994
@rultor release it, tag is `0.0.65`

[2021-02-16 13:23] rultor commented on #994
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24140-779832774)

[2021-02-16 13:27] rultor commented on #994
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24140-779832774) (took me 4min)

[2021-02-16 13:28] #994 closed

[2021-02-16 14:16] charlesmike commented on #1000
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-16 14:16] charlesmike commented on #998
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-16 20:16] charlesmike commented on #976
@andreoss Looks like you've missed the task deadline (2021-02-16T17:13:02). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-02-16 20:17] charlesmike commented on #976
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-26T22:17:09.247758``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-02-17 02:16] charlesmike commented on #984
@amihaiemil Don't forget to close this ticket before the deadline (2021-02-22T12:30:24). You are past the first half of the allowed period.

[2021-02-19 17:57] charlesmike commented on #979
@amihaiemil Looks like you've missed the task deadline (2021-02-19T19:49:05). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-02-19 17:57] charlesmike commented on #979
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-01T19:57:55.849239``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-02-20 22:00] charlesmike commented on #976
@criske Don't forget to close this ticket before the deadline (2021-02-26T22:17:09). You are past the first half of the allowed period.

[2021-02-21 16:13] amihaiemil opened #1002 "Add Method PaymentMethods.deactivate(PaymentMethod)"
We should have this method in order to allow deactivation of a certain PaymentMethod. Then, the PaymentMethod interface will have the method ``deactivate()``, which will forward the call to ``this.storage.paymentMethods().deactivate(this);``

[2021-02-21 16:13] charlesmike commented on #1002
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-03T18:13:10.249734``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-21 16:13] charlesmike commented on #1002
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-21 16:13] amihaiemil opened #1003 "Reelase 0.0.66"
Changelog:

#1002 -- changes needed in self-storage, to allow deactivation of a PaymentMethod.
#1004 -- changes in self-storage, to allow removal of a Wallet.
#1006
#1009

[2021-02-21 16:15] amihaiemil opened #1004 "Add Method Wallets.remove(Wallet)"
We should have a way of removing a Wallet. The Wallet with all its PaymentMethods will be removed.

[2021-02-21 16:15] charlesmike commented on #1004
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-03T18:15:28.723658``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-21 16:15] charlesmike commented on #1004
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-22 07:58] #1002 closed

[2021-02-22 07:59] charlesmike opened #1006 "StoredPaymentMethod.java: Method activate(PaymentMethod..."
The puzzle ``-1199878992`` originating from #1002 has to be resolved:

https://github.com/self-xdsd/self-core/blob/0d8cc8a2dc3b2ebbeef877dd6d301ab6b134dcd4/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredPaymentMethod.java#L36-L39

"Method activate(PaymentMethod) here should not call method ofWallet. It should simply call this.storage.paymentMethods() .activate(this). Also, method Wa

[2021-02-22 08:07] charlesmike commented on #1006
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-04T10:07:15.689362``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-22 08:10] #1006 closed

[2021-02-22 08:10] charlesmike commented on #1006
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-22 08:37] charlesmike commented on #1002
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-22 08:37] charlesmike commented on #1006
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-22 09:33] #1004 closed

[2021-02-22 09:34] charlesmike opened #1009 "StripeWallet.java: Method remove() in this class..."
The puzzle ``-36780584`` originating from #1004 has to be resolved:

https://github.com/self-xdsd/self-core/blob/c94f008abe24c1cc5691b266c485e7b1e5004a0d/self-core-impl/src/main/java/com/selfxdsd/core/projects/StripeWallet.java#L53-L54

"Method remove() in this class should remove the wallet (Customer) from Stripe before removing it from our Storage.".

The puzzle was created by @amihaiemil at ``2

[2021-02-22 09:37] charlesmike commented on #1009
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-04T11:37:17.183071``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-02-22 09:38] amihaiemil commented on #1009
@charlesmike remove

[2021-02-22 09:38] charlesmike commented on #1009
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-02-22 09:38] amihaiemil commented on #1009
@charlesmike add

[2021-02-22 09:38] charlesmike commented on #1009
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-02-22 09:38] amihaiemil commented on #1009
@andreoss I'll take care of this one. I'm the only one who has access to the Stripe Dashboard to verify that it works.

[2021-02-22 09:47] charlesmike commented on #1009
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-04T11:47:17.347171``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-22 11:22] #1009 closed

[2021-02-22 11:22] charlesmike commented on #1009
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-22 11:48] amihaiemil commented on #1003
@rultor release it, tag is `0.0.66`

[2021-02-22 11:49] rultor commented on #1003
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24168-783318479)

[2021-02-22 11:53] rultor commented on #1003
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24168-783318479) (took me 3min)

[2021-02-22 12:17] #1003 closed

[2021-02-22 14:37] charlesmike commented on #1004
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-22 14:37] charlesmike commented on #1009
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-22 14:37] charlesmike commented on #984
@amihaiemil Looks like you've missed the task deadline (2021-02-22T12:30:24). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-02-22 14:37] charlesmike commented on #984
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-04T16:37:35.743333``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-02-23 17:03] fellahi-ali commented on #979
@amihaiemil In the current API design, the `Invoice` has `paymentTime()`, `transactionId()` & `totalAmount()`  which are basically the attributes of the new proposed `Payment` API in case of a successful payment. (if I'm getting it right).
Now, my question is, in the scope of this task, should we refactor the `Invoice` to remove the `Payment` related info?
I have also another suggestion, as we alr

[2021-02-23 17:16] amihaiemil commented on #979
@fellahi-ali The Invoice is the last thing to be modified, after we have the Payments in place :D

All the payments of an Invoice (failed and the last, successful one) will be in the payments table - that's the correct way to do it, I think.

Just start with the Payments iterable of Payment. Interface Payments should look like this:

[code]

The Payment interface should have the accessor methods a

[2021-02-23 17:19] amihaiemil commented on #976
paid with transaction id 9B80387808189882X

[2021-02-23 17:20] charlesmike opened #1012 "BitbucketRepo.java: Implement and test BitbucketR..."
The puzzle ``474086847`` originating from #976 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ecf2efeb37181e1903785dbcf785ada5cc10097b/self-core-impl/src/main/java/com/selfxdsd/core/BitbucketRepo.java#L35-L35

"Implement and test BitbucketRepo#activate().".

The puzzle was created by @cristianpela at ``2021-02-23 12:53:10 +0200``.
Estimation is ``60 minutes``.
If you have any tec

[2021-02-23 17:20] charlesmike opened #1013 "BitbucketRepo.java: Start implement and test Bitb..."
The puzzle ``-684041712`` originating from #976 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ecf2efeb37181e1903785dbcf785ada5cc10097b/self-core-impl/src/main/java/com/selfxdsd/core/BitbucketRepo.java#L36-L37

"Start implement and test BitbucketIssues for BitbucketRepo#issues().".

The puzzle was created by @cristianpela at ``2021-02-23 12:53:10 +0200``.
Estimation is ``60 minut

[2021-02-23 17:20] charlesmike opened #1014 "BitbucketRepo.java: Start implement and test Bitb..."
The puzzle ``-509690440`` originating from #976 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ecf2efeb37181e1903785dbcf785ada5cc10097b/self-core-impl/src/main/java/com/selfxdsd/core/BitbucketRepo.java#L38-L39

"Start implement and test BitbucketCollaborators for BitbucketRepo#collaborators().".

The puzzle was created by @cristianpela at ``2021-02-23 12:53:10 +0200``.
Estimation

[2021-02-23 17:20] charlesmike opened #1015 "BitbucketRepo.java: Start implement and test Bitb..."
The puzzle ``1748370064`` originating from #976 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ecf2efeb37181e1903785dbcf785ada5cc10097b/self-core-impl/src/main/java/com/selfxdsd/core/BitbucketRepo.java#L40-L41

"Start implement and test BitbucketWebhooks for BitbucketRepo#webhooks().".

The puzzle was created by @cristianpela at ``2021-02-23 12:53:10 +0200``.
Estimation is ``60 m

[2021-02-23 17:20] charlesmike opened #1016 "BitbucketRepo.java: Start implement and test Bitb..."
The puzzle ``714019408`` originating from #976 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ecf2efeb37181e1903785dbcf785ada5cc10097b/self-core-impl/src/main/java/com/selfxdsd/core/BitbucketRepo.java#L42-L43

"Start implement and test BitbucketStars for BitbucketRepo#stars().".

The puzzle was created by @cristianpela at ``2021-02-23 12:53:10 +0200``.
Estimation is ``60 minutes`

[2021-02-23 17:20] charlesmike opened #1017 "BitbucketRepo.java: Start implement and test Bitb..."
The puzzle ``1471355354`` originating from #976 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ecf2efeb37181e1903785dbcf785ada5cc10097b/self-core-impl/src/main/java/com/selfxdsd/core/BitbucketRepo.java#L44-L45

"Start implement and test BitbucketCommits for BitbucketRepo#commits().".

The puzzle was created by @cristianpela at ``2021-02-23 12:53:10 +0200``.
Estimation is ``60 min

[2021-02-23 17:20] #976 closed

[2021-02-23 17:20] charlesmike commented on #976
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-23 17:27] charlesmike commented on #1012
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-05T19:27:17.557169``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-02-23 17:27] charlesmike commented on #1013
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-05T19:27:22.585557``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-02-23 17:27] charlesmike commented on #1014
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-05T19:27:26.934443``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-02-23 17:27] charlesmike commented on #1015
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-05T19:27:31.101153``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-02-23 17:27] charlesmike commented on #1016
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-05T19:27:35.299186``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-02-23 17:27] charlesmike commented on #1017
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-05T19:27:39.640202``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-02-23 20:28] charlesmike commented on #976
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-24 02:28] charlesmike commented on #979
@fellahi-ali Don't forget to close this ticket before the deadline (2021-03-01T19:57:55). You are past the first half of the allowed period.

[2021-02-27 01:18] charlesmike commented on #984
@fellahi-ali Don't forget to close this ticket before the deadline (2021-03-04T16:37:35). You are past the first half of the allowed period.

[2021-02-28 01:18] charlesmike commented on #1013
@andreoss Don't forget to close this ticket before the deadline (2021-03-05T19:27:22). You are past the first half of the allowed period.

[2021-02-28 01:18] charlesmike commented on #1016
@andreoss Don't forget to close this ticket before the deadline (2021-03-05T19:27:35). You are past the first half of the allowed period.

[2021-02-28 01:18] charlesmike commented on #1017
@criske Don't forget to close this ticket before the deadline (2021-03-05T19:27:39). You are past the first half of the allowed period.

[2021-02-28 01:18] charlesmike commented on #1012
@fellahi-ali Don't forget to close this ticket before the deadline (2021-03-05T19:27:17). You are past the first half of the allowed period.

[2021-02-28 01:18] charlesmike commented on #1014
@fellahi-ali Don't forget to close this ticket before the deadline (2021-03-05T19:27:26). You are past the first half of the allowed period.

[2021-02-28 01:18] charlesmike commented on #1015
@fellahi-ali Don't forget to close this ticket before the deadline (2021-03-05T19:27:31). You are past the first half of the allowed period.

[2021-02-28 09:47] zoeself opened #1018 "Hello from Self XDSD!"
@amihaiemil Thank you for the invitation, your repo is all set up and I will manage it starting now.

I will take care of tickets' assignment, payments and more, automatically.

If you don't want me to handle a certain Issue or PR, add the ``no-task`` label when creating it. You can also say ``deregister`` to me (if it's already in scope) and I will forget about it.

[2021-02-28 09:47] #1018 closed

[2021-02-28 09:48] amihaiemil commented on #1017
@zoeself add

[2021-02-28 09:48] zoeself commented on #1017
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-02-28 09:48] amihaiemil commented on #1016
@zoeself add

[2021-02-28 09:48] zoeself commented on #1016
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-02-28 09:48] amihaiemil commented on #1015
@zoeself add

[2021-02-28 09:48] zoeself commented on #1015
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-02-28 09:48] amihaiemil commented on #1014
@zoeself add

[2021-02-28 09:48] zoeself commented on #1014
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-02-28 09:48] amihaiemil commented on #1013
@zoeself add

[2021-02-28 09:48] zoeself commented on #1013
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-02-28 09:48] amihaiemil commented on #1012
@zoeself add

[2021-02-28 09:48] zoeself commented on #1012
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-02-28 09:57] zoeself commented on #1012
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-10T09:57:17.710429``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-02-28 09:57] zoeself commented on #1013
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-10T09:57:19.871899``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-02-28 09:57] zoeself commented on #1014
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-10T09:57:22.411299``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-02-28 09:57] zoeself commented on #1015
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-10T09:57:24.633084``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-02-28 09:57] zoeself commented on #1016
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-10T09:57:26.860522``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-02-28 09:57] zoeself commented on #1017
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-10T09:57:29.103856``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-02-28 10:35] amihaiemil opened #1019 "Elected Contributor Doesn't Have Contract"
If an Issue is assigned to a person who doesn't have a DEV contract in Self XDSD and **after that** the Issue is added to scope, self-pm will throw an exception:

[code]

In this scenario, it should verify that the assignee has the required contract first.

[2021-02-28 10:35] zoeself commented on #1019
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-10T10:35:10.745391``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-28 10:35] zoeself commented on #1019
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-28 16:01] amihaiemil opened #1021 "Release 0.0.67"
Changelog:

#979
#1019
#1023
#1025
#1026
#1027
#1030
#1034
#1038
#1040

Changes needed in self-storage: implement Payments and modify Invoices.registerAsPaid(...) to register and return the successful Payment.

[2021-02-28 18:23] #1019 closed

[2021-02-28 19:27] zoeself commented on #1019
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-01 07:27] zoeself opened #1023 "BitbucketCommit.java: Start implement and test Bitb..."
The puzzle ``1416135129`` originating from #1017 has to be resolved:

https://github.com/self-xdsd/self-core/blob/8c7e83d54885af4abacf7bacc7be468b318c8f11/self-core-impl/src/main/java/com/selfxdsd/core/BitbucketCommit.java#L39-L40

"Start implement and test BitbucketComments used by BitbucketCommit.".

The puzzle was created by @cristianpela at ``2021-02-28 13:04:52 +0200``.
Estimation is ``60 min

[2021-03-01 07:27] #1017 closed

[2021-03-01 07:27] zoeself commented on #1017
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-01 07:27] zoeself commented on #1017
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-01 07:27] zoeself commented on #1023
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-11T07:27:23.886717``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-03-01 09:04] fellahi-ali commented on #979
@amihaiemil could you please re-assign me this task, because I already started to work on it, but unfortunately didn't managed to finish it in time :(

[2021-03-01 09:10] amihaiemil commented on #979
@fellahi-ali sure, no prob

[2021-03-01 09:10] amihaiemil commented on #979
@zoeself add

[2021-03-01 09:10] zoeself commented on #979
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-03-01 09:17] zoeself commented on #979
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-11T09:17:17.747014``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-03-02 19:04] fellahi-ali commented on #979
@amihaiemil I don't think we should modify Wallet.pay() return type to return a Payment, because we can just use the invoice.payments() to register the new payment, WDYT?

[2021-03-03 05:21] amihaiemil commented on #979
@fellahi-ali I would like to modify Wallet.pay(...) to return the Payment for a few reasons:

1. It seems logical: when you pay something, you create a Payment, right? At the moment this method returns the modified Wallet, which doesn't really make sense to me.

2. Maybe we will want to make something with this Payment information later (for instance send it via e-mail to the Customer). Actually,

[2021-03-03 07:55] fellahi-ali commented on #979
Indeed, it makes lot of sense :) I thought we only need to register the Payment in the DB.

[2021-03-03 10:10] #979 closed

[2021-03-03 10:10] zoeself opened #1025 "StoredPayment.java: Write unit tests for this cla..."
The puzzle ``-1935869959`` originating from #979 has to be resolved:

https://github.com/self-xdsd/self-core/blob/e2145594e57c83f68951a01b20f0c24d46adbeae/self-core-impl/src/main/java/com/selfxdsd/core/contracts/invoices/StoredPayment.java#L40-L41

"Write unit tests for this class especially the platformInvoice() method.".

The puzzle was created by @alilosoft at ``2021-03-03 10:45:57 +0100``.
Est

[2021-03-03 10:10] zoeself opened #1026 "Wallet.java: Modify this method to create ..."
The puzzle ``-603915414`` originating from #979 has to be resolved:

https://github.com/self-xdsd/self-core/blob/e2145594e57c83f68951a01b20f0c24d46adbeae/self-api/src/main/java/com/selfxdsd/api/Wallet.java#L67-L69

"Modify this method to create & return a Payment object. A payment could be successful or failed in both cases all related info should be in the returned Payment object.".

The puzzle w

[2021-03-03 10:10] zoeself opened #1027 "Invoice.java: Add payments() method that re..."
The puzzle ``1344658746`` originating from #979 has to be resolved:

https://github.com/self-xdsd/self-core/blob/e2145594e57c83f68951a01b20f0c24d46adbeae/self-api/src/main/java/com/selfxdsd/api/Invoice.java#L17-L18

"Add payments() method that returns Invoice's Payments and its implementation in StoredInvoice.".

The puzzle was created by @alilosoft at ``2021-03-02 19:47:18 +0100``.
Estimation is

[2021-03-03 10:17] zoeself commented on #1025
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-13T10:17:17.747375``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-03-03 10:17] zoeself commented on #1026
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-13T10:17:20.566816``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-03 10:17] zoeself commented on #1027
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-13T10:17:22.786583``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-03 13:27] zoeself commented on #979
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-04 18:13] #1023 closed

[2021-03-04 18:13] zoeself commented on #1023
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-04 18:37] #1025 closed

[2021-03-04 18:37] zoeself commented on #1025
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-04 18:40] amihaiemil opened #1030 "Remove FakeWallet on Real Wallet activation"
When we activate a real Wallet, we should remove the Fake wallet.

First step is to add method Wallet.acitvate(). In the case of a real wallet, after calling this.storage.wallets().activate(this), the method should iterate over the project's wallets and remove the fake wallet if it exists.

[2021-03-04 18:40] zoeself commented on #1030
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-14T18:40:40.088294``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-04 18:40] zoeself commented on #1030
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-04 19:27] zoeself commented on #1023
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-04 19:27] zoeself commented on #1025
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-04 19:33] #1030 closed

[2021-03-05 01:27] zoeself commented on #1012
@fellahi-ali Don't forget to close this ticket before the deadline (2021-03-10T09:57:18). You are past the first half of the allowed period.

[2021-03-05 01:27] zoeself commented on #1013
@andreoss Don't forget to close this ticket before the deadline (2021-03-10T09:57:20). You are past the first half of the allowed period.

[2021-03-05 01:27] zoeself commented on #1014
@fellahi-ali Don't forget to close this ticket before the deadline (2021-03-10T09:57:22). You are past the first half of the allowed period.

[2021-03-05 01:27] zoeself commented on #1015
@fellahi-ali Don't forget to close this ticket before the deadline (2021-03-10T09:57:25). You are past the first half of the allowed period.

[2021-03-05 01:27] zoeself commented on #1016
@andreoss Don't forget to close this ticket before the deadline (2021-03-10T09:57:27). You are past the first half of the allowed period.

[2021-03-05 01:27] zoeself commented on #1030
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-05 06:42] #1027 closed

[2021-03-05 06:42] zoeself commented on #1027
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-05 07:27] zoeself commented on #1027
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-05 07:30] zoeself opened #1034 "Wallet.java: Modify method pay(...) to ret..."
The puzzle ``706813477`` originating from #1026 has to be resolved:

https://github.com/self-xdsd/self-core/blob/f072f25b887d84aecd16adb0f32c9982cc95a8d4/self-api/src/main/java/com/selfxdsd/api/Wallet.java#L67-L68

"Modify method pay(...) to return the Payment created by Invoices.registerAsPai(...).".

The puzzle was created by @amihaiemil at ``2021-03-05 09:28:16 +0200``.
Estimation is ``180 minu

[2021-03-05 07:30] #1026 closed

[2021-03-05 07:30] zoeself commented on #1026
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-05 07:37] zoeself commented on #1034
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-15T07:37:17.740932``.

Estimation here is ``180 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-03-05 13:27] zoeself commented on #1026
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-06 13:43] zoeself opened #1037 "Wallet.java: Write a Wallet decorator whic..."
The puzzle ``810420622`` originating from #1034 has to be resolved:

https://github.com/self-xdsd/self-core/blob/4b42c946056223e2943b9720caabb5be818ec997/self-api/src/main/java/com/selfxdsd/api/Wallet.java#L66-L68

"Write a Wallet decorator which will perform all the required pre-checks before making a payment (invoice is not paid, the cash limit is not exceeded etc).".

The puzzle was created by

[2021-03-06 13:43] zoeself opened #1038 "Wallet.java: Write a Wallet decorator whic..."
The puzzle ``-253458373`` originating from #1034 has to be resolved:

https://github.com/self-xdsd/self-core/blob/4b42c946056223e2943b9720caabb5be818ec997/self-api/src/main/java/com/selfxdsd/api/Wallet.java#L69-L71

"Write a Wallet decorator which will catch any WalletPaymentException or IllegalStateException thrown from this method and register a failed Payment for it.".

The puzzle was created b

[2021-03-06 13:43] #1034 closed

[2021-03-06 13:43] zoeself commented on #1034
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-06 13:47] zoeself commented on #1037
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-16T13:47:17.710422``.

Estimation here is ``90 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-03-06 13:47] zoeself commented on #1038
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-16T13:47:19.952954``.

Estimation here is ``90 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-06 15:09] zoeself opened #1040 "Payments.java: Implement and test class Invo..."
The puzzle ``232198217`` originating from #1038 has to be resolved:

https://github.com/self-xdsd/self-core/blob/f96b8653bc5e58685bcd87f4a7cb853ddf48eadd/self-api/src/main/java/com/selfxdsd/api/Payments.java#L35-L36

"Implement and test class InvoicePayments which will represent an Invoice's Payments.".

The puzzle was created by @amihaiemil at ``2021-03-06 17:04:52 +0200``.
Estimation is ``60 min

[2021-03-06 15:09] #1038 closed

[2021-03-06 15:09] zoeself commented on #1038
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-06 15:17] zoeself commented on #1040
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-16T15:17:17.961066``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-06 15:53] zoeself commented on #1040
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-06 15:53] #1040 closed

[2021-03-06 19:27] zoeself commented on #1034
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-06 19:27] zoeself commented on #1038
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-06 19:27] zoeself commented on #1040
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-07 10:52] amihaiemil commented on #1021
@rultor release it, tag is `0.0.67`

[2021-03-07 10:55] rultor commented on #1021
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24242-792256641)

[2021-03-07 11:02] rultor commented on #1021
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24242-792256641) (took me 5min)

[2021-03-08 05:38] #1037 closed

[2021-03-08 05:38] zoeself commented on #1037
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-08 05:38] zoeself commented on #1012
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-08 05:38] #1012 closed

[2021-03-08 05:38] #1021 closed

[2021-03-08 05:39] amihaiemil opened #1044 "Release 0.0.68"
Changelog:

#1037
#1045
#1049
+ other BitBucket classes

[2021-03-08 05:42] amihaiemil opened #1045 "Add method Payment :: Invoice.latest()"
An Invoice should be able to return its latest Payment.

The Payment may be null, if we did not try to pay this Invoice yet. Changes in method ``isPaid()`` -- will return TRUE if the encapsulated latest payment has status SUCCESS.

[2021-03-08 05:42] zoeself commented on #1045
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-18T05:42:50.286567``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-08 05:42] zoeself commented on #1045
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-08 07:27] zoeself commented on #1037
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-08 07:27] zoeself commented on #1012
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-08 09:42] fellahi-ali commented on #1014
Hey @amihaiemil
I have spent a couple of hours :D on the Bitbucket REST API doc trying to figure out the right end point to manage a repo collaborators, but unfortunately I couldn't find any clear way :(
The only thing I found that seems related to our need is the `/2.0/workspaces/{workspace}/members` endpoint (see doc [here](https://developer.atlassian.com/bitbucket/api/2/reference/resource/works

[2021-03-08 09:54] amihaiemil commented on #1014
@fellahi-ali I see. Well, let's forget this ticket for now. I can't help at the moment because I didn't read the documentation yet.

Let's leave it for later, as Bitbucket is not a priority at the moment :D I'll modify this ticket to give you the right estimate, thanks!

[2021-03-08 09:55] amihaiemil commented on #1014
@zoeself remove