[2020-09-07 06:43] amihaiemil commented on #521
@criske it's not a bad idea, but originally I was thinking to use Github's API for the autocomplete feature. Otherwise it won't be very useful until we have a lot of contributors registered in the system :D

[2020-09-07 06:49] amihaiemil commented on #131
@criske it's a nice idea. But internationalization of server exception messages is useless in my opinion. First of all, these exceptions should never happen, except for cases when a user bypasses front-end validation... in that case, they are probably not looking for exception messages in their language.

I like the tree. I think we should also make it Json-Polymorphic, like this:

- `SelfExceptio

[2020-09-07 08:11] criske commented on #131
@amihaiemil How about instead of implementing `JsonObject` we expose a `json()` in `SelfException` with default implementation
[code]
where `getSelfMessage()` is abstract?
Also subclasses can add fields by overriding `json()` with `JsonPatch`

I'll try a short PR.

[2020-09-07 08:14] criske commented on #521
@amihaiemil But what happens when github user is not a contributor... will be registered when we add the contract?

[2020-09-07 08:20] amihaiemil commented on #131
@criske

But why would we need that? I think it's better to have uniformity and be sure all exceptions follow the same Json format :D

[2020-09-07 08:20] amihaiemil commented on #521
@criske yes, exactly. We register the contributor when some project owner adds the first contract.
Did you have something else in mind? :D

[2020-09-07 08:25] criske commented on #521
@amihaiemil Nope, is just right now we throw ISE when adding a contract for an ureg contributor instead of register them.

[2020-09-07 08:30] amihaiemil commented on #521
@criske right, that should change, definitely. I'll open an Issue.

[2020-09-07 08:30] amihaiemil opened #522 "Register Contributor On First Contract"
When a PO registers a Contract for a person which is not yet a Contributor, we should register them as Contributor first.

[2020-09-07 08:34] criske commented on #131
@amihaiemil I was thinking of this for SelfException
[code]

[2020-09-07 08:37] amihaiemil commented on #131
@criske I was thinking more like:

[code]

and for example

[code]

This way, all the exceptions will always be JSON and we don't need to call any ``json()`` method :D

[2020-09-07 08:38] amihaiemil commented on #131
@criske buuut, I just realized SelfException will also need to extends RuntimeException.

And because we cannot extend 2 classes, this means SelfException will need to implement all the methods of JsonObject. That will be ugly.

We go with your ``json()`` method then :D

[2020-09-07 08:43] criske commented on #131
@amihaiemil yep we would have to write delegates for each impl, to avoid multiple inheritance :D

[2020-09-07 11:16] amihaiemil commented on #131
paid with transaction id 7DF492353L617541T

[2020-09-07 11:24] #131 closed

[2020-09-07 11:24] 0pdd opened #524 "SelfException.java:34-36: Replace old custom exceptions..."
The puzzle `524-1af26f28` from #524 has to be resolved:

https://github.com/self-xdsd/self-core/blob/a0e404fcee284f24f2431ecf186ffa46af7abac6/self-api/src/main/java/com/selfxdsd/api/exceptions/SelfException.java#L34-L36

The puzzle was created by cristianpela on 07-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wi

[2020-09-07 11:24] 0pdd commented on #524
@amihaiemil please pay attention to this new issue.

[2020-09-07 14:34] amihaiemil opened #525 "Let's add method Issue::Issues.open(title, body)"
Let's add this method, we should be able to create new Issues in the repo as well.

[2020-09-07 16:29] #525 closed

[2020-09-07 16:30] 0pdd opened #527 "Issue.java:32-33: Implement method Issue.close() which..."
The puzzle `525-0b11017a` from #525 has to be resolved:

https://github.com/self-xdsd/self-core/blob/cec2e351b70aed6d713c566fd57b64d1875c8959/self-api/src/main/java/com/selfxdsd/api/Issue.java#L32-L33

The puzzle was created by @amihaiemil on 07-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-09-07 16:30] 0pdd commented on #527
@amihaiemil please pay attention to this new issue.

[2020-09-07 18:38] 0pdd commented on #527
The puzzle `525-0b11017a` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-07 18:38] #527 closed

[2020-09-08 08:12] criske commented on #524
@amihaiemil I'll work on this - no bounty needed is just a refactor.

[2020-09-08 08:44] criske commented on #522
@amihaiemil I think this issue is more for changelog?... outside of InMemoryContracts there is no other place to implement.
I'll open a similiar issue in `self-storage` where the real impl will be.

[2020-09-09 07:19] 0pdd opened #530 "Contracts.java:35-37: Write custom SelfExceptions for..."
The puzzle `526-213a6cc8` from #526 has to be resolved:

https://github.com/self-xdsd/self-core/blob/e1e9bf55dfd449eba7cf48612d7e34ce858746f3/self-api/src/main/java/com/selfxdsd/api/Contracts.java#L35-L37

The puzzle was created by cristianpela on 08-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-09-09 07:19] 0pdd commented on #530
@amihaiemil please pay attention to this new issue.

[2020-09-09 08:32] criske commented on #530
@amihaiemil I'll work on this

[2020-09-09 09:07] amihaiemil opened #531 "Implement contributor PayoutMethods"
A PayoutMethod is a way for us to transfer money to a Contributor.

[2020-09-09 14:27] amihaiemil commented on #530
paid with transaction id 2KP056575F659273E

[2020-09-09 14:34] 0pdd opened #534 "Contributors.java:32-33: Write custom SelfExceptions for..."
The puzzle `532-1a0d1d21` from #532 has to be resolved:

https://github.com/self-xdsd/self-core/blob/77f96158e19c346430a01c362615b3ecbb026043/self-api/src/main/java/com/selfxdsd/api/Contributors.java#L32-L33

The puzzle was created by cristianpela on 09-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-09-09 14:34] 0pdd commented on #534
@amihaiemil please pay attention to this new issue.

[2020-09-09 14:36] amihaiemil commented on #534
@criske can you take care of this as well pls? :D

[2020-09-09 14:40] #530 closed

[2020-09-09 14:40] 0pdd commented on #530
The puzzle `526-213a6cc8` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-09 14:46] #531 closed

[2020-09-09 14:46] 0pdd opened #535 "InMemoryPayoutMethods.java:40-42: Implement methods..."
The puzzle `531-d334ba72` from #531 has to be resolved:

https://github.com/self-xdsd/self-core/blob/47a79fa60183339ed1fa0a36ed2246021375df48/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryPayoutMethods.java#L40-L42

The puzzle was created by amihaiemil on 09-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The

[2020-09-09 14:46] 0pdd commented on #535
@amihaiemil please pay attention to this new issue.

[2020-09-09 14:48] #522 closed

[2020-09-09 16:09] criske commented on #534
@amihaiemil sure

[2020-09-10 08:25] #535 closed

[2020-09-10 08:25] 0pdd commented on #535
The puzzle `531-d334ba72` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-10 08:25] 0pdd opened #538 "InMemoryPayoutMethods.java:39-41: Implement methods..."
The puzzle `535-d1f88dd7` from #535 has to be resolved:

https://github.com/self-xdsd/self-core/blob/4d82cb912fed059147e3d92a47baf60b9e3d640c/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryPayoutMethods.java#L39-L41

The puzzle was created by amihaiemil on 10-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The

[2020-09-10 08:25] 0pdd commented on #538
@amihaiemil please pay attention to this new issue.

[2020-09-10 12:54] #538 closed

[2020-09-10 12:54] 0pdd commented on #538
The puzzle `535-d1f88dd7` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-10 12:54] 0pdd opened #540 "Contributor.java:30-33: Implement method..."
The puzzle `538-e2c71d0d` from #538 has to be resolved:

https://github.com/self-xdsd/self-core/blob/cbd8ce58c751f167ef33b138183b0ceeff8e2e17/self-api/src/main/java/com/selfxdsd/api/Contributor.java#L30-L33

The puzzle was created by @amihaiemil on 10-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-09-10 12:54] 0pdd commented on #540
@amihaiemil please pay attention to this new issue.

[2020-09-10 12:54] 0pdd opened #541 "StripePayoutMethod.java:33-36: Implement Stripe API call..."
The puzzle `538-6c60ba7a` from #538 has to be resolved:

https://github.com/self-xdsd/self-core/blob/cbd8ce58c751f167ef33b138183b0ceeff8e2e17/self-core-impl/src/main/java/com/selfxdsd/core/contributors/StripePayoutMethod.java#L33-L36

The puzzle was created by @amihaiemil on 10-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead

[2020-09-10 12:54] 0pdd commented on #541
@amihaiemil please pay attention to this new issue.

[2020-09-10 14:49] #541 closed

[2020-09-10 14:49] 0pdd commented on #541
The puzzle `538-6c60ba7a` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-10 14:52] 0pdd opened #544 "User.java:67-71: Replace this method with method..."
The puzzle `519-be5395a8` from #519 has to be resolved:

https://github.com/self-xdsd/self-core/blob/93dff2c0fcf57964e8a8c00889399c85f221d834/self-api/src/main/java/com/selfxdsd/api/User.java#L67-L71

The puzzle was created by @amihaiemil on 10-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-09-10 14:52] 0pdd commented on #544
@amihaiemil please pay attention to this new issue.

[2020-09-10 19:11] #544 closed

[2020-09-10 19:11] 0pdd commented on #544
The puzzle `519-be5395a8` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-10 19:13] #534 closed

[2020-09-10 19:13] 0pdd commented on #534
The puzzle `532-1a0d1d21` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-10 19:13] 0pdd opened #546 "Projects.java:32-33: Write custom SelfExceptions for..."
The puzzle `536-f6f2e44e` from #536 has to be resolved:

https://github.com/self-xdsd/self-core/blob/a2974d5c28e170a7339d083a00d06eb772afcb55/self-api/src/main/java/com/selfxdsd/api/Projects.java#L32-L33

The puzzle was created by cristianpela on 09-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-09-10 19:13] 0pdd commented on #546
@amihaiemil please pay attention to this new issue.

[2020-09-10 19:13] amihaiemil commented on #534
paid with transaction id 7YB717068G3907934

[2020-09-10 19:14] amihaiemil commented on #517
@rultor release it, tag is `0.0.22`

[2020-09-10 19:18] rultor commented on #517
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23289-690648295) (took me 3min)

[2020-09-10 19:27] #517 closed

[2020-09-11 07:58] criske commented on #521
@amihaiemil I'll work on this, no bounty needed.

[2020-09-11 07:58] criske commented on #546
@amihaiemil I'll work on this

[2020-09-11 11:45] amihaiemil commented on #546
paid with transaction id 5RD388142A443780J

[2020-09-11 11:51] 0pdd opened #549 "Task.java:33-34: Write custom SelfExceptions for Tasks..."
The puzzle `550-0614a150` from #550 has to be resolved:

https://github.com/self-xdsd/self-core/blob/15ace4b74f4e17288bfe5e19aaabe20a58d6cdbe/self-api/src/main/java/com/selfxdsd/api/Task.java#L33-L34

The puzzle was created by cristianpela on 11-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-09-11 11:51] 0pdd commented on #549
@amihaiemil please pay attention to this new issue.

[2020-09-12 06:57] criske commented on #549
@amihaiemil I'll work on this.
Also need to remove puzzle from #546

[2020-09-15 12:55] amihaiemil commented on #521
paid with transaction id 4HJ09009KG512722G

[2020-09-15 13:01] 0pdd opened #550 "Contributors.java:32-35: Implement and test..."
The puzzle `548-3fa180bc` from #548 has to be resolved:

https://github.com/self-xdsd/self-core/blob/3d809b46ac30ac747f99ab75ec34c1916053286a/self-api/src/main/java/com/selfxdsd/api/Contributors.java#L32-L35

The puzzle was created by cristianpela on 11-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-09-15 13:01] 0pdd commented on #550
@amihaiemil please pay attention to this new issue.

[2020-09-16 09:52] amihaiemil commented on #549
@criske sure, go ahead :D

[2020-09-16 09:53] amihaiemil opened #551 "Implement PayoutMethods :: Contributor.payoutMethods()"
Method to fetch a Contributor's PayoutMethods.

[2020-09-16 09:53] amihaiemil opened #552 "Release 0.0.23"
Changelog:

#550
#551

[2020-09-17 14:00] amihaiemil commented on #549
paid with transaction id 12831170NT728673X

[2020-09-17 14:08] #546 closed

[2020-09-17 14:08] 0pdd commented on #546
The puzzle `536-f6f2e44e` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-17 14:08] #549 closed

[2020-09-17 14:08] 0pdd commented on #549
The puzzle `550-0614a150` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-17 14:08] 0pdd opened #555 "Invoices.java:8-10: Finish writing custom Self Exception..."
The puzzle `552-d847b7f6` from #552 has to be resolved:

https://github.com/self-xdsd/self-core/blob/63e628b1aa96c74819562e3251662067ed9fb700/self-api/src/main/java/com/selfxdsd/api/Invoices.java#L8-L10

The puzzle was created by cristianpela on 17-Sep-20.

Estimate: 45 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-09-17 14:08] 0pdd commented on #555
@amihaiemil please pay attention to this new issue.

[2020-09-17 14:12] #551 closed

[2020-09-18 15:31] criske commented on #550
@amihaiemil I'll work on this

[2020-09-18 15:32] #521 closed

[2020-09-19 13:13] amihaiemil commented on #550
paid with transaction id 4VB92593KY8088153

[2020-09-19 13:18] #550 closed

[2020-09-19 13:18] 0pdd commented on #550
The puzzle `548-3fa180bc` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-19 13:19] amihaiemil commented on #552
@rultor release it, tag is `0.0.23`

[2020-09-19 13:21] rultor commented on #552
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23367-695212483)

[2020-09-19 13:24] rultor commented on #552
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23367-695212483) (took me 3min)

[2020-09-19 13:26] #552 closed

[2020-09-25 13:56] amihaiemil opened #557 "Rename env variable stripe.api.token to self_stripe_token"
Let's rename it.

[2020-09-25 13:57] amihaiemil opened #558 "Release 0.0.24"
Changelog

#557
#560
#562
#565

[2020-09-25 13:59] #557 closed

[2020-09-25 14:00] amihaiemil opened #560 "Constants Class for EnvVariables"
Let's have class Env which will contain all the variables used by Self as String constants.

[2020-09-25 14:09] #560 closed

[2020-09-26 07:37] amihaiemil opened #562 "Implement PM.assignedTasks(Event)"
This method should check all the assigned tasks, invoice the ones that are finished, resign the ones that are overdue etc.

[2020-09-26 10:14] #562 closed

[2020-09-26 10:14] 0pdd opened #564 "StoredProjectManager.java:45-47: When reviewing the..."
The puzzle `562-63248b5a` from #562 has to be resolved:

https://github.com/self-xdsd/self-core/blob/f5ca9431a732f117e579293b99c93e2e9c2b8561/self-core-impl/src/main/java/com/selfxdsd/core/managers/StoredProjectManager.java#L45-L47

The puzzle was created by amihaiemil on 26-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. T

[2020-09-26 10:14] 0pdd commented on #564
@amihaiemil please pay attention to this new issue.

[2020-09-27 16:40] amihaiemil opened #565 "404 When Posting Comment"
First Run of Self-PM revealed we are getting 404 when trying to post a comment.
Let's fix it and add more logging.

<img width="1440" alt="Screenshot 2020-09-27 at 19 40 12" src="https://user-images.githubusercontent.com/6305156/94370536-4cc88b00-00f9-11eb-92b0-62bbae45fdce.png">

[2020-09-27 17:03] amihaiemil commented on #565
problem seems to have been a trailing ``/`` at the end of the URL

[2020-09-27 17:04] #565 closed

[2020-09-27 17:04] amihaiemil commented on #558
@rultor release it, tag is `0.0.24`

[2020-09-27 17:04] amihaiemil opened #567 "Release 0.0.25"
Changelog:

#564
#570
#571
#576

[2020-09-27 17:04] rultor commented on #558
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23415-699660875)

[2020-09-27 17:08] rultor commented on #558
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23415-699660875) (took me 3min)

[2020-09-27 18:53] #558 closed

[2020-09-28 17:27] criske commented on #564
@amihaiemil I'll work on this

[2020-09-29 11:18] amihaiemil opened #568 "Check for closed Issue when reviewing Unassigned Tasks"
When reviewing the unassigned tasks we should check if the Issue has been closed in the meantime. If it's been closed, it should not be assigned to anyone.

At the moment, this check is missing: https://github.com/amihaiemil/docker-java-api/issues/358

[2020-09-29 11:34] amihaiemil commented on #564
@criske sure, go ahead :D

[2020-09-29 15:27] criske commented on #568
@amihaiemil  I'll work on this. We should also remove the task if the issue is closed, right?

[2020-09-29 18:13] amihaiemil commented on #568
@criske sure, go ahead

[2020-09-29 18:29] amihaiemil opened #570 "Let's put the Conversations together"
We should compose the available Conversation(s) and make it handle Issue comments as well.

[2020-10-01 11:59] amihaiemil opened #571 "LoginProducer NPE because of null email in DB"
Let's fix this.

[2020-10-01 12:06] amihaiemil commented on #564
paid with transaction ID 8LD813704J098315R

[2020-10-01 12:07] amihaiemil commented on #568
@criske sorry, just now I noticed the question. Yes, if the Issue is closed we should also remove the Task.

[2020-10-01 12:13] #564 closed

[2020-10-01 12:13] 0pdd commented on #564
The puzzle `562-63248b5a` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-10-01 12:13] 0pdd opened #572 "StoredProjectManager.java:46-48: When checking if task..."
The puzzle `571-e9749a10` from #571 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6c11b71aa73edd06c7e86adaa0c250511c273118/self-core-impl/src/main/java/com/selfxdsd/core/managers/StoredProjectManager.java#L46-L48

The puzzle was created by cristianpela on 30-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead.

[2020-10-01 12:13] 0pdd commented on #572
@amihaiemil please pay attention to this new issue.

[2020-10-01 12:22] criske commented on #572
@amihaiemil I'll continue on this

[2020-10-01 13:43] amihaiemil commented on #568
paid with transaction id 0C13209254449470T

[2020-10-01 13:49] #568 closed

[2020-10-01 14:28] amihaiemil commented on #572
paid with transaction iD 20X48950L40983547

[2020-10-01 14:35] 0pdd commented on #572
The puzzle `571-e9749a10` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-10-01 14:35] #572 closed

[2020-10-01 14:40] amihaiemil commented on #571
problem is actually in self-storage

[2020-10-01 14:40] #571 closed

[2020-10-01 18:41] #570 closed

[2020-10-01 18:41] 0pdd opened #576 "Conversation.java:32-35: Add a Conversation..."
The puzzle `570-dcd501ea` from #570 has to be resolved:

https://github.com/self-xdsd/self-core/blob/1b1731ab0542000ad390610012ef6e3340b26187/self-api/src/main/java/com/selfxdsd/api/pm/Conversation.java#L32-L35

The puzzle was created by @amihaiemil on 01-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2020-10-01 18:41] 0pdd commented on #576
@amihaiemil please pay attention to this new issue.

[2020-10-02 14:23] #576 closed

[2020-10-02 14:23] 0pdd commented on #576
The puzzle `570-dcd501ea` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-10-02 14:27] amihaiemil commented on #567
@rultor release it, tag is `0.0.25`

[2020-10-02 14:28] rultor commented on #567
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23456-702765690)

[2020-10-02 14:32] rultor commented on #567
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23456-702765690) (took me 3min)

[2020-10-02 14:32] #567 closed

[2020-10-02 16:01] amihaiemil opened #578 "Register resignation, then resign, when reviwing assigned tasks"
When reviewing assigned tasks, if the deadline has passed, we should register the resignation and only after that resign. Currently it's the other way around and it could cause an exception: https://github.com/self-xdsd/self-core/blob/master/self-core-impl/src/main/java/com/selfxdsd/core/managers/StoredProjectManager.java#L351

[2020-10-02 16:06] amihaiemil opened #579 "Release 0.0.26"
Changelog:

#578
#581
#582
#583
#585
#587
#589
#594
#595

[2020-10-02 16:14] amihaiemil opened #581 "Flow for Setting Up Real Wallet"
Let's implement real wallets using Stripe.

[2020-10-02 16:16] #578 closed

[2020-10-03 12:03] amihaiemil opened #582 "Env Variable for WebHook URL"
The webhook URL should be configurable with an env variable.

[2020-10-03 12:03] charlesmike commented on #582
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-03 12:04] amihaiemil opened #583 "Add issue_comments to Webhook config"
At the moment the webhook is created only for the ``issues`` event. It should also listen to the ``issue_comment`` event.

[2020-10-03 12:04] charlesmike commented on #583
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-03 12:09] charlesmike commented on #582
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-13T15:09:51.848859``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-03 12:09] charlesmike commented on #583
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-13T15:09:55.728356``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-03 15:09] amihaiemil opened #585 "Handle Pull Requests"
We should also handle pull requests, analogous to how we handle Issues.

[2020-10-03 15:09] charlesmike commented on #585
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-03 15:09] amihaiemil commented on #585
@charlesmike deregister

[2020-10-03 15:09] charlesmike commented on #585
@amihaiemil you don't have the appropriate role to remove this task.

Only users with ``PO`` or ``ARCH`` roles are allowed.

[2020-10-03 15:09] charlesmike commented on #585
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-13T18:09:51.583794``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-03 15:16] #582 closed

[2020-10-03 15:42] #583 closed

[2020-10-03 17:39] charlesmike commented on #582
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-03 17:39] charlesmike commented on #583
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-05 09:47] criske opened #587 "Before registering a new task we should check if the issue is not closed."
When processing "register" event we should check if the issue is not closed first.

https://github.com/self-xdsd/self-core/blob/41e3831136a9c542851ff74aa18c444019fe62c2/self-core-impl/src/main/java/com/selfxdsd/core/managers/Register.java#L69

[2020-10-05 09:47] charlesmike commented on #587
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-05 09:49] criske commented on #587
@charlesmike register

[2020-10-05 09:49] charlesmike commented on #587
@criske this issue is already registered as a task.

[2020-10-05 09:49] charlesmike commented on #587
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-15T12:49:50.725967``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-05 17:05] amihaiemil opened #588 "Let's implement Label API"
Let's start with the Github Labels, we should use it to create labels when the PM takes over the repo and then to post labels with each new issue assignment etc.

[2020-10-05 17:05] charlesmike commented on #588
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-05 17:09] charlesmike commented on #588
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-15T20:09:50.749744``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-05 17:11] amihaiemil commented on #588
@charlesmike resign

[2020-10-05 17:11] charlesmike commented on #588
@amihaiemil ok, I'll find someone else to take care of it.

[2020-10-05 17:19] charlesmike commented on #588
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-15T20:19:50.748626``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-05 18:41] criske commented on #588
@amihaiemil Bug? :D. Looks like UnassignTask step is not calling resign. I'll open an issue.

[2020-10-05 18:49] criske opened #589 "UnassignTask Step should register the resignation too."
https://github.com/self-xdsd/self-core/blob/41e3831136a9c542851ff74aa18c444019fe62c2/self-core-impl/src/main/java/com/selfxdsd/core/managers/UnassignTask.java#L74
Otherwise the contributor who wishes to resign will reenter the election pool.

[2020-10-05 18:49] charlesmike commented on #589
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-05 18:49] charlesmike commented on #589
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-15T21:49:50.734438``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not a

[2020-10-06 09:02] #589 closed

[2020-10-06 10:58] criske commented on #589
@charlesmike status

[2020-10-06 10:58] charlesmike commented on #589
@criske this ticket is assigned to @criske since ``2020-10-05T21:49:50`` and it should be closeduntil ``2020-10-15T21:49:50``. Estimation is ``60`` minutes.

[2020-10-06 11:39] charlesmike commented on #589
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-06 16:12] criske opened #591 "Message response for closed ticket "status" command."
https://github.com/self-xdsd/self-core/blob/75f4306e35274b93511ede763a8ca3bc1a0958eb/self-core-impl/src/main/java/com/selfxdsd/core/managers/Status.java#L75
We should have a message response for a "status" command associated with an issue that is closed. Right now project manager treats the issue as an opened one.
PM should respond something along the lines:

_This ticket is not registered as a ta

[2020-10-06 16:12] charlesmike commented on #591
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-06 16:19] charlesmike commented on #591
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-16T19:19:50.768056``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not a

[2020-10-07 12:46] amihaiemil commented on #591
paid with transaction id 81R08964LG676832G

[2020-10-07 12:52] #591 closed

[2020-10-07 17:39] charlesmike commented on #591
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-07 23:39] charlesmike commented on #585
@amihaiemil Don't forget to close this ticket before the deadline (2020-10-13T18:09:51). You are past the first half of the allowed period.

[2020-10-09 10:01] #581 closed

[2020-10-09 10:02] 0pdd opened #594 "StoredProject.java:43-45: Continue implementing the..."
The puzzle `581-6cae0f5d` from #581 has to be resolved:

https://github.com/self-xdsd/self-core/blob/5b63348a3063f9afba81ee79251dac38c89fa4bc/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredProject.java#L43-L45

The puzzle was created by @amihaiemil on 09-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2020-10-09 10:02] 0pdd commented on #594
@amihaiemil please pay attention to this new issue.

[2020-10-09 10:02] charlesmike commented on #594
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-09 10:02] 0pdd opened #595 "StoredProjectManager.java:50-54: When reviewing the..."
The puzzle `581-6471a6d6` from #581 has to be resolved:

https://github.com/self-xdsd/self-core/blob/5b63348a3063f9afba81ee79251dac38c89fa4bc/self-core-impl/src/main/java/com/selfxdsd/core/managers/StoredProjectManager.java#L50-L54

The puzzle was created by amihaiemil on 09-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. T

[2020-10-09 10:02] 0pdd commented on #595
@amihaiemil please pay attention to this new issue.

[2020-10-09 10:02] charlesmike commented on #595
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-09 10:09] charlesmike commented on #594
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-19T13:09:50.774656``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-09 10:09] charlesmike commented on #595
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-19T13:09:53.649209``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not a

[2020-10-09 23:39] charlesmike commented on #587
@amihaiemil Don't forget to close this ticket before the deadline (2020-10-15T12:49:50). You are past the first half of the allowed period.

[2020-10-09 23:39] charlesmike commented on #588
@amihaiemil Don't forget to close this ticket before the deadline (2020-10-15T20:19:50). You are past the first half of the allowed period.

[2020-10-10 08:04] amihaiemil commented on #595
paid with transaction id 8T8414485P8794312

[2020-10-10 08:07] #595 closed

[2020-10-10 08:08] 0pdd commented on #595
The puzzle `581-6471a6d6` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-10-10 08:17] 0pdd commented on #594
The puzzle `581-6cae0f5d` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-10-10 08:17] #594 closed

[2020-10-10 08:17] 0pdd opened #598 "Wallet.java:36-40: A project's Wallet should have one or..."
The puzzle `594-abba5903` from #594 has to be resolved:

https://github.com/self-xdsd/self-core/blob/5161988f24fc0062457b84299fb01495be09cefd/self-api/src/main/java/com/selfxdsd/api/Wallet.java#L36-L40

The puzzle was created by @amihaiemil on 10-Oct-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-10-10 08:17] 0pdd commented on #598
@amihaiemil please pay attention to this new issue.

[2020-10-10 08:17] charlesmike commented on #598
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-10 08:18] 0pdd opened #599 "Wallet.java:41-46: A Wallet should have the method..."
The puzzle `594-984a648d` from #594 has to be resolved:

https://github.com/self-xdsd/self-core/blob/5161988f24fc0062457b84299fb01495be09cefd/self-api/src/main/java/com/selfxdsd/api/Wallet.java#L41-L46

The puzzle was created by @amihaiemil on 10-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-10-10 08:18] 0pdd commented on #599
@amihaiemil please pay attention to this new issue.

[2020-10-10 08:18] charlesmike commented on #599
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-10 08:19] 0pdd commented on #599
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-10-10 08:19] 0pdd commented on #598
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-10-10 08:19] charlesmike commented on #598
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-20T11:19:50.776717``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not a

[2020-10-10 08:19] charlesmike commented on #599
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-20T11:19:53.723862``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not a

[2020-10-10 09:32] #587 closed

[2020-10-10 11:28] #585 closed

[2020-10-10 11:29] amihaiemil commented on #579
@rultor release it, tag is `0.0.26`

[2020-10-10 11:31] rultor commented on #579
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23510-706534235)

[2020-10-10 11:34] rultor commented on #579
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23510-706534235) (took me 3min)

[2020-10-10 11:38] #579 closed

[2020-10-10 11:38] amihaiemil opened #602 "Release 0.0.27"
Changelog:

#603
#604

[2020-10-10 11:38] charlesmike commented on #602
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-10 11:39] charlesmike commented on #585
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-10 11:39] charlesmike commented on #587
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-10 11:39] charlesmike commented on #594
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-10 11:39] charlesmike commented on #595
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-10 11:40] charlesmike commented on #602
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-20T14:40:01.141919``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-10 11:43] amihaiemil commented on #602
@charlesmike deregister

[2020-10-10 11:43] charlesmike commented on #602
@amihaiemil task successfully removed.

[2020-10-10 11:43] amihaiemil commented on #602
@charlesmike status

[2020-10-10 11:43] charlesmike commented on #602
@amihaiemil this ticket is not registered as a task, therefore I'm not working on itat the moment.

If you want me to take care of it, assign it to me or say "register".

[2020-10-10 12:11] 0pdd opened #603 "UnassignTask.java:39-41: When unassigning the Task, we..."
The puzzle `585-676e2a39` from #585 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ca025e0e79ff1874809af4929010d9b514b3b32c/self-core-impl/src/main/java/com/selfxdsd/core/managers/UnassignTask.java#L39-L41

The puzzle was created by amihaiemil on 10-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-10-10 12:11] 0pdd commented on #603
@amihaiemil please pay attention to this new issue.

[2020-10-10 12:11] charlesmike commented on #603
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-10 12:12] 0pdd commented on #603
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-10-10 12:19] charlesmike commented on #603
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-20T15:19:51.092984``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-10 12:36] amihaiemil opened #604 "Implement the StripeWallet"
Wallet implementation representing a Stripe wallet.

[2020-10-10 12:36] charlesmike commented on #604
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-10 12:39] charlesmike commented on #604
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-20T15:39:50.842353``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not a

[2020-10-10 12:43] amihaiemil commented on #604
@criske I'll solve this one

[2020-10-10 12:46] criske commented on #604
@charlesmike resign

[2020-10-10 12:46] charlesmike commented on #604
@criske ok, I'll find someone else to take care of it.

[2020-10-10 12:49] charlesmike commented on #604
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-20T15:49:50.776447``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not a

[2020-10-10 12:50] criske commented on #604
@charlesmike resign

[2020-10-10 12:55] amihaiemil commented on #604
@charlesmike status

[2020-10-10 12:55] charlesmike commented on #604
@amihaiemil this ticket is registered as a task, I will assign it to someone soon.Needed role here is ``DEV`` and estimation is ``60 minutes``.

[2020-10-10 12:56] amihaiemil commented on #604
@charlesmike deregister

[2020-10-10 12:56] charlesmike commented on #604
@amihaiemil task successfully removed.

[2020-10-10 13:01] #604 closed

[2020-10-10 13:02] 0pdd opened #606 "StripeWallet.java:36-38: Implement method pay(...) here..."
The puzzle `604-dc7ff9e3` from #604 has to be resolved:

https://github.com/self-xdsd/self-core/blob/8678a79607ba7a2b8778502bcacfaca6b5421d2a/self-core-impl/src/main/java/com/selfxdsd/core/projects/StripeWallet.java#L36-L38

The puzzle was created by @amihaiemil on 10-Oct-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-10-10 13:02] 0pdd commented on #606
@charlesmike please pay attention to this new issue.

[2020-10-10 13:02] charlesmike commented on #606
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-10 13:09] charlesmike commented on #606
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-20T16:09:50.848837``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not a

[2020-10-11 10:59] #603 closed

[2020-10-11 10:59] 0pdd commented on #603
The puzzle `585-676e2a39` has disappeared from the source code, that's why I closed this issue. //cc @charlesmike

[2020-10-11 11:01] amihaiemil commented on #602
@rultor release it, tag is `0.0.27`

[2020-10-11 11:02] amihaiemil opened #609 "Release 0.0.29"
Changelog:

#598
#599
#610
#612
#616

[2020-10-11 11:02] charlesmike commented on #609
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-11 11:02] rultor commented on #602
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23514-706687095)

[2020-10-11 11:05] rultor commented on #602
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23514-706687095) (took me 3min)

[2020-10-11 11:09] #602 closed

[2020-10-11 11:09] charlesmike commented on #609
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-21T14:09:50.751204``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not a

[2020-10-11 11:19] amihaiemil commented on #609
@charlesmike deregister

[2020-10-11 11:19] charlesmike commented on #609
@amihaiemil task successfully removed.

[2020-10-11 11:39] charlesmike commented on #603
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-11 16:02] amihaiemil opened #610 "Implement Issues.search(...)"
We should have a method for search: ``Issues :: issues.search(text, labels...)``

[2020-10-11 16:02] charlesmike commented on #610
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-11 16:02] amihaiemil commented on #610
@charlesmike deregister

[2020-10-11 16:02] charlesmike commented on #610
@amihaiemil task successfully removed.

[2020-10-11 17:33] #610 closed

[2020-10-11 17:34] 0pdd opened #612 "GithubIssues.java:42-43: Implement and test method..."
The puzzle `610-65b8cb4e` from #610 has to be resolved:

https://github.com/self-xdsd/self-core/blob/5ae507148868b64552d7dececf06cf80dc584d8b/self-core-impl/src/main/java/com/selfxdsd/core/GithubIssues.java#L42-L43

The puzzle was created by @amihaiemil on 11-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-10-11 17:34] 0pdd commented on #612
@charlesmike please pay attention to this new issue.

[2020-10-11 17:34] charlesmike commented on #612
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-11 17:34] amihaiemil commented on #612
@charlesmike deregister

[2020-10-11 17:34] charlesmike commented on #612
@amihaiemil task successfully removed.

[2020-10-12 08:58] criske commented on #606
waiting for #599

[2020-10-12 09:04] criske commented on #606
@amihaiemil I think we will need to modify `Wallet#pay(...)` to return `Wallet` instead, in order to reflect a successful payment in
`Wallet#cash()` (`limit - invoice.totalAmmount`). Any reason why the current API  for pay returns a payed `Invoice`?

[2020-10-12 10:49] amihaiemil commented on #606
@criske Good question. Yes, maybe it's better to return the Wallet.

I also realized, we should implement the "waiting" functionality too -- it seems like we need it badly :D

[2020-10-12 14:36] #612 closed

[2020-10-12 18:02] criske commented on #606
@amihaiemil "waiting" , as in waiting for a stripe webhook event of a successful payment intent, thus keeping the invoice in a pending state?

[2020-10-13 07:35] amihaiemil commented on #598
paid with transaction id 7GP62353WR547894X

[2020-10-13 07:36] amihaiemil commented on #606
@criske "waiting" as in, the ``waiting`` command for the PM: for instance in this ticket it should stop counting the deadline because you said ``waiting for #598`` :D

[2020-10-13 07:39] amihaiemil commented on #599
paid with transaction id 1LT676482V6225536

[2020-10-13 07:42] #598 closed

[2020-10-13 07:42] 0pdd commented on #598
The puzzle `594-abba5903` has disappeared from the source code, that's why I closed this issue. //cc @charlesmike

[2020-10-13 07:42] 0pdd opened #615 "PaymentMethods.java:30-31: Provide implementation and..."
The puzzle `608-b4f8136c` from #608 has to be resolved:

https://github.com/self-xdsd/self-core/blob/566c38039553cff204cc1e44bceecffda8aefca1/self-api/src/main/java/com/selfxdsd/api/PaymentMethods.java#L30-L31

The puzzle was created by cristianpela on 10-Oct-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2020-10-13 07:42] 0pdd commented on #615
@charlesmike please pay attention to this new issue.

[2020-10-13 07:42] charlesmike commented on #615
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-13 07:42] 0pdd opened #616 "StripeWallet.java:40-41: Implement equals() and..."
The puzzle `609-53389968` from #609 has to be resolved:

https://github.com/self-xdsd/self-core/blob/566c38039553cff204cc1e44bceecffda8aefca1/self-core-impl/src/main/java/com/selfxdsd/core/projects/StripeWallet.java#L40-L41

The puzzle was created by cristianpela on 12-Oct-20.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2020-10-13 07:42] 0pdd commented on #616
@charlesmike please pay attention to this new issue.

[2020-10-13 07:42] charlesmike commented on #616
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-13 07:43] 0pdd commented on #616
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-10-13 07:43] 0pdd commented on #615
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-10-13 07:49] charlesmike commented on #615
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-23T10:49:50.754544``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-13 07:49] charlesmike commented on #616
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-23T10:49:53.899536``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-13 09:22] #599 closed

[2020-10-13 09:22] 0pdd commented on #599
The puzzle `594-984a648d` has disappeared from the source code, that's why I closed this issue. //cc @charlesmike

[2020-10-13 09:47] amihaiemil commented on #615
@criske wanna do this one? By the way, we don't need pagination here since any project will have max 2 wallets at the moment (the fake one and the Stripe one).

[2020-10-13 09:50] criske commented on #615
@amihaiemil sure

[2020-10-13 11:39] charlesmike commented on #598
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-13 11:39] charlesmike commented on #599
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-14 23:39] charlesmike commented on #606
@criske Don't forget to close this ticket before the deadline (2020-10-20T16:09:50). You are past the first half of the allowed period.

[2020-10-15 16:26] amihaiemil commented on #606
paid with transaction id 8F043479Y6898584P

[2020-10-15 16:29] amihaiemil commented on #615
paid with transaction id 2RC04809XX867963V

[2020-10-15 16:34] #606 closed

[2020-10-15 16:34] 0pdd commented on #606
The puzzle `604-dc7ff9e3` has disappeared from the source code, that's why I closed this issue. //cc @charlesmike

[2020-10-15 16:43] #615 closed

[2020-10-15 16:43] 0pdd commented on #615
The puzzle `608-b4f8136c` has disappeared from the source code, that's why I closed this issue. //cc @charlesmike

[2020-10-15 17:39] charlesmike commented on #588
@amihaiemil Looks like you've missed the task deadline (2020-10-15T20:19:50). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-10-15 17:39] charlesmike commented on #606
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-15 17:39] charlesmike commented on #615
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-15 17:39] charlesmike commented on #588
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-25T20:39:57.447806``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not a

[2020-10-16 16:49] #616 closed

[2020-10-16 16:49] 0pdd commented on #616
The puzzle `609-53389968` has disappeared from the source code, that's why I closed this issue. //cc @charlesmike

[2020-10-16 17:39] charlesmike commented on #616
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-17 07:03] amihaiemil commented on #609
@rultor release it, tag is `0.0.28`

[2020-10-17 07:04] rultor commented on #609
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23549-710763993)

[2020-10-17 07:06] rultor commented on #609
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23549-710763993) (spent 2min)

[code]

[2020-10-17 07:13] amihaiemil commented on #609
@rultor release it, tag is `0.0.28`

[2020-10-17 07:14] rultor commented on #609
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23549-710765008)

[2020-10-17 07:16] rultor commented on #609
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23549-710765008) (spent 2min)

[code]

[2020-10-17 07:18] amihaiemil commented on #609
@rultor release it, tag is `0.0.29`

[2020-10-17 07:20] rultor commented on #609
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23549-710765668)

[2020-10-17 07:23] rultor commented on #609
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23549-710765668) (took me 3min)

[2020-10-17 07:26] #609 closed

[2020-10-17 07:39] criske opened #621 "Use Stripe Tranfer API instead of Payments API to pay an Invoice."
I've better read the docs and looks like using Payments API was wrong. From docs:

https://stripe.com/docs/api/transfers/create

_To send funds from **your Stripe account to a connected account**, you create a new transfer object. Your Stripe balance must be able to cover the transfer amount, or you’ll receive an “Insufficient Funds” error._

[code]

In our case `Contributor`'s `PayoutMethod` is t

[2020-10-17 07:39] charlesmike commented on #621
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-17 07:49] charlesmike commented on #621
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-27T10:49:50.778166``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not a

[2020-10-17 15:39] amihaiemil opened #624 "Release 0.0.30"
Changelog:

#588
#625
#626
#630
#632
#636
#640

[2020-10-17 15:39] charlesmike commented on #624
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-17 15:39] charlesmike commented on #624
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-27T18:39:51.200495``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not a

[2020-10-17 15:40] amihaiemil commented on #624
@charlesmike deregister

[2020-10-17 15:40] charlesmike commented on #624
@amihaiemil task successfully removed.

[2020-10-17 15:40] amihaiemil opened #625 "Offer method Contract.update(HourlyRate)"
We should have a way of updating a Contract's hourly rate.

[2020-10-17 15:40] charlesmike commented on #625
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-17 15:40] amihaiemil commented on #625
@charlesmike deregister

[2020-10-17 15:40] charlesmike commented on #625
@amihaiemil task successfully removed.

[2020-10-17 15:41] amihaiemil opened #626 "Check assignee of new Issue"
If a new Issue is already assigned to a Contributor, the PM should assign the Task to them and not elect someone else.

[2020-10-17 15:41] charlesmike commented on #626
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-17 15:43] amihaiemil opened #627 "Check "no-task" label."
If a new Issue has the label ``no-task``, the PM should not register it as a task.

[2020-10-17 15:43] charlesmike commented on #627
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-17 15:44] amihaiemil commented on #588
paid with transaction id 2AC03678FF307511V

[2020-10-17 15:46] #588 closed

[2020-10-17 15:49] charlesmike commented on #626
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-27T18:49:50.756694``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-17 15:49] charlesmike commented on #627
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-27T18:49:53.436738``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-17 17:14] amihaiemil opened #629 "Let's be more social: Star repo when accepting Invitation"
When an Invitation is accepted by a PM, the repo should receive a Star from them.

[2020-10-17 17:14] charlesmike commented on #629
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-17 17:19] charlesmike commented on #629
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-27T20:19:50.741364``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-17 17:28] #627 closed

[2020-10-17 17:39] charlesmike commented on #588
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-18 07:49] amihaiemil opened #630 "Add Method Repo.star()"
We should implement this method for GithubRepo, as explained here: https://developer.github.com/v3/activity/starring/#star-a-repository-for-the-authenticated-user

The star() method in GitlabRepo should just throw ``UnsupportedOperationException`` for now.

Since the URI does not respect the normal fluency, you will have to just build it entirely in the method (https://api.github.com/user/starred/

[2020-10-18 07:49] charlesmike commented on #630
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-18 07:49] amihaiemil commented on #630
@charlesmike deregister

[2020-10-18 07:49] charlesmike commented on #630
@amihaiemil task successfully removed.

[2020-10-18 07:51] amihaiemil commented on #630
@ak2703 Please take care of this when you have some time.

[2020-10-18 09:00] #629 closed

[2020-10-18 09:01] #228 closed

[2020-10-18 09:01] 0pdd commented on #228
The puzzle `225-a1140b0d` has disappeared from the source code, that's why I closed this issue. //cc @charlesmike

[2020-10-18 09:01] 0pdd opened #632 "GithubInvitation.java:40-41: After we have the method..."
The puzzle `629-041ddd1b` from #629 has to be resolved:

https://github.com/self-xdsd/self-core/blob/87796b04c713eadae872281bb545bcba1dd47f1f/self-core-impl/src/main/java/com/selfxdsd/core/GithubInvitation.java#L40-L41

The puzzle was created by @amihaiemil on 18-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-10-18 09:01] 0pdd commented on #632
@charlesmike please pay attention to this new issue.

[2020-10-18 09:01] charlesmike commented on #632
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-18 09:02] 0pdd commented on #632
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-10-18 09:02] amihaiemil commented on #632
waiting for #630

[2020-10-18 09:09] charlesmike commented on #632
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-28T12:09:50.755590``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not a

[2020-10-19 16:59] #626 closed

[2020-10-20 07:44] amihaiemil opened #634 "SelfException.toString() throws JsonException"
Apparently, SelfException.toString() throws an exception:

[code]

How to reproduce: go to a test which expects a SelfException and comment the "expected": ```@Test //(expected = ...)```.

For example, [this](https://github.com/self-xdsd/self-core/blob/master/self-core-impl/src/test/java/com/selfxdsd/core/contracts/ContributorContractsTestCase.java#L230) test.

[2020-10-20 07:44] charlesmike commented on #634
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-20 07:44] amihaiemil commented on #634
@charlesmike deregister

[2020-10-20 07:44] charlesmike commented on #634
@amihaiemil task successfully removed.

[2020-10-20 07:44] amihaiemil commented on #634
@criske can you have a loot here, when you have some time? :D

[2020-10-20 15:21] amihaiemil opened #636 "Mark a Contract for Deletion"
Contract should have an attribute called ``markedForDelete`` which will be a LocaDateTime.

When a user clicks "delete contract", this field will be assigned the current date and, only after a number of days (maybe a month), the contract will actually be deleted.

This mechanism is needed in order to ensure that the contract's invoice gets paid.

If a Contract is marked for removal, no new tasks s

[2020-10-20 15:21] charlesmike commented on #636
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-20 15:21] amihaiemil commented on #636
@charlesmike deregister

[2020-10-20 15:21] charlesmike commented on #636
@amihaiemil task successfully removed.

[2020-10-20 15:30] #634 closed

[2020-10-20 16:02] #625 closed

[2020-10-22 08:26] criske commented on #621
was no the right aproach

[2020-10-22 08:26] #621 closed

[2020-10-22 18:31] #636 closed

[2020-10-25 16:17] amihaiemil opened #640 "If Contract is Marked For Removal, Do Not Elect"
We should modify the election algorithm to not elect a Contract which is marked for deletion (Contract.markedForRemovel != null).

[2020-10-25 16:17] charlesmike commented on #640
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-25 16:19] charlesmike commented on #640
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-04T18:19:51.669876``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-25 20:21] amihaiemil commented on #630
paid with transaction id 1N03482294543235X

[2020-10-25 20:30] #630 closed

[2020-10-25 20:41] 0pdd opened #641 "GithubStars.java:18-22: Write some unit tests for method..."
The puzzle `630-7e246601` from #630 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6e73794586cd5b4151f6426718feeff3838556cf/self-core-impl/src/main/java/com/selfxdsd/core/GithubStars.java#L18-L22

The puzzle was created by amihaiemil on 25-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"

[2020-10-25 20:41] 0pdd commented on #641
@charlesmike please pay attention to this new issue.

[2020-10-25 20:41] charlesmike commented on #641
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-25 20:43] 0pdd commented on #641
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-10-25 20:49] charlesmike commented on #641
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-04T22:49:52.220116``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not a

[2020-10-26 10:00] amihaiemil commented on #641
paid with transaction id 94R341806W899745R

[2020-10-26 10:02] amihaiemil opened #643 "GithubStars.add() Should Build Its Own URI"
At the moment, GithubStars accepts its URI attribute from the parent Repo. Unfortunately, this is not correct, because the Stars URI does not follow the same fluency (the path is ``/user/starred/:owner/:repo`` instead of ``/repos/:owner/:repo/stars``)

Don't forget to also modify the tests and assert that the path is built correctly.

[2020-10-26 10:02] charlesmike commented on #643
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-26 10:03] amihaiemil commented on #643
@charlesmike deregister

[2020-10-26 10:03] charlesmike commented on #643
@amihaiemil task successfully removed.

[2020-10-26 10:07] #641 closed

[2020-10-26 10:08] 0pdd commented on #641
The puzzle `630-7e246601` has disappeared from the source code, that's why I closed this issue. //cc @charlesmike

[2020-10-26 10:11] criske commented on #632
@amihaiemil What will happen if PR for task is created before the deadline but merged after it?

[2020-10-26 10:14] amihaiemil commented on #632
@criske the PR has to be merged *before* the deadline. If the deadline passes, the Task is taken away and no payments will be made to the Contributor -- payments will be made only to the PR reviewer (that is treated as a different Task).

Maybe we could allow the PO or ARCH to reassign a Contributor even if they were resigned.

[2020-10-26 10:25] criske commented on #632
@amihaiemil But can't this be abused? The contributor submits the pr before the deadline, but the reviewer waits to pass the deadline and only they will be paid :D

[2020-10-26 10:35] amihaiemil commented on #632
@criske Well, yes. But Self is supposed to be a platform for teams that already work together and trust each other.

Not matter how many rules we add, we can't really prevent the kind of abuse you're talking about.

[2020-10-26 11:35] #640 closed

[2020-10-26 11:37] amihaiemil commented on #632
paid with transaction id 4GY59943F9057953T

[2020-10-26 11:44] 0pdd commented on #632
The puzzle `629-041ddd1b` has disappeared from the source code, that's why I closed this issue. //cc @charlesmike

[2020-10-26 11:44] #632 closed

[2020-10-26 16:14] amihaiemil commented on #643
already fixed.

[2020-10-26 16:14] #643 closed

[2020-10-26 16:24] amihaiemil commented on #624
@rultor release it, tag is `0.0.30`

[2020-10-26 16:25] rultor commented on #624
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23600-716662997)

[2020-10-26 16:28] rultor commented on #624
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23600-716662997) (took me 3min)

[2020-10-26 16:36] #624 closed

[2020-10-27 16:44] amihaiemil opened #646 "Implement Commits of a Repo"
We should have access to the Repo's Commits and one Commit's Comments, so the PM can post a comment there (for instance, if there was an error parsing TODOs into new tickets).

interface Commits extends Iiterable<Commit> {
    Commit findBySha(...);
}
interface Commit {
    Comments comments;
}

[2020-10-27 16:44] charlesmike commented on #646
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-27 16:49] charlesmike commented on #646
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-06T18:49:51.701586``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-28 09:42] amihaiemil opened #647 "Release 0.0.31"
Changelog:

#646
#649
#651
#652
#653
#656

[2020-10-28 09:42] charlesmike commented on #647
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-28 09:42] amihaiemil commented on #647
@charlesmike deregister

[2020-10-28 09:42] charlesmike commented on #647
@amihaiemil task successfully removed.

[2020-10-28 17:40] #646 closed

[2020-10-29 09:08] amihaiemil commented on #646
@charlesmike status

[2020-10-29 09:08] charlesmike commented on #646
@amihaiemil this ticket is assigned to @amihaiemil since ``2020-10-27T18:49:51`` and it should be closeduntil ``2020-11-06T18:49:51``. Estimation is ``60`` minutes.

[2020-10-29 15:35] charlesmike commented on #621
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-29 15:35] charlesmike commented on #626
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-29 15:35] charlesmike commented on #627
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-29 15:35] charlesmike commented on #629
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-29 15:35] charlesmike commented on #632
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-29 15:35] charlesmike commented on #640
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-29 15:35] charlesmike commented on #641
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-29 15:35] charlesmike commented on #646
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-30 07:12] amihaiemil opened #649 "Add PO Contract When Activating Repo"
When a user activates their Repo, we should also add them as a Contributor and register a PO Contract (hourly rate $25 by default).

[2020-10-30 07:12] charlesmike commented on #649
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-09T09:12:41.192214``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-10-30 07:12] charlesmike commented on #649
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-10-30 07:13] amihaiemil commented on #649
@criske can you take care of this when you have some time? : D

[2020-10-30 07:34] criske commented on #649
@amihaiemil sure

[2020-10-30 09:53] amihaiemil opened #651 "NPE in Pull_Request Event"
Let's fix it.

[code]

Edit: will be completely fixed in self-xdsd/self-pm#54

[2020-10-30 09:53] charlesmike commented on #651
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-30 09:55] charlesmike commented on #651
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-09T11:55:26.734834``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-10-30 15:24] amihaiemil commented on #649
paid with transaction id 52W345514G336722W

[2020-10-30 15:30] #649 closed

[2020-10-30 15:35] charlesmike commented on #649
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-30 15:50] amihaiemil opened #652 "Unassign Issue On Deadline Resign"
If the deadline passes, we should also resign the contributor from the Issue. Otherwise, the PM will elect them again: https://github.com/decorators-squad/eo-yaml/issues/415#issuecomment-719625161

[2020-10-30 15:50] charlesmike commented on #652
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-30 15:55] charlesmike commented on #652
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-09T17:55:26.594810``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-10-30 19:31] criske commented on #652
@amihaiemil that's weird, thought this use case was covered here
https://github.com/self-xdsd/self-core/blob/7a2f72819e65af6b5b90147e5d090c7c1cfec3a3/self-core-impl/src/main/java/com/selfxdsd/core/managers/StoredProjectManager.java#L458

[2020-10-30 19:55] amihaiemil commented on #652
@criske Problem is here: https://github.com/self-xdsd/self-core/blob/7a2f72819e65af6b5b90147e5d090c7c1cfec3a3/self-core-impl/src/main/java/com/selfxdsd/core/managers/StoredProjectManager.java#L335

Task gets unassigned, contributor resignation is registered, but he remains Issue assignee, so he's elected without any further checks.

We just need to unassign the Issue, that's all :D

[2020-10-30 20:03] criske commented on #652
@amihaiemil  gotacha.

[2020-10-31 11:42] amihaiemil opened #653 "Implement RegisterResignation Step"
We need this intermediary step.
At the moment, step ``UnassignTask`` regsiter an ``ASKED`` Resignation.

However, we don't always have to register a resignation when unassigning a task: for exapmle, if the Task is deregistered by the PO, we should not register a resignation of the assignee, since it's not their decision to resign and they also did not miss any deadline.,

[2020-10-31 11:42] charlesmike commented on #653
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-10T13:42:23.813336``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-10-31 11:42] charlesmike commented on #653
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-10-31 11:52] #652 closed

[2020-10-31 12:42] #653 closed

[2020-10-31 15:35] charlesmike commented on #652
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-31 15:35] charlesmike commented on #653
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-03 14:39] amihaiemil opened #656 "Add the Commit :: Event.commit() Method"
This method will give us the last Commit from the Event (in case it is a ``push`` event).

[2020-11-03 14:39] charlesmike commented on #656
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-13T16:39:57.707828``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-03 14:39] charlesmike commented on #656
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-04 03:35] charlesmike commented on #651
@amihaiemil Don't forget to close this ticket before the deadline (2020-11-09T11:55:26). You are past the first half of the allowed period.

[2020-11-04 09:10] #651 closed

[2020-11-04 09:35] charlesmike commented on #651
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-04 09:51] #656 closed

[2020-11-04 09:51] amihaiemil commented on #647
@rultor release it, tag is `0.0.31`

[2020-11-04 09:53] rultor commented on #647
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23635-721629920)

[2020-11-04 09:56] rultor commented on #647
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23635-721629920) (spent 3min)

[code]

[2020-11-04 10:00] amihaiemil commented on #647
@rultor release it, tag is `0.0.31`

[2020-11-04 10:01] rultor commented on #647
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23635-721634367)

[2020-11-04 10:04] rultor commented on #647
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23635-721634367) (took me 3min)

[2020-11-04 10:59] #647 closed

[2020-11-04 11:00] amihaiemil opened #659 "Release 0.0.32"
Changelog:

#660
#662

[2020-11-04 11:00] charlesmike commented on #659
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-04 11:00] amihaiemil commented on #659
@charlesmike deregister

[2020-11-04 11:00] charlesmike commented on #659
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-04 12:15] amihaiemil opened #660 "GithubIssue: Get RepoFullName from URL"
At the moment we read the repoFullname from the ``repository_url`` attribute. However, the ``pull_request`` JSON that comes from a webhook event does not have this attribute.

We should instead get the repoFullName from the ``url`` attribute which is present everywhere.

[2020-11-04 12:15] charlesmike commented on #660
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-04 12:25] charlesmike commented on #660
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-14T14:25:26.343008``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-04 13:00] #660 closed

[2020-11-04 13:15] amihaiemil opened #662 "Throw Appropriate Exception If No PM is Found"
When activating a Repo, we should throw a meaningful exception if no PM has been picked (most likely, there's no PM registered in the DB, which is a big problem).

[2020-11-04 13:15] charlesmike commented on #662
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-14T15:15:23.330567``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-04 13:15] charlesmike commented on #662
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-04 13:34] #662 closed

[2020-11-04 13:53] amihaiemil commented on #659
@rultor release it, tag is `0.0.32`

[2020-11-04 13:54] rultor commented on #659
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23638-721744373)

[2020-11-04 13:57] rultor commented on #659
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23638-721744373) (took me 3min)

[2020-11-04 13:59] #659 closed

[2020-11-04 14:09] charlesmike commented on #656
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-04 14:09] charlesmike commented on #660
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-04 14:09] charlesmike commented on #662
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-06 10:04] amihaiemil opened #664 "Offer method Commit.shaRef()"
This method will return the Commit's ID.

[2020-11-06 10:04] charlesmike commented on #664
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-16T12:04:03.898765``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-06 10:04] charlesmike commented on #664
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-06 10:04] amihaiemil opened #665 "Release 0.0.33"
Changelog:

#664
#666
#667
#670

[2020-11-06 10:04] charlesmike commented on #665
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-06 10:04] amihaiemil commented on #665
@charlesmike deregister

[2020-11-06 10:04] charlesmike commented on #665
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-06 10:29] amihaiemil opened #666 "Offer method Issue.body()"
Let's do it

[2020-11-06 10:29] charlesmike commented on #666
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-06 10:39] charlesmike commented on #666
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-16T12:39:00.549238``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-06 10:46] amihaiemil opened #667 "Implement SelfTodos"
Similarly to how Github is implemented (using JsonResources), we should implement SelfTodos, so we can forward the push event to the self-todos microservice.

[2020-11-06 10:46] charlesmike commented on #667
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-16T12:46:35.189595``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-06 10:46] charlesmike commented on #667
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-06 15:48] #664 closed

[2020-11-06 19:19] amihaiemil opened #670 "Send Project name and Description on Stripe Wallet Setup"
When we create a Project's Stripe Wallet, we should send the project name and description to Stripe, otherwise the Customers Table will be empty on the Stripe Dashboard:

<img width="1116" alt="Screenshot 2020-11-06 at 21 19 01" src="https://user-images.githubusercontent.com/6305156/98405938-c26b3380-2075-11eb-95a6-4a937d78be97.png">

[2020-11-06 19:19] charlesmike commented on #670
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-16T21:19:40.201749``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-06 19:19] charlesmike commented on #670
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-06 19:25] #667 closed

[2020-11-06 20:09] charlesmike commented on #664
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-06 20:09] charlesmike commented on #667
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-07 09:14] #670 closed

[2020-11-07 09:21] amihaiemil commented on #666
@charlesmike deregister

[2020-11-07 09:21] charlesmike commented on #666
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-07 09:21] amihaiemil commented on #666
@criske I'll take care of this :D

[2020-11-07 09:31] criske commented on #666
@amihaiemil sure, I was almost done to finish it :D

[2020-11-07 09:34] #666 closed

[2020-11-07 09:35] amihaiemil commented on #666
@criske sorry :D I still sent a payment for it, with id 3Y322916UC4410741

[2020-11-07 09:37] amihaiemil commented on #665
@rultor release it, tag is `0.0.33`

[2020-11-07 09:38] rultor commented on #665
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23653-723423703)

[2020-11-07 09:41] rultor commented on #665
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23653-723423703) (spent 3min)

[code]

[2020-11-07 09:42] charlesmike commented on #670
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-07 09:42] criske commented on #666
@amihaiemil  Thank you, but please don't, it was small task anyway. :D
I'll put a deadline on my tasks from now on (3 days deadline is enough for me instead of 10).

[2020-11-07 09:42] amihaiemil commented on #665
@rultor release it, tag is `0.0.33`

[2020-11-07 09:43] amihaiemil commented on #666
@criske no worries

[2020-11-07 09:44] rultor commented on #665
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23653-723424195)

[2020-11-07 09:47] rultor commented on #665
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23653-723424195) (spent 3min)

[code]

[2020-11-07 09:48] amihaiemil commented on #665
@rultor release it, tag is `0.0.33`

[2020-11-07 09:49] rultor commented on #665
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23653-723424702)

[2020-11-07 09:52] rultor commented on #665
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23653-723424702) (took me 3min)

[2020-11-07 09:59] #665 closed

[2020-11-07 14:29] amihaiemil opened #673 "Remove Method Commits.received(...)"
There are too many differences between a Commit coming from the API and a Commit coming as part of a push Event.

Therefore, we will always fetch the commit from the API and we do not need method Commits.received(...) anymore. Remove it from the Commits interface, GithubCommits class and also any unit tests should be removed.

[2020-11-07 14:29] charlesmike commented on #673
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-17T16:29:23.886521``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-07 14:29] charlesmike commented on #673
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-07 14:30] amihaiemil opened #674 "RestfulSelfTodos -- Catch exceptions"
Catch any exceptions that might occur -- it's not a problem if this microservice is down. Just logging should be enough.

[2020-11-07 14:30] charlesmike commented on #674
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-17T16:30:03.336440``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-07 14:30] charlesmike commented on #674
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-09 09:19] amihaiemil opened #675 "Release 0.0.34"
Changelog:

#673
#674
#676
#689
#691
#694

[2020-11-09 10:02] amihaiemil commented on #673
@charlesmike resign

[2020-11-09 10:02] charlesmike commented on #673
@amihaiemil ok, I'll find someone else to take care of it.

[2020-11-09 10:02] amihaiemil commented on #673
@charlesmike deregister

[2020-11-09 10:02] charlesmike commented on #673
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-09 10:05] amihaiemil commented on #673
@charlesmike register

[2020-11-09 10:05] charlesmike commented on #673
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2020-11-09 10:07] charlesmike commented on #673
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-19T12:07:21.316254``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-09 11:44] amihaiemil opened #676 "Don't Reply If Issue/PR Author is Self"
On new_issue or reopened_issue events, do not reply if the issue or PR author is the PM itself.

[2020-11-09 11:44] charlesmike commented on #676
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-19T13:44:30.013355``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-09 11:44] charlesmike commented on #676
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-09 13:00] #676 closed

[2020-11-09 14:12] #674 closed

[2020-11-09 14:12] charlesmike opened #679 "InMemoryTasksTestCase.java: Finish 'getTasksOfContributor..."
The puzzle ``135-200b416a`` originating from #135 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6971b4d16e37bac82e4bcfd5c9eab3466c54be32/self-core-impl/src/test/java/com/selfxdsd/core/mock/InMemoryTasksTestCase.java#L39-L41

"Finish 'getTasksOfContributor()' test case when API permits that; as in when a Task can be assigned to a Contributor.".

It was created by cristianpela on

[2020-11-09 14:13] charlesmike opened #680 "Gitlab.java: Continue adding integration t..."
The puzzle ``27-ef64e245`` originating from #27 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6971b4d16e37bac82e4bcfd5c9eab3466c54be32/self-core-impl/src/main/java/com/selfxdsd/core/Gitlab.java#L35-L35

"Continue adding integration tests for Gitlab provider.".

It was created by cristianpela on 2020-05-20T13:52:40Z. Estimation is ``30 minutes``.
If you have any technical questio

[2020-11-09 14:13] charlesmike opened #681 "StoredProject.java: Implement the deactivate meth..."
The puzzle ``31-902d1319`` originating from #31 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6971b4d16e37bac82e4bcfd5c9eab3466c54be32/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredProject.java#L42-L44

"Implement the deactivate method which should remove the Project form the DB (it means Self will stop managing it). Return the corresponding Repo when done. Don't

[2020-11-09 14:13] charlesmike commented on #679
@charlesmike thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-09 14:13] charlesmike opened #682 "UserProjects.java: Implement and test method reg..."
The puzzle ``59-f2a3b904`` originating from #59 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6971b4d16e37bac82e4bcfd5c9eab3466c54be32/self-core-impl/src/main/java/com/selfxdsd/core/projects/UserProjects.java#L41-L44

"Implement and test method register(...). It should register the repo with respect to the fact that this is a User's Projects, meaning the given Repo has to belong

[2020-11-09 14:13] charlesmike commented on #680
@charlesmike thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-09 14:13] charlesmike opened #683 "GithubIssue.java: Initially, all the Issues wil..."
The puzzle ``128-bc49fe1d`` originating from #128 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6971b4d16e37bac82e4bcfd5c9eab3466c54be32/self-core-impl/src/main/java/com/selfxdsd/core/GithubIssue.java#L44-L46

"Initially, all the Issues will have the DEV or REV role. In a future version, we will set an Issue's role based on labels set by the user.".

It was created by amihaiemil

[2020-11-09 14:13] charlesmike commented on #681
@charlesmike thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-09 14:13] charlesmike opened #684 "StoredContributor.java: Method tasks() here should re..."
The puzzle ``192-5ba266e8`` originating from #192 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6971b4d16e37bac82e4bcfd5c9eab3466c54be32/self-core-impl/src/main/java/com/selfxdsd/core/contributors/StoredContributor.java#L40-L44

"Method tasks() here should return the tasks with respect ot the encapsulated Contracts. If the Contracts exist (!= null), then the method should only r

[2020-11-09 14:13] charlesmike commented on #682
@charlesmike thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-09 14:13] #524 closed

[2020-11-09 14:13] charlesmike commented on #683
@charlesmike thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-09 14:13] charlesmike commented on #684
@charlesmike thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-09 14:13] charlesmike commented on #524
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-11-09 14:16] amihaiemil commented on #679
@charlesmike deregister

[2020-11-09 14:16] charlesmike commented on #679
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-09 14:16] amihaiemil commented on #680
@charlesmike deregister

[2020-11-09 14:16] charlesmike commented on #680
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-09 14:16] amihaiemil commented on #681
@charlesmike deregister

[2020-11-09 14:16] charlesmike commented on #681
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-09 14:16] amihaiemil commented on #682
@charlesmike deregister

[2020-11-09 14:16] charlesmike commented on #682
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-09 14:16] amihaiemil commented on #683
@charlesmike deregister

[2020-11-09 14:16] charlesmike commented on #683
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-09 14:16] amihaiemil commented on #684
@charlesmike deregister

[2020-11-09 14:16] charlesmike commented on #684
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-09 15:37] charlesmike commented on #674
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-09 15:37] charlesmike commented on #676
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-10 16:36] amihaiemil opened #686 "Add Method Contracts.remove(Contract)"
Let's implement and test this method.

[2020-11-10 16:36] charlesmike commented on #686
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-20T18:36:41.943243``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-10 16:36] charlesmike commented on #686
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-10 16:38] amihaiemil opened #687 "Add method Contract.remove()"
This method should first check if ``this.markedForRemoval`` is set and older than 30 days. If this is true, it should forward the call to Contracts.remove(Contract).

[2020-11-10 16:38] charlesmike commented on #687
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-10 16:47] charlesmike commented on #687
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-20T18:47:22.645760``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-10 16:52] amihaiemil commented on #687
@charlesmike resign

[2020-11-10 16:52] charlesmike commented on #687
@amihaiemil ok, I'll find someone else to take care of it.

[2020-11-10 16:57] charlesmike commented on #687
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-20T18:57:22.557844``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-10 17:10] amihaiemil opened #688 "PM reassigns resigned Issue"
When I resign from a ticket, the PM should not assign it to me again, ever: https://github.com/self-xdsd/self-core/issues/687

[2020-11-10 17:10] charlesmike commented on #688
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-10 17:17] charlesmike commented on #688
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-20T19:17:22.732873``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-10 17:36] amihaiemil commented on #688
@andreoss I'm pretty sure the problem is inside the Resign conversation, the order in which the steps are composed. At the moment, it is UnassignTask -> RegisterResignation and it should most likely be the other way around (RegisterResignation -> UnassignTask).

This is because RegisterResignation will not do anything if the Task has no assignee.

[2020-11-11 14:41] amihaiemil opened #689 "Add/Remove Contributor Label"
When assigning/unassigning an Issue, we should add/remove a Label with the contributor's tag (e.g. ``@amihaiemil``).

[2020-11-11 14:41] charlesmike commented on #689
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-21T16:41:53.582167``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-11 14:41] charlesmike commented on #689
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-12 10:24] #689 closed

[2020-11-12 10:24] charlesmike opened #691 "Labels.java: Implement and test GithubRepo..."
The puzzle ``689-75c13c29`` originating from #689 has to be resolved:

https://github.com/self-xdsd/self-core/blob/d2d1a2d35049f4aabf27626a529dd86eac7cefc0/self-api/src/main/java/com/selfxdsd/api/storage/Labels.java#L32-L33

"Implement and test GithubRepoLabels, which will represent all the labels defined in a Repo.".

It was created by @amihaiemil on 2020-11-12T09:00:38Z. Estimation is ``30 minut

[2020-11-12 10:24] charlesmike opened #692 "GithubIssueComments.java: Provide a pagination solution..."
The puzzle ``100-24fff222`` originating from #100 has to be resolved:

https://github.com/self-xdsd/self-core/blob/d2d1a2d35049f4aabf27626a529dd86eac7cefc0/self-core-impl/src/main/java/com/selfxdsd/core/GithubIssueComments.java#L22-L24

"Provide a pagination solution in iterator() using Github response headers, when {@link Resource} API has access to http response headers (issue #241).".

It was c

[2020-11-12 10:24] charlesmike commented on #691
@charlesmike thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-12 10:24] charlesmike commented on #692
@charlesmike thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-12 10:26] amihaiemil commented on #692
@charlesmike deregister

[2020-11-12 10:26] charlesmike commented on #692
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-12 10:27] charlesmike commented on #691
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-22T12:27:23.156138``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-12 10:31] #42 closed

[2020-11-12 10:31] #47 closed

[2020-11-12 10:31] #65 closed

[2020-11-12 10:31] #128 closed

[2020-11-12 10:31] #144 closed

[2020-11-12 10:31] #199 closed

[2020-11-12 10:31] #249 closed

[2020-11-12 13:25] charlesmike opened #694 "GithubIssueLabels.java: Before adding a label to an I..."
The puzzle ``691-6abb78c2`` originating from #691 has to be resolved:

https://github.com/self-xdsd/self-core/blob/a8e50c21341b71647283b94d8c4146ea89d4524a/self-core-impl/src/main/java/com/selfxdsd/core/GithubIssueLabels.java#L44-L49

"Before adding a label to an Issue, use GithubRepoLabels to add (register) the label in the Repo first. We can add an Issue label directly and it will be created if

[2020-11-12 13:25] #691 closed

[2020-11-12 13:25] charlesmike commented on #694
@charlesmike thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-12 13:25] charlesmike commented on #691
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-11-12 13:27] charlesmike commented on #694
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-22T15:27:21.254175``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-12 14:13] #694 closed

[2020-11-12 14:13] charlesmike commented on #694
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-11-12 14:16] amihaiemil commented on #675
@rultor release it, tag is `0.0.34`

[2020-11-12 14:17] rultor commented on #675
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23672-726104627)

[2020-11-12 14:20] rultor commented on #675
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23672-726104627) (took me 3min)

[2020-11-12 14:21] #675 closed

[2020-11-12 14:30] charlesmike commented on #689
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-12 14:30] charlesmike commented on #691
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-12 14:30] charlesmike commented on #694
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-13 08:13] amihaiemil opened #696 "Implement Wallet.paymentMethodSetupIntent()"
This will create the SetupIntent (to create a Customer's/Wallet's payment method) as explained here: https://stripe.com/docs/payments/save-and-reuse

This should work only for the StripeWallet. In the case of Missing wallet, it should throw an exception.

[2020-11-13 08:13] charlesmike commented on #696
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-23T10:13:35.453315``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-13 08:13] charlesmike commented on #696
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-13 08:13] amihaiemil opened #697 "Release 0.0.36"
This release breaks compatibility with storage 0.0.14. We will need to make some changes and release 0.0.15.

Changelog:

#686
#687
#688
#696
#700
#703

[2020-11-13 08:52] #696 closed

[2020-11-13 14:30] charlesmike commented on #696
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-14 02:30] charlesmike commented on #673
@andreoss Don't forget to close this ticket before the deadline (2020-11-19T12:07:21). You are past the first half of the allowed period.

[2020-11-14 10:51] amihaiemil commented on #673
@andreoss I'm closing this since you resolved it. Don't forget to send me your PayPal address so I can wire you the payment.

[2020-11-14 10:51] #673 closed

[2020-11-14 14:30] charlesmike commented on #673
@andreoss thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-14 16:48] amihaiemil opened #700 "Add PaymentMethod.json()"
This method should return the whole PaymentMethod in JSON as returned by Stripe's API based on the identifier.

[2020-11-14 16:48] charlesmike commented on #700
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-24T18:48:40.676415``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-14 16:48] charlesmike commented on #700
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-15 02:30] charlesmike commented on #686
@andreoss Don't forget to close this ticket before the deadline (2020-11-20T18:36:41). You are past the first half of the allowed period.

[2020-11-15 02:30] charlesmike commented on #687
@amihaiemil Don't forget to close this ticket before the deadline (2020-11-20T18:57:22). You are past the first half of the allowed period.

[2020-11-15 02:30] charlesmike commented on #688
@andreoss Don't forget to close this ticket before the deadline (2020-11-20T19:17:22). You are past the first half of the allowed period.

[2020-11-16 08:13] amihaiemil commented on #686
@andreoss thanks for solving this. I still haven't got your PayPal address, don't forget about it please.

[2020-11-16 08:13] #686 closed

[2020-11-16 08:30] charlesmike commented on #686
@andreoss thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-16 08:40] amihaiemil commented on #700
@charlesmike status

[2020-11-16 08:40] charlesmike commented on #700
@amihaiemil this ticket is assigned to @amihaiemil since ``2020-11-14T18:48:40`` and it should be closed until ``2020-11-24T18:48:40``. Estimation is ``60`` minutes.

[2020-11-16 10:12] #700 closed

[2020-11-16 10:57] #687 closed

[2020-11-16 14:30] charlesmike commented on #687
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-16 14:30] charlesmike commented on #700
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-17 08:07] amihaiemil commented on #688
@andreoss do you think you can fix this today? I would like to make a release.

THe only think you have to do, I believe, is switch the order of those 2 steps (UnassignTask and RegisterResignation) inside the Resign Conversation.

[2020-11-17 08:15] amihaiemil opened #703 "Implement Commits.latest()"
This method should return the latest commit there is.

[2020-11-17 08:15] charlesmike commented on #703
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-27T10:15:54.852946``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-17 08:15] charlesmike commented on #703
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-17 08:43] #703 closed

[2020-11-17 14:30] charlesmike commented on #703
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-17 16:30] amihaiemil commented on #688
@andreoss thanks for solving it. Don't forget about the PayPal address...

[2020-11-17 16:30] #688 closed

[2020-11-17 16:34] amihaiemil commented on #697
@rultor release it, tag is `0.0.35`

[2020-11-17 16:35] rultor commented on #697
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23717-729047561)

[2020-11-17 16:37] rultor commented on #697
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23717-729047561) (spent 2min)

[code]

[2020-11-17 16:39] amihaiemil commented on #697
@rultor release it, tag is `0.0.35`

[2020-11-17 16:40] rultor commented on #697
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23717-729050379)

[2020-11-17 16:43] rultor commented on #697
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23717-729050379) (spent 3min)

[code]

[2020-11-17 16:48] amihaiemil commented on #697
@rultor release it, tag is `0.0.35`

[2020-11-17 16:49] rultor commented on #697
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23717-729055986)

[2020-11-17 16:51] rultor commented on #697
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23717-729055986) (spent 2min)

[code]

[2020-11-17 16:52] amihaiemil commented on #697
@rultor release it, tag is `0.0.36`

[2020-11-17 16:54] rultor commented on #697
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23717-729058893)

[2020-11-17 16:57] rultor commented on #697
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23717-729058893) (took me 3min)

[2020-11-17 16:57] #697 closed

[2020-11-17 20:30] charlesmike commented on #688
@andreoss thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-19 07:53] amihaiemil opened #706 "Release 0.0.37"
Changelog:

#707
#709

[2020-11-19 07:54] amihaiemil opened #707 "Open Issue on Accepted Invitation"
When the PM accepts a Repo Invitation, it should open a ``no-task`` Issue, saying "hello" and introducing itself, saying everything is porperly set up.

[2020-11-19 07:54] charlesmike commented on #707
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-29T09:54:37.412288``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-19 07:54] charlesmike commented on #707
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-19 09:44] #707 closed

[2020-11-19 14:31] charlesmike commented on #707
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-20 07:38] amihaiemil opened #709 "Revise StripeWallet.pay(...)"
StripeWallet.pay(...) does not seem to be implemented correctly. We need to implement this flow: https://stripe.com/docs/connect/collect-then-transfer-guide

[2020-11-20 07:38] charlesmike commented on #709
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-30T09:38:14.263161``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-20 07:38] charlesmike commented on #709
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-20 08:35] #709 closed

[2020-11-20 14:31] charlesmike commented on #709
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-20 15:14] amihaiemil opened #711 "Self's Commission Should Be Percentage of Payment"
At the moment we have a fixed commission (e.g. 1 EUR/invoiced task). However, this will not work because of Stripe's fees which are calculated differently from what we initially thought.

In order to make sure Self is not losing money, its commission should be a percentage from the Invoice's value.
In other words, a percentage from each payment being made. Minimum viable commission is 5%.

[2020-11-20 15:14] charlesmike commented on #711
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-30T17:14:14.779520``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-20 15:14] charlesmike commented on #711
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-20 15:14] amihaiemil commented on #711
@criske FYI, this is also quite a big change...

[2020-11-23 08:05] amihaiemil commented on #706
@rultor merge it please

[2020-11-23 08:06] rultor commented on #706
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23735-731996210)

[2020-11-23 08:09] rultor commented on #706
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23735-731996210) (took me 3min)

[2020-11-23 08:09] #706 closed

[2020-11-23 12:11] amihaiemil opened #712 "Release 0.0.38"
Changeset:

#711  -- this change breaks compatibility with self-storage and self-web. The manager now has a commission as percentage from the task's value. We need to update self-storage to map the commission to double Db column and also update ProjectManagers.register(...) there.

We will also need to update self-web ('Project Managers' page and formular).

#714

[2020-11-23 12:11] charlesmike commented on #712
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-23 12:11] amihaiemil commented on #712
@charlesmike deregister

[2020-11-23 12:11] charlesmike commented on #712
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-23 13:00] #711 closed

[2020-11-23 14:31] charlesmike commented on #711
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-24 08:27] amihaiemil commented on #712
@rultor merge it please

[2020-11-24 08:28] rultor commented on #712
@amihaiemil It is an issue, not a pull request

[2020-11-24 08:28] rultor commented on #712
@amihaiemil I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2020-11-24 08:29] amihaiemil commented on #712
@rultor release it please, tag is `0.0.38`

[2020-11-24 08:29] rultor commented on #712
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23740-732739095)

[2020-11-24 08:32] rultor commented on #712
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23740-732739095) (spent 3min)

[code]

[2020-11-24 08:34] amihaiemil commented on #712
@rultor try to release again, tag is `0.0.38`

[2020-11-24 08:35] rultor commented on #712
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23740-732741710)

[2020-11-24 08:38] rultor commented on #712
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23740-732741710) (spent 3min)

[code]

[2020-11-24 08:44] amihaiemil opened #714 "Register Only 100K for the Fake Wallet"
At the moment we create fake wallets with 10M, which is way too much.
We should register them with 100k, it should be more than enough for any user to get the grip on Self and decide if they want to use it or not.

[2020-11-24 08:44] charlesmike commented on #714
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-04T10:44:02.813973``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-24 08:44] charlesmike commented on #714
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-24 09:01] #714 closed

[2020-11-24 09:18] amihaiemil commented on #712
@rultor release it, tag is `0.0.38`

[2020-11-24 09:20] rultor commented on #712
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23740-732765945)

[2020-11-24 09:21] rultor commented on #712
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23740-732765945) (spent 19s)

[code]

[2020-11-24 09:23] amihaiemil commented on #712
@rultor release it, tag is `0.0.38`

[2020-11-24 09:24] rultor commented on #712
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23740-732768714)

[2020-11-24 09:27] rultor commented on #712
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23740-732768714) (took me 3min)

[2020-11-24 09:29] #712 closed

[2020-11-24 14:31] charlesmike commented on #714
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-25 08:12] amihaiemil opened #716 "Implement GitlabStars"
Similarly to how Github repo Stars are implemented, we should also implemented them for GitLab.

[2020-11-25 08:12] charlesmike commented on #716
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-05T10:12:39.006191``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-25 08:12] charlesmike commented on #716
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-25 08:14] amihaiemil opened #717 "Start Implementing GitlabIssues"
Let's start implementing Issues for GitLab as well.

[2020-11-25 08:14] charlesmike commented on #717
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-05T10:14:08.175853``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-25 08:14] charlesmike commented on #717
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-27 08:30] amihaiemil opened #719 "Release 0.0.39"
This release will break compatibility with self-storage.

Changelog:

#717
#722
#727
#731 -- modify self-storage to allow updating the cash of the FakeWallet.
#736 -- Issue.estimation() returns Estimation; adapt storage to call Estimation.minutes();
#738

[2020-11-27 08:31] amihaiemil commented on #717
paid with transaction id 5L2673879C8824503

[2020-11-27 08:32] amihaiemil opened #720 "Missing Wallet Should Update Cash and Register Invoice as Paid"
When paying an invoice with the Missing wallet, we should update its cash (deduct the payment value) and also mark the invoice as paid.

[2020-11-27 08:32] charlesmike commented on #720
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-07T10:32:24.405369``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-27 08:32] charlesmike commented on #720
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-27 08:35] #717 closed

[2020-11-27 09:38] charlesmike opened #722 "GitlabIssue.java: Implement and test method `as..."
The puzzle ``722-f621b785`` originating from #722 has to be resolved:

https://github.com/self-xdsd/self-core/blob/03a9b20ddca072b77ef7bda89e52c95bf2ebed5b/self-core-impl/src/main/java/com/selfxdsd/core/GitlabIssue.java#L46-L47

"Implement and test method `assign()` for GitlabIssue by following GithubIssue as model.".

It was created by cristianpela on 2020-11-27T08:49:15Z. Estimation is ``60 minu

[2020-11-27 09:38] charlesmike opened #723 "GitlabIssue.java: Implement and test method `un..."
The puzzle ``723-bdb58549`` originating from #723 has to be resolved:

https://github.com/self-xdsd/self-core/blob/03a9b20ddca072b77ef7bda89e52c95bf2ebed5b/self-core-impl/src/main/java/com/selfxdsd/core/GitlabIssue.java#L48-L49

"Implement and test method `unassign()` for GitlabIssue by following GithubIssue as model.".

It was created by cristianpela on 2020-11-27T08:49:15Z. Estimation is ``60 mi

[2020-11-27 09:38] charlesmike opened #724 "GitlabIssue.java: Implement and test method `cl..."
The puzzle ``724-e2a78f53`` originating from #724 has to be resolved:

https://github.com/self-xdsd/self-core/blob/03a9b20ddca072b77ef7bda89e52c95bf2ebed5b/self-core-impl/src/main/java/com/selfxdsd/core/GitlabIssue.java#L50-L51

"Implement and test method `close()` for GitlabIssue by following GithubIssue as model.".

It was created by cristianpela on 2020-11-27T08:49:15Z. Estimation is ``60 minut

[2020-11-27 09:38] charlesmike opened #725 "GitlabIssue.java: Implement and test method `re..."
The puzzle ``725-8b5716bb`` originating from #725 has to be resolved:

https://github.com/self-xdsd/self-core/blob/03a9b20ddca072b77ef7bda89e52c95bf2ebed5b/self-core-impl/src/main/java/com/selfxdsd/core/GitlabIssue.java#L52-L53

"Implement and test method `reopen()` for GitlabIssue by following GithubIssue as model.".

It was created by cristianpela on 2020-11-27T08:49:15Z. Estimation is ``60 minu

[2020-11-27 09:38] charlesmike opened #726 "GitlabIssue.java: Start implementing GitlabComm..."
The puzzle ``726-2558b50b`` originating from #726 has to be resolved:

https://github.com/self-xdsd/self-core/blob/03a9b20ddca072b77ef7bda89e52c95bf2ebed5b/self-core-impl/src/main/java/com/selfxdsd/core/GitlabIssue.java#L54-L55

"Start implementing GitlabComments by following GithubComments as model. These will be used by GitlabIssue.".

It was created by cristianpela on 2020-11-27T08:49:15Z. Esti

[2020-11-27 09:38] charlesmike opened #727 "GitlabIssue.java: Start implementing GitlabLabe..."
The puzzle ``727-f449f7e1`` originating from #727 has to be resolved:

https://github.com/self-xdsd/self-core/blob/03a9b20ddca072b77ef7bda89e52c95bf2ebed5b/self-core-impl/src/main/java/com/selfxdsd/core/GitlabIssue.java#L56-L57

"Start implementing GitlabLabels by following GithubLabels as model. These will be used by GitlabIssue.".

It was created by cristianpela on 2020-11-27T08:49:15Z. Estimati

[2020-11-27 09:38] charlesmike opened #728 "GitlabIssues.java: Implement and test method `ge..."
The puzzle ``728-e0d65643`` originating from #728 has to be resolved:

https://github.com/self-xdsd/self-core/blob/03a9b20ddca072b77ef7bda89e52c95bf2ebed5b/self-core-impl/src/main/java/com/selfxdsd/core/GitlabIssues.java#L40-L41

"Implement and test method `getById()` for GitlabIssues by following GithubIssues as model.".

It was created by cristianpela on 2020-11-27T08:49:15Z. Estimation is ``60

[2020-11-27 09:41] charlesmike commented on #722
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-07T11:41:52.121456``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-27 09:41] charlesmike commented on #723
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-07T11:41:57.041398``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-27 09:42] charlesmike commented on #724
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-07T11:42:02.174166``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-27 09:42] charlesmike commented on #725
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-07T11:42:07.364154``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-27 09:42] charlesmike commented on #726
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-07T11:42:12.634441``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-27 09:42] charlesmike commented on #727
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-07T11:42:18.248257``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-27 09:42] charlesmike commented on #728
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-07T11:42:23.606470``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-27 10:10] criske commented on #720
@amihaiemil There's is a small problem here. `Missing` wallet part of `api` module and paying an invoice requires `StoredInvoice` which is in `impl`. Should we move `Missing` to `impl` where it can be tested too?
Also should we then rename it to `FakeWallet` to easier assess the wallet type?

[2020-11-27 10:28] amihaiemil commented on #720
@criske yes, definitely. I forgot about that part.

[2020-11-27 14:31] charlesmike commented on #717
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-27 14:33] amihaiemil commented on #720
paid with transaction id 0TU17860VP8671302

[2020-11-27 14:40] #720 closed

[2020-11-27 14:41] charlesmike opened #730 "JsonResources.java: Add other methods such as del..."
The puzzle ``252-9dba75c4`` originating from #252 has to be resolved:

https://github.com/self-xdsd/self-core/blob/c0eaead7027f3bfed4e4de513c76e08c67cd24b1/self-core-impl/src/main/java/com/selfxdsd/core/JsonResources.java#L41-L43

"Add other methods such as delete and continue abstracting the HTTP calls away from the Provider's implementations (Issues, Comments etc).".

It was created by @amihaiem

[2020-11-27 14:41] charlesmike opened #731 "FakeWallet.java: Change `FakeWallet#updateCash..."
The puzzle ``730-27d9b9a2`` originating from #730 has to be resolved:

https://github.com/self-xdsd/self-core/blob/c0eaead7027f3bfed4e4de513c76e08c67cd24b1/self-core-impl/src/main/java/com/selfxdsd/core/projects/FakeWallet.java#L48-L49

"Change `FakeWallet#updateCash(...)` to return the Storage Wallets `updateCash()`. `StripeWallet` is using the same approach.".

It was created by cristianpela on

[2020-11-27 14:41] charlesmike commented on #730
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-07T16:41:52.285785``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-27 14:42] charlesmike commented on #731
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-07T16:41:57.245808``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-27 14:49] amihaiemil commented on #730
@charlesmike deregister

[2020-11-27 14:49] charlesmike commented on #730
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-27 15:01] #730 closed

[2020-11-27 20:31] charlesmike commented on #720
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-29 10:48] charlesmike opened #734 "StoredProject.java: Continue implementation of th..."
The puzzle ``278-0caa54b3`` originating from #278 has to be resolved:

https://github.com/self-xdsd/self-core/blob/60222123bac68b65f129f9fcdf9e8fc7b2952ccc/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredProject.java#L45-L48

"Continue implementation of the resolve(...) method. It should decide what kind of event has occurred and delegate it further to the ProjectManager who will dea

[2020-11-29 10:48] #731 closed

[2020-11-29 10:48] charlesmike commented on #731
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-11-29 10:50] amihaiemil commented on #734
@charlesmike deregister

[2020-11-29 10:50] charlesmike commented on #734
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-29 10:50] #734 closed

[2020-11-29 10:53] amihaiemil commented on #722
paid with transaction id 77B46136YM6652114

[2020-11-29 10:59] #722 closed

[2020-11-29 10:59] charlesmike commented on #722
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-11-29 11:18] #727 closed

[2020-11-29 11:18] charlesmike commented on #727
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-11-29 13:12] amihaiemil opened #736 "Take Estimation From Labels"
The default estimation is 60min for Issues and 30min for PRs. However, we should also allow the estimation to be specified through labels (when the issue/pr is opened).

Let's change ``int :: Issue::estimation()`` to ``Estimation :: Issue.estimation()``. Estimation will have method ``int :: minutes()``.

[2020-11-29 13:12] charlesmike commented on #736
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-09T15:12:16.994690``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-29 13:12] charlesmike commented on #736
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-29 14:31] charlesmike commented on #722
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-29 14:31] charlesmike commented on #727
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-29 14:32] charlesmike commented on #731
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-29 20:26] #736 closed

[2020-11-29 20:31] charlesmike commented on #736
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-29 20:50] amihaiemil opened #738 "GithubIssues.open(...): Add Labels To Repo First"
Before opening a new Issue, we should add the labels to the Repo first, in order to give them a color.

[2020-11-29 20:50] charlesmike commented on #738
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-09T22:50:12.840157``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-29 20:50] charlesmike commented on #738
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-29 21:11] #738 closed

[2020-11-29 21:11] amihaiemil commented on #719
@rultor release it, tag is `0.0.39`

[2020-11-29 21:16] rultor commented on #719
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23777-735454463) (took me 3min)

[2020-11-30 02:31] charlesmike commented on #716
@andreoss Don't forget to close this ticket before the deadline (2020-12-05T10:12:39). You are past the first half of the allowed period.

[2020-11-30 02:31] charlesmike commented on #738
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-30 08:04] #719 closed

[2020-11-30 12:20] amihaiemil opened #740 "HelloIssue Addressed To Self"
The PM addresses the introductory issue to itself. It should address it to the project's owner. See [here](https://github.com/amihaiemil/zold-java-client/issues/64).

[2020-11-30 12:20] charlesmike commented on #740
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-10T14:20:03.728185``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-30 12:20] charlesmike commented on #740
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-30 12:21] amihaiemil opened #741 "Release 0.0.40"
changelog:

#740
#742

[2020-11-30 12:33] amihaiemil opened #742 "Specify the push event in the Webhook"
When setting up the Github Webhook, we should also specify the ``push`` event.

[2020-11-30 12:33] charlesmike commented on #742
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-10T14:33:57.063161``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-30 12:34] charlesmike commented on #742
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-30 12:45] #740 closed

[2020-11-30 13:13] #742 closed

[2020-11-30 13:20] amihaiemil commented on #741
@rultor release it, tag is `0.0.40`

[2020-11-30 13:21] rultor commented on #741
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23781-735781016)

[2020-11-30 13:25] rultor commented on #741
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23781-735781016) (took me 4min)

[2020-11-30 13:27] #741 closed

[2020-11-30 14:21] charlesmike commented on #740
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-30 14:21] charlesmike commented on #742
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-01 08:35] amihaiemil opened #745 "Implement Contract.restore()"
This will restore the contract (it will remove the ``markedForRemoval`` flag).

[2020-12-01 08:35] charlesmike commented on #745
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-11T10:35:24.134112``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-01 08:35] charlesmike commented on #745
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-01 08:35] amihaiemil opened #746 "Release 0.0.41"
This release breaks compatibility with self-storage.

Changelog:

#303
#724
#745 -- remove [this if statement](https://github.com/self-xdsd/self-storage/blob/91b2dfda50a2dfb80f569e624886e277d07c19e6/src/main/java/com/selfxdsd/storage/SelfContracts.java#L261), since we must allow the reverse of the operation (setting the flag to null).
#750
#751

[2020-12-01 09:04] #745 closed

[2020-12-01 09:28] #724 closed

[2020-12-01 10:14] amihaiemil commented on #303
@criske yes, indeed, there is no way to accept invitations automatically.

But, the ``Add Member`` endpoint which we use in GitlabCollaborators.add(...) already adds the PM with developer permissions to the Project and there is no need to accept anything.

We will implement these Invitations but make them do nothing, maybe just log something.

[2020-12-01 10:31] #303 closed

[2020-12-01 10:32] charlesmike commented on #303
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-01 14:21] charlesmike commented on #724
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-01 14:21] charlesmike commented on #745
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-02 02:20] charlesmike commented on #723
@andreoss Don't forget to close this ticket before the deadline (2020-12-07T11:41:57). You are past the first half of the allowed period.

[2020-12-02 02:20] charlesmike commented on #725
@andreoss Don't forget to close this ticket before the deadline (2020-12-07T11:42:07). You are past the first half of the allowed period.

[2020-12-02 02:20] charlesmike commented on #726
@andreoss Don't forget to close this ticket before the deadline (2020-12-07T11:42:12). You are past the first half of the allowed period.

[2020-12-02 02:21] charlesmike commented on #728
@andreoss Don't forget to close this ticket before the deadline (2020-12-07T11:42:23). You are past the first half of the allowed period.

[2020-12-02 19:35] amihaiemil opened #750 "Pagination of PM Projects"
At the moment the PM selects only the first 10 of their projects.
It should iterate over all the pages.

[2020-12-02 19:35] charlesmike commented on #750
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-12T21:35:35.122396``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-12-02 19:35] charlesmike commented on #750
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-02 19:36] amihaiemil commented on #750
@criske Can you have a look here please?

You don't have to fix it in this task, I think it's too much work for 60min.
Just have a look and post an update on it, why it happens and how it will be fixed, in the next task.

I don't really remember how the pagination works and everything :D

[2020-12-02 19:59] criske commented on #750
Replacing with 'Page.all()' in constructor should do it. It's a quick fix, I'll take care of it tomorrow :D
Until the fix 'PmProjects(..).page(Page.all())' is equivalent.

[2020-12-03 08:05] amihaiemil opened #751 "Add Contract.revenue()"
This method will return only the value of the assigned Tasks and the value of the active invoice. It doesn't contain the PM commission, like Contract.value().

[2020-12-03 08:05] charlesmike commented on #751
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-13T10:05:55.443358``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-03 08:05] charlesmike commented on #751
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-03 08:55] #751 closed

[2020-12-03 09:12] #750 closed

[2020-12-03 09:36] amihaiemil commented on #746
@rultor release it, tag is `0.0.41`

[2020-12-03 09:37] rultor commented on #746
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23805-737786399)

[2020-12-03 09:40] rultor commented on #746
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23805-737786399) (took me 3min)

[2020-12-03 09:41] #746 closed

[2020-12-03 13:25] charlesmike commented on #751
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-03 13:26] charlesmike commented on #750
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-03 17:57] amihaiemil opened #754 "Release 0.0.42"
Changelog:

#681 -- Implement SelfContracts.count() and SelfContracts.remove(...) in self-storage
#716
#756
#757
#758
#759
#763
#764
#770

[2020-12-04 09:41] charlesmike opened #756 "GitlabWebhooks.java: Implemented method remove() f..."
The puzzle ``681-17664e35`` originating from #681 has to be resolved:

https://github.com/self-xdsd/self-core/blob/8ca60eeb46599f7de5ae602cb095a8505a823627/self-core-impl/src/main/java/com/selfxdsd/core/GitlabWebhooks.java#L41-L42

"Implemented method remove() from this class, which should remove any webhooks related to Self XDSD from the Gitlab repo.".

It was created by @amihaiemil on 2020-12-04

[2020-12-04 09:41] charlesmike opened #757 "GitlabCollaborators.java: Implement and test method rem..."
The puzzle ``681-d3c0cf20`` originating from #681 has to be resolved:

https://github.com/self-xdsd/self-core/blob/8ca60eeb46599f7de5ae602cb095a8505a823627/self-core-impl/src/main/java/com/selfxdsd/core/GitlabCollaborators.java#L17-L19

"Implement and test method remove(username) here, which will remove the Gitlab user from the Repo (they will no longer be a collaborator).".

It was created by @am

[2020-12-04 09:41] charlesmike opened #758 "GithubCollaborators.java: Implement and test method rem..."
The puzzle ``681-184511f7`` originating from #681 has to be resolved:

https://github.com/self-xdsd/self-core/blob/8ca60eeb46599f7de5ae602cb095a8505a823627/self-core-impl/src/main/java/com/selfxdsd/core/GithubCollaborators.java#L39-L41

"Implement and test method remove(username) here, which will remove the Github user from the Repo (they will no longer be a collaborator).".

It was created by @am

[2020-12-04 09:41] charlesmike opened #759 "GithubWebhooks.java: Implemented method remove() f..."
The puzzle ``681-28407bd9`` originating from #681 has to be resolved:

https://github.com/self-xdsd/self-core/blob/8ca60eeb46599f7de5ae602cb095a8505a823627/self-core-impl/src/main/java/com/selfxdsd/core/GithubWebhooks.java#L40-L41

"Implemented method remove() from this class, which should remove any webhooks related to Self XDSD from the Github repo.".

It was created by amihaiemil on 2020-12-04T

[2020-12-04 09:41] #681 closed

[2020-12-04 09:41] charlesmike commented on #681
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-04 09:45] charlesmike commented on #756
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-14T11:45:51.437102``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-04 09:46] charlesmike commented on #757
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-14T11:45:57.434089``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-04 09:46] charlesmike commented on #758
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-14T11:46:03.576130``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-12-04 09:46] charlesmike commented on #759
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-14T11:46:08.867592``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-05 13:25] charlesmike commented on #716
@andreoss Looks like you've missed the task deadline (2020-12-05T10:12:39). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-05 13:26] charlesmike commented on #716
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-15T15:26:05.650278``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't as

[2020-12-05 17:53] amihaiemil commented on #758
paid with transaction id 3GC556816E298001K

[2020-12-05 18:01] charlesmike opened #761 "GithubIssue.java: Labels API: should be able to..."
The puzzle ``305-e93af154`` originating from #305 has to be resolved:

https://github.com/self-xdsd/self-core/blob/163a2abc047a75304b7c27305bc2231b4ed58f6d/self-core-impl/src/main/java/com/selfxdsd/core/GithubIssue.java#L44-L46

"Labels API: should be able to list and add labels for Provider resources (Repo, Issue). Labels will be used mainly for an Issue to get its estimation.".

It was created b

[2020-12-05 18:01] #758 closed

[2020-12-05 18:01] charlesmike commented on #758
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-05 18:02] amihaiemil commented on #761
@charlesmike deregister

[2020-12-05 18:02] charlesmike commented on #761
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-12-05 18:02] #761 closed

[2020-12-05 18:03] #683 closed

[2020-12-05 18:03] charlesmike commented on #683
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-05 18:26] fellahi-ali opened #762 "Code formatting rules"
Are there any formatting rules that I can use to configure my editor (IDEA)?
Because I get many changes when I use automatique formatting.
Or I'm missing something?

[2020-12-05 18:26] charlesmike commented on #762
@fellahi-ali thank you for reporting this. I'll assign someone to take care of it soon.

[2020-12-05 18:35] charlesmike commented on #762
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-15T20:35:49.576025``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-05 18:36] amihaiemil commented on #762
@fellahi-ali I have no formatting file, unfortunately.

The rules are, in essence:

- 4-space indentation, no TABs
- lines no longer than 80 chars
- open/close brackets on new row, similar to the rule used by 0crat

[2020-12-05 19:16] fellahi-ali commented on #762
@amihaiemil thanks, that would help

I'm used to type CTRL+ALT+L (auto formatting shortcut) unconsciously just like CTRL+S but I will try to unlearn it :(

[2020-12-05 19:26] charlesmike commented on #758
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-05 20:06] amihaiemil opened #763 "Add Description to Stripe Payment"
Within StripeWallet, when making the Stripe transfer, we should also add a description to the payment.

[2020-12-05 20:06] charlesmike commented on #763
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-15T22:06:40.347706``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-05 20:06] charlesmike commented on #763
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-05 20:42] amihaiemil opened #764 "Application Fee Received in Contributor's Currency"
At the moment we transfer all the money to the Connected Account (contributor's account) and specify an application fee which comes back to us.

However, this mechanism is not ok because the fee comes back to us in the currency of the Connected Account.
We should change the mechanism as explained [here](https://stripe.com/docs/connect/currencies#application-fees-for-destination-charges-and-convert

[2020-12-05 20:42] charlesmike commented on #764
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-15T22:42:35.735613``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-05 20:42] charlesmike commented on #764
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-07 07:47] #762 closed

[2020-12-07 08:20] #763 closed

[2020-12-07 08:43] #764 closed

[2020-12-07 10:57] #757 closed

[2020-12-07 10:57] charlesmike commented on #757
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-07 13:25] charlesmike commented on #757
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-07 13:25] charlesmike commented on #762
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-07 13:26] charlesmike commented on #763
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-07 13:26] charlesmike commented on #764
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-07 13:26] charlesmike commented on #723
@andreoss Looks like you've missed the task deadline (2020-12-07T11:41:57). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-07 13:26] charlesmike commented on #725
@andreoss Looks like you've missed the task deadline (2020-12-07T11:42:07). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-07 13:26] charlesmike commented on #726
@andreoss Looks like you've missed the task deadline (2020-12-07T11:42:12). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-07 13:26] charlesmike commented on #728
@andreoss Looks like you've missed the task deadline (2020-12-07T11:42:23). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-07 13:26] charlesmike commented on #723
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-17T15:26:50.495087``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-07 13:26] charlesmike commented on #725
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-17T15:26:55.646518``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-07 13:27] charlesmike commented on #726
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-17T15:27:01.513776``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-07 13:27] charlesmike commented on #728
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-17T15:27:07.385004``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-12-07 13:56] charlesmike opened #770 "StoredProject.java: Method deactivate() from this..."
The puzzle ``759-6b44a4db`` originating from #759 has to be resolved:

https://github.com/self-xdsd/self-core/blob/10f68dac6c2a227797f8ea034849a1a11df517b0/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredProject.java#L49-L53

"Method deactivate() from this class has to take the Repo as parameter. This is because StoredProject's encapsulated Repo doesn't have any authentication in thi

[2020-12-07 13:56] #759 closed

[2020-12-07 13:56] charlesmike commented on #759
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-07 14:05] charlesmike commented on #770
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-17T16:05:49.373914``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-07 15:38] #716 closed

[2020-12-07 19:25] charlesmike commented on #759
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-07 19:26] charlesmike commented on #716
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-08 07:22] #770 closed

[2020-12-08 07:22] charlesmike commented on #770
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-08 07:25] charlesmike commented on #770
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-08 08:06] #756 closed

[2020-12-08 08:06] charlesmike commented on #756
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-08 08:17] amihaiemil commented on #754
@rultor release it, tag is `0.0.42`

[2020-12-08 08:18] rultor commented on #754
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23839-740460980)

[2020-12-08 08:22] rultor commented on #754
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23839-740460980) (took me 3min)

[2020-12-08 08:22] #754 closed

[2020-12-08 13:21] amihaiemil commented on #728
paid with transaction id 9HN868175V657535R

[2020-12-08 13:25] charlesmike commented on #756
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-08 15:31] charlesmike opened #774 "GitlabRepo.java: Implement and test method `is..."
The puzzle ``728-d99cb0e9`` originating from #728 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6852fc54eec416de08f733482edee6942a30ec81/self-core-impl/src/main/java/com/selfxdsd/core/GitlabRepo.java#L36-L37

"Implement and test method `issues()` for GitlabRepo.".

It was created by cristianpela on 2020-12-08T14:58:37Z. Estimation is ``15 minutes``.
If you have any technical que

[2020-12-08 15:31] charlesmike opened #775 "GitlabIssues.java: Implement and test method `re..."
The puzzle ``728-e8a8016a`` originating from #728 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6852fc54eec416de08f733482edee6942a30ec81/self-core-impl/src/main/java/com/selfxdsd/core/GitlabIssues.java#L41-L42

"Implement and test method `received()` for GitlabIssues by following GithubIssues as model.".

It was created by cristianpela on 2020-12-08T14:58:37Z. Estimation is ``60

[2020-12-08 15:31] charlesmike opened #776 "GitlabIssues.java: Implement and test method `op..."
The puzzle ``728-15b8d827`` originating from #728 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6852fc54eec416de08f733482edee6942a30ec81/self-core-impl/src/main/java/com/selfxdsd/core/GitlabIssues.java#L43-L44

"Implement and test method `open()` for GitlabIssues by following GithubIssues as model.".

It was created by cristianpela on 2020-12-08T14:58:37Z. Estimation is ``60 min

[2020-12-08 15:31] charlesmike opened #777 "GitlabIssues.java: Implement and test method `se..."
The puzzle ``728-f92cbdbf`` originating from #728 has to be resolved:

https://github.com/self-xdsd/self-core/blob/6852fc54eec416de08f733482edee6942a30ec81/self-core-impl/src/main/java/com/selfxdsd/core/GitlabIssues.java#L45-L46

"Implement and test method `search()` for GitlabIssues by following GithubIssues as model.".

It was created by cristianpela on 2020-12-08T14:58:37Z. Estimation is ``60 m

[2020-12-08 15:31] #728 closed

[2020-12-08 15:31] charlesmike commented on #728
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-08 15:35] charlesmike commented on #774
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-18T17:35:51.031406``.

Estimation here is ``15 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-12-08 15:36] charlesmike commented on #775
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-18T17:35:56.412446``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't as

[2020-12-08 15:36] charlesmike commented on #776
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-18T17:36:02.546259``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-08 15:36] charlesmike commented on #777
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-18T17:36:09.805933``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-12-08 16:52] fellahi-ali opened #778 "Bug in GitlabIssues.getById(); GithubIssue.java is used instead of GitlabIssue.java"
@amihaiemil @criske There is bug in the implementation of `GitlabIssues.getById()` method, where `GithubIssue` is used instead of `GitlabIssue` instance.

https://github.com/self-xdsd/self-core/blob/6852fc54eec416de08f733482edee6942a30ec81/self-core-impl/src/main/java/com/selfxdsd/core/GitlabIssues.java#L113-L119

[2020-12-08 16:52] charlesmike commented on #778
@fellahi-ali thank you for reporting this. I'll assign someone to take care of it soon.

[2020-12-08 16:55] charlesmike commented on #778
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-18T18:55:50.570948``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-12-08 17:00] amihaiemil commented on #778
@criske I missed that at CR, sorry :D

Even if the JSON of a Gitlab Issue is the same as for Github, we still need a GitlabIssue implementation, in order to stay consistent :D

Maybe later we can extract a base class if necessary.

[2020-12-08 17:30] criske commented on #778
@amihaiemil nah this was entirely my fault, this test was incomplete.
https://github.com/self-xdsd/self-core/blob/6852fc54eec416de08f733482edee6942a30ec81/self-core-impl/src/test/java/com/selfxdsd/core/GitlabIssuesTestCase.java#L55
If json response would've had `iid`, I've would be able to notice it.

@fellahi-ali thank you for catching it, I'll fix it asap :D

[2020-12-08 19:25] charlesmike commented on #728
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-10 09:43] #778 closed

[2020-12-10 09:50] #775 closed

[2020-12-10 09:50] charlesmike commented on #775
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-10 13:26] charlesmike commented on #778
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-10 13:26] charlesmike commented on #775
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-11 09:01] amihaiemil opened #781 "Review Messages"
Now that we have the documentation set up, let's review the messages the PM gives and add documentation links where appropriate.

[2020-12-11 09:01] charlesmike commented on #781
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-21T11:01:13.420508``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-11 09:01] amihaiemil opened #782 "Release 0.0.43"
This release breaks compatibility with self-storage. We will need to make some changes there too and release version 0.0.20.

Changelog:

#723
#725
#728
#774
#776
#777
#781
#787
#793
#794
#795
#797 -- The task should be removed from the tasks table within the same DB transaction as InvoicedTasks.register.
#801

[2020-12-11 09:30] #781 closed

[2020-12-12 01:26] charlesmike commented on #723
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-17T15:26:50). You are past the first half of the allowed period.

[2020-12-12 01:26] charlesmike commented on #725
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-17T15:26:55). You are past the first half of the allowed period.

[2020-12-12 01:26] charlesmike commented on #726
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-17T15:27:01). You are past the first half of the allowed period.

[2020-12-12 08:45] #776 closed

[2020-12-12 08:45] charlesmike commented on #776
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-12 08:47] #774 closed

[2020-12-12 08:47] charlesmike commented on #774
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-12 10:09] #725 closed

[2020-12-12 10:09] charlesmike commented on #725
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-12 11:20] charlesmike opened #787 "GitlabIssueLabels.java: Similarly to how GithubIssueL..."
The puzzle ``723-c5aa0901`` originating from #723 has to be resolved:

https://github.com/self-xdsd/self-core/blob/331f4283db917c630338914b4f8a2a23289c4802/self-core-impl/src/main/java/com/selfxdsd/core/GitlabIssueLabels.java#L49-L53

"Similarly to how GithubIssueLabels.add(...) is implemented, we should modify the add(...) method here to first add the labels to the repository, so they are colored

[2020-12-12 11:20] #723 closed

[2020-12-12 11:20] charlesmike commented on #723
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-12 11:25] charlesmike commented on #787
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-22T13:25:50.665993``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-12 12:36] #787 closed

[2020-12-12 12:36] charlesmike commented on #787
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-12 12:38] amihaiemil commented on #777
paid with transaction id 1LY29782JP972673S

[2020-12-12 12:46] charlesmike opened #790 "GithubIssues.java: In GithubIssues#search() text..."
The puzzle ``777-37545da9`` originating from #777 has to be resolved:

https://github.com/self-xdsd/self-core/blob/7c1067708b83d859a1354e200d1ae6a8bdcfc6ee/self-core-impl/src/main/java/com/selfxdsd/core/GithubIssues.java#L45-L46

"In GithubIssues#search() text and labels must be url encoded when adding them to the search url.".

It was created by cristianpela on 2020-12-12T11:56:48Z. Estimation is

[2020-12-12 12:47] #777 closed

[2020-12-12 12:47] charlesmike commented on #777
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-12 12:55] charlesmike commented on #790
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-22T14:55:50.515901``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-12-12 13:26] charlesmike commented on #723
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-12 13:26] charlesmike commented on #725
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-12 13:26] charlesmike commented on #776
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-12 13:26] charlesmike commented on #787
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-12 13:26] charlesmike commented on #774
@andreoss thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-12 13:26] charlesmike commented on #777
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-13 07:03] #790 closed

[2020-12-13 07:03] charlesmike commented on #790
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-13 07:04] charlesmike commented on #790
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-14 08:21] amihaiemil opened #792 "Catch Project Exceptions in Review Methods"
Inside the methods where we iterate over all projects (for example, review assigned tasks, review unassigned tasks etc), we should catch and log any exceptions coming from a project and continue the iteration.

At the moment, if any of the Projects throws an exception, the whole iteration stops.
This is a bug, because we cannot stop the logic of all the Projects for a problem present only in one o

[2020-12-14 08:21] charlesmike commented on #792
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T10:21:05.646756``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 08:21] charlesmike commented on #792
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 08:29] amihaiemil commented on #792
n/a, this should be done in self-pm

[2020-12-14 08:29] #792 closed

[2020-12-14 08:32] charlesmike commented on #792
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-14 09:19] amihaiemil opened #793 "Elected Contributor Doesn't Have Contract"
We have this in the logs:

[code]

It's a bug, this should never happen. Let's fix it.

[2020-12-14 09:19] charlesmike commented on #793
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T11:19:06.062765``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 09:19] charlesmike commented on #793
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 09:23] amihaiemil opened #794 "LabelsEstimation: ignore huge numbers"
Let's add a max number of digits to the regex.
The estimation label should have maximum 3 digits.

At the moment, we will get an exception if the number is too big.

[2020-12-14 09:23] charlesmike commented on #794
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T11:23:24.515665``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 09:23] charlesmike commented on #794
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 09:24] amihaiemil opened #795 "Add Contributor Label on Direct Assignment"
At the moment, if the Issue is assigned when it is opened (direct assignment), the PM does not add the contributor's label.
Let's add it.

[2020-12-14 09:24] charlesmike commented on #795
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T11:24:05.792743``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 09:24] charlesmike commented on #795
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 12:17] #793 closed

[2020-12-14 12:20] charlesmike commented on #793
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-14 15:54] amihaiemil opened #797 "Task Invoicing in a Single Transaction"
Task invoicing means 2 operations: 1. remove the task from the tasks table and 2. add the task to the invoicedTasks table.
At the moment these are separate operations. They should be done in a single transaction instead.

[2020-12-14 15:54] charlesmike commented on #797
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T17:54:41.885119``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 15:54] charlesmike commented on #797
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 16:28] #797 closed

[2020-12-14 16:28] charlesmike commented on #797
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-14 16:54] #794 closed

[2020-12-14 16:56] charlesmike commented on #794
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-14 17:13] #795 closed

[2020-12-14 17:16] charlesmike commented on #795
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-15 11:09] amihaiemil opened #801 "UserProjects should take all projects"
At the moment it takes only the first 10 by default.

[2020-12-15 11:09] charlesmike commented on #801
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-25T13:09:15.173248``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-15 11:09] charlesmike commented on #801
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-15 12:21] #801 closed

[2020-12-15 12:21] amihaiemil commented on #782
@rultor release it, tag is `0.0.43`

[2020-12-15 12:22] rultor commented on #782
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23877-745254329)

[2020-12-15 12:24] charlesmike commented on #801
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-15 12:25] rultor commented on #782
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23877-745254329) (spent 3min)

[code]

[2020-12-15 12:28] amihaiemil commented on #782
@rultor release it, tag is `0.0.43`

[2020-12-15 12:29] rultor commented on #782
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23877-745257456)

[2020-12-15 12:32] rultor commented on #782
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23877-745257456) (spent 3min)

[code]

[2020-12-15 12:41] amihaiemil commented on #782
@rultor release it, tag is `0.0.43`

[2020-12-15 12:41] rultor commented on #782
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23877-745263288)

[2020-12-15 12:44] rultor commented on #782
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23877-745263288) (spent 3min)

[code]

[2020-12-15 12:49] amihaiemil commented on #782
@rultor release it, tag is `0.0.43`

[2020-12-15 12:50] rultor commented on #782
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23877-745267269)

[2020-12-15 12:53] rultor commented on #782
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23877-745267269) (spent 3min)

[code]

[2020-12-15 14:05] amihaiemil commented on #782
@rultor release it, tag is `0.0.43`

[2020-12-15 14:07] rultor commented on #782
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23877-745306458)

[2020-12-15 14:10] rultor commented on #782
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23877-745306458) (spent 3min)

[code]

[2020-12-15 14:13] amihaiemil commented on #782
@rultor release it, tag is `0.0.43`

[2020-12-15 14:14] rultor commented on #782
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23877-745310733)

[2020-12-15 14:19] rultor commented on #782
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23877-745310733) (took me 4min)

[2020-12-15 14:23] #782 closed

[2020-12-16 20:11] amihaiemil opened #803 "Implement Project BillingInfo"
Billing Info of a Project will consist of:

* business or legal name of the entity who owns the Project
* Address (street, city, country)
* Zipcode
* Other (other fiscal or legal information about the entity).

If present, this information will be written on the Invoices emitted by the contributors at the "To" section (who should pay the invoice).

[2020-12-16 20:11] charlesmike commented on #803
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-26T22:11:27.392278``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-16 20:11] charlesmike commented on #803
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-16 20:14] amihaiemil opened #804 "Implement Contributor BillingInfo"
Billing Info of a Contributor will consist of:

   * business or legal name of the Contributor
   * Address (street, city, country)
   * Zipcode
   * Other (other fiscal or legal information about the entity).

If present, this information will be written on the Invoices emitted by the contributors at the "From" section (who emitted the Invoice).

[2020-12-16 20:14] charlesmike commented on #804
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-26T22:14:40.005419``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-16 20:14] charlesmike commented on #804
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-17 13:28] charlesmike commented on #726
@amihaiemil Looks like you've missed the task deadline (2020-12-17T15:27:01). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-17 13:28] charlesmike commented on #726
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2020-12-17 13:58] charlesmike commented on #726
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-27T15:58:06.295039``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-18 17:19] amihaiemil opened #806 "Let's start implementing GitLab Commits"
Similarly to how we do it for Github, we should have GitlabCommits (commits in a Gitlab Repo), then GitlabCommit and GitlabCommitComments.

[2020-12-18 17:19] charlesmike commented on #806
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-28T19:19:06.033295``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2020-12-18 17:19] charlesmike commented on #806
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-19 17:49] #806 closed

[2020-12-19 17:50] amihaiemil opened #808 "Release 0.0.44"
This release breaks compatibility with self-storage. When updating to core 0.0.44, we will need to add the columns billedBy and billedTo on the Invoices table, then release 0.0.21.

Changelog:

#803 -- Project.createStripeWallet now accepts BillingInfo as parameter.
#804
#806
#811 -- We need to update SelfInvoices.registerAsPaid(...) to also update billedBy and billedTo in the DB.
#812
#813

[2020-12-19 17:51] amihaiemil commented on #726
@charlesmike deregister

[2020-12-19 17:52] charlesmike commented on #726
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-12-19 17:52] amihaiemil commented on #726
@charlesmike register

[2020-12-19 17:52] charlesmike commented on #726
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2020-12-19 17:52] charlesmike commented on #806
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-19 17:52] charlesmike opened #809 "GitlabCommit.java: finish the implementation of ..."
The puzzle ``806-314f817b`` originating from #806 has to be resolved:

https://github.com/self-xdsd/self-core/blob/a8e44ffea49af91b9ba7bcc6e00d6a65451c5743/self-core-impl/src/main/java/com/selfxdsd/core/GitlabCommit.java#L39-L41

"finish the implementation of this class and write the appropriate tests. Check GithubCommit for inspirations, and the Gitlab api doc at https://docs.gitlab.com/ee/api/co

[2020-12-19 17:53] charlesmike commented on #726
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-29T19:52:58.923684``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2020-12-19 17:53] charlesmike commented on #809
@andreoss this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-29T19:53:08.875311``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2020-12-20 13:24] #803 closed

[2020-12-20 13:24] #804 closed

[2020-12-20 13:25] charlesmike opened #811 "Invoice.java: Add methods String::from() an..."
The puzzle ``803-781023a5`` originating from #803 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ed9cab39eb3c2c555720b464ca26f51548ab6cce/self-api/src/main/java/com/selfxdsd/api/Invoice.java#L13-L16

"Add methods String::from() and String::to(). StoredInvoice should accept these values in the constructor. If these values are null, they should be read from Project.billingInfo and

[2020-12-20 13:25] charlesmike opened #812 "StoredProject.java: Implement method billingInfor..."
The puzzle ``803-e56dedb2`` originating from #803 has to be resolved:

https://github.com/self-xdsd/self-core/blob/ed9cab39eb3c2c555720b464ca26f51548ab6cce/self-core-impl/src/main/java/com/selfxdsd/core/projects/StoredProject.java#L50-L54

"Implement method billingInformation() here. It should look in Stripe, for the Customer representing this Project and take the data from there. If the Project h